 

@model GTERP.ViewModels.SalaryAddition
@{
    List<GTERP.ViewModels.SalaryAddition> salaryAdditions = new List<GTERP.ViewModels.SalaryAddition>();

    salaryAdditions=ViewBag.SalaryAdditions;
}
<div class="table-responsive">
    <table id="salaryAddTable" class="table table-sm table-striped trow table-hover">
        <thead>
            <tr>
                <th class="d-none">AddId</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Join Date</th>
                <th>Section</th>
                <th>Designation</th>
                <th>Amount</th>
                <th>Input Date</th>
                <th class="d-none">Other Addtion</th>
                <th class="d-none">EmpId</th>
            </tr>
        </thead>
        <tbody>
            @if (salaryAdditions!=null)
            {

                foreach (var salaryAddition in salaryAdditions)
                {
                    <tr>
                        <td class="d-none">@salaryAddition.SalAddId</td>
                        <td>@salaryAddition.EmpCode</td>
                        <td>@salaryAddition.EmpName</td>
                        <td>@String.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Convert.ToDateTime(salaryAddition.DtJoin).ToShortDateString()))</td>
                        <td>@salaryAddition.Section</td>
                        <td>@salaryAddition.Designation</td>
                        <td>@salaryAddition.Amount</td>
                        <td>@String.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Convert.ToDateTime(salaryAddition.DtInput).ToShortDateString()))</td>
                        <td class="d-none">@salaryAddition.OtherAddType</td>
                        <td class="d-none">@salaryAddition.EmpId</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>