 

@model GTERP.ViewModels.SalaryDeduction
@{
    List<GTERP.ViewModels.SalaryDeduction> salaryDeductions = new List<GTERP.ViewModels.SalaryDeduction>();

    salaryDeductions=ViewBag.salaryDeductions;
}
<div class="table-responsive">
    <table id="salaryDedTable" class="table table-sm table-striped trow table-hover">
        <thead>
            <tr>
                <th class="d-none">DedId</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Join Date</th>
                <th>Section</th>
                <th>Designation</th>
                <th>Amount</th>
                <th>Input Date</th>
                <th class="d-none">Other Deduction</th>
                <th class="d-none">EmpId</th>
            </tr>
        </thead>
        <tbody>
            @if (salaryDeductions!=null)
            {

                foreach (var SalaryDeduction in salaryDeductions)
                {
                    <tr>
                        <td class="d-none">@SalaryDeduction.SalDedId</td>
                        <td>@SalaryDeduction.EmpCode</td>
                        <td>@SalaryDeduction.EmpName</td>
                        <td>@String.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Convert.ToDateTime(SalaryDeduction.DtJoin).ToShortDateString()))</td>
                        <td>@SalaryDeduction.Section</td>
                        <td>@SalaryDeduction.Designation</td>
                        <td>@SalaryDeduction.Amount</td>
                        <td>@String.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Convert.ToDateTime(SalaryDeduction.DtInput).ToShortDateString()))</td>
                        <td class="d-none">@SalaryDeduction.OtherDedType</td>
                        <td class="d-none">@SalaryDeduction.EmpId</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>