@model GTERP.Models.WF_Ledger
    <link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />
<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


<body>
    @using (Html.BeginForm("CreateWFLedger", "Payroll", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <div class="card">
                        <div class="card-header">
                            <h4 id="styletext">WF Bank Account Entry - @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">
                            <div id="modalbodyrakin" class="row">
                                <div class="col-md-12 order-md-1">
                                    <div class="needs-validation" novalidate>


                                        <br>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @if (Model != null)
                                        {
                                            <input type="hidden" asp-for="WFLedgerId" />
                                            <input type="hidden" asp-for="ComId" />
                                            <input type="hidden" asp-for="UserId" />
                                            <input type="hidden" id="PFLedgerId" name="PFLedgerId" value="@Model.WFLedgerId" />
                                            @*<input type="hidden" id="comid" name="comid" value="@Model.Comid" />
            <input type="hidden" id="userid" name="userid" value="@Model.Userid" />*@

                                            <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />
                                            <input type="hidden" id="isPrinciple" name="isPost" value="@Model.isPrinciple" />

                                        }
                                        else
                                        {
                                            <input type="hidden" id="comid" name="comid" value="" />
                                            <input type="hidden" id="userid" name="userid" value="" />

                                        }

                                        <div class="row">

                                            <div class="col-md-6 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="TranDate" class="col-sm-4 control-label">From Date</label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="TranDate" class="form-control tg" type="date" autocomplete="off" />
                                                    <span asp-validation-for="TranDate" asp-f class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="col-md-6 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="VoucherNo" class="col-sm-4 control-label">&nbsp;Voucher No </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="VoucherNo" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="VoucherNo" class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="col-md-12 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="BankAccountId" class="col-sm-1 control-label"> &nbsp; Account Name &nbsp; &nbsp; </label>
                                                        </span>
                                                    </div>

                                                    @Html.DropDownListFor(x => x.BankAccountId, new SelectList((IEnumerable<SelectListItem>
                                                )ViewBag.BankAccountId, "Value", "Text"), "--Please Select--", htmlAttributes: new { @class = "form-control", id = "BankAccountId" })


                                                    @*<select asp-for="BankAccountId" class="form-control" asp-items="@ViewBag.BankAccountId">
                        <option>--Select Account--</option>
                    </select>*@
                                                    <span asp-validation-for="BankAccountId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="Description" class="col-sm-4 control-label">&nbsp;Particulars </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Description" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="ChequeNo" class="col-sm-4 control-label">&nbsp;Cheque No </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="ChequeNo" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="ChequeNo" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-5 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="Criteria" class="col-sm-1 control-label"> &nbsp; Criteria &nbsp; &nbsp; </label>
                                                        </span>
                                                    </div>
                                                    <select asp-for="Criteria" class="form-control" asp-items="@ViewBag.Criteria">
                                                        <option>--Select Criteria--</option>
                                                    </select>
                                                    <span asp-validation-for="Criteria" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-7 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="ReceivedTK" class="col-sm-4 control-label">&nbsp;Received </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="ReceivedTK" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="ReceivedTK" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="PaymentTK" class="col-sm-4 control-label">&nbsp;Payment </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="PaymentTK" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="PaymentTK" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="Balance" class="col-sm-4 control-label">&nbsp;Balance </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Balance" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="Balance" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-9 col-12 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <label asp-for="Remarks" class="col-sm-4 control-label">&nbsp;Remarks </label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Remarks" class="form-control" autocomplete="off" />
                                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-12 mb-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.LabelFor(model => model.isPrinciple)
                                                        </span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            @Html.CheckBoxFor(model => model.isPrinciple, new { @class = "select" })
                                                            @Html.ValidationMessageFor(model => model.isPrinciple, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3 col-12">
                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input type="submit" value="Create" class="btn btn-primary btn-block rounded-0" />

                                        @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                        @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-lg btn-block rounded-0" type="button" onclick="VoucherType_delete()">Delete</button>
                                    }
                                </div>
                                <div class="col-md-3 col-12">
                                    @Html.ActionLink("Back", "WFLedgerList", "Payroll", null, new { @class = "btn btn-info btn-block rounded-0" })
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>


@section Scripts{
    <script type="text/javascript">


        $("#BankAccountId").select2();

     function VoucherType_delete() {

         var PFLedgerId = $("#WFLedgerId").val();
         //alert(GovtScheduleId);
            $.ajax({

                url: '@Url.Action("DeleteWFLedger", "Payroll")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: PFLedgerId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("WFLedgerList", "Payroll")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
    }




    </script>
}