@model GTERP.Models.HR_Emp_PF_OPBal
<style>


    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreatePFEmpOpBal", "Payroll", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                @if (Model != null)
                {
                <input type="hidden" id="PFOPBalId" name="PFOPBalId" value="@Model.PFOPBalId" />
                }
                else
                {
                <input type="hidden" asp-for="PFOPBalId" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext" class="text-center">Employee PF Opening Balance Entry - @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate>
                                <div class="container">

                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="EmpId"></label>
                                                    </span>
                                                </div>
                                                <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId">
                                                </select>
                                                <span asp-validation-for="EmpId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="PFOPBalYID"></label>
                                                    </span>
                                                </div>
                                                <select asp-for="PFOPBalYID" class="form-control" asp-items="ViewBag.PFOPBalYID">
                                                </select>
                                                <span asp-validation-for="PFOPBalYID" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="PFOwn">Own Contibution</label>
                                                    </span>
                                                </div>
                                                <input asp-for="PFOwn" class="form-control" />
                                                <span asp-validation-for="PFOwn" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="PFComp">Company Contribution</label>
                                                    </span>
                                                </div>
                                                <input asp-for="PFComp" class="form-control" />
                                                <span asp-validation-for="PFComp" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="PFAdd"></label>
                                                    </span>
                                                </div>
                                                <input asp-for="PFAdd" class="form-control" />
                                                <span asp-validation-for="PFAdd" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="DebitAccId"></label>
                                                    </span>
                                                </div>
                                                <select asp-for="DebitAccId" class="form-control" asp-items="ViewBag.DebitAccId">
                                                </select>
                                                <span asp-validation-for="DebitAccId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="CreditAccId"></label>
                                                    </span>
                                                </div>
                                                <select asp-for="CreditAccId" class="form-control" asp-items="ViewBag.CreditAccId">
                                                </select>
                                                <span asp-validation-for="CreditAccId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center my-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">

                                    @if (ViewBag.Title == "Create")
                                    {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="PFOPBal_delete()">Delete</button>
                                    }
                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "PFEmpOpBalList", "Payroll", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

}

@section Scripts{
    <script>

    //$("#EmpId").select2();
    //$("#LId").select2();

        function PFOPBal_delete() {

        var id = $("#PFOPBalId").val();
         //   alert(Sectid);
            $.ajax({

                url: '@Url.Action("DeletePFEmpOpBal", "Payroll")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: id }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    debugger;
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("PFEmpOpBalList", "Payroll")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

