@model GTERP.ViewModels.EmpProfileVM
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="row" id="EmpProfile">

            @foreach (var item in Model.EmpProfile)
            {
                <div class="col-md-2 mx-auto right-border">
                        @if (item.EmpImage != null)
                        {
                            <img src="data:image/png;base64,@(Convert.ToBase64String(item.EmpImage))" style="height: 120px; width:auto" alt="Image" />

                        }
                        @if (item.EmpImage == null)
                        {
                            <img src="@Url.Content("~/Images/gender.png")" alt="My Image" style="height: 120px; width:auto">
                        }
                </div>

                <div class="col-md-3 right-border float-left">
                    <div class="float-left">
                        <ul>

                            <li><strong>Name: @item.EmpName</strong></li>
                            <li>Designation: @item.DesigName</li>
                            <li>Section: @item.SectName</li>
                            @if (item.DtJoin != null)
                            {
                                DateTime dtJoin;
                                if (DateTime.TryParse(item.DtJoin.ToString(), out dtJoin))
                                {
                                    <li>Joining Date: @dtJoin.ToString("dd-MMM-yyyy")</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 right-border">
                    <ul style="float:left">
                        <li>Mobile No: @item.EmpPhone1</li>
                        <li>Email: @item.EmpEmail</li>
                        <li>Sub-Section: @item.SubSectName</li>
                        @if (item.DtConfirm != null)
                        {
                            DateTime dtConf;
                            if (DateTime.TryParse(item.DtConfirm.ToString(), out dtConf))
                            {
                                <li>Confirmation Date: @dtConf.ToString("dd-MMM-yyyy")</li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul style="float:left">
                        <li>Father's Name: @item.EmpFather</li>
                        <li>Mother's Name: @item.EmpMother</li>
                        @if (item.DtBirth != null)
                        {
                            DateTime dtBr;
                            if (DateTime.TryParse(item.DtBirth.ToString(), out dtBr))
                            {
                                <li>Date Of Birth: @dtBr.ToString("dd-MMM-yyyy")</li>
                            }
                        }
                        <li>Emergency Contact No: @item.EmpPhone2</li>
                    </ul>
                </div>
            }


        </div>
        <div id="AttendanceDetails">
                <div class="container-flex">
                    <div class="row">
                        <div class="col-md-2">
                            @foreach (var item1 in Model.AttendanceDetails)
                            {
                                <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Attendance details</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>Present: @item1.P</li>
                                        <li>Absent: @item1.A</li>
                                        <li>Late: @item1.L</li>
                                        <li>Weekends: @item1.W</li>
                                        <li>Holidays: @item1.H</li>
                                        <li>Casual Leaves: @item1.CL</li>
                                        <li class="more2" id="m1">Sick Leaves: @item1.SL</li>
                                        <li class="more2" id="mr1">Earned Leaves: @item1.EL</li>
                                        <li><button class="show-more-btn2" style="color:blue; display:block" onclick="something(1)" id="show-more-btn1">Show More</button></li>
                                        <li><button class="show-less-btn2" style="color:blue; display:none" onclick="something(1)" id="show-less-btn1">Show Less</button></li>

                                    </ul>

                                </div>
                            </div>
                        }
                            @foreach (var item2 in Model.LoanDetails)
                            {
                                <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Loan Summary</p> </b>
                                    <ul style="text-align:left; float: left">

                                        <li>Loan Type: @item2.LoanType</li>
                                        <li>StartDate: @item2.DtLoanStart</li>
                                        <li>EndDate: @item2.DtLoanEnd</li>
                                        <li>Total Amount: @item2.LoanAmount</li>
                                        <li>Monthly Pay: @item2.MonthlyLoanAmount</li>
                                        <li>Due Amount: @item2.DueAmount</li>

                                    </ul>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="col-md-2">
                        @foreach (var item2 in Model.LeaveDetails)
                        {
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Leave Summary</p> </b>
                                    <ul style="text-align:left; float: left">

                                        <li>CL(Total): @item2.CL</li>
                                        <li>CL(Enjoyed): @item2.ACL</li>
                                        <li>EL(Total): @item2.EL</li>
                                        <li>EL(Enjoyed): @item2.AEL</li>
                                        <li>ML(Total): @item2.ML</li>
                                        <li>ML(Enjoyed): @item2.AML</li>
                                        <li>SL(Total): @item2.SL</li>
                                        <li>SL(Enjoyed): @item2.ASL</li>

                                    </ul>
                                </div>
                            </div>
                        }
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Accident Summary</p></b>
                                    <ul style="text-align:left; float: left">

                                    <li>=N/A= </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        @foreach (var item3 in Model.PaymentDetails)
                        {
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Payment details</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>GS: @item3.PersonalPay</li>
                                        <li>BS: @item3.BasicSalary</li>
                                        <li>HR: @item3.HouseRent</li>
                                        <li>MA: @item3.MadicalAllow</li>
                                        <li>Trn: @item3.ConveyanceAllow</li>
                                        <li>FA: @item3.CanteenAllow</li>
                                        <li>Other Allow: @item3.MiscAdd</li>
                                    </ul>

                                </div>
                            </div>
                        }
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Gatepass Summary</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>=N/A=</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        @foreach (var item4 in Model.NomineeDetails)
                        {
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Nominee details</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>NomineeName1: @item4.EmpNomineeName1</li>
                                        <li>NomineeMobile1: @item4.EmpNomineeMobile1</li>
                                        <li>NomineeName2: @item4.EmpNomineeName2</li>
                                        <li>NomineeMobile2: @item4.EmpNomineeMobile2</li>
                                    </ul>

                                </div>
                            </div>
                        }
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Performance History</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>=N/A=</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class ="col-md-2">
                             @foreach (var item5 in Model.ShowCauseDetails)
                            {
                            <div class="card text-center">
                                <div class="container">
                                <b><p style="color:darkblue">Show Cause details</p></b>
                                <ul style="text-align:left; float: left">

                                    <li>Notice Date: @item5.dtNotice</li>
                                    <li>Event Date: @item5.dtEvent</li>
                                    <li>Decision: @item5.Decision</li>

                                </div>
                            </div>
                            }
                            @foreach(var item6 in Model.SalaryStructure)
                            {
                            <div class="card text-center">
                                <div class="container">
                                <b><p style="color:darkblue">Salary Structure</p></b>
                                <ul style="text-align:left; float: left">

                                    <li>Basic: @item6.BS</li>
                                    <li>House Rent: @item6.HR</li>
                                    <li>Medical Allow.: @item6.MA</li>
                                    <li>Conveyance Allow.: @item6.CA </li>
                                    <li>Food Allow.: @item6.FA </li>
                                </ul>
                                </div>
                            </div>
                            }
                            
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Conv Summary</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>=N/A=</li>
                                    </ul>
                                </div>
                            </div>
                            @foreach(var item in Model.TaxDetails)
                        {
                            <div class="card text-center">
                                <div class="container">
                                    <b><p style="color:darkblue">Tax Summary</p></b>
                                    <ul style="text-align:left; float: left">

                                        <li>Income Tax: @item.IncomeTax</li>
                                        <li>Yearly Tax: @item.yearlypay</li>
                                    </ul>
                                </div>
                            </div>
                        }
                        
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>