@*@model GTERP.Models.HR_Loan_Data_HouseBuilding*@
@{
    List<HR_Loan_Data_PF> loanCalculation = ViewBag.LoanCalculation;
}
<div class="table-responsive">
    <table id="tblLoan" class="table table-striped trow table-hover">
        <thead>
            <tr>
                <th class="d-none">LoanDataPFId</th>
                <th class="d-none">LoanPFId</th>
                <th class="d-none">EmpId</th>
                <th>Loan Month</th>
                <th>Beginning LoanBalance</th>
                <th>Interest Amount</th>
                <th>Principal Amount</th>
                <th>Monthly Loan Amount</th>
                <th>Ending Balance</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            @if (loanCalculation!=null)
            {
                foreach (var loan in loanCalculation)
                {
            <tr>
                <td class="d-none">@loan.LoanDataPFId</td>
                <td class="d-none">@loan.LoanPFId</td>
                <td class="d-none">@loan.EmpId</td>
                <td>@String.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Convert.ToDateTime(loan.DtLoanMonth).ToShortDateString()))</td>
                <td>@loan.BeginningLoanBalance</td>
                <td>@loan.InterestAmount</td>
                <td>@loan.PrincipalAmount</td>
                <td>@loan.MonthlyLoanAmount</td>
                <td>@loan.EndingBalance</td>
                <td>
                    @if (loan.IsPaid)
                    {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox"/>
                    }
                </td>


                </tr>
                }
            }
        </tbody>
    </table>
</div>