@model GTERP.Models.HR_Emp_ArrearBill
<link href="~/css/customFormStyle.css" rel="stylesheet" />
<style>
    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }

    /* Style tab links */
    .tablink {
        background-color: #555;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 14.28%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }
    /*input[type="checkbox"] {
            zoom: 1.5;
        }*/
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateEmpArrearBill">
            <div class="container-fluid">
               <div class="row">
                   <div class="col-md-12 col-12">
                       @if (Model != null)
                       {
                           <input type="hidden" asp-for="ArrBillId" value="@Model.ArrBillId" />
                       }
                       else
                       {
                           <input type="hidden" asp-for="ArrBillId" value="0" />
                       }
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <div id="modalbodyfahad" class="card">
                           <div>
                               <div class="card-header">
                                   <h4 id="styletext">Employee Arrear Bill Entry - @ViewBag.Title</h4>
                               </div>

                               <div class="card-body">

                                   <div class="row">
                                       <div class="col-md-9 col-9 mb-9">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label class="control-label">Employee</label>
                                                   </span>
                                               </div>
                                               <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId">
                                                   <option value="0">--Select Employee--</option>
                                               </select>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label class="control-label">Date</label>
                                                   </span>
                                               </div>
                                               <input type="text" asp-for="DtInput" class="form-control" />
                                           </div>
                                       </div>


                                   </div>


                                   <div class="row">
                                       <div class="col-md-4 col-4 mb-4">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="DtFrom"></label>
                                                   </span>
                                               </div>
                                               <input type="text" asp-for="DtFrom" class="form-control" />

                                               <span asp-validation-for="DtFrom" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-4 col-4 mb-4">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="DtTo"></label>
                                                   </span>
                                               </div>
                                               <input type="text" asp-for="DtTo" class="form-control" />

                                               <span asp-validation-for="DtTo" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-4 col-4 mb-4">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlMonth"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlMonth" class="form-control" />

                                               <span asp-validation-for="TtlMonth" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">
                                       <div class="col-md-4 col-4 mb-4">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlDay"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlDay" class="form-control" />

                                               <span asp-validation-for="TtlDay" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-4 col-4 mb-4">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="DtFromMonth"></label>
                                                   </span>
                                               </div>
                                               <input type="text" asp-for="DtFromMonth" class="form-control" />

                                               <span asp-validation-for="DtFromMonth" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-4 col-4 mb-4">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="DtToMonth"></label>
                                                   </span>
                                               </div>
                                               <input type="text" asp-for="DtToMonth" class="form-control" />
                                               <span asp-validation-for="DtToMonth" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewBS"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewBS" class="form-control" />
                                               <span asp-validation-for="NewBS" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldBS"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldBS" class="form-control" />

                                               <span asp-validation-for="OldBS" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="BSDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="BSDiff" class="form-control" />
                                               <span asp-validation-for="BSDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlArrearBS"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlArrearBS" class="form-control" />
                                               <span asp-validation-for="TtlArrearBS" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewHR"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewHR" class="form-control" />
                                               <span asp-validation-for="NewHR" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldHR"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldHR" class="form-control" />

                                               <span asp-validation-for="OldHR" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="HRDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="HRDiff" class="form-control" />
                                               <span asp-validation-for="HRDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlArrearHR"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlArrearHR" class="form-control" />
                                               <span asp-validation-for="TtlArrearHR" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewMA"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewMA" class="form-control" />
                                               <span asp-validation-for="NewMA" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldMA"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldMA" class="form-control" />

                                               <span asp-validation-for="OldMA" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="MADiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="MADiff" class="form-control" />
                                               <span asp-validation-for="MADiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlArrearMA"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlArrearMA" class="form-control" />
                                               <span asp-validation-for="TtlArrearMA" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewEduAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewEduAllow" class="form-control" />
                                               <span asp-validation-for="NewEduAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldEduAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldEduAllow" class="form-control" />

                                               <span asp-validation-for="OldEduAllow" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="EduAllowDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="EduAllowDiff" class="form-control" />
                                               <span asp-validation-for="EduAllowDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlArrearEduAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlArrearEduAllow" class="form-control" />
                                               <span asp-validation-for="TtlArrearEduAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewTiffinAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewTiffinAllow" class="form-control" />
                                               <span asp-validation-for="NewTiffinAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldTiffinAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldTiffinAllow" class="form-control" />

                                               <span asp-validation-for="OldTiffinAllow" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TiffinAllowDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TiffinAllowDiff" class="form-control" />
                                               <span asp-validation-for="TiffinAllowDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlArrearTiffinAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlArrearTiffinAllow" class="form-control" />
                                               <span asp-validation-for="TtlArrearTiffinAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewRiskAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewRiskAllow" class="form-control" />
                                               <span asp-validation-for="NewRiskAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldRiskAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldRiskAllow" class="form-control" />

                                               <span asp-validation-for="OldRiskAllow" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="RiskAllowDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="RiskAllowDiff" class="form-control" />
                                               <span asp-validation-for="RiskAllowDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlArrearRiskAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlArrearRiskAllow" class="form-control" />
                                               <span asp-validation-for="TtlArrearRiskAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewWashingAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewWashingAllow" class="form-control" />
                                               <span asp-validation-for="NewWashingAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldWashingAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldWashingAllow" class="form-control" />

                                               <span asp-validation-for="OldWashingAllow" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="WashingAllowDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="WashingAllowDiff" class="form-control" />
                                               <span asp-validation-for="WashingAllowDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="ttlArrearWashingAllow"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="ttlArrearWashingAllow" class="form-control" />
                                               <span asp-validation-for="ttlArrearWashingAllow" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NewPF"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NewPF" class="form-control" />
                                               <span asp-validation-for="NewPF" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="OldPF"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="OldPF" class="form-control" />

                                               <span asp-validation-for="OldPF" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="PFDiff"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="PFDiff" class="form-control" />
                                               <span asp-validation-for="PFDiff" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TtlPF"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TtlPF" class="form-control" />
                                               <span asp-validation-for="TtlPF" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="row">
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TotalArrearPayable"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TotalArrearPayable" class="form-control" />
                                               <span asp-validation-for="TotalArrearPayable" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="DAAllowDed"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="DAAllowDed" class="form-control" />

                                               <span asp-validation-for="DAAllowDed" class="text-danger"></span>
                                           </div>
                                       </div>

                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="Adv"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="Adv" class="form-control" />
                                               <span asp-validation-for="Adv" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="Stamp"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="Stamp" class="form-control" />
                                               <span asp-validation-for="Stamp" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="IncomeTax"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="IncomeTax" class="form-control" />
                                               <span asp-validation-for="IncomeTax" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="PFAdd"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="PFAdd" class="form-control" />
                                               <span asp-validation-for="PFAdd" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="TotalArrearDeduction"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="TotalArrearDeduction" class="form-control" />
                                               <span asp-validation-for="TotalArrearDeduction" class="text-danger"></span>
                                           </div>
                                       </div>
                                       <div class="col-md-3 col-3 mb-3">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <label asp-for="NetArrearPayable"></label>
                                                   </span>
                                               </div>
                                               <input asp-for="NetArrearPayable" class="form-control" />

                                               <span asp-validation-for="NetArrearPayable" class="text-danger"></span>
                                           </div>
                                       </div>
                                   </div>

                               </div>
                               <div class="card-footer">
                                   <div class="row text-center m-2">
                                       <br />
                                       <div class="col-md-2"></div>
                                       <div class="col-md-4 col-xs-12 d-block mx-auto">
                                           @if (ViewBag.Title == "Create")
                                           {
                                               <input type="submit" value="Save" class="btn btn-primary btn-block rounded-0" />

                                               @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                           }
                                           else if (ViewBag.Title == "Edit")
                                           {
                                               <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                               @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                           }
                                           else if (ViewBag.Title == "Delete")
                                           {
                                               <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Salary_delete()">Delete</button>
                                           }
                                       </div>
                                       <div class="col-md-4 col-xs-12 d-block mx-auto">
                                           @Html.ActionLink("Back", "GetArrearBillList", "HR", null, new { @class = "btn btn-info btn-block rounded-0" })

                                       </div>
                                       <div class="col-md-2"></div>
                                   </div>
                               </div>


                           </div>
                       </div>
                   </div>
               </div>
              
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">


        $("#EmpId").select2();

        $('#DtFrom,#DtTo').on("change",function () {
            //calcDate();
        });

        function calcDate() {

            var date1 = $('#DtFrom').val();
            var date2 = $('#DtTo').val();
            var diff = Math.floor(date1.getTime() - date2.getTime());
            var day = 1000 * 60 * 60 * 24;

            var days = Math.floor(diff / day);
            var months = Math.floor(days / 31);
            var years = Math.floor(months / 12);

            var message = date2.toDateString();
            message += " was "
            message += days + " days "
            message += months + " months "
            message += years + " years ago \n"

            alert(message);

        }

        $('#DtInput,#DtFromMonth,#DtToMonth,#DtFrom,#DtTo').datepicker({
            onSelect: function (data) {
                $('a.ui-state-default').removeClass('ui-state-highlight');
                $(this).addClass('ui-state-highlight');
                $('#DtInput,#DtFromMonth,#DtToMonth,#DtFrom,#DtTo').datepicker('option', 'dateFormat', 'dd-M-yy');
            },
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true
        });



        //$(":input[type=text]").prop("disabled", true);

        @*$("#EmpId").change(function () {
            if ($("#EmpId option:selected").val() != 0) {
                //window.location.href = '/EmployeeSalary/Edit?id=' + $("#EmpId option:selected").val();
                var sId = $("#EmpId option:selected").val();
                window.location.href = '@Url.Action("GetEmp", "EmployeeSalary")?id=' + sId;
            }
        });*@






    function Salary_delete() {
        var ArrBillId = $("#ArrBillId").val();
        $.ajax({
            url: '@Url.Action("DeleteEmpArrearBill", "HR")',
            data: JSON.stringify({ id: ArrBillId }),
            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
             success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("GetArrearBillList", "HR")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
        });
        }

        var date = new Date();
        console.log(date);

        function autocalculation() {
            var abcdate = $("#DtTo").val();
            console.log(abcdate);
            //date = Date.parse(abcdate);

            date = new Date(Date.parse(abcdate));

            console.log(date);

            var days = date.getDate();
            console.log(days);
        }

        $("#DtTo").focusout(function () {
            alert('test');
            autocalculation();
        });
        //var getDaysInMonth = function (month, year) {
        //    // Here January is 1 based
        //    //Day 0 is the last day in the previous month
        //    return new Date(year, month, 0).getDate();
        //    // Here January is 0 based
        //    // return new Date(year, month+1, 0).getDate();
        //};
        //console.log(getDaysInMonth(1, 2012));

        //var dd = this.getDate().toString();



        //CurrentDate();
        //function CurrentDate() {
        //    var date = new Date();
        //    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
        //        "Aug", "Sep", "Oct", "Nov", "Dec"];
        //    var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear().toString();


        //    if ($("#fromdate").val() == '') {
        //        $("#fromdate").val(val);
        //    }
        //    if ($("#todate").val() == '') {
        //        $("#todate").val(val);
        //    }
        //}

    </script>
}

