@model GTERP.Models.HR_Emp_Salary
<link href="~/css/customFormStyle.css" rel="stylesheet" />
<style>
    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }

    /* Style tab links */
    .tablink {
        background-color: #555;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 14.28%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }
    /*input[type="checkbox"] {
            zoom: 1.5;
        }*/
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateEmpSalary">
            <div class="container-fluid">
                <div class="py-7 text-center">

                    <h1 id="styletext">Salary Entry</h1>
                    <p class="lead"></p>
                </div>
                @if (Model != null)
                {
                <input type="hidden" id="SalaryId" name="SalaryId" value="@Model.SalaryId" />
                }
                else
                {
                <input type="hidden" id="SalaryId" name="SalaryId" value="0" />
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="modalbodyfahad" class="row card p-4">
                    <div class="col-md-12 order-md-1">
                        <h4 id="styletext">Salary Addition @ViewBag.Title</h4>

                        <div class="row">
                            <div class="col-md-12 col-12 mb-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label class="control-label">Employee</label>
                                        </span>
                                    </div>
                                    <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId">
                                        <option value="0">--Select Employee--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">


                            @*<div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="LId1" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="LId1" class="form-control" asp-items="ViewBag.LId1"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="LId2" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="LId2" class="form-control" asp-items="ViewBag.LId2"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="LId3" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="LId3" class="form-control" asp-items="ViewBag.LId3"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="BId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="BId" class="form-control" asp-items="ViewBag.BId"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="PFLId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="PFLId" class="form-control" asp-items="ViewBag.PFLId"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="WelfareLId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="WelfareLId" class="form-control" asp-items="ViewBag.WelfareLId"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="MCLId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="MCLId" class="form-control" asp-items="ViewBag.MCLId"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="HBLId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="HBLId" class="form-control" asp-items="ViewBag.HBLId"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="HBLId2" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="HBLId2" class="form-control" asp-items="ViewBag.HBLId2"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="HBLId3" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="HBLId3" class="form-control" asp-items="ViewBag.HBLId3"></select>
                                </div>
                            </div>


                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="PFLLId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="PFLLId" class="form-control" asp-items="ViewBag.PFLLId"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="PFLLId2" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="PFLLId2" class="form-control" asp-items="ViewBag.PFLLId2"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="PFLLId3" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="PFLLId3" class="form-control" asp-items="ViewBag.PFLLId3"></select>
                                </div>
                            </div>


                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="GLId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="GLId" class="form-control" asp-items="ViewBag.GLId"></select>
                                </div>
                            </div>*@

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="PersonalPay"> GS </label>
                                        </span>
                                    </div>
                                    <input asp-for="PersonalPay" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsPersonalPay" /></span>
                                    </div>
                                    <span asp-validation-for="PersonalPay" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="BasicSalary"> BS </label>
                                        </span>
                                    </div>
                                    <input asp-for="BasicSalary" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsBS" /></span>
                                    </div>
                                    <span asp-validation-for="BasicSalary" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="HouseRent"> HR </label>
                                        </span>
                                    </div>
                                    <input asp-for="HouseRent" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsHr" /></span>
                                    </div>
                                    <span asp-validation-for="HouseRent" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="MadicalAllow"> MA </label>
                                        </span>
                                    </div>
                                    <input asp-for="MadicalAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMa" /></span>
                                    </div>
                                    <span asp-validation-for="MadicalAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="ConveyanceAllow"> Trn </label>
                                        </span>
                                    </div>
                                    <input asp-for="ConveyanceAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsConvAllow" /></span>
                                    </div>
                                    <span asp-validation-for="ConveyanceAllow" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="CanteenAllow"> FA </label>
                                        </span>
                                    </div>
                                    <input asp-for="CanteenAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsCanteenAllow" /></span>
                                    </div>
                                    <span asp-validation-for="CanteenAllow" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="MiscAdd"> Other Allow. </label>
                                        </span>
                                    </div>
                                    <input asp-for="MiscAdd" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMiscAdd" /></span>
                                    </div>
                                    <span asp-validation-for="MiscAdd" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="DearnessAllow"> Casual Salary </label>
                                        </span>
                                    </div>
                                    <input asp-for="DearnessAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsDearAllow" /></span>
                                    </div>
                                    <span asp-validation-for="DearnessAllow" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="GasAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="GasAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsGasAllow" /></span>
                                    </div>
                                    <span asp-validation-for="GasAllow" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ArrearBasic"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ArrearBasic" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsArrearBasic" /></span>
                                    </div>
                                    <span asp-validation-for="ArrearBasic" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ArrearBonus"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ArrearBonus" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsArrearBonus" /></span>
                                    </div>
                                    <span asp-validation-for="ArrearBonus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="WashingAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="WashingAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsWashingAllow" /></span>
                                    </div>
                                    <span asp-validation-for="WashingAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="SiftAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="SiftAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsSiftAllow" /></span>
                                    </div>
                                    <span asp-validation-for="SiftAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ChargeAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ChargeAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsChargAllow" /></span>
                                    </div>
                                    <span asp-validation-for="ChargeAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="MiscAdd"></label>
                                        </span>
                                    </div>
                                    <input asp-for="MiscAdd" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMiscAdd" /></span>
                                    </div>
                                    <span asp-validation-for="MiscAdd" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ContainSub"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ContainSub" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsContainSub" /></span>
                                    </div>
                                    <span asp-validation-for="ContainSub" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ComPfCount"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ComPfCount" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsComPfcount" /></span>
                                    </div>
                                    <span asp-validation-for="ComPfCount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="EduAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="EduAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsEduAllow" /></span>
                                    </div>
                                    <span asp-validation-for="EduAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="TiffinAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="TiffinAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsTiffinAllow" /></span>
                                    </div>
                                    <span asp-validation-for="TiffinAllow" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="AttAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="AttAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsAttAllow" /></span>
                                    </div>
                                    <span asp-validation-for="AttAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="FestivalBonus"></label>
                                        </span>
                                    </div>
                                    <input asp-for="FestivalBonus" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsFestivalBonus" /></span>
                                    </div>
                                    <span asp-validation-for="FestivalBonus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="RiskAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="RiskAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsRiskAllow" /></span>
                                    </div>
                                    <span asp-validation-for="RiskAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="NightAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="NightAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsNightAllow" /></span>
                                    </div>
                                    <span asp-validation-for="NightAllow" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="MobileAllow"></label>
                                        </span>
                                    </div>
                                    <input asp-for="MobileAllow" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMobileAllow" /></span>
                                    </div>
                                    <span asp-validation-for="MobileAllow" class="text-danger"></span>
                                </div>
                            </div>*@

                        </div>


                        @*Deduction*@
                        <!--<h4 class="mb-3">Salary Deduction @ViewBag.Title</h4>
                            <div class="row">
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="Pf"></label>
                                            </span>
                                        </div>
                                        <input asp-for="Pf" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsPf" /></span>
                                        </div>
                                        <span asp-validation-for="Pf" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="PfAdd"></label>
                                            </span>
                                        </div>
                                        <input asp-for="PfAdd" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsPfAdd" /></span>
                                        </div>
                                        <span asp-validation-for="PfAdd" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="HrExp"></label>
                                            </span>
                                        </div>
                                        <input asp-for="HrExp" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsHrexp" /></span>
                                        </div>
                                        <span asp-validation-for="HrExp" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="HRExpensesOther"></label>
                                            </span>
                                        </div>
                                        <input asp-for="HRExpensesOther" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsHRExpensesOther" /></span>
                                        </div>
                                        <span asp-validation-for="IsHRExpensesOther" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="ElectricCharge"></label>
                                            </span>
                                        </div>
                                        <input asp-for="ElectricCharge" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsElectricCharge" /></span>
                                        </div>
                                        <span asp-validation-for="ElectricCharge" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="ElectricChargeOther"></label>
                                            </span>
                                        </div>
                                        <input asp-for="ElectricChargeOther" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsElectricChargeOther" /></span>
                                        </div>
                                        <span asp-validation-for="ElectricChargeOther" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="Gascharge"></label>
                                            </span>
                                        </div>
                                        <input asp-for="Gascharge" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsGascharge" /></span>
                                        </div>
                                        <span asp-validation-for="Gascharge" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="GasChargeOther"></label>
                                            </span>
                                        </div>
                                        <input asp-for="GasChargeOther" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsGasChargeOther" /></span>
                                        </div>
                                        <span asp-validation-for="GasChargeOther" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="HazScheme"></label>
                                            </span>
                                        </div>
                                        <input asp-for="HazScheme" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsHazScheme" /></span>
                                        </div>
                                        <span asp-validation-for="HazScheme" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="Donation"></label>
                                            </span>
                                        </div>
                                        <input asp-for="Donation" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsDonation" /></span>
                                        </div>
                                        <span asp-validation-for="Donation" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="FesBonusDed"></label>
                                            </span>
                                        </div>
                                        <input asp-for="FesBonusDed" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsFesBonus" /></span>
                                        </div>
                                        <span asp-validation-for="FesBonusDed" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="Transportcharge"></label>
                                            </span>
                                        </div>
                                        <input asp-for="Transportcharge" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsTrncharge" /></span>
                                        </div>
                                        <span asp-validation-for="Transportcharge" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="SalaryAdv"></label>
                                            </span>
                                        </div>
                                        <input asp-for="SalaryAdv" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsSalaryAdv" /></span>
                                        </div>
                                        <span asp-validation-for="SalaryAdv" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="PurchaseAdv"></label>
                                            </span>
                                        </div>
                                        <input asp-for="PurchaseAdv" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsPurchaseAdv" /></span>
                                        </div>
                                        <span asp-validation-for="PurchaseAdv" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="MiscDed"></label>
                                            </span>
                                        </div>
                                        <input asp-for="MiscDed" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsMiscDed" /></span>
                                        </div>
                                        <span asp-validation-for="MiscDed" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-3 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="AdvAgainstExp"></label>
                                            </span>
                                        </div>
                                        <input asp-for="AdvAgainstExp" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><input asp-for="IsAdvAgainstExp" /></span>
                                        </div>
                                        <span asp-validation-for="AdvAgainstExp" class="text-danger"></span>
                                    </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="AdvFacility"></label>
                                        </span>
                                    </div>
                                    <input asp-for="AdvFacility" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsAdvFacility" /></span>
                                    </div>
                                    <span asp-validation-for="AdvFacility" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="Dishantenna"></label>
                                        </span>
                                    </div>
                                    <input asp-for="Dishantenna" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsDishantenna" /></span>
                                    </div>
                                    <span asp-validation-for="Dishantenna" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="RevenueStamp"></label>
                                        </span>
                                    </div>
                                    <input asp-for="RevenueStamp" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsRevenueStamp" /></span>
                                    </div>
                                    <span asp-validation-for="RevenueStamp" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="OwaSub"></label>
                                        </span>
                                    </div>
                                    <input asp-for="OwaSub" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsOwaSub" /></span>
                                    </div>
                                    <span asp-validation-for="OwaSub" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="DapEmpClub"></label>
                                        </span>
                                    </div>
                                    <input asp-for="DapEmpClub" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsDapEmpClub" /></span>
                                    </div>
                                    <span asp-validation-for="DapEmpClub" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="Watercharge"> Ladies Club </label>
                                        </span>
                                    </div>
                                    <input asp-for="Moktab" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMoktab" /></span>
                                    </div>
                                    <span asp-validation-for="Moktab" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ChemicalForum"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ChemicalForum" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsChemicalForum" /></span>
                                    </div>
                                    <span asp-validation-for="ChemicalForum" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="DiplomaassoDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="DiplomaassoDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsDiplomaassoDed" /></span>
                                    </div>
                                    <span asp-validation-for="DiplomaassoDed" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="EnggassoDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="EnggassoDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsEnggassoDed" /></span>
                                    </div>
                                    <span asp-validation-for="EnggassoDed" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="Wfsub"></label>
                                        </span>
                                    </div>
                                    <input asp-for="Wfsub" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsWfsub" /></span>
                                    </div>
                                    <span asp-validation-for="Wfsub" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="EduAlloDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="EduAlloDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsEduAlloDed" /></span>
                                    </div>
                                    <span asp-validation-for="EduAlloDed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="PurChange"></label>
                                        </span>
                                    </div>
                                    <input asp-for="PurChange" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsPurChange" /></span>
                                    </div>
                                    <span asp-validation-for="PurChange" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="IncomeTax"></label>
                                        </span>
                                    </div>
                                    <input asp-for="IncomeTax" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsIncomeTax" /></span>
                                    </div>
                                    <span asp-validation-for="IncomeTax" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ArrearInTaxDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ArrearInTaxDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsTiffinAllow" /></span>
                                    </div>
                                    <span asp-validation-for="ArrearInTaxDed" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="OffWlfareAsso"></label>
                                        </span>
                                    </div>
                                    <input asp-for="OffWlfareAsso" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsOffWlfareAsso" /></span>
                                    </div>
                                    <span asp-validation-for="OffWlfareAsso" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="Watercharge"> Water Charge </label>
                                        </span>

                                    </div>
                                    <input asp-for="Watercharge" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsWatercharge" /></span>
                                    </div>
                                    <span asp-validation-for="Watercharge" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="WaterChargeOther"></label>
                                        </span>
                                    </div>
                                    <input asp-for="WaterChargeOther" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsWaterChargeOther" /></span>
                                    </div>
                                    <span asp-validation-for="WaterChargeOther" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ChemicalAsso"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ChemicalAsso" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsChemicalAsso" /></span>
                                    </div>
                                    <span asp-validation-for="ChemicalAsso" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="AdvInTaxDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="AdvInTaxDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsAdvInTaxDed" /></span>
                                    </div>
                                    <span asp-validation-for="AdvInTaxDed" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ConvAllowDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="ConvAllowDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsConvAllowDed" /></span>
                                    </div>
                                    <span asp-validation-for="ConvAllowDed" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="UnionSubDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="UnionSubDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsUnionSubDed" /></span>
                                    </div>
                                    <span asp-validation-for="UnionSubDed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="EmpClubDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="EmpClubDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsEmpClubDed" /></span>
                                    </div>
                                    <span asp-validation-for="EmpClubDed" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="MedicalExp"></label>
                                        </span>
                                    </div>
                                    <input asp-for="MedicalExp" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMedicalExp" /></span>
                                    </div>
                                    <span asp-validation-for="MedicalExp" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="WagesaAdv"></label>
                                        </span>
                                    </div>
                                    <input asp-for="WagesaAdv" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsWagesaAdv" /></span>
                                    </div>
                                    <span asp-validation-for="WagesaAdv" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="MedicalLoanDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="MedicalLoanDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsMedicalLoanDed" /></span>
                                    </div>
                                    <span asp-validation-for="MedicalLoanDed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="AdvWagesDed"></label>
                                        </span>
                                    </div>
                                    <input asp-for="AdvWagesDed" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsAdvWagesDed" /></span>
                                    </div>
                                    <span asp-validation-for="AdvWagesDed" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-3 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="CheForum"></label>
                                        </span>
                                    </div>
                                    <input asp-for="CheForum" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><input asp-for="IsCheForum" /></span>
                                    </div>
                                    <span asp-validation-for="CheForum" class="text-danger"></span>
                                </div>
                            </div>-->

                    </div>

                    <div class="row text-center m-2">
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12 d-block mx-auto">
                            @if (ViewBag.Title == "Create")
                            {
                            <input type="submit" value="Save" class="btn btn-primary btn-block rounded-0" />

                            @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                            }
                            else if (ViewBag.Title == "Edit")
                            {
                            <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                            @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                            }
                            else if (ViewBag.Title == "Delete")
                            {
                            <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Salary_delete()">Delete</button>
                            }
                        </div>
                        <div class="col-md-4 col-xs-12 d-block mx-auto">
                            @Html.ActionLink("Back", "EmpSalaryList", "HR", null, new { @class = "btn btn-info btn-block rounded-0" })

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts{
<script type="text/javascript">


    $("#EmpId").select2();
    $("#LId1").select2();
    $("#LId2").select2();
    $("#LId3").select2();
    $("#BId").select2();
    $("#PFLId").select2();
    $("#WelfareLId").select2();
    $("#HBLId").select2();
    $("#HBLId2").select2();
    $("#HBLId3").select2();
    $("#MCLId").select2();
    $("#PFLLId").select2();
    $("#PFLLId2").select2();
    $("#PFLLId3").select2();
    $("#GLId").select2();

    $(":checkbox").click(function () {
        if ($(this).is(":checked")) {
            $(this).closest("div").prev("input").prop("readonly", false);
        } else {
            $(this).closest("div").prev("input").prop("readonly", true);
        }
        //console.log($(this).closest("div").prev("input").val());//closest("input"));//.prop("disabled", true);

    });

    $("form :input[type=checkbox]").each(function () {
        if ($(this).is(":checked")) {
            $(this).closest("div").prev("input").prop("readonly", false);
        } else {
            $(this).closest("div").prev("input").prop("readonly", true);
        }
    });

    //$(":input[type=text]").prop("disabled", true);

    $("#EmpId").change(function () {
        if ($("#EmpId option:selected").val() != 0) {
            //window.location.href = '/EmployeeSalary/Edit?id=' + $("#EmpId option:selected").val();
            var sId = $("#EmpId option:selected").val();
            window.location.href = '@Url.Action("GetEmp", "HR")?id=' + sId;
        }
    });

    //$("#LId1").change(function () {
    //    autoCalculation();
    //});

    //$("#BId").change(function () {
    //    if ($("#BId").val() == "11") { /// only for House Category Family(O)
    //        FamilyOSpecial()
    //    }
    //    else
    //    {
    //        autoCalculation();
    //    }

    //});

    $("#PersonalPay").on('keyup', function () {

        SalaryCalculation();
    });


    function SalaryCalculation() {

        //var empname = $('#EmpId option:selected').val() || 0;
        let empId = $("#EmpId").val() || 0;
        var GS = $("#PersonalPay").val() || 0;

        //if (empname.includes('worker')) {
        //    alert('found');
        //};



        $.ajax({
            url: '@Url.Action("SalaryCalculation", "HR")',
            data: { empid: empId, GS: GS },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var GS = parseInt($("#PersonalPay").val());
                $("#BasicSalary").val(data.bs.toFixed(0));
                $("#HouseRent").val(data.hr.toFixed(0));
                $("#MadicalAllow").val(data.ma.toFixed(0));
                $("#ConveyanceAllow").val(data.trn.toFixed(0));
                $("#CanteenAllow").val(data.fa.toFixed(0));

            },
            error: function () {

            }
        });
    }

    function BSCalculate(data) {

        var bs = parseInt($("#BasicSalary").val());
        // for house rent
        if (data.HR != null) {
            // console.log(data.HR);
            var hrSetting = data.HR;

            if (hrSetting.IsPersentage) {
                var hr = (hrSetting.HR / 100) * bs;
                $("#HouseRent").val(Math.round((hr < hrSetting.MinHR) ? hrSetting.MinHR : hr)); // if hr entry by persentage
                $("#MadicalAllow").val(Math.round(hrSetting.MA));
            }
            else {
                $("#HouseRent").val(Math.round((hrSetting.HR < hrSetting.MinHR) ? hrSetting.MinHR : hrSetting.HR));
                $("#MadicalAllow").val(Math.round(hrSetting.MA));
            }

        } else {
            toastr.warning("Sorry, HR data not found this criteria !!!");
            //return false;
        }

        // for HRexp charge
        if (data.HRExp != null) {
            var hRExpSetting = data.HRExp;

            if (hRExpSetting.IsPersentage) {
                $("#HrExp").val(Math.round((hRExpSetting.HRExp / 100) * bs)); // if hr entry by persentage
            }
            else {
                $("#HrExp").val(Math.round(hRExpSetting.HRExp));
            }

        }
        else {
            toastr.warning("Sorry, HR Expence Charge no data found this criteria !!!");
            $("#HrExp").val(0);
        }

        // for Gas charge
        if (data.GasCharge != null) {
            var gasSetting = data.GasCharge;
            if ($("#BasicSalary").val() != "") {
                if (gasSetting.IsPersentage) {
                    $("#Gascharge").val(Math.round((gasSetting.GasCharge / 100) * bs)); // if hr entry by persentage
                }
                else {
                    $("#Gascharge").val(Math.round(gasSetting.GasCharge));
                }
            }

        }
        else {
            toastr.warning("Sorry, Gas Charge no data found this criteria !!!");
        }


        // for electric charge
        if (data.ElectricCharge != null) {
            var electricSetting = data.ElectricCharge;
            if ($("#BasicSalary").val() != "") {
                if (electricSetting.IsPersentage) {
                    $("#ElectricCharge").val(Math.round((electricSetting.ElectricCharge / 100) * bs)); // if hr entry by persentage
                }
                else {
                    $("#ElectricCharge").val(Math.round(electricSetting.ElectricCharge));
                }
            }

        }
        else {
            toastr.warning("Sorry, Electric Charge no data found this criteria !!!");
        }
    }


    function autoCalculation() {

        if (($("#EmpId").val() == 0)) {
            toastr.warning("Please select an employee");
            return false;
        }

        var empid = $("#EmpId").val();
        var LId1 = $("#LId1").val();
        var BId = $("#BId").val();

        var bs = $("#BasicSalary").val();


        $("#compfcount").val(Math.round((20 / 100) * parseInt(bs)));
        $("#pf").val(Math.round((10 / 100) * bs));


        //$("#HouseRent").val("0");
        //$("#HrExp").val("0");
        //$("#MadicalAllow").val("0");
        //$("#GasAllow").val("0");
        //$("#Gascharge").val("0");
        //$("#ElectricCharge").val("0");

        if (LId1 != 0 && BId != 0) {
            $.ajax({
                url: '@Url.Action("AutoEmpSalaryCalculation", "HR")',
                data: { empid: empid, LId1: LId1, BId: BId, BS: bs },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    BSCalculate(data);
                    ////console.log(data);
                    //if (data != null) {
                    //    BSCalculate(data);
                    //}
                    //else {
                    //    toastr.warning("Sorry, No data found this criteria !!!");
                    //}

                },
                error: function () {

                }
            });
        }

    }



    function Salary_delete() {
        var SalaryId = $("#SalaryId").val();
        $.ajax({
            url: '@Url.Action("DeleteEmpSalary","HR")',
            data: JSON.stringify({ id: SalaryId }),
            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("EmpSalaryList", "HR")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
        });
    }

</script>
}

