@model GTERP.Models.Cat_Leave_Type

<style>


    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


@using (Html.BeginForm("CreateLeaveType", "HR", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-12">
                @if (Model != null)
                {
                    <input type="hidden" id="LTypeId" name="LTypeId" value="@Model.LTypeId" />
                }
                else
                {
                    <input type="hidden" asp-for="LTypeId" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext">Leave Entry - Create</h4>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate>

                                @*<input type="hidden" asp-for="ComId" />*@
                                @* <input type="hidden" asp-for="UserId" />*@

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                @*<div class="input-group-prepend">
                                            <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.LTypeId)
                                            </span>
                                            </div>*@


                                                @* @if (ViewBag.Title == "Edit")
                                            {
                                            @Html.DropDownList("LeaveType", ViewBag.LTypeId,null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.LTypeId, "", new { @class = "text-danger" })

                                            }
                                            else
                                            {
                                            @Html.DropDownList("LeaveType", ViewBag.LTypeId, "--Please Select--", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.LTypeId, "", new { @class = "text-danger" })
                                            }
                                            *@
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.LTypeName)
                                                    </span>
                                                </div>

                                                @*@Html.EditorFor(model => model.DtReleased, new { htmlAttributes = new { @class = "form-control" } })*@

                                                <input type="text" asp-for="LTypeName" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.LTypeName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-9 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.LTypeNameShort)
                                                    </span>
                                                </div>
                                                @*@Html.EditorFor(model => model.DtReleased, new { htmlAttributes = new { @class = "form-control" } })*@
                                                <input type="text" asp-for="LTypeNameShort" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.LTypeNameShort, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-9 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.LDays)
                                                    </span>
                                                </div>
                                                @*@Html.EditorFor(model => model.DtReleased, new { htmlAttributes = new { @class = "form-control" } })*@
                                                <input type="text" asp-for="LDays" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.LDays, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @* <div class="col-md-9 col-12">
                                    <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                    @Html.LabelFor(model => model.ComId)
                                    </span>
                                    </div>
                                    @Html.EditorFor(model => model.DtReleased, new { htmlAttributes = new { @class = "form-control" } })
                                    <input type="text" asp-for="ComId" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.ComId, "", new { @class = "text-danger" })
                                    </div>
                                    </div>*@


                                        <div class="col-md-9 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ValidDays)
                                                    </span>
                                                </div>
                                                @*@Html.EditorFor(model => model.DtReleased, new { htmlAttributes = new { @class = "form-control" } })*@
                                                <input type="text" asp-for="ValidDays" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.ValidDays, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.IsValidation)
                                                    </span>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            @Html.CheckBoxFor(model => model.IsValidation, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IsValidation, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-4 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.IsAllowHalfLeave)
                                                    </span>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            @Html.CheckBoxFor(model => model.IsAllowHalfLeave, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IsAllowHalfLeave, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>



                                        <div class="col-md-4 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.IsInActive)
                                                    </span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        @Html.CheckBoxFor(model => model.IsInActive, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.IsInActive, "", new { @class = "text-danger" })
                                                    </span>
                                                </div>
                                            </div>
                                        </div>



                                        @* <div class="col-md-3 col-12">
                                    <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                    @Html.LabelFor(model => model.IsDelete)
                                    </span>
                                    </div>
                                    <div class="input-group-append">
                                    <span class="input-group-text">
                                    @Html.CheckBoxFor(model => model.IsDelete, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsDelete, "", new { @class = "text-danger" })
                                    </span>
                                    </div>
                                    </div>
                                    </div>
                                    *@

                                        @* <div class="col-md-12 col-12">
                                    <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                    @Html.LabelFor(model => model.FiscalYearId)
                                    </span>
                                    </div>
                                    <select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" class="form-control">
                                    </select>
                                    @Html.ValidationMessageFor(model => model.FiscalYearId, "", new { @class = "text-danger" })
                                    </div>
                                    </div>*@

                                        @* <div class="col-md-12 col-12">
                                    <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                    @Html.LabelFor(model => model.FiscalMonthId)
                                    </span>
                                    </div>
                                    <select asp-for="FiscalMonthId" asp-items="ViewBag.FiscalMonthId" class="form-control">
                                    </select>
                                    @Html.ValidationMessageFor(model => model.FiscalMonthId, "", new { @class = "text-danger" })
                                    </div>
                                    </div>*@

                                    </div>



                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                    }


                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="DeleteLeaveType_delete()">Delete</button>
                                    }


                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "CatLeaveTypeList", "HR", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

}


@section Scripts{
    <script>

        function DeleteLeaveType_delete() {

            var LTypeId = $("#LTypeId").val();

            $.ajax({
                url: '@Url.Action("DeleteLeaveTypePost", "HR")',
                data: { id: LTypeId }, //use id here
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.Success == "1") {
                        customFile('3', result.ex);
                        window.setTimeout(function () {
                            // Move to a new location or you can do something else
                            window.location.href = '@Url.Action("CatLeaveTypeList", "HR")';
                        }, 500);
                    }
                    else {
                        toastr.error(result.ex);
                    }
                }
            });
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





