@model GTERP.Models.HR_Emp_Info
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<h4 id="styletext">Project Entry </h4>

<form method="post" asp-action="EmpProject" asp-controller="HR" enctype="multipart/form-data">
    <input type="hidden" asp-for="EmpId" id="EmpId" />
    <input type="hidden" asp-for="ComId" />
    <div id="Education">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="tblEducation">
                <thead class="text-center">
                    <tr>
                        <th style="display:none">
                            EmpProjectId
                        </th>
                        <th style="display:none">
                            EmpId
                        </th>
                        <th>
                            Project name
                        </th>
                        <th>
                            Client Info
                        </th>
                        <th>
                            Project Start Date
                        </th>
                        <th>
                            Project End Date
                        </th>
                        <th>
                            Project Roll
                        </th>
                        <th>
                            Project Description
                        </th>
                        <th>
                            <input type="button" class="btn btn-sm btn-info btn-block" id="addProject" value="Add" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        foreach (var item in Model.HR_Emp_Projects)
                        {
                            <tr>
                                <td style="display:none">
                                    <input type="text" asp-for="@item.EmpProjectId" name="@item.EmpProjectId" value="@item.EmpProjectId" class="form-control" autocomplete="off" readonly/>
                                </td>
                                <td style="display:none">
                                    <input type="text" asp-for="@item.EmpId" name="@item.EmpId" value="@item.EmpId" class="form-control" autocomplete="off" readonly/>
                                </td>
                                <td>
                                    <input type="text" asp-for="@item.ProjectName" class="form-control" autocomplete="off" />
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => item.ClientName, (SelectList)ViewData["ClientName"], new { @class = "form-control" })
                                </td>
                                <td>
                                    <input type="date" asp-for="@item.dtStart" class="form-control" autocomplete="off" />
                                </td>
                                <td>
                                    <input type="date" asp-for="@item.dtEnd" class="form-control" autocomplete="off" />
                                </td>
                                @*<td>
                                    @Html.DropDownListFor(m => item.ProjectRoll, (SelectList)ViewData["ProjectRoll"], new { @class = "form-control" })
                                </td>*@
                                <td>
                                    <input type="text" asp-for="@item.ProjectRoll" class="form-control" autocomplete="off" />
                                </td>
                                <td>
                                    <input type="text" asp-for="@item.Remarks" class="form-control" autocomplete="off" />
                                </td>
                                <td>
                                    <input type="button" class="btn btn-sm btn-danger deleteEdu" value="Remove" />
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="row text-center">
            <span class="col-md-3"></span>
            <span class="col-md-3 col-12">
                @if (ViewBag.Title == "Create")
                {
                        <input type="button" id="eduSave" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                }
                else if (ViewBag.Title == "Edit")
                {
                        <input type="button" id="eduSave" value="Update" class="btn btn-warning btn-block rounded-0" />
                }

            </span>
            <span class="col-md-3 col-12">
                @Html.ActionLink("Back", "EmployeeInfoList", "HR", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

            </span>
            <span class="col-md-3"></span>


        </div>
    </div>
</form>

@section Scripts
    {
        <script>


        $(document).ready(() => {
            $("#addProject").click(function () {
                //if ($('#EmpId').val() > 0) {
                    $("#tblEducation tbody").append(`
                                           <tr>
                                                                <td style="display:none"><input class="form-control" type="text" name="HR_Emp_Projects[0].EmpProjectId" value="0" readonly/></td>
                                                                <td style="display:none"><input class="form-control" type="text" name="HR_Emp_Projects[0].EmpId" value="0" readonly /></td>
                                                        <td><input class="form-control" type="text" name="HR_Emp_Projects[0].ProjectName" value="" /></td>
                                                        <td>
                                                            <select class="form-control" name="HR_Emp_Educations[0].ClientName">
                                                                @foreach (var majorSub in (SelectList)ViewData["ClientName"])
                                                                {
                                                                    <option value="@majorSub.Value">@majorSub.Text</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><input class="form-control" type="date" name="HR_Emp_Projects[0].dtStart" value="" /></td>
                                                        <td><input class="form-control" type="date" name="HR_Emp_Projects[0].dtEnd" value="" /></td>
                                                        <td><input class="form-control" type="text" name="HR_Emp_Projects[0].ProjectRoll" value="" /></td>
                                                        
                                                        <td><input class="form-control" type="text" name="HR_Emp_Projects[0].Remarks" value="" /></td>
                                                        <td><input class="btn btn-danger btn-sm deleteEdu" type="button" value="Remove" /></td>

                                         </tr>
                    `);



               // } else {
                    //alert("Please fill up neccesary field");
                    //document.getElementById("defaultOpen").click();
                //}
            });

            // remove row from Education
            $("#tblEducation").on("click", ".deleteEdu", function () {
                $(this).closest("tr").remove();
            });

            var empeducation = {
                EmpId: 0, EmpProjectId: 0, ComId: 0, ProjectName: "", dtStart: "", dtEnd: "", ProjectRoll:"", Remarks:""
                }

                var HR_Emp_Projects = [];

                $("#eduSave").click(function () {
                    //HR_Emp_Educations = new Array();
                HR_Emp_Projects = [];
                    $("#tblEducation tbody tr").each(function (i, el) {
                        empeducation = {
                            EmpId: $("#EmpId").val(),
                            EmpProjectId: $(this).find('td').eq(0).find('input[type=text]').val(),
                            ProjectName: $(this).find('td').eq(2).find('input[type=text]').val(),
                            ClientName: $(this).find('td').eq(3).find('select').val(),
                            dtStart: $(this).find('td').eq(4).find('input[type=date]').val(),
                            dtEnd: $(this).find('td').eq(5).find('input[type=date]').val(),
                            ProjectRoll: $(this).find('td').eq(6).find('input[type=text]').val(), //ProjectRoll: $(this).find('td').eq(5).find('select').val(),
                            Remarks: $(this).find('td').eq(7).find('input[type=text]').val(),


                            ComId:'@HttpContextAccessor.HttpContext.Session.GetString("comid")',                         
                        }
                    HR_Emp_Projects.push(empeducation);
                        console.log(empeducation);
                    empeducation = { EmpId: 0, EmpProjectId: 0, ComId: 0, ProjectName: "", dtStart: "", dtEnd: "", ProjectRoll: "", Remarks: "" }
                    });
                    //console.log(empeducation.Files);
                    //if (HR_Emp_Educations.length < 1) {
                    //    alert("Please fill up necessary field");
                    //    document.getElementById("defaultOpen").click();
                    //    return;
                    //}


                    //var strfy = JSON.stringify({ HR_Emp_Educations });

                    //var formData = new FormData($('form').get(0));

                    var formData = new FormData();

                formData.append("HR_Emp_Projects", JSON.stringify(HR_Emp_Projects));

                    //$("#tblEducation tbody tr").each(function (i, el) {
                    //    var fileInput = $(this).find('td').eq(7).find('input[type=file]').prop('files')[0];
                    //    formData.append("Files[" + i + "]", fileInput);
                    //});




                    $.ajax({
                        url: '@Url.Action("EmpProject", "HR")',
                        type: 'POST',
                        data: formData,
                        processData: false, // do not process data
                        contentType: false, // do not force content type
                        success: function (result) {
                            customFile('2', result.ex);
                            window.location.href = '@Url.Action("EmpProjectUpdate","HR")';
                        },
                        error: function (ex) {
                            customFile('3', ex);
                        }
                    });
                });
        })

        </script>
}
