
@model GTERP.ViewModels.LoanHalt
@*@Html.AntiForgeryToken()*@
<form asp-action="Create" enctype="multipart/form-data">

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">

                <div id="modalbodyfahad" class="row card">

                    <div class="card-header card-header-success">
                        Loan Halt Create
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row pt-2">
                                <div class="col-md-1 col-12">
                                    @Html.LabelFor(model => model.Criteria, new { @class = "control-label text-right my-auto" })
                                </div>
                                <div class="col-md-4 col-12">
                                    <div id="viewReportAsTd" class="row">
                                        <div class="col-md-5 col-12">
                                            <input type="radio" asp-for="Criteria" value="All" /> All<br />
                                        </div>
                                        <div class="col-md-7 col-12">
                                            <input type="radio" asp-for="Criteria" value="Employee" /> Employee Wise

                                            @*@Html.RadioButtonFor(m => m.Criteria, "All", new { @checked = "checked" })All<br />
        @Html.RadioButtonFor(m => m.Criteria, "Employee") Employee Wise<br />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7"></div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text py-0">
                                                <label asp-for="LoanType" class="control-label"></label>
                                            </span>
                                        </div>
                                        <select asp-for="LoanType" asp-items="ViewBag.LoanTypes" class="form-control"></select>
                                        <span asp-validation-for="LoanType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text py-0">
                                                <label asp-for="IncreaseMonth" class="control-label"></label>
                                            </span>
                                        </div>
                                        <input asp-for="IncreaseMonth" class="form-control" min="0"/>
                                        <span asp-validation-for="IncreaseMonth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text py-0">
                                                <label asp-for="EffectiveMonth" class="control-label"></label>
                                            </span>
                                        </div>
                                        <input id="EffectiveMonth" class="form-control" />
                                        <span asp-validation-for="EffectiveMonth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 d-none" id="ol">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text py-0">
                                                <label asp-for="OtherLoanType" class="control-label"></label>
                                            </span>
                                        </div>
                                        <select asp-for="OtherLoanType" asp-items="ViewBag.OtherLoanType" class="form-control"></select>
                                        <span asp-validation-for="OtherLoanType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text py-0">
                                                <label asp-for="Remarks" class="control-label"></label>
                                            </span>
                                        </div>
                                        <input asp-for="Remarks" class="form-control" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <input type="button" id="btnSave" value="Save" class="btn btn-success btn-block rounded-0" />
                                </div>
                            </div>
                 

                            @*<div class="form-group row pt-2">
                                    @Html.LabelFor(model => model.Criteria, new { @class = "control-label col-sm-12 text-center my-auto" })
                                    <input type="button"  value="Save" class="btn btn-lg btn-success col-sm-4 text-center my-auto" />
                                </div>*@

                          <hr />

                            <div class="row" id="tbl">
                                <div class="col-md-12 col-12" id="tbl">

                                    <table id="EmpTable" class="table table-hover table-bordered table-striped " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="d-none"></th>
                                                <th>Code</th>
                                                <th>Employee Name</th>
                                                <th>Department</th>
                                                <th>Seciton</th>
                                                <th>Designaiton</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in @ViewBag.Employees)
                                            {
                                                <tr>
                                                    <td class="d-none">@item.EmpId</td>
                                                    <td>@item.EmpCode</td>
                                                    <td>@item.EmpName</td>
                                                    <td>@item.DeptName</td>
                                                    <td>@item.SectName</td>
                                                    <td>@item.DesigName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        var table;
        $(document).ready(function () {
            $("input[type='radio']").click(function(){
                var criteria = $("input[name='Criteria']:checked").val()||"";

                if (criteria == "All") {
                    $("#EmpTable").hide();
                    //$("#EmpTable tbody tr").each(function (event) { this.onclick = null; });
                    //$("EmpTable tr").removeAttr("onclick");
                } else {
                    $("#EmpTable").show();
                }
            });

            $("#LoanType").change(function () {

                if ($(this).val() == "Other Loan") {
                    // $("#OtherLoanType").parent("div").removeClass("d-none");
                    $("#ol").removeClass("d-none");
                } else {
                    $("#ol").addClass("d-none");
                }
                //} else {
                //   // alert("")
                //    $("#OtherLoanType").parent("div").addClass("d-none");
                //}
            });

            $("#btnSave").click(function () {
                var criteria = "";
                criteria = $("input[name='Criteria']:checked").val() || "";

                if (criteria == "") {
                    toastr.warning("Please select creiteria");
                    return false;
                }

                var rows = table.cells(table.rows('.selected').indexes(), 0).data();
                var employees = [];

                for (var i = 0; i < rows.length; i++) {
                    employees.push(rows[i]);
                }
                if (criteria == "Employee" && employees.length==0) {
                    toastr.warning("Please select employee");
                    return false;
                }
                var loanType = $("#LoanType").val();



                var increaseMonth = $("#IncreaseMonth").val();

                if (increaseMonth == "") {
                    $("#IncreaseMonth").focus();
                    return false;
                } else if (parseInt(increaseMonth)<1) {
                    $("#IncreaseMonth").val("");
                    $("#IncreaseMonth").focus();
                    return false;
                }
                var effectiveMonth = $("#EffectiveMonth").val();

                if (effectiveMonth=="") {
                    $("#EffectiveMonth").focus();
                    return false;
                }
                var otherLoanType = "";// = $("#OtherLoanType").val();

                if (loanType == "Other Loan") {
                    otherLoanType = $("#OtherLoanType").val();
                }



                var remarks = $("#Remarks").val();
                console.log(employees);
                var loanHalt = {
                    Criteria: criteria,
                    LoanType: loanType,
                    OtherLoanType: otherLoanType,
                    IncreaseMonth: increaseMonth,
                    EffectiveMonth: effectiveMonth,
                    Remarks: remarks,
                    Employess: employees
                }

                console.log(loanHalt);

                $.ajax({
                     type: 'POST',
                     url: '@Url.Action("CreateLoanHalt", "HR")',
                    //url: '/FixedAtt/UpdateSelectedData',
                     dataType: 'json',
                    // headers : { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },
                    //async: true,
                    data: { loanHalt: loanHalt},
                    success: function (data) {
                        if (data.Success == "1") {
                            customFile('1', data.ex);
                            setTimeout(function () {
                                window.location.href='@Url.Action("LoanHaltList", "HR")';
                            }, 2000);

                        }
                        else
                            toastr.error(result.ex);
                    },
                    error: function (ex) {
                        toastr.error("Sorry, an error occured . . . .");
                    }
                });


            });


            $("#tbl").attr("disabled", "disabled");
            $("#EffectiveMonth").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (date) {
                    // Your CSS changes, just in case you still need them
                    $('a.ui-state-default').removeClass('ui-state-highlight');
                    $(this).addClass('ui-state-highlight');
                    var dateFormat = $("#EffectiveMonth").datepicker("option", "dateFormat");
                    //setter
                    $("#EffectiveMonth").datepicker("option", "dateFormat", 'dd-M-yy');
                }
            });

            table = $('#EmpTable').DataTable({
                dom: '<"dom_wrapper fh-fixedHeader"fl>tip',
                "aoColumns": [
                    { "sClass": "EmpId", "visible": false },
                    { "sClass": "EmpCode", "visible": true },
                    { "sClass": "EmpName", "visible": true },
                    { "sClass": "DeptName", "visible": true },
                    { "sClass": "SectName", "visible": true },
                    { "sClass": "DesigName", "visible": true }
                ],
                'select': {
                    style:'multi'
                    },
                "info": false,
                "ordering": true,
                "searching": true,
                "paging": false,
                //"scrollX": true
                //,
                "scrollY": "45vh",
                "scrollCollapse": true,
                language: {
                    search: '',
                    searchPlaceholder: "Search..."
                },

            });
        });
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


