@model IEnumerable<GTERP.Models.PSuploader>
@{
    ViewData["Title"] = "PSuploader";
}

<div class="card-header">
    PS Entry
</div>
<div class="text-center">
    <div class="row mb-2">
        <div class="col-md-2 col-2">
            @Html.ActionLink("Create New", "PSuploader", null, null, new { @class = "btn btn-outline-info btn-block rounded-0", @id = "btnBack" })
        </div>

        @*Upload Excel File Start*@
        <div class="col-md-8 col-8">
            <form method="post" enctype="multipart/form-data" asp-action="PSuploaderFile">
                <div class="input-group input-group w-60" style="margin:0 auto;">
                    <span class="input-group-btn input-group-prepend">
                        <span class="btn btn-info rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                        <input name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" id="FileUpload1">
                    </span>
                    <span class="form-control border border-info" style="background: #f2f2f2e6;"></span>
                    <button class="rounded-0 btn btn-info btn-sm" type="submit" id="btnUpload">Upload</button>
                    <div style="padding-left:5px;">
                        <a href="~/HR/DownloadShiftFile?file=PS_Uploder_Sample.xlsx" title="Download Sample Format"
                           class="btn btn-success rounded-0" target="_blank"><i class="mdi mdi-file-excel"></i>PS Upload Sample</a>

                    </div>
                </div>
            </form>
        </div>
        @*Upload Excel File End*@


        <div class="col-md-2 col-2">
        </div>
    </div>
</div>
@*         <a asp-action="PSuploader" asp-controller="HR" class="btn btn-primary">Create New</a> *@

        <div class="card p-2">
            <table id="costEntryTable" class="table table-hover table-bordered tbllist  table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                         <th>Create Date</th> 
                        <th>EmpCode</th>
                        <th>Employee Name</th>
                        <th>Join Date</th>
                        <th>Department</th>
                         <th>Job Nature</th>
                        
                        
                        @* <th>Department Id</th> *@
                        <th>TotalPresent</th>
                        <th>TotalAbsent</th>
                        <th>Box Packet Reels</th>
                        <th>Drums</th>
                        <th>Bags</th>
                        <th>Unloads</th>
                        <th>GsWages</th>





                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                int serialNumber = 1;
                @foreach (var entry in Model.OrderByDescending(e => e.DateAdded))
                        {
                            <tr>
                        <td>@serialNumber</td>
                                <td>@entry.DateAdded?.ToString("dd-MMM-yyyy")</td>
                                <td>@entry.EmpCode</td>
                                <td>@entry.EmpName</td>
                                <td>@entry.DtJoin?.ToString("dd-MMM-yyyy")</td>
                                <td>@entry.Cat_Department?.DeptName</td>
                                <td>@entry.Cat_Designation?.DesigName</td>

                                
                                
                               @*  <td>@entry.DeptId</td> *@
                                <td>@entry.TotalPresent</td>
                                <td>@entry.TotalAbsent</td>
                                <td>@entry.BoxPacketReels</td>
                                <td>@entry.Drums</td>
                                <td>@entry.Bags</td>
                                <td>@entry.Unloads</td>
                                <td>@entry.GsWages</td>
                        <td class="text-nowrap">
                            <span data-toggle="tooltip" title="Edit!">
                                @Html.ActionLink(" ", "PSUploaderDetails", new { id = entry.Id }, new { @class = "fas fa-edit btn btn-warning btn-xs", @target = "_blank" })
                            </span>
                            <span data-toggle="tooltip" title="Delete!">
                                @Html.ActionLink(" ", "PSuploaderDelete", new { id = entry.Id }, new { @class = "far fa-trash-alt btn btn-danger btn-xs" })
                            </span>
                        </td>

                            </tr>
                    serialNumber++;
                }
                    }
                </tbody>
            </table>
        </div>

<!-- Add this in your HTML head section -->
