@model GTERP.Models.PSuploader
@{
    ViewData["Title"] = "PSuploader";
}


<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />


<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            PS Entry
        </div>
        <div class="card-body">
            <form asp-action="PSUploader" method="post">
                @if (Model != null && Model.Id != 0)
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="row">
                   



                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Create Date
                                </span>
                            </div>
                            <input asp-for="DateAdded" class="form-control" type="date" id="CreateDate" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label for="EmpCode">Vendor</label>
                                </span>
                            </div>
                            <select asp-for="EmpCode" class="form-control" asp-items="@(ViewData["Employee"] as List<SelectListItem>)">
                                <option value="" selected>--Please Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label for="DesigId">Job Nature</label>
                                </span>
                            </div>
                            <select asp-for="DesigId" class="form-control" asp-items="@(ViewData["DesigId"] as List<SelectListItem>)">
                                <option value="" selected>--Please Select--</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label for="DeptId">Department</label>
                                </span>
                            </div>
                            <select asp-for="DeptId" class="form-control" asp-items="@(ViewData["DeptId"] as List<SelectListItem>)">
                                <option value="" selected>--Please Select--</option>
                            </select>
                        </div>
                        </div>
                    
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.TotalPresent)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.TotalPresent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TotalPresent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">                
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.TotalAbsent)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.TotalAbsent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TotalAbsent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.BoxPacketReels)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.BoxPacketReels, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoxPacketReels, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.Drums)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Drums, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Drums, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.Bags)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Bags, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Bags, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.Unloads)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Unloads, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Unloads, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @Html.LabelFor(model => model.GsWages)
                                </span>
                            </div>
                            @Html.EditorFor(model => model.GsWages, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GsWages, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
@*             <a asp-action="PSUploaderList" asp-controller="HR" class="btn btn-success">Back to List</a>
 *@            
       
    </div>
</div>

</div>