@model GTERP.Models.UseUtilities

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "UseUtilities", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">



                <div class="py-7 text-center">

                    <h1 id="styletext">Utilities Consumption</h1>
                    <p class="lead"></p>
                </div>

                @if (Model != null)
                {
                    <input type="hidden" id="UtilitiesId" name="UtilitiesId" value="@Model.UtilitiesId" />
                }
                else
                {
                    <input type="hidden" asp-for="UtilitiesId" value="0" />
                }
                <input type="hidden" asp-for="DateAdded" />
                <input type="hidden" asp-for="AddedbyUserId" />
                <input type="hidden" asp-for="UpdatedbyUserId" />
                <input type="hidden" asp-for="DateUpdated" />
                <div id="modalbodyfahad" class="row card p-4">
                    <div class="col-md-12 order-md-1">
                        <h4 class="mb-3"> @ViewBag.Title Utilities Consumption</h4>

                        <form class="needs-validation card p-4" novalidate>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="PrdUnitId">Unit</label>
                                                </span>
                                            </div>
                                            <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalYearId"></label>
                                                </span>
                                            </div>
                                            <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalMonthId"></label>
                                                </span>
                                            </div>
                                            <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="RawMaterialId"></label>
                                                </span>
                                            </div>
                                            <select asp-for="RawMaterialId" class="form-control" asp-items="ViewBag.RawMaterialId"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.DtInput)
                                                </span>
                                            </div>
                                            <input type="date" asp-for="DtInput" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.DtInput, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="StdDesignVal"></label>
                                                </span>
                                            </div>
                                            <input asp-for="StdDesignVal" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.StdDesignVal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalYearBudgetVal"></label>
                                                </span>
                                            </div>
                                            <input asp-for="FiscalYearBudgetVal" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FiscalYearBudgetVal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="Consumption"></label>
                                                </span>
                                            </div>
                                            <input asp-for="Consumption" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.Consumption, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="SLNo"></label>
                                                </span>
                                            </div>
                                            <input asp-for="SLNo" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.SLNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.Remarks)
                                                </span>
                                            </div>
                                            <textarea asp-for="Remarks" class="form-control"></textarea>
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center m-2">

                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 col-12">

                                        @if (ViewBag.Title == "Create")
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                            @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                        }
                                        else if (ViewBag.Title == "Edit")
                                        {
                                            <input type="submit" value="Update" class="btn btn-warning btn-block" />

                                            @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                        }
                                        else if (ViewBag.Title == "Delete")
                                        {
                                            <button class="btn btn-danger btn-md btn-block" type="button" onclick="Strike_delete()">Delete</button>
                                        }


                                    </div>
                                    <div class="col-md-4 col-xs-12 d-block mx-auto">
                                        @Html.ActionLink("Back", "Index", "UseUtilities", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        $(document).ready(function () {
             $("#PrdUnitId").select2();
        $("#FiscalYearId").select2();
        $("#FiscalMonthId").select2();
        //$("#ProductId").select2();
        $("#RawMaterialId").select2();


        $("#FiscalYearId").change(function () {
            $("#FiscalMonthId").empty();
            $.ajax({
                url: '@Url.Action("GetFiscalMonth", "UseUtilities")',
                data: { id: $("#FiscalYearId").val() }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        $("#FiscalMonthId").append(`<option value="${result[i].FiscalMonthId}">${result[i].MonthName}</option>`);
                    }

                }
            });
        });

        GetRatio();

        $("#PrdUnitId,#RawMaterialId").change(function () {
            GetRatio();
        });
        });



        const GetRatio = () => {
            let unitId = $("#PrdUnitId").val();
            let productId = $("#RawMaterialId").val();
            $.ajax({
                url: '@Url.Action("GetRatio", "UseUtilities")',
                data: { unitId: unitId, productId: productId }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    $("#StdDesignVal").val("");
                    $("#FiscalYearBudgetVal").val("");
                    $("#SLNo").val("");

                    if (result != null) {
                        $("#StdDesignVal").val(result.StdDesignVal);
                        $("#FiscalYearBudgetVal").val(result.StdDesignVal);
                        $("#SLNo").val(result.SLNo);
                    }

                }
            });

        }

    function Strike_delete() {

        var UseUtilitiesId = $("#UseUtilitiesId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "UseUtilities")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: UseUtilitiesId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "UseUtilities")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


