@model GTERP.Models.DownTime

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "DownTime", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="text-center">
            <h1 id="styletext">Shutdown Time & Causes </h1>
        </div>

        @if (Model != null)
        {
            <input type="hidden" id="DownTimeId" name="DownTimeId" value="@Model.DownTimeId" />
        }
        else
        {
            <input type="hidden" asp-for="DownTimeId" value="0" />
        }
        <div id="modalbodyfahad" class="row">
            <div class="col-md-8 offset-md-2 col-12 order-md-1">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h6 class="text-center">Shutdown Time & Causes @ViewBag.Title</h6>
                    </div>
                    <div class="card-body p-3">
                        <form class="needs-validation" novalidate>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="PrdUnitId" class="control-label">Unit</label>
                                                </span>
                                            </div>
                                            <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalYearId" class="control-label">Year</label>
                                                </span>
                                            </div>
                                            <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalYearId" class="control-label">Year</label>
                                                </span>
                                            </div>
                                            <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="ReasonId" class="control-label">Down Time Reason</label>
                                                </span>
                                            </div>
                                            <select asp-for="ReasonId" class="form-control" asp-items="ViewBag.ReasonId"></select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FromTime" class="control-label">From Time</label>
                                                </span>
                                            </div>
                                            <input type="time" asp-for="FromTime" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="ToTime" class="control-label">To Time</label>
                                                </span>
                                            </div>
                                            <input type="time" asp-for="ToTime" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                @*<div class="row">
                                        <div class="col mb-6">
                                            @Html.LabelFor(model => model.ProductionLoss)
                                            <input type="text" asp-for="ProductionLoss" class="form-control" />

                                            @Html.ValidationMessageFor(model => model.ProductionLoss, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col mb-6">
                                            @Html.LabelFor(model => model.MoneyLoss)
                                            <input type="text" asp-for="MoneyLoss" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.MoneyLoss, "", new { @class = "text-danger" })

                                        </div>

                                    </div>*@

                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.TotalDownTime)
                                                </span>
                                            </div>
                                            <input asp-for="TotalDownTime" class="form-control" placeholder="00:00" />
                                            @Html.ValidationMessageFor(model => model.TotalDownTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.StrikeDate)
                                                </span>
                                            </div>
                                            <input type="date" asp-for="StrikeDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.StrikeDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12 mb-2">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.Remarks)
                                                </span>
                                            </div>

                                            <textarea asp-for="Remarks" class="form-control"></textarea>
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row text-center m-2">
                                    <br />
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 col-12">

                                        @if (ViewBag.Title == "Create")
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary btn-block rounded-0" />
                                        }
                                        else if (ViewBag.Title == "Edit")
                                        {
                                            <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                        }
                                        else if (ViewBag.Title == "Delete")
                                        {
                                            <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Strike_delete()">Delete</button>
                                        }


                                    </div>
                                    <div class="col-md-4 col-12">
                                        @Html.ActionLink("Back", "Index", "DownTime", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        $("#ReasonId").select2();

        $("#PrdUnitId").select2();
        $("#FiscalYearId").select2();
        $("#FiscalMonthId").select2();

         $("#FiscalYearId").change(function () {
            $("#FiscalMonthId").empty();
            $.ajax({
                url: '@Url.Action("GetFiscalMonth", "DownTime")',
                data: { id: $("#FiscalYearId").val() }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        $("#FiscalMonthId").append(`<option value="${result[i].FiscalMonthId}">${result[i].MonthName}</option>`);
                    }

                }
            });
        });

        $("#ReasonId").change(function () {
            GetRemarks();
        });


        const GetRemarks = () => {
            $("#Remarks").empty();
            $.ajax({
                url: '@Url.Action("GetDownTimeReasonRemarks", "DownTime")',
                data: { id: $("#ReasonId").val() }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                   
                    $("#Remarks").val(result);
                }
            });
        }

        $(document).ready(function () {
            GetRemarks();
        });
        

    function Strike_delete() {

        var DownTimeId = $("#DownTimeId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "DownTime")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: DownTimeId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "DownTime")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


