@model IEnumerable<GTERP.Models.FA_Master>

<div>


    <table id="tblAsset_List" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssetCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
                <th>
                    Dep. Exp. Code
                </th>
                <th>
                    Dep. Exp. Acc.
                </th>
                <th>
                    Accu. Dep. Code.
                </th>
                <th>
                    Accu. Dep. Acc.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComId)
                </th>
                <th>
                    Dep. Method
                </th>
                <th>
                    Asset Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepreciationFrequency.Title)
                </th>
                <th>ActionToDo</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percentage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepreciationHead.AccCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepreciationHead.AccName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccumulatedDepreciationHead.AccCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccumulatedDepreciationHead.AccName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepreciationMethod.DMId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepreciationFrequency.FoDId)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FA_MasterId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.FA_MasterId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.FA_MasterId">Delete</a>
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</div>