@*@model IEnumerable<GTERP.Models.DepreciationSchedule>*@
    <div class="card table-responsive p-3">
        <table id="tblSee_Dep" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>

                    <th>
                        DepreciationScheduleId
                    </th>
                    <th>
                        FA_DetailsId
                    </th>
                    <th>
                        ScheduleDate
                    </th>
                    <th>
                        Acc.DepAmount
                    </th>
                    <th>
                        Acc.DepAmount
                    </th>
                    <th>
                        Acc.DepBooked
                    </th>
                    <th>
                        Acc.DepRemain
                    </th>
                    <th>
                        JournalEntry
                    </th>


                    <th>Action</th>
                </tr>
            </thead>
            @*<tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.DepreciationScheduleId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FA_DetailsId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScheduleDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccumulateDepAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccumulateDepBooked)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccumulateDepRemain)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JournalEntry)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.DepreciationScheduleId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.DepreciationScheduleId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.DepreciationScheduleId">Delete</a>
                            </td>
                        </tr>
                    }}
            </tbody>*@
        </table>
    </div>