@*@model IEnumerable<GTERP.Models.FA_Details>*@


<table id="tblAssetItem_List" class="table tbllist table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
               AssetItem
            </th>
            
            <th>
               PurchaseDate
            </th>
            <th>
               PurchaseValue
            </th>
            <th>
               IssueDate
            </th>
            <th>
               AssignToSection
            </th>
            <th>
               UsefullLife
            </th>
            <th>
               RemainingYear
            </th>
            <th>
               FA_Dep_StatusId
            </th>
            <th>
                Depreciation Action
            </th>
            <th>
               EVAULife
            </th>
           
            <th>ActionToDo</th>
        </tr>
    </thead>
    @*<tbody>
        @if (Model!=null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetItem)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignToSection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsefullLife)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemainingYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FA_Dep_StatusId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsInActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EVAULife)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FA_DetailsId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FA_DetailsId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FA_DetailsId">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>*@
</table>
