
@model IEnumerable<GTERP.ViewModels.BankClearing>
<body>
    @using (Html.BeginForm())
    {
        <div class="container-fluid text-center card p-2 my-2">
            <div class="row">
                <div class="col-md-3 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">From Date</span>
                        </div>
                        @*<input type="text" class="form-control text-center FromDate" placeholder="Select From Date" autocomplete="off" />*@
                        @Html.TextBox("FromDate", null, new { @class = "form-control text-center FromDate", @placeholder = "Select From Date ", @autocomplete = "off", name = "FromDate" })

                        @*@Html.TextBox("FromDate", null, new { @class = "form-control text-center FromDate", @placeholder = "Select From Date ", @autocomplete = "off", name = "FromDate" })*@
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">To Date</span>
                        </div>
                        @*<input type="text" id="ToDate" class="form-control text-center ToDate" placeholder="Select To Date" autocomplete="off" />*@
                        @Html.TextBox("ToDate", null, new { @class = "form-control text-center ToDate", @placeholder = "Select To Date ", @autocomplete = "off", name = "ToDate" })

                        @*@Html.TextBox("ToDate", null, new { @class = "form-control text-center ToDate", @placeholder = "Select To Date ", @autocomplete = "off", name = "ToDate" })*@
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <h2 id="styletext">Voucher Cheque List For Clearance</h2>
                </div>
                <div class="col-md-2 col-12">
                    <input type="button" id="btnLoad" value="Load" class="btn btn-success btn-block rounded-0" />
                </div>
                <div class="col-md-12 col-12 ">
                    <fieldset class="well" style="margin-bottom: 0px">
                        <label><input type="radio" name="criteria" checked="checked" value="All" style="margin-left: 10px" /> All</label>
                        <label><input type="radio" name="criteria" value="Post" style="margin-left: 20px" /> Post Clearing </label>
                        <label><input type="radio" name="criteria" value="UnPost" style="margin-left: 20px" /> UnPost Clearing</label>
                    </fieldset>
                </div>
            </div>
            <hr />


            <div class="table-responsive">
                <table id="tbllist" class="table table-striped table-bordered table-sm  table-hover" cellspacing="0" width="100%">
                    <thead class="text-nowrap">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Checked
                            </th>

                            <th>
                                VoucherSubCheckId
                            </th>
                            <th>
                                Voucher No
                            </th>
                            <th>
                                Account Code
                            </th>
                            <th>
                                Account Head
                            </th>
                            <th>
                                Check No
                            </th>
                            <th>
                                Voucher Date
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Check Date From
                            </th>
                            <th>
                                Check Date To
                            </th>
                            <th>
                                Check Claer Date
                            </th>
                            <th>
                                Posted
                            </th>
                            <th></th>
                        </tr>
                    <thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Checked)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherSubCheckId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChkNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DtChk)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DtChkTo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DtChkClear)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.IsClear)
                            </td>

                            <td class="text-nowrap">
                                <span data-toggle="tooltip" title="Print!">

                                    @Html.ActionLink(" ", "PrintBankClearing", new { Id = item.VoucherId, type = "pdf" }, new { @target = "_blank", @class = "far fa-file-pdf btn btn-success btn-xs" })

                                </span>


                            </td>
                            @*@if (item.isPosted == false)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VoucherId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VoucherId }) |
                @Html.ActionLink("Print", "Print", new { id = item.VoucherId, type = "pdf" }, new { target = "_blank" })
            </td>
        }
        else
        {
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.VoucherId }) |
                @Html.ActionLink("Print", "asdf", new { id = item.VoucherId }) |
                @Html.ActionLink("PDF", "Report", new { id = item.VoucherId, type = "pdf" })

            </td>

        }*@
                        </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    }
</body>


@section Scripts{
    <script type="text/javascript">



        $(document).ready(function () {

            $("#btnLoad").click(function () {
                let dtFrom = $(".FromDate").val();
                let dtTo = $(".ToDate").val();
                let criteria = $("input[name='criteria']:checked").val();


                window.location.href = '@Url.Action("BankClearingList", "Accounts")?FromDate=' + dtFrom + '&ToDate=' + dtTo + '&criteria=' + criteria;
            });

            var tbllist = $('#tbllist').DataTable({
                'columnDefs': [
                    {
                        'targets': 1,
                        'visible': false,
                        'className': 'chkAllPost'

                    },
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }

                ],
                "aoColumns": [
                    { "sClass": "select-checkbox","visible": true },
                    { "sClass": "blank","visible": false },
                    { "sClass": "chkAllPost", "visible": false },
                    { "sClass": "voucherno", "visible": true },
                    { "sClass": "AccCode", "visible": true },
                    { "sClass": "AccName", "visible": true },
                    { "sClass": "checkno", "visible": true },
                    { "sClass": "voucherdate", "visible": true },
                    { "sClass": "amount", "visible": true },
                    { "sClass": "checkdate", "visible": true },
                    { "sClass": "checkdateto", "visible": true },
                    { "sClass": "cleardate", "visible": true },
                    { "sClass": "posted", "visible": true },
                    { "sClass": "Report", "visible": true }


                ],
                columnDefs: [
                    //{
                    //    'targets': 14,
                    //    'render': function (data, type, row) {
                    //        return '<input class="form-control form-control-sm txtSLNo" id="SLNo" name="SLNo" type="text" autocomplete="off" readonly="readonly"  data-val="true" value=' + data + '>'
                    //        //$.fn.dataTable.render.number(',', '.', 2, '')

                    //    }
                    //},
                    {
                        render: function (date) {
                            return "<input type='text' class='form-control form-control-sm datecell' value='" + date + "'/>"
                        },
                        "targets": 11
                    }

                ],
                createdRow: function (row) {
                    $(".datecell", row).datepicker(
                        { dateFormat: 'dd-M-yy' }
                        //$('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();

                    ).val();
                },
                'paging': true,
                'searching': true,
                language: {
                    search: '',
                    searchPlaceholder: "Search..."
                },
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                dom: 'Bfrtip',
                buttons: [
                    //'selected',
                    //'selectedSingle',
                    'selectAll',
                    'selectNone',
                    {
                        attr: {
                            title: 'Post',
                            id: "btnPost",
                        },
                        text: 'Post',
                        className: "btn-success btnpost",
                        action: function (e, dt, node, config) {
                            //alert('Button activated');
                            ConfirmDialog("Post");
                        }
                    },
                    {
                        attr: {
                            title: 'Un Post',
                            id: "btnUnPost",
                        },

                        text: 'UnPost',
                        className: "btn-warning btnunpost",
                        action: function (e, dt, node, config) {
                            //alert('Button activated');
                            ConfirmDialog("UnPost");
                        }
                    }
                    //'selectRows',
                    //'selectColumns',
                    //'selectCells'
                ],
                'info': false

            }
            );

            var viewbagtitle = "@ViewBag.Title";

            if (viewbagtitle == "Post") {
                $(".btnunpost").show();
                $(".btnpost").hide();
            }
            else if (viewbagtitle == "UnPost") {
                $(".btnunpost").hide();
                $(".btnpost").show();
            }
            else {

                $(".btnunpost").hide();
                $(".btnpost").hide();
            };

            //$("input[name=criteria][value='Post']").prop("checked",true);
             $("input[name=criteria]").val([viewbagtitle]);


             var table = $('#tbllist').DataTable();


            //$('#tbllist tbody').on('click', 'tr', function () {
            //    $(this).toggleClass('selected');
            //});


            function fncSubmitPost() {

                alert(table.rows('.selected').data().length + ' row(s) selected');

                //var rows = table.rows('.selected').data();
                var htmlrows = table.rows('.selected').nodes().toArray();//$('#tbllist').dataTable().fnGetNodes();
                var bankclearingdatarows = table.rows('.selected').data().toArray();

                //console.log(rows);




                var voucherid = [];
                var bankclearingdata = { "VoucherSubCheckId": "", "DtChkClear": "" };

                //var criteria = $("input[name='criteria']:checked").val();
                var criteria = "Post";

                for (var i = 0; i < bankclearingdatarows.length; i++) {

                    //var rowData = rows[i];
                    //alert(rowData[1]);
                    //console.log(rowData);

                    bankclearingdata.VoucherSubCheckId = bankclearingdatarows[i][2];
                    bankclearingdata.DtChkClear = htmlrows[i].cells[9].children[0].value || 0;

                    //voucherid.push(rowData[1]);
                    voucherid.push(bankclearingdata);

                    console.log(voucherid);


                    bankclearingdata = { "VoucherSubCheckId": "", "DtChkClear": "" };

                }


                $.ajax({
                type: 'POST',
                url: '@Url.Action("SetProcess", "Accounts")',
                dataType: 'json',
                async: true,
                    data: { BankClearinglist: voucherid, criteria: criteria},
                    success: function (response) {
                      //  window.location.href = response.Url;
                                        var selectedRows = table.rows(".selected");
                                        selectedRows.remove().draw();
                        //window.open(response.Url, '_blank')
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }

                });

                alert('Post Successfull');

            };
            function fncSubmitUnPost() {

                alert(table.rows('.selected').data().length + ' row(s) selected');

                //var rows = table.rows('.selected').data();



                //console.log(rows);


                //var voucherlist = {};

                //var obj = { "VoucherSubCheckId": "0", "DtChk":""};


            //var criteria = $("input[name='criteria']:checked").val();




                var htmlrows = table.rows('.selected').nodes().toArray();//$('#tbllist').dataTable().fnGetNodes();
                var bankclearingdatarows = table.rows('.selected').data().toArray();

                //console.log(rows);




                var voucherid = [];
                var bankclearingdata = { "VoucherSubCheckId": "", "DtChkClear": "" };

                //var criteria = $("input[name='criteria']:checked").val();
                var criteria = "Post";

                for (var i = 0; i < bankclearingdatarows.length; i++) {

                    //var rowData = rows[i];
                    //alert(rowData[1]);
                    //console.log(rowData);

                    bankclearingdata.VoucherSubCheckId = bankclearingdatarows[i][2];
                    bankclearingdata.DtChkClear = htmlrows[i].cells[9].children[0].value || 0;

                    //voucherid.push(rowData[1]);
                    voucherid.push(bankclearingdata);

                    console.log(voucherid);


                    bankclearingdata = { "VoucherSubCheckId": "", "DtChkClear": "" };

                }




                var criteria = "UnPost";

                //for (var i = 0; i < rows.length; i++) {

                //    var rowData = rows[i];
                //    //alert(rowData[0]);
                //    //console.log(rowData);
                //    obj.VoucherSubCheckId = rowData["VoucherSubCheckId"];
                //    obj.DtChk = rowData["DtChk"];

                //    voucherlist.push(obj);

                //    obj = { "VoucherSubCheckId": "0", "DtChk": "" };
                //    //voucherid.push(rowData["VoucherSubCheckId"]);
                //    //dtchk.push(rowData["DtChk"]);

                //}
                //console.log(voucherlist);

                //var stringabc = JSON.stringify({ "BankClearinglist": voucherlist });

                $.ajax({
                type: 'POST',
                url: '@Url.Action("SetProcess", "Accounts")',
                dataType: 'json',
                async: true,
                    data: { BankClearinglist: voucherid, criteria: criteria }, //stringabc,
                    success: function (response) {
                      //  window.location.href = response.Url;
                    var selectedRows = table.rows(".selected");
                    selectedRows.remove().draw();
                        //window.open(response.Url, '_blank')
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }

                });

                alert('Unpost Successfull');

            };

            CurrentDate();

            $(".FromDate").datepicker({

                dateFormat: "dd-M-y",
                changeMonth: true,
                changeYear: true

            });
            $(".ToDate").datepicker({

                dateFormat: "dd-M-y",
                changeMonth: true,
                changeYear: true

            });

            function CurrentDate() {
                var date = new Date();
                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                    "Aug", "Sep", "Oct", "Nov", "Dec"];
                var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();


                if ($(".FromDate").val() == '') {
                    $(".FromDate").val(val);
                }
                if ($(".ToDate").val() == '') {
                    $(".ToDate").val(val);
                }


            }


            function ConfirmDialog(message) {
            $('<div></div>').appendTo('body')
                .html('<div><h6>' + message + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Confirmation message',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {

                            // $(obj).removeAttr('onclick');
                            // $(obj).parents('.Parent').remove();

                            //$('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');

                            $(this).dialog("close");

                            if (message == "Post") {
                                fncSubmitPost();

                            }
                            else if (message == "UnPost") {
                                fncSubmitUnPost();
                            }


                        },
                        No: function () {
                            //$('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');

                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        };

        });

    </script>

}


