@model GTERP.Models.Acc_GovtSchedule_Equity
    <link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />
<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


<body>
    @using (Html.BeginForm("CreateGovtScheduleEquity", "Acc_GovtSchedule_Equity", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">

            <div class="row">
                <div class="col-md-8 offset-md-2 col-12">
                    <div id="modalbodyrakin" class="card">
                        <div class="card-header">
                            <h4 id="styletext">Govt. Equity Schedule Entry - @ViewBag.Title</h4>
                        </div>

                        <div class="card-body">
                            <div>
                                <div class="needs-validation" novalidate>
                                    <br>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @if (Model != null)
                                    {

                                        <input type="hidden" id="GovtScheduleId" name="GovtScheduleId" value="@Model.GovtScheduleId" />
                                        <input type="hidden" id="comid" name="ComId" value="@Model.ComId" />
                                        <input type="hidden" id="userid" name="UserId" value="@Model.UserId" />

                                        <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />
                                        <input type="hidden" id="isPost" name="isPost" value="@Model.isPost" />



                                    }
                                    else
                                    {
                                        <input type="hidden" id="comid" asp-for="ComId"/>
                                        <input type="hidden" id="userid" asp-for="UserId" />

                                    }

                                    <div class="row">

                                        <div class="col-md-6 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDate" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDate" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDate" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDate" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDate" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDate" asp-f class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="AccId" class="col-sm-1 control-label"> &nbsp; Account Name &nbsp; &nbsp; </label>
                                                    </span>
                                                </div>
                                                <select asp-for="AccId" class="form-control" asp-items="@ViewBag.AccId">
                                                    <option>--Select Account--</option>
                                                </select>
                                                <span asp-validation-for="AccId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="Description" class="col-sm-4 control-label">&nbsp;GO Order No & Date </label>
                                                    </span>
                                                </div>
                                                <input asp-for="Description" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-5 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="Criteria" class="col-sm-1 control-label"> &nbsp; Criteria &nbsp; &nbsp; </label>
                                                    </span>
                                                </div>
                                                <select asp-for="Criteria" class="form-control" asp-items="@ViewBag.Criteria">
                                                    <option>--Select Criteria--</option>
                                                </select>
                                                <span asp-validation-for="Criteria" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-7 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="Loan" class="col-sm-4 control-label">&nbsp;Loan </label>
                                                    </span>
                                                </div>
                                                <input asp-for="Loan" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="Loan" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="col-md-6 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="Development" class="col-sm-4 control-label">&nbsp;Development </label>
                                                    </span>
                                                </div>
                                                <input asp-for="Development" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="Development" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="CDVAT" class="col-sm-4 control-label">&nbsp;CD &Aacute; VAT </label>
                                                    </span>
                                                </div>
                                                <input asp-for="CDVAT" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="CDVAT" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-10 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="Remarks" class="col-sm-4 control-label">&nbsp;Remarks </label>
                                                    </span>
                                                </div>
                                                <input asp-for="Remarks" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        @Html.LabelFor(model => model.isPost)
                                                    </span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        @Html.CheckBoxFor(model => model.isPost, new { @class = "select" })
                                                        @Html.ValidationMessageFor(model => model.isPost, "", new { @class = "text-danger" })
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3 col-12">
                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input type="submit" value="Create" class="btn btn-primary btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-lg btn-block rounded-0" type="button" onclick="VoucherType_delete()">Delete</button>
                                    }

                                </div>
                                <div class="col-md-3 col-12">
                                    @Html.ActionLink("Back", "GovtScheduleEquityList", "Accounts", null, new { @class = "btn btn-info btn-block rounded-0" })
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       

        </div>
    }

</body>


@section Scripts{
    <script type="text/javascript">


        $("#AccId").select2();

     function VoucherType_delete() {

         var GovtScheduleId = $("#GovtScheduleId").val();
         //alert(GovtScheduleId);
            $.ajax({

                url: '@Url.Action("DeleteGovtScheduleEquity", "Accounts")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: GovtScheduleId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("GovtScheduleEquityList", "Accounts")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
    }




    </script>
}