@model IEnumerable<GTERP.ViewModels.TrialBalanceModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>

    <style>
        .table th {
            background: inherit;
            color: black;
            font-weight: 600;
        }

        .table thead th {
            border-bottom: inherit;
            
        }

        .table-bordered {
            border: 1px solid #dee2e6;
        }
    </style>
    <script type="text/javascript">
        function ClosePrint() {
            var print = document.getElementById("print");
            print.style.visibility = "hidden";
            //            print.display = false;

            window.print();
        }
    </script>
</head>
<body>
    <form method="post" id="form1">
        <h3>
            @{
                System.Globalization.CultureInfo BDFormat = new System.Globalization.CultureInfo("hi-IN");
            }
        </h3>
        <div id="main">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-md-12 col-10">
                        <h3 class="text-center">@Model.FirstOrDefault().ComName</h3>
                    </div>
                    @*<div class="col-md-2 col-2 text-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()">
                        </div>*@
                    <div class="col-md-12 col-12 text-center">
                        <span>
                            @Model.FirstOrDefault().ComAddress
                        </span>
                        <span class="float-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                        </span>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <h5><span class="border-bottoms">@Model.FirstOrDefault().Caption</span></h5>
                    </div>


                </div>
                <table class="table table-bordered text-center font-weight-bold text-dark">
                    <thead>
                        <tr class="text-nowrap">
                            <th rowspan="2" class="align-middle">
                                ACCOUNT CODE
                            </th>
                            <th rowspan="2" class="align-middle">ACCOUNT NAME</th>
                            <th colspan="2">OPENING</th>
                            <th colspan="2">PERIOD</th>
                            <th colspan="2">CLOSING</th>

                        </tr>
                        <tr class="text-nowrap">
                            <th>
                                DEBIT
                            </th>
                            <th>CREDIT</th>
                            <th>DEBIT</th>
                            <th>CREDIT</th>
                            <th>DEBIT</th>
                            <th>CREDIT</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.OrderBy(x => x.AccCode))
                            {
                                if (item.AccType == "G")
                                {


                                    <tr style="font:bold">
                                        <td class="text-nowrap"> @item.AccCode</td>
                                        <td>@item.AccName</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.opCredit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.opCredit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TranDebit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TranCredit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.clDebit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.clCredit)) )</td>
                                    </tr>
}
                                else
                                {
                                    <tr>
                                        <td> @item.AccCode</td>
                                        <td>@item.AccName</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.opCredit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.opCredit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TranDebit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TranCredit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.clDebit)) )</td>
                                        <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.clCredit)) )</td>
                                    </tr>
                                }

                            }


                        }


                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>


            </div>
        </div>
    </form>


</body>
</html>