@model GTERP.Models.Budget_ProductionTarget

    <link href="~/css/customFormStyle.css" rel="stylesheet" />
<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


<body>
    @using (Html.BeginForm("Create", "BudgetProductionTarget", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div id="modalbodyrakin" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h4 id="styletext" class="text-center">Govt. Equity Schedule Entry - @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12 order-md-1">
                                <div class="needs-validation" novalidate>
                                    <br>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @if (Model != null)
                                    {

                                        <input type="hidden" id="GovtScheduleId" name="GovtScheduleId" value="@Model.ProductionTargetId" />
                                        <input type="hidden" id="comid" name="comid" value="@Model.ComId" />
                                        <input type="hidden" id="userid" name="userid" value="@Model.UserId" />

                                        <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />
                                        <input type="hidden" id="isPost" name="isPost" value="@Model.isPost" />



                                    }
                                    else
                                    {
                                        <input type="hidden" id="comid" name="comid" value="" />
                                        <input type="hidden" id="userid" name="userid" value="" />

                                    }

                                    <div class="row">

                                        <div class="col-md-6 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDate" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDate" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDate" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDate" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDate" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDate" asp-f class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">


                                        <div class="col-md-12 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="PrdUnitId" class="col-sm-1 control-label"> &nbsp; Production Unit &nbsp; </label>
                                                    </span>
                                                </div>
                                                <select asp-for="PrdUnitId" class="form-control" asp-items="@ViewBag.AccId">
                                                    <option>--Select Account--</option>
                                                </select>
                                                <span asp-validation-for="PrdUnitId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-12 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="InstalledCapacity" class="col-sm-4 control-label">&nbsp;GO Order No & Date </label>
                                                    </span>
                                                </div>
                                                <input asp-for="InstalledCapacity" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="InstalledCapacity" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDateProposed" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDateProposed" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDateProposed" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDateProposed" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDateProposed" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDateProposed" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ProposedQty" class="col-sm-4 control-label">&nbsp; Proposed Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="ProposedQty" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="ProposedQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDateRevised" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDateRevised" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDateRevised" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDateRevised" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDateRevised" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDateRevised" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="RevisedQty" class="col-sm-4 control-label">&nbsp; Revised Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="RevisedQty" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="RevisedQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDateEstimate" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDateEstimate" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDateEstimate" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDateEstimate" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDateEstimate" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDateEstimate" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="EstimageQty" class="col-sm-4 control-label">&nbsp; Estimate Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="EstimageQty" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="EstimageQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDateActual" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDateActual" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDateActual" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDateActual" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDateActual" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDateActual" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ActualQty" class="col-sm-4 control-label">&nbsp; Actual Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="ActualQty" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="ActualQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDateApproved" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDateApproved" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDateApproved" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDateApproved" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDateApproved" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDateApproved" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ApprovedQty" class="col-sm-4 control-label">&nbsp;Apr. Actual Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="ApprovedQty" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="ApprovedQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="FromDatePreviousActual" class="col-sm-4 control-label">From Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="FromDatePreviousActual" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="FromDatePreviousActual" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="ToDatePreviousActual" class="col-sm-4 control-label">To Date</label>
                                                    </span>
                                                </div>
                                                <input asp-for="ToDatePreviousActual" class="form-control tg" type="date" autocomplete="off" />
                                                <span asp-validation-for="ToDatePreviousActual" asp-f class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="PreviousActualQty" class="col-sm-4 control-label">&nbsp;Pre. Actual Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="PreviousActualQty" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="PreviousActualQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">


                                        <div class="col-md-4 col-6 mb-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label asp-for="SalesRate" class="col-sm-4 control-label">&nbsp; Actual Qty </label>
                                                    </span>
                                                </div>
                                                <input asp-for="SalesRate" class="form-control" autocomplete="off" />
                                                <span asp-validation-for="SalesRate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            @Html.LabelFor(model => model.isPost)
                                            @Html.CheckBoxFor(model => model.isPost, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.isPost, "", new { @class = "text-danger" })
                                        </div>

                                        @*<div class="col-md-4 mb-1">
                                            @Html.LabelFor(model => model.isPost, htmlAttributes: new { @class = "control-label" })
                                            @Html.CheckBoxFor(model => model.isPost, new { @class = "form-control select", @style = "height:10px;" })
                                            @Html.ValidationMessageFor(model => model.isPost, "", new { @class = "text-danger" })

                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input type="submit" value="Create" class="btn btn-primary btn-block" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block" />
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-lg btn-block" type="button" onclick="VoucherType_delete()">Delete</button>
                                    }
                                </div>
                                <div class="col-md-4">
                                    @Html.ActionLink("Back", "Index", "BudgetProductionTarget", null, new { @class = "btn btn-info btn-block" })
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

        </div>
    }

</body>

@section Scripts{
    <script type="text/javascript">


        $("#AccId").select2();

     function VoucherType_delete() {

         var GovtScheduleId = $("#GovtScheduleId").val();
         //alert(GovtScheduleId);
            $.ajax({

                url: '@Url.Action("Delete", "BudgetProductionTarget")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: GovtScheduleId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("Index", "BudgetProductionTarget")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
    }
    </script>
}