@model GTERP.Models.IssueMain

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>IssueMain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrdUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrdUnit.PrdUnitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreRequisitionMain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreRequisitionMain.StoreReqId)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.City)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.TypeName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.CurrencyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvertionRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvertionRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIssueValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIssueValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetIssueValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetIssueValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat_SubSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat_SubSection.SubSectName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GateInHouseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GateInHouseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedReciveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedReciveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermsAndCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermsAndCondition)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GateInHouseDatestring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GateInHouseDatestring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedReciveDatestring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedReciveDatestring)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IssueMainId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
