@model GTERP.Models.Recruitment.HR_Recruitment_SubmittedCV


<div>
    <br />
    <h1 class="display-6 mb-0">Details</h1>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            Post Title
        </dt>
        <dd class="col-sm-10">
            @ViewBag.PostTitle
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedCV_Name)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedCV_Email)
        </dd>
        <dt class="col-sm-2">
            Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedCV_Number)
        </dd>
        @if (Model.SubmittedCV_linkedin_Url != null)
        {
            <dt class="col-sm-2">
                linkedin_Url
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubmittedCV_linkedin_Url)
            </dd>
        }
        <dt class="col-sm-2">
          ExpectedSalary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedCV_ExpectedSalary)
        </dd>
        <dt class="col-sm-2">
            CoverLetter
        </dt>
        <dd class="col-sm-10">
            CoverLetter
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>
        <dd class="col-sm-10">
            <a class="btn btn-outline-primary m-2" asp-action="Download" asp-route-id="@Model.S_Id">Download</a>
            
        </dd>
        <dt class="col-sm-2">
            SubmittedDate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>
    </dl>

    



    <div>
        <a class="btn btn-success m-2" asp-controller="Posts" asp-action="ApplicantList" asp-route-id="@Model.S_Id">Select</a>
        <a asp-action="IsDelete" asp-route-id="@Model.S_Id" class="btn btn-outline-danger m-2 btn-sm">Delete</a>

    </div>

</div>
<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>

