@model IEnumerable<GTERP.Models.Recruitment.HR_Recruitment_Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashlayout.cshtml";
}

<style>
    .tbllist th:first-child, .tbllist tbody td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }

    .tbllist tfoot td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }


    .tbllist th:last-child, .tbllist tbody td:last-child {
        position: sticky !important;
        right: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }

    .tbllist tfoot td:last-child {
        position: sticky !important;
        right: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }
</style>

<p>
    <a asp-action="DepartmentCreate" class="btn btn-outline-primary">Create New</a>
</p>
<div class="container-fluid">



    <form class="card p-2">
        <div class="table-responsive text-nowrap">
            <table id="tbllist" class="table table-hover table-bordered tbllist  table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>DepartmentId</th>
                        <th>DepartmentId</th>                        
                        <th>Action</th>
    
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model)
                    {
                        
                            <tr style="background-color:rgb(249 207 181)">
                            <td>@e.DeptId</td>
                            <td>@e.Dept_Name</td>
                            
                            <td>
                                <a asp-action="DepartmentDetails" asp-route-id="@e.DeptId" class="btn btn-outline-info m-2 btn-sm">Details</a>
                                <a asp-action="DepartmentEdit" asp-route-id="@e.DeptId" class="btn btn-outline-info m-2 btn-sm">Edit</a>
                                <a asp-action="DepartmentDelete" asp-route-id="@e.DeptId" class="btn btn-outline-danger m-2 btn-sm">Delete</a>

                            </td>
                            </tr>
                       
                    }
                </tbody>
            </table>
        </div>
        <br />
    </form>
    </div>





@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#tbllist').DataTable();
        });


    </script>
}
