@model GTERP.Models.Recruitment.HR_Recruitment_Post

@{
    ViewData["Title"] = "OpeningDetails";
  
}
<div>
    <br />

    <div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="display-6 mb-0">Circular</h2>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2 justify-content-end">
                <a asp-action="ApplyForm" class="btn btn-outline-success m-2" asp-route-id="@Model.PostId">Apply</a>
            </div>
        </div>

    </div>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Dept_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacancy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobContext)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobContext)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobResponsibility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobResponsibility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.E_Requirement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.E_Requirement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.A_Requirement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.A_Requirement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OtherBenifits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OtherBenifits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>