@model IEnumerable<GTERP.Models.Recruitment.HR_Recruitment_Post>
@{
    ViewData["Title"] = "Index";
    
}
<style>
    .tbllist th:first-child, .tbllist tbody td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }

    .tbllist tfoot td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }


    .tbllist th:last-child, .tbllist tbody td:last-child {
        position: sticky !important;
        right: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }

    .tbllist tfoot td:last-child {
        position: sticky !important;
        right: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }
</style>
<div class="container-fluid">
    <div class="text-center">
        <div class="row mb-2">
            <div class="col-md-3 col-12">
                @Html.ActionLink("Post Creation", "PostCreate", null, null, new { @class = "btn btn-outline-info btn-block rounded-0", @id = "btnBack" })
            </div>
            <div class="col-md-9 col-12">
                <h2 id="styletext">Post List</h2>
            </div>
        </div>
    </div>



</div>

<div class="page justify-content-right">

    <div id="main" class="container-fluid mt-2">
       

        <form class="card p-2">
            <div class="table-responsive text-nowrap">
                <table id="tbllist" class="table table-hover table-bordered tbllist  table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>PostTitle</th>
                            <th>Salary</th>
                            <th>Designation</th>
                            <th>Location</th>
                            <th>EmployeeStatus</th>
                            <th>LastDate</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in Model)
                        {
                            
                                <tr>
                                <td>@e.Department.Dept_Name</td>
                                <td>@e.PostTitle</td>
                                <td>@e.Salary</td>
                                <td>@e.Designation</td>
                                <td>@e.Location</td>
                                <td>@e.EmployeeStatus</td>
                                <td>@e.LastDate</td>
                                    <td class="text-nowrap">
                                        <span data-toggle="tooltip" title="Details!">
                                        @Html.ActionLink(" ", "PostDetails", new { id = e.PostId }, new { @class = "fa fa-info-circle btn btn-info btn-xs", @target = "_blank" })
                                        </span>
                                        <span data-toggle="tooltip" title="Edit!">
                                        @Html.ActionLink(" ", "PostEdit", new { id = e.PostId }, new { @class = "fa fa-edit btn btn-warning btn-xs", @target = "_blank" })
                                        </span>
                                        <span data-toggle="tooltip" title="Delete!">
                                        @Html.ActionLink(" ", "PostDelete", new { id = e.PostId }, new { @class = "fa fa-trash btn btn-danger btn-xs" })
                                        </span>
                                    </td>
                                </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
            <br />
        </form>



         


    </div>
</div>






