@model IEnumerable<GTERP.Models.Recruitment.HR_Recruitment_Post>
@{

 
}
<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">

    @foreach (var item in Model)
    {

<h4>Are you sure you want to delete this?</h4>

    <dl class="row">
                <dt class="col-sm-2">
                    PostTitle
                </dt>
                <dd class="col-sm-10">
                    @item.PostTitle
                </dd>
                <dt class="col-sm-2">
                    Vacancy
                </dt>
                <dd class="col-sm-10">
                    @item.Vacancy
                </dd>
                <dt class="col-sm-2">
                    Designation
                </dt>
                <dd class="col-sm-10">
                    @item.Designation
                </dd>
                <dt class="col-sm-2">
                    Department
                </dt>
                <dd class="col-sm-10">
                    @item.Department.Dept_Name
                </dd>
                <dt class="col-sm-2">
                    Salary
                </dt>
                <dd class="col-sm-10">
                    @item.Salary
                </dd>

                <dt class="col-sm-2">
                    Location
                </dt>
                <dd class="col-sm-10">
                    @item.Location
                </dd>
                <dt class="col-sm-2">
                    LastDate
                    </dt>
                    <dd class="col-sm-10">
                        @item.LastDate
                    </dd>
                </dl>
            
    
    @*//<a asp-action="DeleteConfirmed" asp-route-id="@Model.PostId" class="btn btn-outline-info m-2 btn-sm">delete</a>*@
    <form asp-action="Delete" asp-route-id="@item.PostId" style="height:100px">
        <input type="hidden" asp-for="@item.PostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

                }
            </div>
        </div>
    </div>  