@model IEnumerable<GTERP.Models.Recruitment.HR_Recruitment_Post>

@{


}

<div class="container-fluid card">


    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
    @foreach (var item in Model)
    {
        
    
    <dl class="row">
        <dt class="col-sm-2">
            PostTitle
        </dt>
        <dd class="col-sm-10">
            @item.PostTitle
        </dd>
        <dt class="col-sm-2">
           Vacancy
        </dt>
        <dd class="col-sm-10">
            @item.Vacancy
        </dd>
        <dt class="col-sm-2">
            Designation
        </dt>
        <dd class="col-sm-10">
                @item.Designation
        </dd>
        <dt class="col-sm-2">
           Department
        </dt>
        <dd class="col-sm-10">
            @item.Department.Dept_Name
        </dd>
        <dt class="col-sm-2">
            Salary
        </dt>
        <dd class="col-sm-10">
                @item.Salary
        </dd>

        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
                @item.Location
        </dd>
        <dt class="col-sm-2">
            LastDate
        </dt>
        <dd class="col-sm-10">
                @item.LastDate
        </dd>
        <dt class="col-sm-2">
            EmployeeStatus
        </dt>
        <dd class="col-sm-10">
                @item.EmployeeStatus
        </dd>

        <dt class="col-sm-2">
            JobContext
        </dt>
        <dd class="col-sm-10">
                @item.JobContext
        </dd>
        <dt class="col-sm-2">
            JobResponsibility
        </dt>
        <dd class="col-sm-10">
                @item.JobResponsibility
        </dd>
        <dt class="col-sm-2">
            Educational Requirement
        </dt>
        <dd class="col-sm-10">
                @item.E_Requirement
        </dd>
        <dt class="col-sm-2">
            Additional Requirement
        </dt>
        <dd class="col-sm-10">
                @item.A_Requirement
        </dd>
        <dt class="col-sm-2">
            OtherBenifits
        </dt>
        <dd class="col-sm-10">
                @item.OtherBenifits
        </dd>
    </dl>
  
<div style="height:100px">
        <a asp-action="PostEdit" asp-route-id="@item.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    }
</div>
</div>
</div>