@model GTERP.Models.ProductionTargetSetup

<style>
    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "ProductionTarget", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="text-center mb-2">
            <h1 id="styletext">Production Target Setup</h1>
        </div>

        @if (Model != null)
        {
            <input type="hidden" id="PrdTargetSetId" name="PrdTargetSetId" value="@Model.PrdTargetSetId" />
        }
        else
        {
            <input type="hidden" asp-for="PrdTargetSetId" value="0" />
        }
        <div id="modalbodyfahad" class="row">
            <div class="col-md-12 order-md-1">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-center">@ViewBag.Title Production Target </h6>
                    </div>
                    <div class="card-body p-2">
                        <form class="needs-validation" novalidate>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="PrdUnitId" class="control-label">Unit</label>
                                                </span>
                                            </div>
                                            <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalYearId" class="control-label"></label>
                                                </span>
                                            </div>
                                            <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="FiscalMonthId" class="control-label"></label>
                                                </span>
                                            </div>
                                            <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.FiscalYearGoal)
                                                </span>
                                            </div>
                                            <input asp-for="FiscalYearGoal" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FiscalYearGoal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.FiscalMonthGoal)
                                                </span>
                                            </div>
                                            <input asp-for="FiscalMonthGoal" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FiscalMonthGoal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.PrdCapacityYear)
                                                </span>
                                            </div>
                                            <input asp-for="PrdCapacityYear" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.PrdCapacityYear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.PrdCapacityMonth)
                                                </span>
                                            </div>
                                            <input asp-for="PrdCapacityMonth" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.PrdCapacityMonth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.Remarks)
                                                </span>
                                            </div>
                                            <textarea asp-for="Remarks" class="form-control"></textarea>
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center m-2">

                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 col-12">

                                        @if (ViewBag.Title == "Create")
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary rounded-0 btn-block" />

                                            @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                        }
                                        else if (ViewBag.Title == "Edit")
                                        {
                                            <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                            @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                        }
                                        else if (ViewBag.Title == "Delete")
                                        {
                                            <button class="btn btn-danger rounded-0 btn-block" type="button" onclick="target_delete()">Delete</button>
                                        }


                                    </div>
                                    <div class="col-md-4 col-12">
                                        @Html.ActionLink("Back", "Index", "ProductionTarget", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        //$("#PrdUnitId").select2();
        //$("#FiscalYearId").select2();

        $("#PrdCapacityYear").keyup(function () {
            $("#PrdCapacityMonth").val(($(this).val().trim() / 12).toFixed(2));
        });

        //$("#PrdCapacityMonth").keyup(function () {
        //    $("#PrdCapacityYear").val(($(this).val().trim() * 12).toFixed(2));
        //});

         $("#FiscalYearId").change(function () {
            $("#FiscalMonthId").empty();
            $.ajax({
                url: '@Url.Action("GetFiscalMonth", "SalesTarget")',
                data: { id: $("#FiscalYearId").val() }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        $("#FiscalMonthId").append(`<option value="${result[i].FiscalMonthId}">${result[i].MonthName}</option>`);
                    }

                }
            });
        });

    function target_delete() {

        var PrdTargetSetId = $("#PrdTargetSetId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "ProductionTarget")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: PrdTargetSetId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "ProductionTarget")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


