@model IEnumerable<GTERP.Models.GatePass>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GatePassNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatePassFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYearId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalMonthId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliceStationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateByUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GatePassNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatePassFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYearId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalMonthId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliceStationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateByUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GatePassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GatePassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GatePassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
