@model IEnumerable<GTERP.Models.Company>
@{
    ViewBag.Title = "Company Info Input";
}
<div class="container-fluid">
        <div class="row text-center mb-2">

            <div class="col-md-3 col-12">
                @Html.ActionLink("Company Creation", "CreateCompanies", null, null, new { @class = "btn btn-outline-info btn-block rounded-0", @id = "btnBack" })
            </div>

            <div class="col-md-3 col-12">
                <h2 id="styletext">Company List</h2>
            </div>
            <div class="col-md-6">

            </div>
        </div>
  

    <form class="card p-2 table-responsive">
        <table id="tbllist" class="table table-striped table-bordered table-sm  table-hover" cellspacing="0" width="100%">
            <thead class="text-nowrap">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.vBusinessTypeCompany.Name)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.vCompanyCompany.CompanyName)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.vCountryCompany.CountryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrimaryAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SecoundaryAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.comPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.comPhone2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.comEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.comWeb)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DecimalField)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContPerson)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContDesig)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsInActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isBarcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isProduct)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDoller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isCorporate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isPOSprint)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsService)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isOldDue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isShortcutSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isRestaurantSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isTouch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isShoeSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isIMEISale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isMultipleWh)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.IsEPZ)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.ComImageHeader)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.ComLogo)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="100">
                            @Html.DisplayFor(modelItem => item.vBusinessTypeCompany.Name)
                        </td>
                        @*<td>
                    @Html.DisplayFor(modelItem => item.vCompanyCompany.CompanyName)
                </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.vCountryCompany.CountryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecoundaryAddress)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.comPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.comPhone2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.comEmail)
                        </td>
                        <td>
                             @Html.DisplayFor(modelItem => item.comWeb)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DecimalField)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContPerson)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContDesig)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsInActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isBarcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isProduct)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDoller)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isCorporate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isPOSprint)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isOldDue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isShortcutSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isRestaurantSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isTouch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isShoeSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isIMEISale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isMultipleWh)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.IsEPZ)
                        </td>
                        <td id="uploadPhoto">
                            @if (item.ComImageHeader == null)
                            {
                                <img src="@Url.Content("Content/img/" + 0 + ".png")" class="img-thumbnail" multiple />
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ComImageHeader))" class="img-thumbnail">

                            }
                        </td>
                        <td id="uploadPhoto">
                            @if (item.ComLogo == null)
                            {
                                <img src="@Url.Content("Content/img/" + 0 + ".png")" class="img-thumbnail" multiple />
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ComLogo))" class="img-thumbnail">

                            }
                        </td>
                        <td class="text-nowrap">
                            <span data-toggle="tooltip" title="Edit!">
                                @Html.ActionLink(" ", "EditCompanies", new { id = item.ComId }, new { @class = "fas fa-edit btn btn-warning btn-xs", @target = "_blank" })
                            </span>
                            <span data-toggle="tooltip" title="Delete!">
                                @Html.ActionLink(" ", "DeleteCompanies", new { Id = item.ComId }, new { @class = "far fa-trash-alt btn btn-danger btn-xs" })
                            </span>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>



@section Scripts{

    <script>
        $(document).ready(function () {

            $('#tbllist').DataTable({
                dom: '<"dom_wrapper fh-fixedHeader"flB>tip',
                //"sDom": "<'row'<'col-sm-12'<'form-group'<f>>>>tr<'row'<'col-sm-12'<'pull-left'i><'pull-right'p><'clearfix'>>>",
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf'
                //],
                buttons: {
                    dom: {
                        button: {
                            className: 'btn rounded-0'
                        }
                    },
                    buttons: [
                        //'copy', 'csv', 'excel', 'pdf'
                        //$(this).addClass("btn-group dt-buttons justify-content-center mb-3")
                        {
                            extend: 'colvis',
                            "columns": ':not(:last-child)',
                            text: '<i class="mdi mdi-view-column"></i>',
                            className: 'btn-info',
                            titleAttr: 'Show / hide columns',
                            //collectionLayout: 'fixed two-column'

                        },
                        //{
                        //    extend: 'copy',
                        //    text: '<i class="mdi mdi-content-copy"></i>',
                        //    className: 'btn-primary',
                        //    titleAttr: 'Copy to Clipboard'
                        //},
                        //{
                        //    extend: 'csv',
                        //    text: '<i class="mdi mdi-note-outline"></i>',
                        //    className: 'btn-secondary',
                        //    titleAttr: 'Export to csv'

                        //},
                        {
                            extend: 'excel',
                            text: '<i class="mdi mdi-file-excel"></i>',
                            className: 'btn-success',
                            titleAttr: 'Export to excel'
                        },
                        {
                            extend: 'pdfHtml5',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            text: '<i class="mdi mdi-file-pdf"></i>',
                            className: 'btn-danger',
                            titleAttr: 'Export to PDF',
                            //exportOptions: {
                            //    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            //}

                        },
                        {
                            extend: 'print',
                            text: '<i class="mdi mdi-printer"></i>',
                            className: 'btn-info',
                            titleAttr: 'Print Table'
                        }

                    ]
                },
                "columnDefs": [
                    // Hide second, third and fourth columns
                    //{ "visible": false, "targets": [3, 4, 7, 9, 10] }
                ],
                "searching": true,
                "paging": false,
                "ordering": true,
                "info": true,
                "iDisplayLength": 15,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                "scrollX": true,
                "scrollY": "60vh",
                "scrollCollapse": true,
                language: {
                    sLengthMenu: "_MENU_",
                    search: "",
                    searchPlaceholder: "Search..."
                },
                "fixedColumns": {
                    "leftColumns": 0,
                    "rightColumns": 1


                },
                //"sScrollXInner": "100%",
                //dom: 'Blfrtip',
                ////,"fixedHeader": true
            });
        });

            //$(".search_input").addClass('form-control input-lg col-xs-12');

    </script>
}
