@model IEnumerable<GTERP.Models.CompanyPermission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateCompanyPermissions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCompanyPermissions", new { id = item.CompanyPermissionId }) |
                @Html.ActionLink("Details", "CompanyPermissionsDetails", new { id = item.CompanyPermissionId }) |
                @Html.ActionLink("Delete", "DeleteCompanyPermissions", new { id = item.CompanyPermissionId })
            </td>
        </tr>
    }

</table>
