
@model GTERP.Models.UserPermission

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateUserPermission", "ControllerFolder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="py-7 text-center">

            <h1 id="styletext">User Permission</h1>
            <p class="lead"></p>
        </div>

        @if (Model != null)
        {
            <input type="hidden" asp-for="PermissionId" value="@Model.PermissionId" />
            <input type="hidden" asp-for="DateUpdated" value="@Model.DateUpdated" />
            <input type="hidden" asp-for="DateAdded" value="@Model.DateAdded" />
            <input type="hidden" asp-for="ComId" value="@Model.ComId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="UserName" value="@Model.UserName" />

        }
        else
        {
            <input type="hidden" asp-for="PermissionId" value="0" />
            <input type="hidden" asp-for="UserName" value="" />
        }
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">User Permission @ViewBag.Title</h4>

                <form class="needs-validation card p-4" novalidate>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.AppUserId)
                                        </span>
                                    </div>
                                    <select asp-for="AppUserId" asp-items="ViewBag.Userlist" class="form-control"></select>
                                    @Html.ValidationMessageFor(model => model.AppUserId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.EmpId)
                                        </span>
                                    </div>
                                    <select asp-for="EmpId" asp-items="ViewBag.EmpId" class="form-control">
                                        <option value="">Select Employee</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-12">
                                @Html.LabelFor(model => model.IsAll)
                                <input type="checkbox" asp-for="IsAll" class="form-check form-check-inline" />
                                @Html.ValidationMessageFor(model => model.IsAll, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-4 col-12">
                                @Html.LabelFor(model => model.IsHRAndPayroll)
                                <input type="checkbox" asp-for="IsHRAndPayroll" class="form-check form-check-inline" />
                                @Html.ValidationMessageFor(model => model.IsHRAndPayroll, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-5 col-12">
                                @Html.LabelFor(model => model.IsCashbankMangement)
                                <input type="checkbox" asp-for="IsCashbankMangement" class="form-check form-check-inline" />

                                @Html.ValidationMessageFor(model => model.IsCashbankMangement, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-4 col-12">
                                @Html.LabelFor(model => model.IsBillManagement)
                                <input type="checkbox" asp-for="IsBillManagement" class="form-check form-check-inline" />

                                @Html.ValidationMessageFor(model => model.IsBillManagement, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-4 col-12">
                                @Html.LabelFor(model => model.IsStoreAndAccounts)
                                <input type="checkbox" asp-for="IsStoreAndAccounts" class="form-check form-check-inline" />
                                @Html.ValidationMessageFor(model => model.IsStoreAndAccounts, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-4 col-12">
                                @Html.LabelFor(model => model.IsGeneralAccouonts)
                                <input type="checkbox" asp-for="IsGeneralAccouonts" class="form-check form-check-inline" />
                                @Html.ValidationMessageFor(model => model.IsGeneralAccouonts, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4 col-12">
                                @Html.LabelFor(model => model.IsStore)
                                <input type="checkbox" asp-for="IsStore" class="form-check form-check-inline" />
                                @Html.ValidationMessageFor(model => model.IsStore, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-4 col-12">

                                @Html.LabelFor(model => model.IsProduction)
                                <input type="checkbox" asp-for="IsProduction" class="form-check form-check-inline" />

                                @Html.ValidationMessageFor(model => model.IsProduction, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-4 col-12">
                                @Html.LabelFor(model => model.IsMedical)
                                <input type="checkbox" asp-for="IsMedical" class="form-check form-check-inline" />
                                @Html.ValidationMessageFor(model => model.IsMedical, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Warehouse_delete()">Delete</button>
                                }


                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "UserPermissionList", "ControllerFolder", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        $("#EmpId").select2();
        $("#AppUserId").select2();

        $("form").submit(function () {
            $("#UserName").val($("#AppUserId option:selected").text().trim());

        });

    function Warehouse_delete() {

        var PermissionId = $("#PermissionId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeleteUserPermission", "ControllerFolder")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: PermissionId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("UserPermissionList", "ControllerFolder")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




@*@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Create</h1>

    <h4>Warehouse</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WarehouseName" class="control-label"></label>
                    <input asp-for="WarehouseName" class="form-control" />
                    <span asp-validation-for="WarehouseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WarehouseShortName" class="control-label"></label>
                    <input asp-for="WarehouseShortName" class="form-control" />
                    <span asp-validation-for="WarehouseShortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


