@model GTERP.Models.Module_Menu_Action

<style>
    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateModuleMenuAction", "ModuleMenuAction", FormMethod.Post))
{

    @if (ViewBag.Title == "Create")
    {
        <div class="container">

            
            <input name="ModuleMenuId" id="ModuleMenuId" type="hidden" value="@ViewBag.ModuleMenuId" />


            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="modalbodyfahad" class="card">
                        <div class="card-header">
                            <h4 id="styletext"> Module Menu Action - @ViewBag.Title</h4>
                        </div>

                        <div class="card-body">
                            <form class="needs-validation card p-4" novalidate>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-12">

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label>Module Menu Name</label>
                                                    </span>
                                                </div>
                                                <input name="ModuleMenuName" id="ModuleMenuName" type="text" value="@ViewBag.ModuleId" class="form-control" />
                                                @*<select asp-for="ModuleMenuId" asp-items="ViewBag.ModuleId" class="form-control">

                                                    </select>*@
                                            </div>

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label>Action Name</label>
                                                    </span>
                                                </div>

                                                <input type="text" asp-for="ActionName" name="ActionName" id="ActionName" value="" class="form-control" />
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </form>

                        </div>

                        @* for table *@
                        <div>
                            <table class="table table-bordered table-sm" id="producttable">
                                <thead class="text-center">
                                    <tr>
                                        <th hidden>Id</th>
                                        <th hidden>ModuleMenuId</th>
                                        <th>Module Menu</th>
                                        <th>Action Name</th>
                                        <th width="20">
                                            <button id="btnAdd" type="button" class="btn btn-success">Add</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">

                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-12">

                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input id="saveProduct" type="button" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                </div>
                                <div class="col-md-4 col-12">
                                    @Html.ActionLink("Back", "ModuleMenusList", "ControllerFolder", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }


    @if (ViewBag.Title == "Edit")
    {
        <div class="container">

            <input type="hidden" id="Id" value="0"/>
            <input asp-for="ModuleMenuId" name="ModuleMenuId" id="ModuleMenuId" type="hidden" value="@ViewBag.ModuleMenuId" />


            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="modalbodyfahad" class="card">
                        <div class="card-header">
                            <h4 id="styletext"> Module Menu Action - @ViewBag.Title</h4>
                        </div>

                        <div class="card-body">
                            <form class="needs-validation card p-4" novalidate>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-12">

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label>Module Menu Name</label>
                                                    </span>
                                                </div>
                                                <input name="ModuleMenuName" id="ModuleMenuName" type="text" value="@ViewBag.ModuleName" class="form-control" />
                                                @*<select asp-for="ModuleMenuId" asp-items="ViewBag.ModuleId" class="form-control">

                                                    </select>*@

                                            </div>

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label>Action Name</label>
                                                    </span>
                                                </div>

                                                <input type="text" asp-for="ActionName" name="ActionName" id="ActionName" value="" class="form-control" />
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </form>

                        </div>

                        @* for table *@
                        <div>
                            <table class="table table-bordered table-sm" id="producttable">
                                <thead class="text-center">
                                    <tr>
                                        <th hidden>Id</th>
                                        <th hidden>ModuleMenuId</th>
                                        <th>Module Menu</th>
                                        <th>Action Name</th>
                                        <th width="20">
                                            <button id="btnAdd" type="button" class="btn btn-success">Add</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach (var m in ViewBag.EditData)
                                    {
                                    <tr>
                                        <td hidden>@m.Id</td>
                                        <td hidden>@m.ModuleMenuId</td>
                                        <td>@ViewBag.ModuleName</td>
                                        <td>@m.ActionName</td>
                                        <td><a type="button" class="btn btn-outline-danger btn-sm remove">Remove</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-12">

                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input id="saveProduct" type="button" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input id="saveProduct" type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                </div>
                                <div class="col-md-4 col-12">
                                    @Html.ActionLink("Back", "ModuleMenusList", "ControllerFolder", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    }

}


@section Scripts{
    <script>

        $(document).on('click', '#btnAdd', function () {

            var Id = $('#Id').val();
            console.log(Id);
             var moduleMenuId = $("#ModuleMenuId").val();
             var moduleMenuName = $("#ModuleMenuName").val();
            var actionName = $("#ActionName").val();
            var html = '<tr><td hidden>' + Id + '</td><td hidden>' + moduleMenuId + '</td><td>' + moduleMenuName + '</td><td>' + actionName + '</td><td><a type="button" class="btn btn-outline-danger btn-sm remove">Remove</a></td></tr>';
            $('#producttable tbody').append(html);
            //alert("Hi");
            //console.log(moduleMenuId);
            //console.log(moduleMenuName);
            //console.log(actionName);
        });

        $('table').on('click', 'tr a.remove', function (e) {
            e.preventDefault();
            $(this).closest('tr').remove();
        });
        let ModuleMenuAction = [];
        $("#saveProduct").click(function (e) {
        e.preventDefault();

            $.each($("#producttable tbody tr"), function () {
                ModuleMenuAction.push({
                Id: 0,
                ModuleMenuId: $(this).find('td:eq(1)').html(),
                ActionName: $(this).find('td:eq(3)').html(),

            });
        });


            console.log(ModuleMenuAction);

        $.ajax({

                  url: '@Url.Action("CreateModuleMenuAction", "ControllerFolder")',

            data: { mmAction: ModuleMenuAction },//use id here
                  //data: JSON.stringify(salesmain),
                  type: 'POST',

                  dataType: 'json',
                  success: function () {


                      window.location.href = '@Url.Action("ModuleMenusList", "ControllerFolder")';

                  },

                  error: function () {
                      console.log("Error in the request");
                  }

              })
    });


    $("#Id").select2();

        function Data_delete() {

        var Id = $("#Id").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeleteModuleMenuAction", "ControllerFolder")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: Id }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("ModuleMenusList", "ControllerFolder")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


