@model IEnumerable<GTERP.Models.ReportPermissions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateReportPermissions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditReportPermissions", new { id = item.ReportPermissionsId }) |
                @Html.ActionLink("Details", "ReportPermissionsDetails", new { id = item.ReportPermissionsId }) |
                @Html.ActionLink("Delete", "DeleteReportPermissions", new { id = item.ReportPermissionsId })
            </td>
        </tr>
    }

</table>
