@*@model IEnumerable<GTERP.Models.Payroll.SalaryProcess>*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="SalaryProcesses">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dtPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtFest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtFestEffect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtSalAdv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtELPrcFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtELPrcLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvFestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bonusPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bonusAdvPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dtPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtFest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtFestEffect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtSalAdv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtELPrcFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtELPrcLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvFestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bonusPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bonusAdvPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
