@model GTERP.Models.RawMaterialStock

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "RawMaterialTransfer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="py-7 text-center">

            <h1 id="styletext">Raw Material Transfer</h1>
            <p class="lead"></p>
        </div>

        @if (Model != null)
        {
            <input type="hidden" id="StockId" name="PrdTargetSetId" value="@Model.StockId" />
        }
        else
        {
            <input type="hidden" asp-for="StockId" value="0" />
        }
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Raw Material Transfer @ViewBag.Title</h4>

                <form class="needs-validation card p-4" novalidate>
                    <div class="container">
                        <div class="row">
                            <div class="col mb-3">
                                <label asp-for="WarehouseId" class="control-label">Sender Warehouse</label>
                                <select asp-for="WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
                            </div>
                            <div class="col mb-3">
                                <label asp-for="ProductId" class="control-label"></label>
                                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                            </div>
                            <div class="col mb-3">
                                <label asp-for="StockQty" class="control-label">Sender Stock</label>
                                <input asp-for="StockQty" class="form-control" readonly/>
                                @Html.ValidationMessageFor(model => model.StockQty, "", new { @class = "text-danger" })

                            </div>
                             <div class="col mb-3">
                                <label asp-for="SendQty" class="control-label">Sender Stock</label>
                                <input asp-for="SendQty" class="form-control" readonly/>
                                @Html.ValidationMessageFor(model => model.StockQty, "", new { @class = "text-danger" })

                            </div>


                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <label asp-for="ReceiveWarehouseId" class="control-label"></label>
                                <select asp-for="ReceiveWarehouseId" class="form-control" asp-items="ViewBag.ReceiveWarehouseId"></select>
                            </div>
                            
                            <div class="col mb-3">
                                <label asp-for="ReceiveStockQty" class="control-label">Sender Stock</label>
                                <input asp-for="ReceiveStockQty" class="form-control" readonly/>
                                @Html.ValidationMessageFor(model => model.ReceiveStockQty, "", new { @class = "text-danger" })

                            </div>
                            <div class="col mb-3">
                                <label asp-for="ReceiveQty" class="control-label">Sender Stock</label>
                                <input asp-for="ReceiveQty" class="form-control" readonly/>
                                @Html.ValidationMessageFor(model => model.ReceiveQty, "", new { @class = "text-danger" })

                            </div>


                        </div>


                        <div class="row">
                            <div class="col mb-3">
                                <label asp-for="FiscalYearId" class="control-label"></label>
                                <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                            </div>
                            <div class="col mb-">
                                <label asp-for="FiscalMonthId" class="control-label"></label>
                                <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                            </div>
                            <div class="col mb-3">
                                @Html.LabelFor(model => model.DtInput)
                                <input type="date" asp-for="DtInput" class="form-control" />
                                @Html.ValidationMessageFor(model => model.DtInput, "", new { @class = "text-danger" })

                            </div>
                            <div class="col mb-3">
                                @Html.LabelFor(model => model.Remarks)
                                <textarea asp-for="Remarks" class="form-control"></textarea>
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        
                       

                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block" type="button" onclick="stock_delete()">Delete</button>
                                }


                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "Index", "RawMaterialReceive", null, new { @class = "btn btn-info btn-block", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        $("#WarehouseId").select2();
        $("#ProductId").select2();
        $("#FiscalYearId").select2();
        $("#FiscalMonthId").select2();

        let stock = 0;

        $("#ReceiveQty").keyup(function () {
            $("#StockQty").val(parseFloat($(this).val()) + stock);
        });
       

        $("#WarehouseId").change(function () {
            getStock()
        });

        $("#ProductId").change(function () {
            getStock()
        });

        function getStock() {
            stock = 0;
            let productId = $("#ProductId").val();
            let warehouseId = $("#WarehouseId").val();
             $.ajax({
                 url: '@Url.Action("GetStock", "RawMaterialReceive")',
                 data: { warehouseId: warehouseId, productId: productId }, //use id here
                 type: 'GET',
                 dataType: 'json',
                 success: function (result) {
                     stock = result;
                     $("#StockQty").val(stock);
                 },
                 error: function (ex) {
                     toastr.error("Something wrong");
                 }
            });
        }




    function stock_delete() {

        var StockId = $("#StockId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "RawMaterialReceive")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: StockId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "RawMaterialReceive")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


