@model GTERP.Models.Cat_Department

<div id="modalbodyfahad" class="card">
    <div>
        <div class="card-header">
            <h4 id="styletext">Department Entry</h4>
        </div>
        <div class="card-body">

            <form class="needs-validation" name="CreateForm">
                <input hidden asp-for="ComId" value="@Model.ComId" />
                <input hidden asp-for="DateAdded" value="@Model.DateAdded" />
                <input hidden asp-for="UserId" value="@Model.UserId" />

                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                        @Html.LabelFor(model => model.DeptName)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                        @Html.LabelFor(model => model.DeptCode)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.DeptCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12 col-12">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                        @Html.LabelFor(model => model.DeptBangla)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.DeptBangla, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptBangla, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text py-0">
                                        @Html.LabelFor(model => model.Slno)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Slno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Slno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Save" onclick="CreateDept()" class="btn btn-primary btn-md btn-block rounded-0" />
            </form>
        </div>
    </div>
</div>