@model IEnumerable<GTERP.ViewModels.SetApproveViewModel>
@{

    Company company = ViewBag.CompanyName;
    List<Cat_Variable> apptype = ViewBag.ApprovalList;
}
<form asp-action="ApproveEntryMenu" method="post" id="searchApprove">
    <h2 id="styletext" class="my-2 text-center">Show Approval Data</h2>
    <div class="card p-3">
        <div class="row">

            <div class="col-md-4 col-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Company
                        </span>
                    </div>
                    <select name="comid" id="comid" class="form-control" data-size="5">
                        <option value="@company.CompanyCode">@company.CompanyName</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-12" id="divItemGroup">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Approved By
                        </span>
                    </div>

                    <select id="useridPermission"
                            class="form-control form-control-sm"
                            asp-items="@ViewBag.useridPermission">
                    </select>

                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Approve Type
                        </span>
                    </div>
                    <select name="approve" id="approve" class="form-control">
                        @foreach (var a in apptype)
                        {
                            <option value="@a.VarId">@a.VarName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <button type="submit" class="btn btn-success">Show Data</button>
            </div>
            <div class="col-md-3 col-12">                
                <button type="button" id="approvebtn" class="btn btn-success">Approved</button>
            </div>

        </div>
        </div>


</form>

<div class="table-responsive mt-2">
    @*<div>
            <div class="row d-flex justify-content-between">
                <div></div>
                <div class="col-2 offset-10" style="background-color:rgb(234 232 232);padding:5px 10px;">
                    <input type="checkbox" onclick="toggle(this)" style="cursor:pointer" />
                    <span class="font-weight-bold ml-2">Checked All</span>
                </div>
            </div>
        </div>*@
    @if (ViewBag.TableName == "Salary")
    {
        <table id="tblapprove" class="table table-bordered table-hover table-striped text-nowrap " width="100%">
            <thead>
                <tr>
                    <th hidden>EmpId</th>
                    <th hidden>Approval Type</th>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Section</th>
                    <th>Gross Salary</th>
                    <th>Basic Salary</th>
                    <th>House Rent</th>
                    <th width="150">Medical Allowance</th>
                    <th>Conveyance Allowance</th>
                    <th>Food Allowance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr id="table-row">
                            <td class="row-value" hidden>@item.EmpId</td>
                            <td hidden>@item.ApprovalType</td>
                            <td>@item.EmpCode</td>

                            <td>@item.EmpName</td>
                            <td>@item.DeptName</td>
                            <td>@item.DesigName</td>
                            <td>@item.SectName</td>
                            <td>@item.GS</td>
                            <td>@item.BS</td>
                            <td>@item.HR</td>
                            <td>@item.MA</td>
                            <td>@item.CA</td>
                            <td>@item.FA</td>
                            <td>
                                <input name="Remarks" id="Remarks" class="form-control" />
                            </td>

                        </tr>
                    }

                }
            </tbody>

        </table>

    }

    @if (ViewBag.TableName == "Employee")
    {
        <table id="tblapprove" class="table table-bordered table-hover table-striped text-nowrap " width="100%">
            <thead>
                <tr>
                    <th hidden>EmpId</th>
                    <th hidden>Approval Type</th>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Join Date</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Section</th>
                    <th>Line</th>
                    <th>Gender</th>
                    <th>Religion</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr id="table-row">
                            <td class="row-value" hidden>@item.EmpId</td>
                            <td hidden>@item.ApprovalType</td>
                            <td>@item.EmpCode</td>
                            <td>@item.EmpName</td>
                            <td>@item.JoinDate.ToString("dd-MMM-yyyy")</td>
                            <td>@item.DeptName</td>
                            <td>@item.DesigName</td>
                            <td>@item.SectName</td>
                            <td>@item.Line</td>
                            <td>@item.Gender</td>
                            <td>@item.Religion</td>
                            <td>
                                <input name="Remarks" id="Remarks" class="form-control" />
                            </td>
                        </tr>
                    }

                }
            </tbody>

        </table>

    }

    @if (ViewBag.TableName == "Release")
    {
        <table id="tblapprove" class="table table-bordered table-hover table-striped text-nowrap " width="100%">
            <thead>
                <tr>
                    <th hidden>EmpId</th>
                    <th hidden>Approval Type</th>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Join Date</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Section</th>
                    <th>Release Type</th>
                    <th>Last Present Date</th>
                    <th>Release Date</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr id="table-row">
                            <td class="row-value" hidden>@item.EmpId</td>
                            <td hidden>@item.ApprovalType</td>
                            <td>@item.EmpCode</td>
                            <td>@item.EmpName</td>
                            <td>@item.JoinDate.ToString("dd-MMM-yyyy")</td>
                            <td>@item.DeptName</td>
                            <td>@item.DesigName</td>
                            <td>@item.SectName</td>
                            <td>@item.RelType</td>
                            <td>@item.LastPresentDate.ToString("dd-MMM-yyyy")</td>
                            <td>@item.ReleaseDate.ToString("dd-MMM-yyyy")</td>
                            <td>
                                <input name="Remarks" id="Remarks" class="form-control" />
                            </td>
                        </tr>
                    }

                }
            </tbody>

        </table>

    }

    @if (ViewBag.TableName == "Leave")
    {
        <table id="tblapprove" class="table table-bordered table-hover table-striped text-nowrap " width="100%">
            <thead>
                <tr>
                    <th hidden>EmpId</th>
                    <th hidden>Approve Type</th>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Leave Type</th>
                    <th>Input Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Total Day</th>
                    <th>Status</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr id="table-row">
                            <td class="row-value" hidden>@item.EmpId</td>
                            <td hidden>@item.ApprovalType</td>
                            <td>@item.EmpCode</td>
                            <td>@item.EmpName</td>
                            <td>@item.InputType</td>
                            <td>@item.InputDate.ToString("dd-MMM-yyyy")</td>
                            <td>@item.DtFrom.ToString("dd-MMM-yyyy")</td>
                            <td>@item.DtTo.ToString("dd-MMM-yyyy")</td>
                            <td>@item.TotalDay</td>
                            <td>@(item.Status=="0"?"Pending":"Approve")</td>

                            <td>
                                <input name="Remarks" id="Remarks" class="form-control" />
                            </td>
                        </tr>
                    }

                }
            </tbody>

        </table>

    }

    @if (ViewBag.TableName == "Increment")
    {
        <table id="tblapprove" class="table table-bordered table-hover table-striped text-nowrap " width="100%">
            <thead>
                <tr>
                    <th hidden>EmpId</th>
                    <th hidden>Approve Type</th>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Increment Type</th>
                    <th>OldGS</th>
                    <th>OldBS</th>
                    <th>OldHR</th>
                    <th>OldMA</th>
                    <th>OldTA</th>
                    <th>OldFA</th>
                    <th>Amount</th>
                    <th>NewGS</th>
                    <th>NewBS</th>
                    <th>NewHR</th>
                    <th>NewMA</th>
                    <th>NewTA</th>
                    <th>NewFA</th>
                    <th>Old Designation</th>
                    <th>Old Section</th>
                    <th>Old EmpType</th>
                    <th>New Designation</th>
                    <th>New Section</th>
                    <th>New EmpType</th>

                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr id="table-row">
                    <td class="row-value" hidden>@item.EmpId</td>
                    <td hidden>@item.ApprovalType</td>
                    <td>@item.EmpCode</td>
                    <td>@item.EmpName</td>
                    <td>@item.IncType</td>
                    <td>@item.GS</td>
                    <td>@item.BS</td>
                    <td>@item.HR</td>
                    <td>@item.MA</td>
                    <td>@item.CA</td>
                    <td>@item.FA</td>
                    <td>@item.Amount</td>
                    <td>@item.NewSalary</td>
                    <td>@item.NewBS</td>
                    <td>@item.NewHR</td>
                    <td>@item.NewMA</td>
                    <td>@item.NewTA</td>
                    <td>@item.NewFA</td>
                    <td>@item.OldDesig</td>
                    <td>@item.OldSect</td>
                    <td>@item.OldEmpType</td>
                    <td>@item.DesigName</td>
                    <td>@item.SectName</td>
                    <td>@item.EmpTypeName</td>
                    <td>
                        <input name="Remarks" id="Remarks" class="form-control" />
                    </td>
                </tr>
                    }

                }
            </tbody>

        </table>

    }

    @if (ViewBag.TableName == "FixedAtt")
    {
        <table id="tblapprove" class="table table-bordered table-hover table-striped text-nowrap " width="100%">
            <thead>
                <tr>
                    <th hidden>EmpId</th>
                    <th hidden>Approve Type</th>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>DtPunchDate</th>
                    <th>TimeIn</th>
                    <th>TimeOut</th>
                    
                    <th>Status</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr id="table-row">
                    <td class="row-value" hidden>@item.EmpId</td>
                    <td hidden>@item.ApprovalType</td>
                    <td>@item.EmpCode</td>
                    <td>@item.EmpName</td>
                    <td>@item.PunchDate.ToString("dd-MMM-yyyy")</td>
                    <td>@item.TimeIn</td>
                    <td>@item.TimeOut</td>
                   
                    <td>@item.Status</td>

                    <td>
                        <input name="Remarks" id="Remarks" class="form-control" />
                    </td>
                </tr>
                    }

                }
            </tbody>

        </table>

    }
</div>
@section Styles{

    <style>


        #styletext {
            color: transparent;
            background: #666666;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
            font-weight: 100;
            font-size: 40px;
        }
        
    </style>
}

@section Scripts{ 

    <script>
        var table;
        $(document).ready(function () {
            table = $('#tblapprove').DataTable({
                /*"dom": '<"pull-left"f><"pull-right"l>tip',*/
                dom: 'Blfrtip',
                "searching": true,
                paging: false,
                scrollY: true,
                scrollX: true,
                scrollY: '300px',
                scrollCollapse: true,
                language: {
                    search: '',
                    searchPlaceholder: "Search...",
                    selectAll: "Select all items",
                    selectNone: "Select none"
                },
                select: {
                    style: 'multi',
                    // style: 'os',
                    selector: 'td'
                },
                buttons: [

                    'selectAll',
                    'selectNone',

                ]
            });

        });


        var ApproveDataList = [];
        var ApproveData = {
            EmpId: "",
            ApproveType:"",
            ApprovedBy: "",
            Remarks: "",
            InputDate:""
        }
        $('#approvebtn').click(function () {


            $.each($("#tblapprove tbody tr.selected"), function () {
                ApproveDataList.push({
                    EmpId: $(this).find('td:eq(0)').html(),
                    ApproveType: $(this).find('td:eq(1)').html(),
                    ApprovedBy: $('#useridPermission').val(),
                    Remarks: $(this).find("input[name='Remarks']").val(),
                    LeaveType: $(this).find('td:eq(4)').html(),
                    InputDate: $(this).find('td:eq(5)').html()
                });
            });

            console.log(ApproveDataList);
            $.ajax({

                url: '@Url.Action("SaveApprovalList", "HRVariables")',

                data: { Approve: ApproveDataList },//use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',

                dataType: 'json',
                success: function (data) {
                    if (data.Success == "1") {
                        customFile('1', data.ex);
                        window.setTimeout(function () {
                            // Move to a new location or you can do something else
                            window.location.href = '@Url.Action("ApproveEntryMenu", "HRVariables")';
                        }, 500);
                    }

                },

                error: function () {
                    console.log("Error in the request");
                }

            });

        });

        $('#disapprovebtn').click(function () {


            $.each($("#tblapprove tbody tr.selected"), function () {
                ApproveDataList.push({
                    EmpId: $(this).find('td:eq(0)').html()

                });
            });

            console.log(ApproveDataList);
            $.ajax({

                url: '@Url.Action("SaveDisapproveList", "HRVariables")',

                data: { Approve: ApproveDataList },//use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',

                dataType: 'json',
                success: function (data) {
                        if (data.Success == "1") {
                        customFile('2', result.ex);
                        window.setTimeout(function () {
                            // Move to a new location or you can do something else
                            window.location.href = '@Url.Action("ApproveEntryMenu", "HRVariables")';
                        }, 500);
                    }
                    console.log(data);


                },

                error: function () {
                    console.log("Error in the request");
                }

            });

        });
    </script>
}
