@model GTERP.Models.Cat_PostOffice

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreatePostOffice", "HRVariables", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-md-6  offset-md-3 col-12">
                @if (Model != null)
                {
                <input type="hidden" id="POId" name="POId" value="@Model.POId" />
                }
                else
                {
                    <input type="hidden" asp-for="POId" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext">Post Office Entry - @ViewBag.Title</h4>
                        </div>

                        <div class="card-body">
                            <form class="needs-validation" novalidate>

                                <input type="hidden" asp-for="ComId"/>
                                <input type="hidden" asp-for="UserId"/>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.POName)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.POName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.POName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.PONameB)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.PONameB, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PONameB, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.POCode)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.POCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.POCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.DistId, "District")
                                                    </span>
                                                </div>
                                                @*@Html.DropDownList("DistId", ViewBag.DistId, "--Please Select--", htmlAttributes: new { @class = "form-control" })*@
                                               
                                                @Html.DropDownListFor(x => x.DistId, new SelectList((IEnumerable<SelectListItem>
                                                    )ViewBag.DistId, "Value", "Text"), "--Please Select--", htmlAttributes: new { @class = "form-control", id = "DistId" })

                                                    @Html.ValidationMessageFor(model => model.DistId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.PStationId, "Police Station")
                                                    </span>
                                                </div>
                                                <select asp-for="PStationId" asp-items="ViewBag.PStationId" class="form-control"></select>
                                                @*@Html.DropDownList("PStationId", ViewBag.PStationId, "--Please Select--", htmlAttributes: new { @class = "form-control" })*@
                                                @Html.ValidationMessageFor(model => model.PStationId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">

                                    @if (ViewBag.Title == "Create")
                                    {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="PostOffice_delete()">Delete</button>
                                    }


                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "PostOfficeList", "HRVariables", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>

       
    </div>

}

@section Scripts{
    <script>

        $("#DistId").select2();

        $(document).ready(function () {
            var distId = $("#DistId").val();
            getPolicestation(distId);
        });

        function getPolicestation(distId) {
            $("#PStationId").empty();
            $.ajax({
                url: '@Url.Action("GetPoliceStation", "HRVariables")',
                data: { id: distId },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#PStationId").append(
                            `<option value="${data[i].PStationId}">${data[i].PStationName}</option>`
                        );
                    }
                }
            });
        }

        $("#DistId").change(function () {
            var dId = $("#DistId").val();
            $("#PStationId").empty();
            $.ajax({
                url: '@Url.Action("GetPoliceStation", "HRVariables")',
                data: { id: dId }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#PStationId").append(
                            `<option value="${data[i].PStationId}">${data[i].PStationName}<option/>`
                        );
                    }
                }
            });
        });

        $("#PStationId").select2();

    function PostOffice_delete() {

        var POId = $("#POId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeletePostOffice", "HRVariables")',
                data: JSON.stringify({ id: POId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("PostOfficeList", "HRVariables")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





