@model GTERP.Models.Cat_ReportSignatory

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateSignatory", "HRVariables", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12">
                @if (Model != null)
                {
                    <input type="hidden" asp-for="SignatoryId" value="@Model.SignatoryId" />
                }
                else
                {
                    <input type="hidden" asp-for="SignatoryId" value="0" />
                }
                <div id="modalbodyfahad" class="row">
                    <div class="col-md-12 order-md-1">
                        <div class="card">
                            <div class="card-header">
                                <h4 id="styletext">Signatory Entry - @ViewBag.Title</h4>
                            </div>

                            <div class="card-body">
                                <form class="needs-validation" novalidate>

                                    <input type="hidden" asp-for="ComId" />
                                    <input type="hidden" asp-for="UserId" />

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-12" hidden>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Module)
                                                        </span>
                                                    </div>
                                                    <select asp-for="Module" class="form-control">
                                                        <option value="HRIS">HRIS</option>
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.Module, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-12 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.ReportName)
                                                        </span>
                                                    </div>
                                                    @Html.DropDownListFor(x => x.ReportName, new SelectList((IEnumerable<SelectListItem>
                                                   )ViewBag.ReportName, "Value", "Text"), "--Please Select--", htmlAttributes: new { @class = "form-control", id = "ReportName" })

                                                    @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.FromDate)
                                                        </span>
                                                    </div>
                                                    <input type="date" asp-for="FromDate" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.ToDate)
                                                        </span>
                                                    </div>
                                                    <input type="date" asp-for="ToDate" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory1)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory1" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig1)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig1" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory1B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory1B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory1B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig1B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig1B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig1B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory2)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory2" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig2)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig2" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory2B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory2B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory2B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig2B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig2B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig2B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory3)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory3" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory3, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig3)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig3" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig3, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory3B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory3B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory3B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig3B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig3B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig3B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory4)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory4" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory4, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig4)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig4" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig4, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory4B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory4B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory4B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig4B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig4B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig4B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory5)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory5" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory5, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig5)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig5" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig5, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory5B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory5B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory5B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig5B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig5B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig5B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory6)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory6" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory6, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig6)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig6" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig6, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.Signatory6B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="Signatory6B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Signatory6B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            @Html.LabelFor(model => model.SignatoryDesig6B)
                                                        </span>
                                                    </div>
                                                    <input asp-for="SignatoryDesig6B" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.SignatoryDesig6B, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="card-footer">
                                <div class="row m-2">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 col-12">

                                        @if (ViewBag.Title == "Create")
                                        {
                                        <input type="submit" value="Save" class="btn btn-primary rounded-0 btn-block" />

                                        @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                        }
                                        else if (ViewBag.Title == "Edit")
                                        {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                        @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                        }
                                        else if (ViewBag.Title == "Delete")
                                        {
                                        <button class="btn btn-danger rounded-0 btn-block" type="button" onclick="Signatory_delete()">Delete</button>
                                        }


                                    </div>
                                    <div class="col-md-4 col-12">
                                        @Html.ActionLink("Back", "SignatoryList", "HRVariables", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

}

@section Scripts{
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            $("#ReportName").select2();
            var fromDateInput = document.getElementById("FromDate");
            var toDateInput = document.getElementById("ToDate");

            // Get the current date
            var currentDate = new Date();

            // Format the date as yyyy/MMM/dd
            var formattedDate = currentDate.getFullYear() + '-' + ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' + ('0' + currentDate.getDate()).slice(-2);

            fromDateInput.value = formattedDate;
            toDateInput.value = formattedDate;

            var SignatoryId = document.getElementById("SignatoryId").value;


            if (SignatoryId == 0) {
                document.getElementById("Signatory1").value = '.';
                document.getElementById("SignatoryDesig1").value = '.';
                document.getElementById("Signatory2").value = '.';
                document.getElementById("SignatoryDesig2").value = '.';
                document.getElementById("Signatory3").value = '.';
                document.getElementById("SignatoryDesig3").value = '.';
                document.getElementById("Signatory4").value = '.';
                document.getElementById("SignatoryDesig4").value = '.';
                document.getElementById("Signatory5").value = '.';
                document.getElementById("SignatoryDesig5").value = '.';
                document.getElementById("Signatory6").value = '.';
                document.getElementById("SignatoryDesig6").value = '.';

                document.getElementById("Signatory1B").value = '.';
                document.getElementById("SignatoryDesig1B").value = '.';
                document.getElementById("Signatory2B").value = '.';
                document.getElementById("SignatoryDesig2B").value = '.';
                document.getElementById("Signatory3B").value = '.';
                document.getElementById("SignatoryDesig3").value = '.';
                document.getElementById("Signatory4B").value = '.';
                document.getElementById("SignatoryDesig4B").value = '.';
                document.getElementById("Signatory5B").value = '.';
                document.getElementById("SignatoryDesig5B").value = '.';
                document.getElementById("Signatory6B").value = '.';
                document.getElementById("SignatoryDesig6B").value = '.';
            }
        });
        function Signatory_delete() {

            var SignatoryId = $("#SignatoryId").val();
                //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeleteSignatory", "HRVariables")',

                data: JSON.stringify({ id: SignatoryId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("SignatoryList", "HRVariables")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
                }
            });
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


