@model GTERP.Models.Warehouse

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateWareHouse", "HRVariables", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-md-6  offset-md-3 col-12">
                @if (Model != null)
                {
                    <input type="hidden" id="WarehouseId" name="WarehouseId" value="@Model.WarehouseId" />
                    <input type="hidden" id="DateUpdated" name="DateUpdated" value="@Model.DateUpdated" />
                    <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />


                }
                else
                {
                    <input type="hidden" asp-for="WarehouseId" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext">Warehouse Entry - @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate>
                                <input type="hidden" asp-for="ComId" />
                                <input type="hidden" asp-for="UserId" />

                                <div class="container">
                                    <div class="row">
                                        <br>

                                        @if (Model != null)
                                        {

                                            <div class="p-3" style="font-size: 30px;">
                                                <span class="pr-2">
                                                    @Html.RadioButtonFor(model => model.WhType, "G") @Html.Label("  Group  ")
                                                </span>
                                                <span class="pr-2">
                                                    @Html.RadioButtonFor(model => model.WhType, "L") @Html.Label("  Ledger  ")
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="p-3" style="font-size: 30px;">
                                                <span class="pr-2">
                                                    @Html.RadioButtonFor(model => model.WhType, "G") @Html.Label("  Group  ")

                                                </span>
                                                <span class="pr-2">
                                                    @Html.RadioButtonFor(model => model.WhType, "L", new { Checked = "checked" }) @Html.Label("Ledger")

                                                </span>
                                            </div>
                                        }




                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.WhName)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.WhName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.WhName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.WhShortName)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.WhShortName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.WhShortName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ParentId, "Under Group")
                                                    </span>
                                                </div>
                                                @Html.DropDownListFor(x => x.ParentId, new SelectList((IEnumerable<SelectListItem>
                                                                )ViewBag.ParentId, "Value", "Text"), "--Please Select--", htmlAttributes: new { @class = "form-control", id = "ParentId" })

                                                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">

                                            @Html.LabelFor(model => model.IsMainWarehouse)
                                            <input type="checkbox" asp-for="IsMainWarehouse" class="form-check form-check-inline" />

                                            @Html.ValidationMessageFor(model => model.IsMainWarehouse, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-6 col-12">

                                            @Html.LabelFor(model => model.IsSubWarehouse)
                                            <input type="checkbox" asp-for="IsSubWarehouse" class="form-check form-check-inline" />

                                            @Html.ValidationMessageFor(model => model.IsSubWarehouse, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-6 col-12">

                                            @Html.LabelFor(model => model.IsMedicalWarehouse)
                                            <input type="checkbox" asp-for="IsMedicalWarehouse" class="form-check form-check-inline" />

                                            @Html.ValidationMessageFor(model => model.IsMedicalWarehouse, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-6 col-12">

                                            @Html.LabelFor(model => model.IsProductionWarehouse)
                                            <input type="checkbox" asp-for="IsProductionWarehouse" class="form-check form-check-inline" />

                                            @Html.ValidationMessageFor(model => model.IsProductionWarehouse, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-6 col-12">

                                            @Html.LabelFor(model => model.IsConsumableWarehouse)
                                            <input type="checkbox" asp-for="IsConsumableWarehouse" class="form-check form-check-inline" />

                                            @Html.ValidationMessageFor(model => model.IsConsumableWarehouse, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">

                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Warehouse_delete()">Delete</button>
                                    }


                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "WareHouseList", "HRVariables", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

}

@section Scripts{
    <script>

        $("#ParentId").select2();

    function Warehouse_delete() {

        var WarehouseId = $("#WarehouseId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeleteWareHouse", "HRVariables")',
                data: JSON.stringify({ id: WarehouseId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("WareHouseList", "HRVariables")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




@*@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Create</h1>

    <h4>Warehouse</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WarehouseName" class="control-label"></label>
                    <input asp-for="WarehouseName" class="form-control" />
                    <span asp-validation-for="WarehouseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WarehouseShortName" class="control-label"></label>
                    <input asp-for="WarehouseShortName" class="form-control" />
                    <span asp-validation-for="WarehouseShortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

