@model GTERP.Models.HR_ReportType



<style>
    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateHRReportType", "HRVariables", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" >
        <div class="row">
            <div class="row">

            </div>
           
        </div>

        @if (Model != null)
        {
            <input type="hidden" asp-for="ReportId" />
        }
        else
        {
            <input type="hidden" asp-for="ReportId" value="0" />
        }
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div id="modalbodyfahad" class="card">
                    <div class="card-header">
                        <h4 id="styletext"> HR Report Type Entry - @ViewBag.Title</h4>
                    </div>

                    <div class="card-body">
                        <form class="needs-validation card p-4" novalidate>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ReportType)
                                                </span>
                                            </div>
                                            <select asp-for="ReportType" asp-items="ViewBag.ReportType" class="form-control"></select>
                                            @*@Html.EditorFor(model => model.SectName, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ReportName)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ReportName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.SLNo)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.SLNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SLNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ReportPath)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ReportPath, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportPath, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="height:40px">
                                                    @Html.LabelFor(model => model.IsActive)
                                                </span>
                                            </div>

                                            <div class="input-group-append">
                                                <span class="input-group-text" style="height:40px">
                                                    @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>



                            </div>
                        </form>

                    </div>
                    <div class="card-footer">
                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-12">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Section_delete()">Delete</button>
                                }
                            </div>
                            <div class="col-md-4 col-12">
                                @Html.ActionLink("Back", "HRReportTypeList", "HRVariables", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>

}


@section Scripts{
    <script>

   // $("#Sectid").select2();

    function Section_delete() {

        var ReportId = $("#ReportId").val();
         //   alert(Sectid);
            $.ajax({

                url: '@Url.Action("DeleteHRReportType", "HRVariables")',
                //url: '@Url.Action("DeleteHRReportType")',
                data: JSON.stringify({ id: ReportId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    debugger;
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("HRReportTypeList", "HRVariables")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

