@model GTERP.Models.Cat_HRSetting



<style>


    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateHRSetting", "HRVariables", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-10 col-12" style="margin:auto auto;width:98%">
                @if (Model != null)
                {
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                }
                else
                {
                    <input type="hidden" asp-for="Id" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext">HR Salary Setting Entry - @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation card p-4" novalidate>
                                <input type="hidden" asp-for="ComId" />
                                <input type="hidden" asp-for="UserId" />
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="EmpTypeId"></label>
                                                    </span>
                                                </div>
                                                @Html.DropDownListFor(x => x.EmpTypeId, new SelectList((IEnumerable<SelectListItem>
                                                    )ViewBag.EmpTypeId, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "EmpTypeId" })

                                                <span asp-validation-for="EmpTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @*<label asp-for="CompanyCode"></label>*@
                                                        Companys
                                                    </span>
                                                </div>
                                                <select asp-for="CompanyCode" class="form-control" asp-items="ViewBag.Company">
                                                </select>
                                                <span asp-validation-for="CompanyCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12" hidden>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="LId"></label>
                                                    </span>
                                                </div>
                                                <select asp-for="LId" class="form-control" asp-items="ViewBag.LId">
                                                </select>
                                                <span asp-validation-for="LId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12" hidden>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="BId"></label>
                                                    </span>
                                                </div>
                                                <select asp-for="BId" class="form-control" asp-items="ViewBag.BId">
                                                </select>
                                                <span asp-validation-for="BId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="BS"></label>
                                                    </span>
                                                </div>
                                                <input asp-for="BS" class="form-control" />
                                                <span asp-validation-for="BS" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-1"> Is BS Percentage</span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text py-1">
                                                        @Html.CheckBoxFor(model => model.IsBSPersentage, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.IsBSPersentage, "", new { @class = "text-danger" })
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="HR"></label>
                                                    </span>
                                                </div>
                                                <input asp-for="HR" class="form-control" />
                                                <span asp-validation-for="HR" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-1"> Is HR Percentage</span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text py-1">
                                                        @Html.CheckBoxFor(model => model.IsHRPersentage, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.IsHRPersentage, "", new { @class = "text-danger" })
                                                    </span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-8 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="MA"></label>
                                                    </span>
                                                </div>
                                                <input asp-for="MA" class="form-control" />
                                                <span asp-validation-for="MA" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-1"> Is MA Percentage</span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text py-1">
                                                        @Html.CheckBoxFor(model => model.IsMAPersentage, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.IsMAPersentage, "", new { @class = "text-danger" })
                                                    </span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-5 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="CA"></label>
                                                    </span>
                                                </div>
                                                <input asp-for="CA" class="form-control" />
                                                <span asp-validation-for="CA" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row col-6 px-0 mx-0">


                                            <div class="col-md-6 col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0 pl-2"> @Html.LabelFor(model => model.IsCADifference)</span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text py-0">
                                                            @Html.CheckBoxFor(model => model.IsCADifference, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IsCADifference, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-1"> Is CA Percentage</span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text py-1">
                                                            @Html.CheckBoxFor(model => model.IsCAPersentage, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IsCAPersentage, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="FA"></label>
                                                    </span>
                                                </div>
                                                <input asp-for="FA" class="form-control" />
                                                <span asp-validation-for="FA" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row col-6 mx-0 px-0">
                                            <div class="col-md-6 col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0"> @Html.LabelFor(model => model.IsFADifference)</span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text py-0">
                                                            @Html.CheckBoxFor(model => model.IsFADifference, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IsFADifference, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-1"> Is FA Percentage</span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text py-1">
                                                            @Html.CheckBoxFor(model => model.IsFAPersentage, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IsFAPersentage, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        
                                            <div class="col-md-5 col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0"> Is Late Deduction</span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text py-0">
                                                            @Html.EditorFor(model => model.IsLateDedcution, new { htmlAttributes = new { @class = "form-control", @id = "myCheck", @onclick = "addbox()" } })
                                                            @Html.ValidationMessageFor(model => model.IsLateDedcution, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-md-5 col-12" id="area1" style="display:none;">
                                                <div class="input-group mb-2 ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            Deduction Type
                                                        </span>
                                                    </div>
                                                    <select asp-for="DeductionType" class="form-control">
                                                        <option value="Gross">Gross</option>
                                                        <option value="Basic">Basic</option>
                                                        <option value="Minute">Minute</option>
                                                    </select>

                                                    @Html.ValidationMessageFor(model => model.DeductionType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">

                                    @if (ViewBag.Title == "Create")
                                    {
                                        <input type="submit" id="save" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="HRSetting_delete()">Delete</button>
                                    }
                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "HRSettingList", "HRVariables", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>

}

@section Scripts{
    <script>

    $("#EmpTypeId").select2();
    $("#LId").select2();
    $("#BId").select2();

        // for is late deduction show and hide

        function addbox() {
            if (document.getElementById('myCheck').checked) {
                document.getElementById('area1').style.display = 'block';

            } else {
                document.getElementById('area1').style.display = 'none';

            }
        }


    function HRSetting_delete() {

        var id = $("#Id").val();
         //   alert(Sectid);
            $.ajax({

                url: '@Url.Action("DeleteHRSetting", "HRVariables")',

                data: JSON.stringify({ id: id }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    debugger;
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("HRSettingList", "HRVariables")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
        }

        $(document).ready(function () {
            addbox();
            $('input[type="checkbox"]').click(function () {
                if ($(this).prop("checked") == true) {
                    console.log("Checkbox is checked.");
                }
                else if ($(this).prop("checked") == false) {
                    console.log("Checkbox is unchecked.");
                }
            });
        })
        
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

