@model GTERP.Models.Cat_SummerWinterAllowanceSetting
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    //ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateSWAllowance", "HRVariables", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-md-6  offset-md-3 col-12">
                @if (Model != null)
                {
                <input type="hidden" id="SWAllowanceId" name="SWAllowanceId" value="@Model.SWAllowanceId" />
                }
                else
                {
                <input type="hidden" asp-for="SWAllowanceId" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext">Summer Winter Allowance Entry - @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation card p-4" novalidate>

                                <input type="hidden" asp-for="ComId" value="0" />
                                <input type="hidden" asp-for="UserId" value="0" />

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="SummerAllow" class="control-label">Summer</label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.SummerAllow, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SummerAllow, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="WinterAllow" class="control-label">Winter</label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.WinterAllow, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.WinterAllow, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="RainCoatAndGumbootAllow" class="control-label">RainCoat & Gumboot</label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.RainCoatAndGumbootAllow, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RainCoatAndGumbootAllow, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="VatDiduction" class="control-label">Vat Did. (%)</label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.VatDiduction, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.VatDiduction, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="TaxDiduction" class="control-label">Tax Did. (%) </label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TaxDiduction, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TaxDiduction, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="ProssType" class="control-label">Month</label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ProssType, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ProssType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        <label asp-for="ReferenceNo" class="control-label">Reference No</label>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">

                                    @if (ViewBag.Title == "Create")
                                    {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Department_delete()">Delete</button>
                                    }


                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "SWAllowanceList", "HRVariables", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

}

@section Scripts{
    <script>



        $('#ProssType').datepicker({
            dateFormat: 'MM-yy',
            changeMonth: true,
            changeYear: true
        });

    function Department_delete() {

        var swId = $("#SWAllowanceId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeleteSWAllowance", "HRVariables")',
                data: JSON.stringify({ id: swId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("SWAllowanceList", "HRVariables")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
                },
                error: function (err) {
                    toastr.error(err);
                }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





