@model GTERP.Models.Cat_ITInvestmentItem



<style>


    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "Cat_ITInvestment", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="py-7 text-center">

            <h1 id="styletext">Employee Income Tax Investment Entry</h1>
            <p class="lead"></p>
        </div>

        @if (Model != null)
        {
            <input type="hidden" id="ITInvestId" name="ITInvestId" value="@Model.ITInvestId" />
        }
        else
        {
            <input type="hidden" asp-for="ITInvestId" value="0" />
        }
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                @*<h4 class="mb-3">Employee Income Tax Investment Entry @ViewBag.Title</h4>*@

                <form class="needs-validation card p-4" novalidate>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="EmpId"></label>
                                        </span>
                                    </div>
                                    <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId">
                                    </select>
                                    <span asp-validation-for="EmpId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="FYID"></label>
                                        </span>
                                    </div>
                                    <select asp-for="FYID" class="form-control" asp-items="ViewBag.FYID">
                                    </select>
                                    <span asp-validation-for="FYID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="DtInput"></label>
                                        </span>
                                    </div>
                                    <input type="text" asp-for="DtInput" placeholder="Plz Select Last Date of Fiscal Year" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.DtInput, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="NSCBAmt"></label>
                                        </span>
                                    </div>
                                    <input asp-for="NSCBAmt" class="form-control" />
                                    <span asp-validation-for="NSCBAmt" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="DPSAmt"></label>
                                        </span>
                                    </div>
                                    <input asp-for="DPSAmt" class="form-control" />
                                    <span asp-validation-for="DPSAmt" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="DSSMFundAmt"></label>
                                        </span>
                                    </div>
                                    <input asp-for="DSSMFundAmt" class="form-control" />
                                    <span asp-validation-for="DSSMFundAmt" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="LIPAmt"></label>
                                        </span>
                                    </div>
                                    <input asp-for="LIPAmt" class="form-control" />
                                    <span asp-validation-for="LIPAmt" class="text-danger"></span>
                                </div>
                            </div>
                  
                            <div class="col-md-12 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label> Others Amount </label>
                                        </span>
                                    </div>
                                    <input asp-for="ReceivedTK" class="form-control" />
                                    <span asp-validation-for="ReceivedTK" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Cat_ITInvestment_delete()">Delete</button>
                                }
                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "Index", "Cat_ITInvestment", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

    $("#EmpId").select2();
        $("#FYID").select2();

        $("#DtInput").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (date) {
                // Your CSS changes, just in case you still need them
                $('a.ui-state-default').removeClass('ui-state-highlight');
                $(this).addClass('ui-state-highlight');
                var dateFormat = $("#DtInput").datepicker("option", "dateFormat");
                //setter
                $("#DtInput").datepicker("option", "dateFormat", 'dd-M-yy');
            }
        });

        function Cat_ITInvestment_delete() {

        var id = $("#ITInvestId").val();
         //   alert(Sectid);
            $.ajax({

                url: '@Url.Action("Delete", "Cat_ITInvestment")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: id }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    //alert("")
                    if (result.Success == "1") {
                        customFile('3', result.ex);
                        //toastr.error(result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "Cat_ITInvestment")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

