@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/customLoginStyle.css" rel="stylesheet" />
    <link href="~/Content/ecommerce/fonts/fontawesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/fakeloader/fakeloader.css" rel="stylesheet" />
    <script src="~/toastr.js/toastr.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/Toast/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/fakeloader/fakeloader.js"></script>

    <style>
        a, label {
            color: cadetblue;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>

   


    <div class="container">
        <span style="color:red">@ViewBag.error</span>


        <div class="row p-3">
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-12 col-12">
                        @*<div>
                        <img src="~/Content/img/anj/ANJ_Logo.png" class="img-fluid" />
                        </div>
                        <p>
                        ANJ Management
                        </p>*@
                        <div class="m-4"><img src="~/Content/img/gtrLogo.jpg" class="img-fluid" style="height:90px" /></div>
                        <div class="text-success"><h3>We have sent an OTP to your email</h3></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 ">
                <div class="login-wrap">

                    <div class="login-html">
                        <div>
                            <span style="color:red">@ViewBag.error</span>
                        </div>
                       @* <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>*@
                        <div class="login-form">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <input asp-for="UserName" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        </div>


</body>
</html>



@if (TempData["Message"] != null)
{
    <script src="~/Scripts/Toast/toaster_custom.js"></script>
    <script>customFile("@TempData["Status"]", "@TempData["Message"]");</script>
}
