@page
@model GTERP.Areas.Identity.Pages.Account.Login1Model
@*@model Tuple<GTERP.Areas.Identity.Pages.Account.Login1Model, GTERP.Areas.Identity.Pages.Account.RegisterModel>*@
@{
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/customLoginStyle.css" rel="stylesheet" />
    <link href="~/Content/ecommerce/fonts/fontawesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/fakeloader/fakeloader.css" rel="stylesheet" />
    <script src="~/toastr.js/toastr.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/Toast/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/fakeloader/fakeloader.js"></script>

    <style>
        a, label {
            color: cadetblue;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>

    <div class="container">
        <span style="color:red">@ViewBag.error</span>


        <div class="row p-3">
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div>
                        @* <div class="m-4"> *@
                            <img src="~/Content/img/GS-HRMS-Logo.png" class="img-fluid" style="height:90px" />

                        @* </div> *@

           @*  <img src="~/Content/img/anj/ANJ_Logo.png" class="img-fluid" /> *@
        </div>
        @* 
            ANJ Management *@
       
                        <p>
@*                          Genuine Technology & Research Ltd. (GTR) is the pioneer software development and automation technology company that specialize in providing services to achieve business’s essential technologies, in business development consultancy, industrial system, and IT solution. It was founded in year 2005. It develops compliance software systems for growing markets. For over the years, It has delivered a broad array of CCTV, Access Control, Attendance & Payroll system, Apparels CAD/CAM solutions for Corporate Clients. We are dedicated to our customers in serving the desired needs of total solution with an ever expanding combination of products and services for re-sellers and end users. It has a proven track record of delivering sophisticated technology solutions on time, with smart competent development teams. It has developed solutions in most broad-based markets for manufacturing, business services and distribution. It was one of the first businesses to recognize the unique needs of apparel industry and equip them with powerful, accessible and affordable CAD software. GT CAD solutions were aimed at alleviating an ever increasing production burden and giving business owners the necessary flexibility to run their factories more successfully.
 *@
                            Welcome to Genuine Technology & Research Ltd. (GTR), your premier destination for advanced software development and automation technology solutions. Since our establishment in 2005, we've been dedicated to providing essential technologies that drive business growth.
                        </p> 
                        <p>
                            At GTR, we specialize in delivering comprehensive services, including business Software development & Safty Security and Automation. Our focus on developing compliance software systems ensures your business stays ahead in rapidly evolving markets.
                            With our team of skilled professionals, we guarantee timely delivery of sophisticated technological solutions. Whether you're in manufacturing, business services, or distribution, our solutions are designed to meet your unique requirements.
                        </p>
                        <p>
                            GTR is a pioneer in providing software solutions, offering powerful, accessible, and cost-effective solutions. Our goal is to streamline production processes and empower business owners to enhance factory operations.
                            Choose GTR for reliable technology solutions that drive business success. Contact us today to learn more about how we can help your business thrive.

                        </p>
                         @*  <h1>  GROWTH WORK  </h1>
                        <h3>  HRMS  </h3> *@
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 ">
                <div class="login-wrap">

                    <div class="login-html">
                        <div>
                            <span style="color:red">@ViewBag.error</span>
                        </div>
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                        <div class="login-form">
                            <form asp-page-handler="Login" method="post">
                                @Html.AntiForgeryToken()
                                <div class="sign-in-htm">
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Sign In">
                                    </div>
                                    <div class="hr"></div>

                                    <div class="foot-lnk">
                                        <a id="forgot-password"
                                           href="https://gtrbd.net/support/Identity/Account/ForgotPassword">Forgot your password?</a>

                                    </div>


                                    <div class="text-white" style="font:bold">
                                        @Html.ValidationSummary()
                                    </div>

                                </div>



                            </form>
                            @*<form asp-page-handler="Register" method="post">
                                @Html.AntiForgeryToken()*@


                                <div class="sign-up-htm">
                                   

                                    <div class="group p-5">
                                        @*<input type="button" href="https://www.gtrbd.net/support" class="button" value="Click For Registration">*@
                                  <a href="https://www.gtrbd.net/support" target="_blank" class="btn btn-warning btn-block text-center">Click Here For Registartion</a>
                                    </div>

                                    <div class="hr"></div>
                                    <div class="foot-lnk">
                                        @*<label for="tab-1">Already Member?</label>*@
                                        <input id="tab-1" name="tab" class="sign-in"><label for="tab-1" class="tab">Already Member?</label>
                                        @*<a class="" href="@Url.Action("ForgotPassword", "Account")">Forgot your password? </a>*@
                                    </div>
                                </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


</body>
</html>




@if (TempData["Message"] != null)
{
    <script src="~/Scripts/Toast/toaster_custom.js"></script>
    <script> customFile("@TempData["Status"]","@TempData["Message"]"); </script>
}
