@model GTERP.Models.BankAccountNo

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<style>
    .input-validation-error {
        border: 2px solid #f00;
        background: #fee;
    }

    /*change by fahad for testing bonobo git*/

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }


    th {
        font-size: 14px;
    }

    td {
        font-size: 13px;
    }


    div.dataTables_length {
        float: right;
    }

    div.dataTables_filter {
        float: left;
    }

    div.dt-buttons {
        float: right;
        font-size: 12px !important;
    }


    div.dataTables_paginate {
        float: right;
    }

    div.DTTT {
        float: left;
        margin-right: 50px;
    }

    div.buttons {
        clear: both;
    }

    .fas, .far {
        font-size: 10px !important;
    }


    table.dataTable tbody td, .sorting {
        vertical-align: middle;
        text-align: center;
    }

    .sorting_asc {
        color: green;
        vertical-align: middle;
        text-align: center;
        font-style: oblique;
    }

    .sorting_desc {
        color: #0932d1;
        vertical-align: middle;
        text-align: center;
        font-style: oblique;
    }

    .table-sm th {
        padding: .8em;
        background: rgb(192,196,196);
        background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 15px;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
    }

    table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
        color: green;
    }

    .txtMultbblc.selected {
        background: linear-gradient(0deg, rgba(86, 230, 56, 0.38) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(160, 235, 157, 0.55) 100%);
        font-weight: bolder;
    }

    .txtMultpidetails.selected {
        background: linear-gradient(0deg, rgba(86, 230, 56, 0.38) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(160, 235, 157, 0.55) 100%);
        font-weight: bolder;
    }
</style>
<br />
<br />

@using (Html.BeginForm("CreateBankAccountNo", "Commercial", FormMethod.Post, new { enctype = "multipart//form-data", id = "myform" }))
{

    <input type="hidden" asp-for="BankAccountId" />
    <input type="hidden" asp-for="ComId" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="UpdateByUserId" />

    <div class="needs-validation" novalidate>
        @*@Html.AntiForgeryToken()*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*style="min-width: 1300px;"*@
        <div class="container">
            <div id="modalbodyfahad" class="row">
                <div class="col-md-8 offset-md-2 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 id="styletext" class="text-center">Bank Account Entry - @ViewBag.Title</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="input-group mb-2" id="divstyle">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Bank Account Number
                                            </span>
                                        </div>

                                        @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BankAccountNumber)
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="input-group mb-2" id="divstyle">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Company
                                            </span>
                                        </div>
                                        @Html.DropDownList("SisterConcernCompanyId", ViewBag.SisterConcernCompanyId as IEnumerable<SelectListItem>, new { id = "SisterConcernCompanyId", @class = "form-control " })
                                        @Html.ValidationMessageFor(model => model.CommercialCompanyId)

                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="input-group mb-2" id="divstyle">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Concern Bank
                                            </span>
                                        </div>

                                        @Html.DropDownListFor(x => x.OpeningBankId, new SelectList((IEnumerable<SelectListItem>
                                                        )ViewBag.OpeningBankId, "Value", "Text"), "--Please Select--", htmlAttributes: new { @class = "form-control", id = "OpeningBankId" })

                                        @Html.ValidationMessageFor(model => model.OpeningBankId)
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <div class="row text-center my-2">

                                <div class="col-md-2"></div>
                                @if (ViewBag.Title == "Create")
                                {
                                    <div class="col-md-4 col-12">
                                        @if (ViewData.ModelState.IsValid)
                                        {
                                            <button class="btn btn-success btn-block rounded-0 " type="submit" @*onclick="ExportInvoice_save()"*@>Save</button>
                                        }
                                    </div>
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <div class="col-md-4 col-12">
                                        <button class="btn btn-warning btn-block rounded-0" type="submit" @*onclick="ExportInvoice_save()"*@>Update</button>
                                    </div>
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <div class="col-md-4 col-12">
                                        <button class="btn btn-danger btn-block rounded-0" type="submit" onclick="BankAccount_delete()">Delete</button>
                                    </div>
                                }
                                <div class="col-md-4 col-12">
                                    @Html.ActionLink("Back", "BankAccountNoList", null, null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}


@section Scripts{
    <script type="text/javascript">

     function BankAccount_delete() {
            var BankAccountId = $("#BankAccountId").val();
            //alert(SalesId);
            $.ajax({
                url: '@Url.Action("DeleteBankAccountNo", "Commercial")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: BankAccountId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("BankAccountNoList", "Commercial")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
    }
    </script>

}
