@model GTERP.Models.SisterConcernCompany

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


@using (Html.BeginForm("CreateSisterConcernCompany", "Commercial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model != null)
        {

            <input type="hidden" id="SisterConcernCompanyId" name="SisterConcernCompanyId" value="@Model.SisterConcernCompanyId" />
            <input type="hidden" id="comid" name="comid" value="@Model.ComId" />
        }
        else
        {
            <input type="hidden" asp-for="ComId" value="0" />
            <input type="hidden" asp-for="SisterConcernCompanyId" value="0" />
        }


        <div id="modalbodyfahad" class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-3" id="styletext">Concern Company Entry - @ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 order-md-1">

                            <form class="needs-validation" novalidate>
                                <div class="container">
                                    <div class="row">

                                        <div class="col-md-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        @Html.LabelFor(model => model.CompanyName)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.CompanyShortName, "Short Name")
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.CompanyShortName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CompanyShortName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.PhoneNumber)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>


                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        @Html.LabelFor(model => model.Address)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        @Html.LabelFor(model => model.Address2)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.FaxNumber)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FaxNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.EmailID)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ContactPerson)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TradeLicenceNo)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TradeLicenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TradeLicenceNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TINNo)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TINNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TINNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        @Html.LabelFor(model => model.Active)
                                                    </span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text checkbox">
                                                        @Html.EditorFor(model => model.Active)
                                                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Concern_delete()">Delete</button>
                                }


                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "SisterConcernCompanyList", "Commercial", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

}





@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">

        function Concern_delete() {

            var ConcernId = $("#ConcernId").val();
                //alert(SalesId);
                $.ajax({

                    url: '@Url.Action("DeleteSisterConcernCompany", "Commercial")',
                    //url: '@Url.Action("Delete")',
                    data: JSON.stringify({ id: ConcernId }), //use id here
                    //data: JSON.stringify(salesmain),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("SisterConcernCompanyList", "Commercial")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
                });
        }



    </script>

}
