@model IEnumerable<GTERP.Models.Booking>



<table id="tblBookindata" class="tblProform table table-striped table-bordered table-sm responsive nowrap table-hover">
    <thead>
        <tr>
            <th>Booking Id</th>
            <th>Year Id</th>
            <th>Month Id</th>
            <th>District Id</th>
            <th>Police Station Id</th>
            <th>Customer Id</th>
            <th>Booking No</th>
            <th>Year</th>
            <th>Month</th>
            <th>District</th>
            <th>Police Station</th>
            <th>Customer Code</th>
            <th>Customer</th>
            <th>Allotment Qty</th>
        </tr>
    </thead>
    <tbody>
        @*@if (Model != null)
            {*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayTextFor(m => item.BookingId)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.FiscalYearId)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.FiscalMonthId)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.DistId)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.PStationId)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.YearName.FYName)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.MonthName.MonthName)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.Cat_District.DistName)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.Cat_PoliceStation.PStationName)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.Customer.CustomerCode)
                </td>
                <td>
                    @Html.DisplayTextFor(m => item.Customer.CustomerName)
                </td>

                <td>
                    @Html.DisplayTextFor(m => item.AllotmentQty)
                </td>
            </tr>
        }
        @* }*@
    </tbody>
</table>