@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using GTERP.Models.Common
@{
    var activetemplate = "sidebarA";// "abc";

    ///tabview(abc)
    ///sidebar
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    @if (HttpContextAccessor.HttpContext.Session.GetString("activemodulename").ToUpper().ToString() != null || HttpContextAccessor.HttpContext.Session.GetString("activemodulename").ToUpper().ToString() != "")
    {
        <title>GTERP- @HttpContextAccessor.HttpContext.Session.GetString("activemodulename").ToUpper().ToString() </title>
    }
    else //if (HttpContextAccessor.HttpContext.Session.GetString("activemodulename").ToUpper().ToString() == "")
    {
        <title>
            GTRERP
        </title>
    }

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/css/materialdesignicons.css" rel="stylesheet">
    <link href="~/Content/ecommerce/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />

    <link href="~/Content/ProjectLibFile/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/jquery/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/fakeloader/fakeloader.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/select2/select2-bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/select/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/select/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/bootstrap4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/buttons/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/buttons/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/fixedDataTable/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/DataTables/fixedDataTable/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/jquery/jquery.timepicker.min.css" rel="stylesheet" />

    <link href="~/Content/ProjectLibFile/css/customCssFile/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/css/metisMenu.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/css/default-css.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/css/styles.css" rel="stylesheet" />

    <link href="~/Content/ProjectLibFile/css/customCssFile/attendenceReportStyle.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/styleShahin.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/InlineStyle.css" rel="stylesheet" />
    <link href="~/Content/ProjectLibFile/css/customCssFile/customStyle.css" rel="stylesheet" />
    <link href="~/lib/tabulator/css/tabulator.css" rel="stylesheet" />
    
    @*dash*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    
    <link href="~/dash/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/dash/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/dash/css/bootstrap.min.css" rel="stylesheet">
@*
    <!-- Template Stylesheet -->
    <link href="~/dash/css/style.css" rel="stylesheet"*@






    <style>
        .stop {
            animation-name: none !important;
            -webkit-animation-name: none !important;
        }

        .nav-search.input-group > .form-control {
            background-color: inherit;
            border: none;
            border-radius: 0px;
            border-left: none;
        }

        #accordionExample .card-header {
            cursor: pointer;
            color: #000000;
        }

        .mobhighlight {
            background: #884EA0 !important;
            color: white !important;
        }
    </style>

    @RenderSection("Styles",false)
</head>



<body>





<div id="fakeloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>


    @{ if (activetemplate == "sidebar")
        {
            <div class="page-container">

                <partial name="_verticalMenuSearch" />
                <partial name="_mobMenu" />

                <div class="page justify-content-center">
                    <div class="sidebar-menu">
                        <partial name="_verticalMenu" />
                    </div>
                    <div id="main" class="container-fluid mt-2 main-content">
                    <div class="row">
                    <div class="col-md-2">
                    
                    
                    
                    </div>
                    <div class="col-md-10">
                                @RenderBody()
                    
                    </div>
                    </div>
                       
                    </div>
                </div>
                <footer>
                    <p>
                        For Support <a target="_blank" href="http://gtrbd.net/support"></a>
                        Copyright © @DateTime.Now.Year. All Rights Reserved. By 
                        <a target="_blank" href="http://gtrbd.com/">
                            <img src="~/Content/img/gtrLogo.jpg" class="img-fluid" alt="Genuine Technology & Research Ltd" width="150">
                        </a>
                    </p>


                </footer>


            </div>
        }
        else
        {
            <div>
                <partial name="_navigation" />
                <partial name="_mobMenu" />


               
                <footer>
                    <p>
                        For Support <a target="_blank" href="http://gtrbd.net/support"></a>
                        Copyright © @DateTime.Now.Year. All Rights Reserved. By <a target="_blank" href="http://gtrbd.com/">
                            <img src="~/Content/img/gtrLogo.jpg"
                                 class="img-fluid" alt="Genuine Technology & Research Ltd" width="150">
                        </a>
                    </p>


                </footer>


            </div>
        }
    }














         <div>

        <p id="geolocation"></p>

    </div>


       <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dash/lib/chart/chart.min.js"></script>
    <script src="~/dash/lib/easing/easing.min.js"></script>
    <script src="~/dash/lib/waypoints/waypoints.min.js"></script>
    <script src="~/dash/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/dash/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/dash/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/dash/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>





    <script src="~/Content/ProjectLibFile/js/jquery/jquery.min.js"></script>

    <script src="~/Content/ProjectLibFile/js/datatables/jquery/jquery.dataTables.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib//tabulator/js/tabulator.js"></script>



@*<script src="~/Content/ProjectLibFile/js/popper/popper.min.js"></script>*@


@*<script src="~/Content/ProjectLibFile/js/bootstrap/bootstrap.bundle.min.js"></script>*@

    <script src="~/Content/ProjectLibFile/js/datatables/cellEdit/dataTables.cellEdit.js"></script>

    <script src="~/Content/ProjectLibFile/js/datatables/select/dataTables.select.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/select2/select2.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/dataTables.buttons.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/buttons.colVis.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/jszip.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/pdfmake.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/vfs_fonts.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/buttons.flash.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/buttons.html5.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/buttons/buttons.print.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/fixedDataTable/dataTables.fixedColumns.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/datatables/fixedDataTable/dataTables.fixedHeader.min.js"></script>

    <script src="~/Content/ProjectLibFile/js/loadingoverlay/loadingoverlay.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/Toast/toastr.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/Toast/toaster_custom.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery/jquery.timepicker.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery/jquery.timer.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/jquery/jquery.speedtest.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/fakeloader/fakeloader.js"></script>
    <script src="~/Content/ProjectLibFile/js/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/ProjectLibFile/js/ecommerce/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/datatables/js/Editor.js" ></script>



@{
    if (activetemplate == "sidebar")
    {
        <script src="~/Content/ProjectLibFile/js/metisMenu.min.js"></script>
        <script src="~/Content/ProjectLibFile/css/customCssFile/js/jquery.slimscroll.min.js"></script>
        <script src="~/Content/ProjectLibFile/css/customCssFile/js/scriptsMenu.js"></script>
    }
    else
    {

    }

}

    <script src="~/Content/ProjectLibFile/js/ecommerce/customScript/script.js"></script>

@*<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)

    <script>


        $(':button.spinnerclass').click(function () {
            //alert('alert hit button save spinner');
            if ($(this).children().hasClass('d-none')) {
                $(this).children().removeClass('d-none');
                $(this).prop("disabled", true);
            }

        });


        function StartSpinner(id) {

            //$('body').prop("disabled", true);

            if ($(id).children().hasClass('d-none')) {
                $(id).children().removeClass('d-none');
                $(id).prop("disabled", true);

            }
            //alert('alert hit stop spinner');
        }


        function StopSpinner(id) {

            if (!$(id).children().hasClass('d-none')) {
                $(id).children().addClass('d-none');
                $(id).prop("disabled", false);

            }
            //alert('alert hit stop spinner');
        }

        //$(':button').click(function () {
        //    if ($(this).children().hasClass('d-none')) {
        //        $(this).children().removeClass('d-none');
        //        $(this).prop("disabled", true);
        //    }

        //});

        //function StopSpinner(id) {
        //    if (!$(id).children().hasClass('d-none')) {
        //        $(id).children().addClass('d-none');
        //        $(id).prop("disabled", false);
        //    }
        //}

        CheckSession();

        function CheckSession() {
            setTimeout(function ()
            {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("UserSessionCheck", "Home")',
                    dataType: 'json',
                    success: function (result) {

                        if (result == "" || result == null) {

                            let routevalue = 'ERP';
                            let url = window.location.href;
                            let pathname = window.location.pathname;
                            let origin = window.location.origin;

                            console.log(routevalue)
                            console.log(url)
                            console.log(pathname)
                            console.log(origin)


                            if (pathname.toUpperCase().includes(routevalue.toUpperCase())) {
                                window.open(`${origin}/${routevalue}/Identity/Account/Login`);
                            }
                            else {
                                window.open(`../../Identity/Account/Login`);
                            }

                        } else {

                            CheckSession();
                        }
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }
                });
            }, 50000);

        }





    //session end
    @*var sessionTimeoutWarning = @Session.Timeout- 1;

            var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
            setTimeout('SessionEnd()', sTimeout);

            function SessionEnd() {
                window.location = "/Account/LogOff";
            }*@
    </script>





@if (TempData["Message"] != null)
{
            <script src="~/Scripts/Toast/toastr.js"></script>
    //<script src="~/Scripts/Toast/toaster_custom.js"></script>
            <script>

                customFile(@Html.Raw(Json.Serialize(TempData["Status"])), @Html.Raw(Json.Serialize(TempData["Message"])));
                //alert('@HttpContextAccessor.HttpContext.Session.GetString("Status")');

            </script>
}


    <script>
        //var connectionSpeed = function () {
        //    // Deal with vendor prefixes
        //    var defaultSpeed = false,
        //        navigator = window.navigator,
        //        connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection || null;
        //    if (!connection)
        //        $('#showInspeed').html(defaultSpeed);

        //    // assume W3C Editor's Draft 09 October 2014
        //    if ('downlinkMax' in connection) {
        //        var downlinkMax = connection.downlinkMax;
        //        if (!downlinkMax)
        //            $('#showInspeed').html(defaultSpeed);
        //        if (!isFinite(downlinkMax))
        //            $('#showInspeed').html(defaultSpeed);
        //        $('#showInspeed').html(downlinkMax);
        //    }
        //    // assume W3C Working Draft 29 November 2012
        //    if ('bandwidth' in connection) {
        //        var bandwidth = connection.bandwidth;
        //        if (!bandwidth)
        //            $('#showInspeed').html(defaultSpeed);
        //        if (isNaN(speed))
        //            $('#showInspeed').html(defaultSpeed);
        //        //return defaultSpeed;
        //        // standardize connection.bandwidth value by converting megabytes per second (MB/s) to megabits per second (Mbit/s)
        //        $('#showInspeed').html(bandwidth * 8);
        //    }
        //    // assume W3C Working Draft 07 June 2011
        //    switch (connection.type) {
        //        // convert connection.type value to approximate downlink values
        //        // speed estimate is based on the median downlink value for common devices in megabits per second (Mbit/s)
        //        case 'none':
        //            return 0;
        //        case '2g':
        //            return 0.134;
        //        case 'bluetooth':
        //        case 'cellular':
        //            return 2;
        //        case '3g':
        //            return 8.95;
        //        case '4g':
        //            return 100;
        //        case 'ethernet':
        //            return 550;
        //        case 'wifi':
        //            return 600;
        //    }
        //    $('#showInspeed').html(defaultSpeed);
        //    //return defaultSpeed;
        //};
    @*$(window).on('mouseover', (function () {
        window.onbeforeunload = null;
    }));
    $(window).on('mouseout', (function () {
        window.onbeforeunload = ConfirmLeave;
    }));
    function ConfirmLeave() {
        setTimeout(function () {
           $.ajax({
               url: '@Url.Action("SaveUserState", "Home")',
               type: 'GET',
               dataType: 'json',
                    //data: { id: productid },
               success: function (data, status, xhr) {
                   alert("Are you sure to leave");
               }
           });
        }, 3000);
        //return "";
    };
    var prevKey = "";
    $(document).keydown(function (e) {
        if (e.key == "F5") {
            window.onbeforeunload = ConfirmLeave;
        }
        else if (e.key.toUpperCase() == "W" && prevKey == "CONTROL") {
            window.onbeforeunload = ConfirmLeave;
        }
        else if (e.key.toUpperCase() == "R" && prevKey == "CONTROL") {
            window.onbeforeunload = ConfirmLeave;
        }
        else if (e.key.toUpperCase() == "F4" && (prevKey == "ALT" || prevKey == "CONTROL")) {
            window.onbeforeunload = ConfirmLeave;
        }
        prevKey = e.key.toUpperCase();
    });*@
    $(document).ready(function () {



            var Latitude = '@HttpContextAccessor.HttpContext.Session.GetString("Latitude")';
            var Longitude =  '@HttpContextAccessor.HttpContext.Session.GetString("Longitude")';



    @*var c=`${@comid}`;
        $("#company option:selected").val(c).change();*@
        //$('#company').select2('disable');
            //$('#showInspeed')._speedTest({

            //    //size of the file in bytes

            //    fileSize: 4633,
            //    //type of the file to be downloaded

            //    fileType: "image",

            //    //url of the file location

            //    fileUrl: "~/Content/images/wizard_v3_icon_2.png"
            //        //< img src="~/Content/images/wizard_v3_icon_2.png" />

            //});
            //$('#showInspeed1')._speedTest({

            //    //size of the file in bytes

            //    fileSize: 2000,
            //    //type of the file to be downloaded

            //    fileType: "image",

            //    //url of the file location
            //fileUrl: "~/Content/images/wizard_v3_icon_1.png"
            //    //< img src="~/Content/images/wizard_v3_icon_2.png" />

            //});


            ///for getting the location info by fahad
            //getLocation();

            ////var x = document.getElementById("geolocation");

            //function getLocation() {
            //    if (navigator.geolocation) {
            //        navigator.geolocation.getCurrentPosition(showPosition);
            //    } else {
            //        //x.innerHTML = "Geolocation is not supported by this browser.";
            //    }
            //}

            //function showPosition(position) {
            //    //x.innerHTML = "Latitude: " + position.coords.latitude +
            //    //      "<br>Longitude: " + position.coords.longitude;

            //    Latitude = position.coords.latitude;
            //    Longitude = position.coords.longitude;

            //    //alert(Latitude);

            //}


            window.FakeLoader.init({ auto_hide: true });


            //alert(tid);
            if (Latitude == "") {
                window.setTimeout(function () {

                    // Move to a new location or you can do something else
                    //            window.location.href = '@Url.Action("Index", "COM_MasterLC")';


                    //console.log(Latitude);
                    //console.log(Longitude);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SetSessionLocation", "Home")',
                        dataType: 'json',
                        async: 'false',
                        data: { Latitude: Latitude, Longitude: Longitude },

                        success: function (response) {

                            //toastr.success("Location Captured");

    @*window.setTimeout(function () {

                                    // Move to a new location or you can do something else
                                         window.location.href = '@Url.Action("Index", "Dashboard")';

                                }, 500);*@
                        },
                        error: function (ex) {
                            alert('Failed.' + ex);
                        }

                    });

                }, 500);


            }

        }






        );
        //window.setInterval(getusername, 30000);

        //function yourfunction() { alert('test'); }


        //getusername();



        function getusername() {
            //var userid = '@HttpContextAccessor.HttpContext.Session.GetString("userid")';
            var comid = '@HttpContextAccessor.HttpContext.Session.GetString("comid")';
            //alert(comid);
            //alert(userid);
            if (comid != "") {
                //alert('found');
                //toastr.success("You Are using GTRCommercial Module.")
            }
            else {
                toastr.error("Session Expired.")
                toastr.error("Please Login again.")


                window.location.href = '@Url.Action("Login", "Identity/Account")';
            }
            //var userName = "Shekhar Shete";
            //var userid = '<%= Session["userid"] %>';
            //alert(userid);
        }

    @*function confirm() {
        setTimeout(function () {
           $.ajax({
               url: '@Url.Action("SaveUserState", "Home")',
               type: 'GET',
               dataType: 'json',
                    //data: { id: productid },
               success: function (data, status, xhr) {
                   alert("Are you sure to leave");
               }
           });
        }, 3000);
    }*@


    @*window.onbeforeunload = function (event) {
        var url = window.location.href;
       // var message = 'Important: Please click on \'Save\' button to leave this page.';
        if (typeof event == 'undefined') {
            event = window.event;
        }
        if (event) {

             $.ajax({
                    url: '@Url.Action("SaveUserState", "Home")',
                    type: 'POST',
                    dataType: 'json',
                 data: { url: url },
                    success: function (data, status, xhr) {

                    },

                });
            //event.returnValue = message;
        }
        //return message;
    };*@




        (function () {
            $(document).ready(function () {
                $('.app-menu__button').click(function () { //#navbox-trigger
                    $(this).toggleClass('is-expanded');
                    return $('#navigation-bar').toggleClass('navbox-open');
                });
                return $(document).on('click', function (e) {
                    var $target;
                    $target = $(e.target);
                    if (!$target.closest('.navbox').length && !$target.closest('.app-menu__button').length) {
                        return $('#navigation-bar').removeClass('navbox-open');
                    }
                });
            });
        }.call(this));
        //menu/
        $('.menu.first').click(function () {

                //var tid = $(this).attr("id");

                $('.sub').removeClass('active');
                $(this).addClass('active');

                //alert(tid);

        });

        $('.menu.first a').on('click', function () {

            var tid = $(this).attr("id");
            //alert(tid);

             $.ajax({
                type: 'POST',
                url: '@Url.Action("SetSessionActiveModule", "Home")',
                dataType: 'json',
                async: true,
                data: { isActive: tid },
                 success: function (result) {


                     if (result.Menu != "" || result.Menu != null) {
                         toastr.success("Module Activated");
                         window.setTimeout(function () {

                             let routevalue = 'ERP';
                             let url = window.location.href;
                             let pathname = window.location.pathname;
                             let origin = window.location.origin;


                             //console.log(routevalue)
                             //console.log(url)
                             //console.log(pathname)
                             //console.log(origin)

                             //alert('wait for console.');

                             if (pathname.toUpperCase().includes(routevalue.toUpperCase())) {
                                 //alert(`${origin}/${routevalue}/${result.Menu.ModuleMenuLink}`);
                                 window.location.href = `${origin}/${routevalue}/${result.Menu.ModuleMenuLink}`;

                             }
                             else {
                                 //alert(`../../${result.Menu.ModuleMenuLink}`)
                                 window.location.href = `../../${result.Menu.ModuleMenuLink}`;
                             }

                         }, 500);
                     } else {
                         toastr.error("Your Session Time Out");
                     }

                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }

            });

        });


        //sub-menu
        //$(document).ready(function () {
        //    $('.second.menu').hide();
        //    $(".sub").on('click', function () {
        //        $(this).parent().find('.active').removeClass('active');
        //        $(this).addClass('active');
        //        //$(this).parent().find('.second.menu').slide();
        //        $(".second.menu").show();
        //    })
        //});


        $('.second.menu a').on('click', function (e) {
            var tid = $(this).attr("href");
            //tid = tid.replace("#", "");
            //alert(tid);
            $(tid).trigger("click");
            $('.app-menu__button').removeClass('is-expanded');

        });

        //menu hide/show


    //(function () {
    //    $(document).ready(function () {
    //        $('.app-menu__button').click(function () { //#navbox-trigger
    //            $(this).toggleClass('is-expanded');
    //            return $('#navigation-bar').toggleClass('navbox-open');
    //        });
    //        return $(document).on('click', function (e) {
    //            var $target;
    //            $target = $(e.target);
    //            if (!$target.closest('.navbox').length && !$target.closest('.app-menu__button').length) {
    //                return $('#navigation-bar').removeClass('navbox-open');
    //            }
    //        });
    //    });
    //}.call(this));

    var ishide = '@HttpContextAccessor.HttpContext.Session.GetInt32("ishidemenu")';
    //alert(ishide);
        var ishidevalue = 0;
            //alert(ishide);
            if (ishide == 1) {
                $('.bottom-navbar').hide();
                //$(".app-menu__button").toggleClass('is-expanded');
                //$('#navigation-bar').removeClass('navbox-open');


                $('.page-container').addClass('sbar_collapsed');

               //$('.sidebar-menu').hide();
                //$(this).toggleClass('is-expanded');

                ishidevalue = 0;
            }
            else {
                $('.bottom-navbar').show();
                //$('.sidebar-menu').show();
                //$(this).toggleClass('is-expanded');

                ishidevalue = 1;
            }


        $(".divHide").click(function () {
            $('.bottom-navbar').slideToggle(900).siblings(".second.menu").slideUp(900)
            $(this).find("span").toggleClass('mdi-eye-off mdi-eye');

            $.ajax({
            type: 'POST',
            url: '@Url.Action("SetSessionHideMenu", "home")',
            dataType: 'json',
            async: true,
            data: {  isHide: ishidevalue},
            success: function (response) {

            },
                   error: function (ex) {
                       alert('Failed.' + ex);
                   }

            });

        });

    $(".divHideSidebar").click(function () {
            //$('.bottom-navbar').slideToggle(900).siblings(".second.menu").slideUp(900)
            //$(this).find("span").toggleClass('mdi-eye-off mdi-eye');

            $.ajax({
            type: 'POST',
            url: '@Url.Action("SetSessionHideMenu", "home")',
            dataType: 'json',
            async: true,
            data: {  isHide: ishidevalue},
            success: function (response) {

            },
                   error: function (ex) {
                       alert('Failed.' + ex);
                   }

            });

        });




    @*var menus=@Html.Raw(Json.Encode(HttpContextSession["Menus"] as List<GTERP.Models.UserMenuPermission>))*@
        var menus =@Html.Raw(Json.Serialize(HttpContextAccessor.HttpContext.Session.GetObject<List<UserMenuPermission>>("UserMenu")));
        var availableMenus = [];

        if (menus!=null) {
            for (var i = 0; i < menus.length; i++) {
                availableMenus.push(menus[i].ModuleMenuCaption);
            }
        }
    $(document).ready(function () {
        //var pathname = window.location.pathname;
        // pathname = pathname.replace('/', '-');
        //pathname = pathname.replace('_', ' ');
        //pathname = pathname.replace(/([A-Z])/g, ' $1').trim()
        //pathname = pathname.replace(pathname.substring(pathname.indexOf('/')), "");
       // alert(pathname);


        //var pathname = $("#activemenucaption").val();
        //alert(pathname);

        //$("#title").text("");
        //$("#title").append(`GTERP - ${pathname}`);

        //var caption = $(".titlecaption").val();
        //$("#title").text("");
        //$("#title").append(`GTERP - ${caption}`);

        });

        function serachMenu(menu) {
            var caption = $("#tags").val();

            if (caption=="") {
                caption=$("#tagsmob").val();
            }

            if (caption == "")
                return;
            //var pathname = $("#activemenucaption").val();
            //alert(pathname);


            return menu.ModuleMenuCaption == caption;

        };

        $("#tags,#tagsmob").keypress(function (e) {

            if (e.keyCode == '13') {

                var currentMenu = menus.find(serachMenu);
                if (currentMenu.MenuPermissionId == 0) {

                    window.location.href = `../${currentMenu.ModuleMenuController}/Edit/${currentMenu.MenuPermissionDetailsId}`;
                }
                else {

                    var routevalue = 'ERP';
                    var url = window.location.href;
                    var pathname = window.location.pathname;
                    var origin = window.location.origin;

                    //alert(pathname);
                    if (pathname.toUpperCase().includes(routevalue.toUpperCase())) {
                        //alert('found');
                        //window.location.href = `../../${currentMenu.ModuleMenuLink}`;
                        window.location.href = `${origin}/${routevalue}/${currentMenu.ModuleMenuLink}`;
                    }
                    else {
                        window.location.href = `../../${currentMenu.ModuleMenuLink}`;
                    }
                }
            }
        });


        $(function () {
            $("#tags,#tagsmob").autocomplete({
                source: availableMenus,
                autoFocus: true
            });
        });

        //OneNoteStyleMenu

        //$(".tab-content").hide(); //Hide all content
        //$("ul.notika-menu-wrap li:nth-child(2), #ms20").addClass("active"); //Activate 2nd tab
        //$( "#ms20").addClass('active');
         //var checkCookie = $.cookie("nav-item");
         //     if (checkCookie != "") {
            //    $('ul.notika-menu-wrap > li > a:eq('+checkCookie+')').addClass('active').next().show();
         //     }
        //$('ul.notika-menu-wrap li a').click(function (e) {
        //    $('ul.notika-menu-wrap li.active').removeClass('active')
        //    $(this).parent('li').addClass('active')
        //});
    $(function () {
        $('ul.nav li').on('click', function () {
            $(this).parent().find('li.active').removeClass('active');
            //$(this).addClass('active');
            $('.app-menu__button').removeClass('is-expanded');
        });
    });

    $('ul.notika-menu-wrap li a').on('click', function () {
        if ($(this).hasClass('active')) {
            $(this).toggleClass('active');
            $('#' + this.hash.substr(1).toLowerCase()).toggleClass('active');
            return false;
        };
        $('.app-menu__button').removeClass('is-expanded');
    });

        $('ul.notika-menu-wrap li').on('click', function () {
        $("ul.notika-menu-wrap li.active").removeClass("active");
        $(this).addClass('active');
        $('.app-menu__button').removeClass('is-expanded');
        });


    $(".clickeditem").on('click', function (event) {
        //alert($(this).attr("id"));


          var ModuleMenuId = $(this).attr("id");


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SetSessionModuleMenuId", "Home")',
                        dataType: 'json',
                        async: 'false',
                        data: { ModuleMenuId: ModuleMenuId },
                        success: function (response) {
                           // alert('done');
                        },
                        error: function (ex) {
                            ///alert('Failed.' + ex);
                        }

                    });

    });


    $(".clickeditem").on('click,contextmenu', function (event) {
            //alert($(this).attr("id"));

            var ModuleMenuId = $(this).attr("id");


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SetSessionModuleMenuId", "Home")',
                        dataType: 'json',
                        async: 'false',
                        data: { ModuleMenuId: ModuleMenuId },
                        success: function (response) {
                        },
                        error: function (ex) {
                            ///alert('Failed.' + ex);
                        }

                    });

            //alert('hit by fahad');


        });
        //$('#mycalendar:not(".fc-event")').on('contextmenu', function (e) {
        //    e.preventDefault()
        //})

        /*custom Scroll*/
        var comid22;
        function Change_Company() {
             comid22 = $("#company").val();
            var comName = $("#company option:selected").text();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("ChangeSelectedCompany", "Home")',
                data: { comid: comid22 }, //use id here
                type: 'GET',
                async: true,
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    //toastr.success(`Company Changed to ${comName} Successfully`);
                    //$('#company option[value=' + comid + ']').attr('selected', true);
                    if (result.success == 1) {
                        toastr.success(`Company Changed to ${comName} Successfully`);
                        //window.location.href = '@Url.Action("", "Home")';
                        location.reload(true);

                        document.getElementById('company').value = comid22;
                       //$('#company option[value=' + comid + ']').attr('selected', true).change();

                    }

                },
                error: function (result) {
                    if (result.error==0) {
                        toastr.error(`Unable to Chnage Company to ${comName}`);
                    }


                }
            });
        };


        $(document).ready(function () {

            //$("#company").val(@HttpContextAccessor.HttpContext.Session.GetString("comid")).change();

            // change company
            var cid = '@HttpContextAccessor.HttpContext.Session.GetString("comid")';

            //document.getElementById('company').value = cid;
            $("#company").change(function () {
                Change_Company();
            });
            $("select").select2({
                theme: "bootstrap4",
            });
            //var nice = $("#main").niceScroll({
            //    //cursorcolor: "#ccc",
            //    //cursorwidth: "5px",
            //    //zindex: "99999999999"
            //});

            //var nice = $("html").niceScroll();  // The document page (body)

            ////$("#div1").html($("#div1").html() + ' ' + nice.version);

            //$(".niceScroll").niceScroll({
            //    cursorborder: "",
            //    cursorcolor: "#00F",
            //    boxzoom: true
            //}); // First scrollable DIV
            //$("html").mouseover(function () {


            //    $("html").getNiceScroll().resize();
            //});




            //nice.resize();
            // Call resize whenever mouse

            // $("#boxscroll2").niceScroll("#contentscroll2", { cursorcolor: "#F00", cursoropacitymax: 0.7, boxzoom: true, touchbehavior: true });  // Second scrollable DIV
            // $("#boxframe").niceScroll("#boxscroll3", { cursorcolor: "#0F0", cursoropacitymax: 0.7, boxzoom: true, touchbehavior: true });  // This is an IFrame (iPad compatible)

            // $("#boxscroll4").niceScroll("#boxscroll4 .wrapper", { boxzoom: true });  // hw acceleration enabled when using wrapper

              });


        //$(document).ready(function () {
        //    // Add minus icon for collapse element which is open by default
        //    $(".collapse.show").each(function () {
        //        $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        //    });

        //    // Toggle plus minus icon on show hide of collapse element
        //    $(".collapse").on('show.bs.collapse', function () {
        //        $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        //    }).on('hide.bs.collapse', function () {
        //        $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        //    });
        //});
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                // more then one submenu open?
                this.multiple = multiple || false;

                var dropdownlink = this.el.find('.card-header');
                dropdownlink.on('click',
                    { el: this.el, multiple: this.multiple },
                    this.dropdown);
            };

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el,
                    $this = $(this),
                    //this is the ul.submenuItems
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().find(".fa").toggleClass('fa-minus fa-plus');
                //$this.parent().find(".card-header").toggleClass('text-success text-dark');
                if (!e.data.multiple) {
                    //show only one menu at the same time
                    $el.find('.collapse').not($next).slideUp().parent().find(".fa").removeClass("fa-minus").addClass("fa-plus");
                }

            }

            var accordion = new Accordion($('.accordion'), false);
        })
        $('.mobCard').click(function () {
            if ($(this).hasClass('mobhighlight')) {
                $(this).removeClass('mobhighlight');
            } else {
                $('.mobCard.mobhighlight').removeClass('mobhighlight');
                $(this).addClass('mobhighlight');
            }
        });

    </script>
</body>
</html>