@model GTERP.Models.PBC_TaskAssign

<div id="TaskDetails">

    <h3 class="text-center">Employee PBC Task Details</h3>
    <table class="table table-bordered table-striped table-condesed" id="assigntable2">
        <thead class="text-center">
            <tr>
                <th>Employee</th>
                <th>Time task</th>
                <th>T. Description</th>
                <th>Money task</th>
                <th>M. Description</th>
                <th>Knowledge task</th>
                <th>K. Description</th>
                <th>Brand value task</th>
                <th>B. Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td>@Model.HR_Emp_Info.EmpName</td>
                <td>@Model.Type_T_Task</td>
                <td>@Model.Type_T_Description</td>
                <td>@Model.Type_K_Task</td>
                <td>@Model.Type_K_Description</td>
                <td>@Model.Type_M_Task</td>
                <td>@Model.Type_M_Description</td>
                <td>@Model.Type_BV_Task</td>
                <td>@Model.Type_BV_Description</td>
                <td>
                    <a asp-action="Create" asp-controller="EmployeeTask" asp-route-id="@Model.TaskAssignId" class="btn btn-primary">Submit</a>
                </td>
            </tr>

        </tbody>
    </table>
    <a type="button" class="btn btn-warning ml-3" asp-action="Index"><i class="bi bi-arrow-left"></i> Back</a>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script>
    var table;

    $(document).ready(function () {

        table = $("#assigntable2").DataTable({



            dom: '<"dom_wrapper fh-fixedHeader"lBf>tip',

            paging: true,
            scrollY: false,
            scrollX: false,
            //scrollY: '400px',
            scrollCollapse: true,
            "language": {
                sLengthMenu: " _MENU_",
                search: "",
                searchPlaceholder: "Search..."
            },

           
        })

    })

</script>