@model IEnumerable<GTERP.Models.PBC_TaskAssign>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<div>
    <h3 class="text-center">Employee PBC Task Assign Table</h3>
    <table class="table table-bordered table-striped table-condesed" id="assignTable">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Quarter</th>
                <th>Year</th>
                <th>Assign Date</th>
                <th>Submission Date</th>
                <th>Duration</th>
                <th>Documents</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.HR_Emp_Info.EmpName</td>
                    <td>@a.Quarter</td>
                    <td>@a.Year</td>
                    <td>@a.AssignDate.ToString("dd-MMM-yyyy")</td>
                    <td>@a.SubmiteDate.ToString("dd-MMM-yyyy")</td>
                    <td>@a.Duration</td>
                    <td><a asp-action="Download" asp-route-filename="@a.Documents">@a.Documents</a></td>
                    <td>
                        <a asp-action="Details" asp-controller="TaskAssign" target="_blank" asp-route-id="@a.TaskAssignId" id="Details" title="Task details" class="btn btn-sm btn-info"><i class="bi bi-info"></i></a>
                        @*<a asp-action="Edit" asp-route-ts="@a.TaskAssignId" title="Edit" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a>
                        <a asp-action="Delete" asp-route-ts="@a.TaskAssignId" title="Delete" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script>
        $(document).ready(function () {
            $('#assignTable').DataTable({
                "scrollY": "350px",
                "scrollCollapse": true,
                "paging": false,
                "filter":true
            });

        });
</script>


