@model GTERP.Models.PurchaseRequisitionMain
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery


@{
    //ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var subData = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    var RequisitionResult = ViewBag.reqsub;
}
<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-success text-white">
            Purchase Requsition
        </div>
       
        <div class="card-body">
            <input type="hidden" name="userid" value="" />
            <input type="hidden" id="mode" value="@ViewBag.Title" />

            @if (Model != null)
            {
                <input type="hidden" id="PurReqId" name="PurReqId" value="@Model.PurReqId" />
                <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
                <input type="hidden" id="ComId" name="ComId" value="@Model.ComId" />
                <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />
                <input type="hidden" id="Status" name="Status" value="@Model.Status" />

                //<input type="hidden" id="PurReqSubId" name="PurReqSubId" value="@Model.PurchaseRequisitionSub.FirstOrDefault().PurReqSubId" />
                //<input type="hidden" asp-for="PurReqId" id="PurReqId" />
            }
            else
            {

            }
            <div class="row">
                <div class="col-md-12">
                    <form>
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <!--#region first Div-->
                            <div class="col-md-8 col-12">
                            <div class="card p-3">
                                <div class="text-center pt-2">
                                    <h4>Requsition Details Entry</h4>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="PrdUnitId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="PRNo" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="PRNo" class="form-control" type="text" />
                                            <span asp-validation-for="PRNo" class="text-danger"></span>
                                        </div>

                                    </div>
                    
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="ReqRef" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="ReqRef" class="form-control" />
                                            <span asp-validation-for="ReqRef" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="ReqDate"  class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="ReqDate" class="form-control" />
                                            <span asp-validation-for="ReqDate" class="text-danger"></span>
                                        </div>
                                    </div>

                           
                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="BoardMeetingDate" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="BoardMeetingDate" class="form-control" />
                                            <span asp-validation-for="BoardMeetingDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="RequiredDate" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="RequiredDate" class="form-control" />
                                            <span asp-validation-for="RequiredDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="PurposeId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="PurposeId" class="form-control" asp-items="ViewBag.PurposeId"></select>
                                        </div>
                                    </div>

                        
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="DepartmentId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="SectId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="SectId" class="form-control" asp-items="ViewBag.SectId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="RecommenedByEmpId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="RecommenedByEmpId" class="form-control" asp-items="ViewBag.Employees">
                                                <option>--Select Recommened Employee--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="ApprovedByEmpId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="ApprovedByEmpId" class="form-control" asp-items="ViewBag.Employees">
                                                <option>--Select Approved Employee--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="Remarks" class="control-label"></label>
                                                </span>
                                            </div>

                                            <textarea asp-for="Remarks" class="form-control"></textarea>
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </div>

                            <!-- #endregion -->
                            <!--#region second Div-->
                            <div class="col-md-4 col-12">
                            <div class="card px-3 pt-3 pb-2">
                                <div class="text-center">
                                    <h4>Create Requsition Item</h4>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Product Category</label>
                                                </span>
                                            </div>

                                            @Html.HiddenFor(m => m.PurchaseRequisitionSub.FirstOrDefault().PurReqSubId, new { id = "PurReqSubId" })
                                            @Html.HiddenFor(m => m.PrdUnitId, new { id = "UnitId" })
                                            @Html.DropDownList("CategoryId", ViewBag.CategoryId as List<SelectListItem>, new { id = "CategoryId", @class = "form-control form-control" })
                                        </div>
                                    </div>
                           
                                    <div class=" col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Product Name</label>
                                                </span>
                                            </div>
                                            <select class="form-control" id="ProductId"></select>
                                            <div type="button" class="btn btn-primary" data-toggle="modal" id="btnModal" data-target="#exampleModal"><i class="fa fa-plus fa-lg"></i></div>

                                            @*@Html.DropDownList("ProductId", ViewBag.ProductId as List<SelectListItem>, new { id = "ProductId", @class = "form-control form-control" })*@
                                        </div>
                                    </div>
                     
                                    <div class=" col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Brand Name</label>
                                                </span>
                                            </div>
                                            <input id="ProductBrand" disabled class="form-control" />

                                        </div>
                                    </div>
                                    <div class=" col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Product Model</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("ProductModel", "", new { id = "ProductModel", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                         
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Requisition Qty</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("PurReqQty", "", new { id = "PurReqQty", @class = "form-control" })
                                            <span id="QtySpan" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Last Purc. Rate</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("LastPurchasePrice", "", new { id = "LastPurchasePrice", @class = "form-control" })
                                            <span id="QtySpan" class="text-danger"></span>
                                        </div>
                                    </div>
                             
                                    <div class=" col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Remarks</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("Note", "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 offset-md-4 col-12">
                                        <span id="spn">
                                            <button type="button" id="addBtn" onclick="Add()" class="btn btn-primary btn-block rounded-0">Add</button>
                                            @*<button type="button" id="UpBtn"  class="btn btn-success">Update</button>*@
                                        </span>
                                    </div>
                                </div>

                            </div>
                            </div>
                            <!-- #endregion -->

                        </div>

                
                        <!--#region Tbl div-->
                        <div id="tblDiv">

                            <div class="col-md-12 order-md-1 mb-2">
                                <div class="card p-4">
                                    <br />
                                    <div class="table-responsive text-nowrap">
                                        <table id="tblpurrequisition" class="table tbl display responsive table-striped table-hover text-center" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="d-none">Req Sub Id</th>
                                                    <th class="d-none">Category Id</th>
                                                    <th class="d-none">Product Id</th>
                                                    <th class="d-none">Unit Id</th>
                                                    <th>Item Name</th>
                                                    <th>Brand Name</th>
                                                    <th>Model</th>
                                                    <th>Req Qty</th>
                                                    <th>Last Purc. Rate</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                    <th class="d-none">IsDelete</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.PurchaseRequisitionSub != null)
                                                    {
                                                        foreach (var item in Model.PurchaseRequisitionSub)
                                                        {
                                                            <tr class="txtProduct">
                                                                <td class="d-none">
                                                                    @Html.DisplayTextFor(i => item.PurReqSubId)
                                                                </td>
                                                                <td class="d-none">
                                                                    @Html.DisplayTextFor(i => item.vProduct.CategoryId)
                                                                </td>
                                                                <td class="d-none">
                                                                    @Html.DisplayTextFor(i => item.ProductId)
                                                                </td>
                                                                <td class="d-none">
                                                                    @Html.DisplayTextFor(i => item.vProduct.UnitId)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.ProductName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.ProductBrand)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.ProductModel)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.PurReqQty)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.LastPurchasePrice)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.Note)
                                                                </td>
                                                                <td>
                                                                    <a class="dlttrash" data-itemId="@item.PurReqSubId" data-html="@item.PurReqSubId" href="#"><i class="fa fa-trash"></i></a>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.IsDelete)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                }
                                            </tbody>
                                            <tfoot>

                                            </tfoot>

                                        </table>
                                    </div>
                                    <br />

                                </div>

                            </div>

                            <div>
                                @if (ViewBag.Title == "Create")
                                {
                                    <div class="text-center">

                                        <span>
                                            <button type="button" class="btn btn-primary" onclick="Requisition_Save()">Save</button>
                                        </span>
                                        <span>
                                            @Html.ActionLink("Back", "Index", "PurchaseRequisition", null, new { @class = "btn btn-info", @id = "btnBack" })
                                        </span>

                                    </div>
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <div class="text-center">
                                        @*<span>
                                                <button type="button" onclick="Add()" class="btn btn-success">Add</button>
                                            </span>*@
                                        <span>
                                            <button type="button" class="btn btn-warning" onclick="Requisition_Save()">Update</button>
                                        </span>
                                        <span>
                                            @Html.ActionLink("Back", "Index", "PurchaseRequisition", null, new { @class = "btn btn-info", @id = "btnBack" })
                                        </span>

                                    </div>
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <div class="text-center">
                                        @*<span>
                                                <button type="button" onclick="Add()" class="btn btn-success">Add</button>
                                            </span>*@
                                        <span>
                                            <button class="btn btn-danger" type="button" onclick="ConfirmDialogDelete('Are you sure');">Delete</button>
                                            @*<button type="button" class="btn btn-danger" onclick="Requisition_delete()">Delete</button>*@
                                        </span>
                                        <span>
                                            @Html.ActionLink("Back", "Index", "PurchaseRequisition", null, new { @class = "btn btn-info", @id = "btnBack" })
                                        </span>

                                    </div>
                                }
                            </div>
                        </div>
                        <!-- #endregion -->
                        <!-- #region Commented Old Code -->
                        @*<div class="row">
                                <div class="col-md-12 order-md-1 mb-2">
                                    <div class="card p-4">
                                        <table class="table table-condensed">
                                            <tr class="row">
                                                <td id="divAccountHead" class="col-md col-12">
                                                    <span class="text-right">
                                                        <label>SL No</label>
                                                    </span>
                                                    <span class="input-group mb-2">
                                                        @Html.HiddenFor(m => m.PurchaseRequisitionSub.FirstOrDefault().PurReqSubId, new { id = "PurReqSubId" })
                                                        @Html.TextBox("SLNo", "0", new { @class = "form-control" })
                                                    </span>
                                                </td>
                                                <td id="divAccountHead" class="col-md col-12">
                                                    <span class="text-right">
                                                        <label>Product</label>
                                                    </span>
                                                    <span class="input-group mb-2">
                                                        @Html.DropDownList("ProductId", ViewBag.ProductId as List<SelectListItem>, new { id = "ProductId", @class = "form-control form-control-sm" })
                                                    </span>
                                                </td>
                                                <td id="divAccountHead" class="col-md col-12">
                                                    <span class="text-right">
                                                        <label>Unit Name</label>
                                                    </span>
                                                    <span class="input-group mb-2">
                                                        @Html.DropDownList("UnitId", ViewBag.UnitId as List<SelectListItem>, new { id = "UnitId", @class = "form-control form-control-sm", @disabled = "disabled" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="row">
                                                <td id="divCurrency" class="col-md col-12">
                                                    <span class="text-right">
                                                        <label>Product Model</label>
                                                    </span>
                                                    <span class="input-group mb-2">
                                                        @Html.TextBox("ProductModel", "", new { @class = "form-control", @disabled = "disabled" })
                                                    </span>
                                                </td>
                                                <td id="divCurrency" class="col-md col-12">
                                                    <span class="text-right">
                                                        <label>Requisition Qty</label>
                                                    </span>
                                                    <span class="input-group mb-2">
                                                        @Html.TextBox("PurReqQty", "", new { @class = "form-control" })
                                                    </span>
                                                </td>
                                                <td id="divCurrency" class="col-md col-12">
                                                    <span class="text-right">
                                                        <label>Remarks</label>
                                                    </span>
                                                    <span class="input-group mb-2">
                                                        @Html.TextBox("Note", "", new { @class = "form-control" })
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>*@

                        <!-- #endregion -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SEARCH</h5>

                                                   <button id="btnclose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                </div>*@
            <div class="modal-body">
                <div id="SubSectionList">
                    <div class="order-md-1">

                        <div class="row">
                          
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Product Name
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="MProductName" />
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Category
                                        </span>
                                    </div>
                                    <select class="form-control" id="MCategoryId" asp-items="ViewBag.CategoryId">
                                    </select>
                                </div>
                            </div>
                   
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Sub Category
                                        </span>
                                    </div>
                                    <select class="form-control" id="MSubCategoryId" asp-items="ViewBag.SubCategoryId">
                                        <option value="">--Select From List--</option>
                                    </select>
                                </div>
                            </div>                       

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Unit
                                        </span>
                                    </div>
                                    <select class="form-control" id="MUnitId" asp-items="ViewBag.UnitId">
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>  
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                <button type="button" id="MbtnSave" onclick="Products_save()" class="btn btn-success rounded-0">Save Product</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@


@section Scripts
    {
    <script>



        $('#btnModal').click(function () {

            let cId = $("#CategoryId").val();
            $("#MCategoryId").val(cId).change();
            CascadeSubCategory();
        });

        function Products_save() {

            if ($("#MProductName").val().length < 6) {
                toastr.info("Product Name at least 6 charecter long");
                return false;
            }

            if ($("#MCategoryId").val()=="") {
                toastr.info("Provie Category");
                return false;
            }

            if ($("#MSubCategoryId").val()=="") {
                toastr.info("Provie Sub Category");
                return false;
            }

            if ($("#MUnitId").val()=="") {
                toastr.info("Provie Unit");
                return false;
            }

            ///alert('save 2');

            var Product = {
                "userid": "", "useridUpdate": "", "DateAdded": "", "DateUpdated": "", "comid": "0",
                "ProductId": "", "ProductName": "", "CategoryId": "","ProductMainGroupId":"", "Description": "", "CostPrice": "", "SalePrice": "", "RetailerPrice": "", "ReorderLevelOne": "", "MinimumOrderQty": "", "CountryId": "", "ProductBarcode": "", "vatPercentage": "",
                "vatAmount": "", "ProductBrand": "", "ProductModel": "", "UnitId": "", "SubCategoryId": "", "ProductImage": "", "FileExtension": "", "ImagePath": "", "ProductCode": "", "AccIdInventory": "", "AccIdConsumption": ""
                //"InventorySubs": []
            };



            Product.userid = "";


            Product.useridUpdate = "";
            Product.DateAdded = "";
            Product.DateUpdated = "";

            Product.ProductId = 0;
            Product.ProductName = $("#MProductName").val();
            Product.CategoryId = $("#MCategoryId").val();
            Product.ProductMainGroupId = "";



            Product.Description = "";
            Product.CostPrice =  0;

            Product.SalePrice =  0;
            Product.RetailerPrice =  0;
            Product.ReorderLevelOne =  0;
            Product.MinimumOrderQty =  0;


            Product.CountryId = "18"; // for BDT
            Product.ProductImage ="";

            Product.FileExtension = "";
            Product.ImagePath = "";



            Product.ProductCode = "New Product";
            Product.AccIdInventory = "";
            Product.AccIdConsumption = "";


            Product.ProductBarcode ="";
            Product.vatPercentage =  0;


            Product.vatAmount = 0;
            Product.ProductBrand = $("#ProductBrand").val();
            Product.ProductModel = $("#ProductModel").val();
            Product.UnitId = $("#UnitId").val();
            Product.SubCategoryId = $("#MSubCategoryId").val();


            $.ajax({
                url: '@Url.Action("CreateProduct", "PurchaseRequisition")',
                type: 'POST',
                dataType:'JSON',
                data: {product: Product},
                success: function (result) {
                    if (result.Success == "1") {
                        $("#ProductId").append(`<option value="${result.data.ProductId}">${result.data.ProductName}</option>`);
                        customFile("1", result.ex);
                    }
                     else {
                        customFile(result.Success, result.ex);
                     }
                },
                error: function (ex) {
                    toastr.error("Something wrong")
                }
            });
        }


        $('#MUnitId').select2();
        $('#MSubCategoryId').select2();

        $('#MCategoryId').select2({})
                .on("select2:select", function (e) {
                if ($('#MCategoryId').val() > 0) {

                    //alert('enter');
                    CascadeSubCategory();
                }
                else {
                    alert('Please Select Category Information First.')
                }

            });




        function CascadeSubCategory() {


            $("#MSubCategoryId").empty();



            $.ajax({
                type: 'POST',
                url: '@Url.Action("getSubCategory", "Products")',
                dataType: 'json',
                async: false,
                data: { id: $("#MCategoryId").val() },
                success: function (data) {
                    var s ='<option value="-1">Please Select Sub Category</option>';
                    //$.each(data, function (i, data) {
                    //    $("#Product").append('<option value="'+ data.Value + '">'
                    //        + data.Text + '</option>');
                    //});
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $("#MSubCategoryId").html(s);
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }

            });
            return false;
        };



        function ConfirmDialogDelete(message) {
            $('<div></div>').appendTo('body')
                .html('<div><h6>' + message + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Delete message',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {

                            // $(obj).removeAttr('onclick');
                            // $(obj).parents('.Parent').remove();

                            //$('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');

                            $(this).dialog("close");
                            requisition_delete();

                        },
                        No: function () {
                            //$('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');

                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        };


        function requisition_delete() {
            var StoreReqId = $('#PurReqId').val();
            //alert(VoucherId);

            antiForgeryToken = $("input[name='GTR_ANTIFORZERY']").val();

             $.ajax({
                 @*url: '@Url.Action("Delete", "Acc_Voucher")',
                 data: JSON.stringify({ id: id }),
                type: 'POST',
                contentType:false,
                dataType: false,*@


                 headers: { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },



                type: 'POST',
                url: '@Url.Action("Delete", "PurchaseRequisition")',
                dataType: 'json',
                async: 'true',
                 data: { id: StoreReqId },


                 //async: 'true',
                @*url: '@Url.Action("Delete", "Acc_Voucher")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: VoucherId }), //use id here
                //data: JSON.stringify(Acc_VoucherMain),
                type: 'POST',
                async: false,

                dataType: 'json',*@
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("Index", "PurchaseRequisition")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
        }




        //$('#ReqDate').val(CurrentDate());
        //$('#BoardMeetingDate').val(CurrentDate());
        //$('#RequiredDate').val(CurrentDate());

        function CurrentDate() {
            var date = new Date();
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct", "Nov", "Dec"];
            var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();
            return val;

        }

        //$("#ReqDate,#BoardMeetingDate,#RequiredDate").datepicker({
        //    onSelect: function (date) {
        //        // Your CSS changes, just in case you still need them
        //        $('a.ui-state-default').removeClass('ui-state-highlight');
        //        $(this).addClass('ui-state-highlight');
        //        var dateFormat = $("#ReqDate").datepicker("option", "dateFormat");
        //        //setter
        //        $("#ReqDate").datepicker("option", "dateFormat", 'dd-MM-yy');
        //    }
        //});

        var tblpurrequisition;
        var antiForgeryToken
        var selectedItem;
        var isdelete = false;

        $(document).ready(function () {
            antiForgeryToken = $("input[name='GTR_ANTIFORZERY']").val();
            $("#RecommenedByEmpId").select2();
            $("#ApprovedByEmpId").select2();
            $("#ProductId").select2();
            $("#CategoryId").select2();
            $("#PurposeId").select2();
            $("#DepartmentId").select2();
            $("#PrdUnitId").select2();
            $("#SectId").select2();



             $.ajax({
                url: '@Url.Action("GetProducts", "PurchaseRequisition")',
                 headers: { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },

                type: 'GET',
               // contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    createSelectList(result.item);
                }
             });
            var mode = $("#mode").val();
            if (mode == "Edit" || mode == "Delete") {
                $("#tblDiv").show();
                           }
            else {
                $("#tblDiv").hide();
                // $("#UpBtn").hide();
            }
            tblpurrequisition = $('#tblpurrequisition').DataTable({
                "aoColumns": [
                    { "sClass": "purreqsubid", "visible": false },
                    { "sClass": "categoryId", "visible": false },
                    { "sClass": "productid", "visible": false },
                    { "sClass": "unitid", "visible": false },
                    { "sClass": "productname", "visible": true },
                    { "sClass": "productBrand", "visible": true },
                    { "sClass": "productmodel", "visible": true },
                    { "sClass": "purreqqty", "visible": true },
                    { "sClass": "LastPurchasePrice", "visible": true },
                    { "sClass": "note", "visible": true },
                    { "sClass": "Action", "visible": true },
                    { "sClass": "isDelete", "visible": false }


                ],
                rowCallback: function (row) {
                    $(row).addClass('txtProduct');
                },
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": false,
                "paging": false,
                select: true,
                select: 'single'
            }).draw();

            $('#ProductId').change(function () {
                var productid = $('#ProductId option:selected').val();
                $.ajax({
                    url: '@Url.Action("GetProductInfo", "PurchaseRequisition")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: productid },
                    success: function (data, status, xhr) {
                        if (status == 'success') {
                            //console.log(data);

                            $('#PurReqSubId').val(0);

                            $('#ProductBrand').val(data.ProductBrand);
                            $('#ProductModel').val(data.ProductModel);
                            $('#UnitId').val(data.UnitName);
                            $('#LastPurchasePrice').val(data.LastPurchasePrice);

                        };
                    },

                });
            });

            $('#CategoryId').change(function () {

                cascadeproduct();
            });

        });

        function createSelectList(selItem) {

            $('#ProductId').append(new Option("Select Product", "-1"));
            for (var i = 0; i < selItem.length; ++i) {
                optionValue = selItem[i].Value;
                optionText = selItem[i].Text;
                $('#ProductId').append(new Option(optionText, optionValue));

            }

        }

        cascadeproduct();

        function cascadeproduct(selItem) {

                    var CategoryId = $('#CategoryId option:selected').val();
                    $.ajax({
                    url: '@Url.Action("GetProducts", "PurchaseRequisition")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: CategoryId },
                        success: function (data, status, xhr) {
                            $("#ProductId option").remove();

                            createSelectList(data.item)
                            if (selectedItem!=null) {
                                $("#ProductId").val(selectedItem).change();
                            }
                            //selectedItem = null;
                        }

                    });

        }
        function SelectEmployee(selItem) {
            for (var i = 0; i < selItem.length; ++i) {
                optionValue = selItem[i].EmpId;
                optionText = selItem[i].EmpCode+' '+ selItem[i].EmpName;
                $('#ProductId').append(new Option(optionText, optionValue));

            }

        }
        function ProductInfo() {

        };

        function Add() {
            var qty = $('#PurReqQty').val();

            var prdid = $('#ProductId').val();
            if (prdid < 1) {
                toastr.error('Please Select the Item');
                return true;
            }

            if (qty > 0) {
                $("#tblDiv").show();
                $("#QtySpan").text('');
                var oTablerequisitionSub = $('#tblpurrequisition').dataTable().fnGetData();
                //var oTablerequisition = $('#tblpurrequisition').DataTable();

                //if (oTablerequisitionSub.length > 0) {
                //    //oTablerequisition.rows().every(function () {
                //    //    var productidtd = this.data()[2];
                //    //    if (prdid == productidtd) {
                //    //        toastr.error('Multiple requisition of same product is not allowed');
                //    //        return;
                //    //    }
                //    //});
                //    // }
                //   for (var i = 0; i < oTablerequisitionSub.length; i++) {
                //        var item = oTablerequisitionSub[i][2];
                //        //alert(item)
                //        if (prdid==item) {
                //            toastr.error('Multiple requisition of same product is not allowed');
                //            return;
                //        }
                //    }
                //}

                if ($.fn.DataTable.isDataTable('#tblpurrequisition')) {
                    var ifExist = false;


                        if (tblpurrequisition.rows('.selected').any()) {


                                for (var i = 0; i < oTablerequisitionSub.length; i++) {
                                    var item = oTablerequisitionSub[i][2];
                                    //alert(item)
                                    if (prdid == item) {
                                        var ind2 = tblpurrequisition.row('.selected').index();
                                        if (i != ind2) {
                                            toastr.error('Multiple requisition of same product is not allowed');
                                            ifExist = true;
                                            return;
                                        }
                                    }

                                }

                                if (ifExist == false) {

                                    tblpurrequisition
                                        .rows({ selected: true })
                                        .every(function (rowIdx, tableLoop, rowLoop) {
                                            //tblpurrequisition.cell(rowIdx, 0).data("");
                                            tblpurrequisition.cell(rowIdx, 1).data($('#CategoryId').val());
                                            tblpurrequisition.cell(rowIdx, 2).data($('#ProductId').val());
                                            tblpurrequisition.cell(rowIdx, 3).data($('#UnitId').val());
                                            tblpurrequisition.cell(rowIdx, 4).data($('#ProductId option:selected').text());
                                            tblpurrequisition.cell(rowIdx, 5).data($('#ProductBrand').val());
                                            tblpurrequisition.cell(rowIdx, 6).data($('#ProductModel').val()); tblpurrequisition.cell(rowIdx, 10).data(false);
                                            tblpurrequisition.cell(rowIdx, 7).data($('#PurReqQty').val());
                                            tblpurrequisition.cell(rowIdx, 8).data($('#LastPurchasePrice').val());
                                            tblpurrequisition.cell(rowIdx, 9).data($('#Note').val());
                                            tblpurrequisition.cell(rowIdx, 10).data('<a data-itemId="0" href="#" class="dlttrash deleteItem" > <i class="fa fa-trash"></i></a > ');

                                        })

                                        .draw();

                                    tblpurrequisition.$('tr.selected').removeClass('selected');


                                    $("#addBtn").text("Add");
                                    $("#Cancel").remove();

                                }

                    }
                        else {
                            for (var i = 0; i < oTablerequisitionSub.length; i++) {
                                var item = oTablerequisitionSub[i][2];
                                //alert(item)
                                if (prdid == item) {
                                    toastr.error('Multiple requisition of same product is not allowed');
                                    //ifExist = true;
                                    return;
                                }

                            }
                            tblpurrequisition.draw();
                            var i = 0;
                            $('#tblpurrequisition').dataTable().fnAddData([
                                $("#PurReqSubId").val(),
                                $('#CategoryId option:selected').val(),
                                $('#ProductId option:selected').val(),
                                $('#UnitId').val(),
                                $('#ProductId option:selected').text(),
                                $('#ProductBrand').val(),
                                $('#ProductModel').val(),
                                $('#PurReqQty').val() || 0,
                                $('#LastPurchasePrice').val() || 0,
                                $('#Note').val(),
                                '<a data-itemId="0" href="#" class="dlttrash deleteItem" > <i class="fa fa-trash"></i></a > ',false
                            ]);
                            //tblpurrequisition = $('#tblpurrequisition').DataTable();
                            //$("#addBtn").text("Add");
                            //tblpurrequisition.draw();
                        }
                        tblpurrequisition = $('#tblpurrequisition').DataTable();

                    $('#ProductBrand').val("");
                        $('#ProductModel').val("");
                    $('#PurReqQty').val("");
                    $('#LastPurchasePrice').val("");

                        $('#Note').val("");
                }


            }
            else {
                $("#QtySpan").text('Please Fill Up the Qty.');
                toastr.error('Please Fill Up the Qty.');
            }
        };

        function Requisition_Save() {


            var srnotest = $('#PRNo').val();
            var reqdatetest = $('#ReqDate').val();

            if (srnotest.length < 3) {

                $("#SRNoSpan").text('Fill Requisition No.');
                toastr.error('Fill Requisition No.');
                return true;
            }

            if (reqdatetest.length < 3) {

                $("#ReqDateSpan").text('Fill Req. Date');
                toastr.error('Fill Req. Date');
                return true;

            }


            var PurchaseRequisitionSub = {

                "PurReqId": 0, "PurReqSubId": 0, "CategoryId": 0, "ProductId": 0, "BrandName": "", "PurReqQty": 0, "LastPurchasePrice": 0, "Note": "","IsDelete":false
            };

            var purchaseRequisitionMain = {
                "UserId": "", "DateAdded": "", "ComId": "",
                "PurReqId": 0, "PrdUnitId": 0, "PurposeId": 0, "ReqRef": "", "PRNo": "", "ReqDate": "", "DepartmentId": 0, "SectId": null, "BoardMeetingDate": "", "RecommenedByEmpId": 0, "ApprovedByEmpId": 0, "RequiredDate": "", "Remarks": "","Status" : "",
                "PurchaseRequisitionSub": []
            };

            purchaseRequisitionMain.ComId = $('#ComId').val();
            purchaseRequisitionMain.UserId = $('#UserId').val();
            purchaseRequisitionMain.DateAdded = $('#DateAdded').val();

            purchaseRequisitionMain.PurReqId = $('#PurReqId').val();
            purchaseRequisitionMain.PrdUnitId = $('#PrdUnitId').val();
            purchaseRequisitionMain.PurposeId = $('#PurposeId').val();
            purchaseRequisitionMain.ReqRef = $('#ReqRef').val();
            purchaseRequisitionMain.PRNo = $('#PRNo').val();
            purchaseRequisitionMain.ReqDate = $('#ReqDate').val();
            purchaseRequisitionMain.DepartmentId = $('#DepartmentId').val();
            purchaseRequisitionMain.SectId = $('#SectId').val();

            purchaseRequisitionMain.BoardMeetingDate = $('#BoardMeetingDate').val();
            purchaseRequisitionMain.RecommenedByEmpId = $('#RecommenedByEmpId').val();
            purchaseRequisitionMain.ApprovedByEmpId = $('#ApprovedByEmpId').val();
            purchaseRequisitionMain.Status = $('#Status').val();
            //purchaseRequisitionMain.Status = $('#Status').val();             , "Status" : "",
            purchaseRequisitionMain.RequiredDate = $('#RequiredDate').val();
            purchaseRequisitionMain.Remarks = $('#Remarks').val();
            var oTablerequisitionSub = $('#tblpurrequisition').dataTable().fnGetData();

            if (oTablerequisitionSub.length == 0) {
                alert('Please Fill Necessary Data.');
                return false;
            };
            for (var i = 0; i < oTablerequisitionSub.length; i++) {
                PurchaseRequisitionSub.PurReqSubId = oTablerequisitionSub[i][0];
                PurchaseRequisitionSub.CategoryId = oTablerequisitionSub[i][1];
                PurchaseRequisitionSub.ProductId = oTablerequisitionSub[i][2];
                PurchaseRequisitionSub.PurReqId = $('#PurReqId').val();
                PurchaseRequisitionSub.BrandName = oTablerequisitionSub[i][5];
                PurchaseRequisitionSub.PurReqQty = oTablerequisitionSub[i][7];
                PurchaseRequisitionSub.LastPurchasePrice = oTablerequisitionSub[i][8];
                PurchaseRequisitionSub.Note = oTablerequisitionSub[i][9];
                PurchaseRequisitionSub.IsDelete = oTablerequisitionSub[i][11];
                purchaseRequisitionMain.PurchaseRequisitionSub.push(PurchaseRequisitionSub);

                PurchaseRequisitionSub = {
                    "PurReqSubId": "",
                    "SLNo": "",
                    "ProductId": "",
                    "BrandName": "",
                    "PurReqQty": "",
                    "LastPurchasePrice": "",
                    "Note": "",
                    "PurReqId": "",
                    "IsDelete":false
                };
            };

            $.ajax({
                url: '@Url.Action("Create", "PurchaseRequisition")',
                data: { purchaseRequisitionMain: purchaseRequisitionMain},
                type: 'POST',
                headers: { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },
               // contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    //alert('Data Save Successfully');
                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("Index", "PurchaseRequisition")';
                    } else if (result.Success == "0") {
                        toastr.error(result.ex);
                    }
                    if (result.error==1) {
                        alert(result.ex);
                    }

                }
            });
        };

        $('#tblpurrequisition tbody').on('click', 'tr', function () {
            if ($.fn.DataTable.isDataTable('#tblpurrequisition')) {

                tblpurrequisition
                    .on('select', function (e, dt, type, indexes) {

                        $("#addBtn").text("Modify");
                        if ($("#spn").children('#Cancel')) {
                            $("#spn").children('#Cancel').remove();
                            $("#spn").append('<button type="button" id="Cancel" class="btn btn-danger cancel">Cancel</button>');
                        }
                        else {
                            $("#spn").append('<button type="button" id="Cancel" class="btn btn-danger cancel">Cancel</button>');
                        }


                        var f = tblpurrequisition.rows('.selected').data();
                        //console.log(f[0][2]);

                        selectedItem = `${f[0][2]}`;

                        $('#CategoryId').val(`${f[0][1]}`).change();

                        $('#ProductId').val(`${f[0][2]}`).change();

                        $('#ProductBrand').val(f[0][5]);
                        $('#ProductModel').val(f[0][6]);
                        $('#PurReqQty').val(f[0][7]);
                        $('#Note').val(f[0][8]);
                    })
                    .on('deselect', function (e, dt, type, indexes) {
                        selectedItem = null;
                        $("#addBtn").text("Add");
                        $("#spn").children('#Cancel').remove();
                        $(".cancel").trigger("click");

                    });
            };



            //if ($(this).hasClass('selected')) {
            //    //$("#UpBtn").show();
            //    $("#addBtn").text("Modify");
            //}
            //else {
            //    table.$('tr.selected').removeClass('selected');
            //    $(this).addClass('selected');
            //}
            //if ($(this).hasClass("selected")) {

            //}
        });

        $('#tblpurrequisition tbody').on('click', '.dlttrash', function () {
            var d = $(this).data();
            var i = this.parentNode.parentNode;
            var mode = $("#mode").val();
            if (mode == "Edit") {

                var prsubid = d["html"];
                if (prsubid != null) {
                    var l = $(this).parent().parent().index();
                    tblpurrequisition.cell(l, 11).data(true);
                    $(this).parent().parent().hide();
                }
                else {
                    var table = $('#tblpurrequisition').DataTable();
                    table.row($(this).parents('tr')).remove().draw();
                    if ($("#spn").children('#Cancel')) {
                        $("#spn").children('#Cancel').remove();
                    }
                    $("#addBtn").text("Add");
                    var x = "500.00";
                    var y = $('#tblpurrequisition').height();
                    var z = parseFloat(x) + parseFloat(y);
                    $('html, body').animate({ scrollTop: z }, 500);
                }
            }
            else {
                var table = $('#tblpurrequisition').DataTable();
                table.row($(this).parents('tr')).remove().draw();
                if ($("#spn").children('#Cancel')) {
                    $("#spn").children('#Cancel').remove();
                }
                $("#addBtn").text("Add");
                var x = "500.00";
                var y = $('#tblpurrequisition').height();
                var z = parseFloat(x) + parseFloat(y);
                $('html, body').animate({ scrollTop: z }, 500);
            }

        });

        $(document).on('click','.cancel',function () {
            if ($.fn.DataTable.isDataTable('#tblpurrequisition')) {
                if (tblpurrequisition.rows('.selected').any()) {
                    $('#tblpurrequisition tr.selected').removeClass('selected');
                }
                $("#addBtn").text("Add");
                $(this).remove();
                 $('#CategoryId').val("0").change();
                        $('#ProductId').val("-1").change();
                        $('#ProductBrand').val("");
                        $('#ProductModel').val("");
                        $('#PurReqQty').val("");
                        $('#Note').val("");
            }


        });

    </script>
}