@model GTERP.Models.GatePass

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GatePass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatePassNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatePassNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatePassFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatePassFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYearId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYearId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalMonthId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalMonthId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceStationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateByUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GatePassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
