@model GTERP.Models.PF_ChartOfAccount
@using System.Data;

@{

    ViewBag.Title = "Details : Chart Of Accounts";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chart Of Accounts - Create</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @*<div class="row">
                    <div class="col-md-offset-1 col-md-2 text-right">
                        @Html.LabelFor(model => model.isInactive)
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.isInactive, new { @disabled = "disabled" })
                    </div>
                    <div class="col-md-2 text-right">
                        @Html.LabelFor(model => model.isSubsidiaryLedger)
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.isSubsidiaryLedger, new { @disabled = "disabled" })
                    </div>
                </div>*@
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2 text-right">
                        @Html.LabelFor(model => model.AccCode)
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.AccCode, new { @class = "form-control btn-block", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-1 col-md-2 text-right">
                    @Html.LabelFor(model => model.AccName)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.AccName, new { @class = "form-control btn-block", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-1 col-md-2 text-right">
                    @Html.LabelFor(model => model.ParentID)
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("ParentID", new SelectList(ViewBag.COA_List, "Id", "Name"), new { @class = "form-control btn-block", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ParentID)
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2 text-right">
                        @Html.LabelFor(model => model.OpDebit)
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.OpDebit, new { @class = "form-control btn-block", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2 text-right">
                        @Html.LabelFor(model => model.OpCredit)
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.OpCredit, new { @class = "form-control btn-block", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-1 col-md-2 text-right">
                    @Html.LabelFor(model => model.CountryID)
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("CountryID", new SelectList(ViewBag.Currincy_List, "Id", "Name"), new { @class = "form-control btn-block", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.CountryID)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-1 col-md-2 text-right">
                    @Html.LabelFor(model => model.opFYId)
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("opFYId", new SelectList(ViewBag.FY_List, "Id", "Name"), new { @class = "form-control btn-block", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.opFYId)
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            <div>
                <div class="col-md-offset-3 col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.AccId }, new { @class = "btn btn-warning btn-block" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Delete", "Delete", new { id = Model.AccId }, new { @class = "btn btn-danger btn-block" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-info btn-block" })
                </div>
            </div>
        </div>
    </div>

}