@model GTERP.Models.Technical
<style>
    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("CreateTechnical", "Technical", FormMethod.Post))
{
    <div class="container">
        @if (Model != null)
        {
            <input type="hidden" id="TechnicalId" name="TechnicalId" value="@Model.TechnicalId" />
        }
        else
        {
            <input type="hidden" asp-for="TechnicalId" value="0" />
        }
        <div id="modalbodyfahad" class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center" id="styletext">Technical Info Entry - @ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 order-md-1">
                            <form class="needs-validation card p-4" novalidate>
                                <div class="container">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label>Main Title</label>
                                            <select asp-for="MeetingType" asp-items="ViewBag.MeetingType" class="form-control"></select>
                                            @Html.ValidationMessageFor(model => model.MeetingType, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            <label>Type</label>
                                            <select asp-for="MeetingId" asp-items="ViewBag.MeetingId" class="form-control"></select>
                                            @Html.ValidationMessageFor(model => model.MeetingId, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row Meeting">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.MeetingName)
                                            <input asp-for="MeetingName" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.MeetingName, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.MeetingNo)
                                            <input asp-for="MeetingNo" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.MeetingNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Meeting">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.MeetingDate)
                                            <input type="date" asp-for="MeetingDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.MeetingTotalQty)
                                            <input asp-for="MeetingTotalQty" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.MeetingTotalQty, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="row Training">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.TrainingName)
                                            <input asp-for="TrainingName" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.TrainingName, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.TrainingSub)
                                            <input asp-for="TrainingSub" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.TrainingSub, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Training">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.TrainingPresentQty)
                                            <input asp-for="TrainingPresentQty" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.TrainingPresentQty, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.TrainingDay)
                                            <input asp-for="TrainingDay" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.TrainingDay, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Training">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.TrainingHour)
                                            <input asp-for="TrainingHour" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.TrainingHour, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row Training">
                                        <div class="col mb-3">
                                            <label>Training Duration</label>
                                            <input asp-for="FSName" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FSName, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row Visit">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitName)
                                            <input asp-for="VisitName" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitName, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitOrg)
                                            <input asp-for="VisitOrg" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitOrg, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Visit">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitTrainerQty)
                                            <input asp-for="VisitTrainerQty" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitTrainerQty, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitWorkhour)
                                            <input asp-for="VisitWorkhour" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitWorkhour, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Visit">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitTraineeQty)
                                            <input asp-for="VisitTraineeQty" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitTraineeQty, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitOther)
                                            <input asp-for="VisitOther" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitOther, "", new { @class = "text-danger" })

                                        </div>

                                    </div>
                                    <div class="row Visit">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.VisitTotalQty)
                                            <input asp-for="VisitTotalQty" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.VisitTotalQty, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row Quality">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.ImportPhosphoric)
                                            <input asp-for="ImportPhosphoric" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ImportPhosphoric, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.ImportChalanNo)
                                            <input asp-for="ImportChalanNo" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ImportChalanNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Quality">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.ImportQty)
                                            <input asp-for="ImportQty" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ImportQty, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.ImportDate)
                                            <input type="date" asp-for="ImportDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ImportDate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Quality">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.ImportDensity)
                                            <input asp-for="ImportDensity" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ImportDensity, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.ImportPhosphorusPentoxide)
                                            <input asp-for="ImportPhosphorusPentoxide" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.ImportPhosphorusPentoxide, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row Waste">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.WasteSampleCollectDate)
                                            <input type="date" asp-for="WasteSampleCollectDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.WasteSampleCollectDate, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.WasteTestNum)
                                            <input asp-for="WasteTestNum" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.WasteTestNum, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Waste">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.WasteReportSendNum)
                                            <input asp-for="WasteReportSendNum" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.WasteReportSendNum, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.WasteTestDate)
                                            <input type="date" asp-for="WasteTestDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.WasteTestDate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Waste">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.WasteReportSendDate)
                                            <input type="date" asp-for="WasteReportSendDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.WasteReportSendDate, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row License">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.LicenseApplicationDate)
                                            <input type="date" asp-for="LicenseApplicationDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.LicenseApplicationDate, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.LicenseCertificateRcvDate)
                                            <input type="date" asp-for="LicenseCertificateRcvDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.LicenseCertificateRcvDate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row License">

                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.LicenseExpireDate)
                                            <input type="date" asp-for="LicenseExpireDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.LicenseExpireDate, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.LicenseRenewingAuth)
                                            <input asp-for="LicenseRenewingAuth" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.LicenseRenewingAuth, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="row Fire">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.FSName)
                                            <input asp-for="FSName" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FSName, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.FSDate)
                                            <input type="date" asp-for="FSDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FSDate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Fire">

                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.FSNum)
                                            <input asp-for="FSNum" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FSNum, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.FSLocaiton)
                                            <input asp-for="FSLocaiton" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.FSLocaiton, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="row Extinguisher">
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.EGType)
                                            <input asp-for="EGType" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.EGType, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.EGNum)
                                            <input asp-for="EGNum" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.EGNum, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="row Extinguisher">

                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.EGRefillDate)
                                            <input type="date" asp-for="EGRefillDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.EGRefillDate, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.EGExpireDate)
                                            <input type="date" asp-for="EGExpireDate" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.EGExpireDate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row Extinguisher">

                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.EGHydroTest)
                                            <input asp-for="EGHydroTest" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.EGHydroTest, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col mb-3">
                                            @Html.LabelFor(model => model.dtInput)
                                            <input type="date" asp-for="dtInput" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.dtInput, "", new { @class = "text-danger" })

                                        </div>
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                <input type="submit" value="Save" class="btn btn-primary btn-md btn-block" />

                                @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                <input type="submit" value="Update" class="btn btn-warning btn-block" />

                                @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                <button class="btn btn-danger btn-md btn-block" type="button" onclick="Section_delete()">Delete</button>
                                }
                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "TechnicalList", "Technical", null, new { @class = "btn btn-info btn-block", @id = "btnBack" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
}

@section Scripts{
    <script>

        function ShowHide() {
            $(".Meeting,.Training,.Visit,.Quality,.Waste,.License,.Fire,.Extinguisher").addClass("d-none");

            var select = $("#MeetingType").val();
            select = select.replace(/ .*/, '');
            if ($("." + select).hasClass("d-none")) {
                $("." + select).removeClass("d-none");
            }
        }

        $(document).ready(function () {
            
            $("#MeetingType").change(function () {
                ShowHide();
                $("#MeetingId").empty();
                $.ajax({
                    url: '@Url.Action("GetMeeting", "Technical")',
                    data: { meeting: $("#MeetingType").val() }, //use id here
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        for (var i = 0; i < result.length; i++) {
                            $("#MeetingId").append(`<option value="${result[i].MeetingId}">${result[i].Meeting}</option>`);
                        }
                    }
                });
            });
            ShowHide();
        });

    function Section_delete() {

        var MeetingId = $("#MeetingId").val();
         //   alert(Sectid);
            $.ajax({

                url: '@Url.Action("DeleteTechnical", "Technical")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: MeetingId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    debugger;
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("TechnicalList", "Technical")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

