<div class="container-fluid">

    <div class="card p-4 mb-2">
        <h2 id="styletext">Export Shipping Documents</h2>
        <div class="row">
            <div id="divBlank" class="col-md-3 col-12 pt-4">                      

                    <label class="pr-2"><input type="radio" name="RptType" value="PDF" checked="checked" /> PDF  </label>
                    <label class="pr-2"><input type="radio" name="RptType" value="EXCEL" /> EXCEL  </label>
                    <label class="pr-2"><input type="radio" name="RptType" value="WORD" /> WORD  </label>             

            </div>
            <div id="divMasterLCId" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Sales Contract:</label>
                </span>
                <span class="input-group" style="min-width: 120px;">
                    @Html.DropDownList("MasterLCId", null, "=Please Select=", htmlAttributes: new { @class = "form-control" })
                </span>
            </div>

            <div id="divExportInvoice" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Export Invoice:</label>
                </span>
                <span class="input-group" style="min-width: 120px;">
                    @Html.DropDownList("InvoiceId", null, htmlAttributes: new { @class = "form-control", @name = "InvoiceId[]", @multiple = "multiple" })
                </span>
            </div>

            <div id="divBuyer" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Buyer:</label>
                </span>
                <span class="input-group" style="min-width: 100px;">
                    @Html.TextBox("Buyer", "=N/A=", new { @class = "form-control form-control-sm", @readonly = "readonly" })
                </span>
            </div>

            <div id="divExporter" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Exporter:</label>
                </span>
                <span class="input-group" style="min-width: 100px;">
                    @Html.TextBox("Exporter", "=N/A=", new { @class = "form-control form-control-sm", @readonly = "readonly" })
                </span>
            </div>
            <div id="divTotalInvoiceQty" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Total Invoice Qty:</label>
                </span>
                <span class="input-group" style="min-width: 100px;">
                    @Html.TextBox("TotalInvoiceQty", "=N/A=", new { @class = "form-control form-control-sm", @readonly = "readonly" })
                </span>
            </div>
            <div id="divTotalValue" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Total Value:</label>
                </span>
                <span class="input-group" style="min-width: 100px;">
                    @Html.TextBox("TotalValue", "=N/A=", new { @class = "form-control form-control-sm", @readonly = "readonly" })
                </span>
            </div>
            <div id="divRefDate" class="col-md-3 col-12">
                <span class="text-right">
                    <label>Print / Ref Date:</label>
                </span>
                <span class="input-group" style="min-width: 100px;">
                    @Html.TextBox("PrintDate", null, new { @class = "form-control text-center PrintDate", @placeholder = "Print Date", @autocomplete = "off", name = "PrintDate" })
                </span>
            </div>


        </div>


    </div>




    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <div class="card p-2 mb-2">
        <div class="row">
            <div class="col-12">
                <div class="row text-center m-2">                   

                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintCIE')">Export Invoice</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintCountryOfOrigin')">Country Of Origin</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintGSP')">GSP</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintBL')">BL DRAFT</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintBillOfExchange')">BILL OF EXCHANGE</button>
                    </div>

                </div>

                <div class="row text-center m-2">
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintKPT')">KPT</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintSAFTA')">SAFTA</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintTC')">AFTA(Document Need)</button>
                    </div>

                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintMCD')">MCD(Document Need)</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintB255')">B255</button>
                    </div>



                </div>
                <div class="row text-center m-2">
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintCanadaCustom')">CANADA CUSTOM</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintPSIC')">REQUEST OF COO</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintCOP')">Colle. Of Proc.</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintCertificateOfOrigin')">Certificate Of Origin</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintEPB')">EPB</button>
                    </div>


                </div>

            </div>

        </div>
    </div>

</div>


<script>

    $('#InvoiceId').select2();
    $("#MasterLCId").select2();

      $('#MasterLCId').change(function () {

          ExportInvoice_List();

    })

    $('#InvoiceId').change(function () {

        ExportInvoice_Info();


    })

    function ExportInvoice_List() {
        
      

        //alert('prdsearch');
        $("#NotifyPartyId").empty();
        //$("#ProductDescription").val("=N/A=");
        //$("#UnitPrice").val(0);
        //alert('notifyparty');



            $.ajax({
                type: 'POST',
                url: '@Url.Action("getExportInvoiceByMasterLC", "ExportInvoiceMasters")',
                dataType: 'json',
                async: false,
                data: { id: $("#MasterLCId").val() },
                success: function (data) {
                    var s = '';//'<option value="-1">Please Select Product</option>';

                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $("#InvoiceId").html(s);
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }

            });
            return false;
    };



     function ExportInvoice_Info() {

         //alert($("#InvoiceId").val());
         //var test = 'abc , xyz';
         //var test = $("#InvoiceId").val();
         //console.log(test);
         //var test = '5,7';
         //alert(test);

                var MyAppUrlSettings = {
                MyUsefulUrl : '@Url.Action("ExportInvoiceInfoByInvoiceId", "ExportInvoiceMasters")'
                }

                $.ajax({
                type: 'POST',
                url: MyAppUrlSettings.MyUsefulUrl,
                dataType: 'json',
                async: false,
                    data: { id: $("#InvoiceId").val()},

                        success: function (data) {
                            //alert('working');
                            console.log(data);

                            $("#Buyer").val(data.BuyerName).show();
                            $("#Exporter").val(data.ExporterName).show();
                            $("#TotalInvoiceQty").val(data.TotalInvoiceQty).show();
                            $("#TotalValue").val(data.TotalValue).show();

                    },
                error: function (ex) {
                alert('Failed.' + ex);
                    }
                    });
                return false;

    };







    function ReportPrint(btnvalue) {
        var MasterLCId = 0;
        var InvoiceId = 0;
        var printdate = "";

        MasterLCId = $('#MasterLCId').val();
        InvoiceId = $('#InvoiceId').val();
        //alert(InvoiceId);
        printdate = $('#PrintDate').val();



        if (MasterLCId == '') {
            alert('Please Select Sales Contract From List');
            return;
        }
        if (InvoiceId == '') {
            alert('Please Select Export Invoice From List');
            return;
        }
        if (printdate == '') {
            alert('Please Select Ref Date For Print');
            return;
        }


        var reporttype = $("input[name=RptType]:checked").val();


        $.ajax({
        type: 'POST',
        url: '@Url.Action("SetSession", "ExportInvoiceMasters")',
        dataType: 'json',
        async: true,
            data: { reporttype: reporttype, action: btnvalue, masterlcid: MasterLCId, reportid: InvoiceId.toString(), printdate: printdate},
            success: function (response) {
              //  window.location.href = response.Url;

                window.open(response.Url, '_blank')
            },
            error: function (ex) {
                alert('Failed.' + ex);
            }

        });

    }

    //$('input[name=RptType]').click(function () {
    //    var reporttype = $("input[name=RptType]:checked").val();


    //});


    function CurrentDate() {
        var date = new Date();
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
            "Aug", "Sep", "Oct", "Nov", "Dec"];
        var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();
        $("#PrintDate").val(val);

    }

    $("#PrintDate").datepicker({
        onSelect: function (date) {
            // Your CSS changes, just in case you still need them
            $('a.ui-state-default').removeClass('ui-state-highlight');
            $(this).addClass('ui-state-highlight');
            var dateFormat = $("#PrintDate").datepicker("option", "dateFormat");
            //setter
            $("#PrintDate").datepicker("option", "dateFormat", 'dd-M-yy');
        }
    });

</script>

