@model GTERP.Controllers.Buffer.BufferListController.BufferVm

<style>


    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


@using (Html.BeginForm("Create", "BufferList", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="py-7 text-center">

            <h1 id="styletext">Buffer Entry</h1>
            <p class="lead"></p>
        </div>

        @if (Model != null)
        {
           @Html.HiddenFor(x=> x.BufferListId)
        }
        else
        {
            <input type="hidden" asp-for="BufferListId"  />
        }
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Buffer @ViewBag.Title</h4>

                <form class="needs-validation card p-4" novalidate>


                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.BufferCode,"Buffer Code")
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.BufferCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BufferCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.BufferName , "Buffer Name")
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.BufferName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BufferName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.BufferNameBangla,"Buffer Name Bangla")
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.BufferNameBangla, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BufferNameBangla, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.bufferRepId, "Buffer Representative")
                                            @*@Html.LabelFor(model => model.RepresentativeId, "Representative Name")*@
                                        </span>
                                    </div>
                                    @Html.ListBoxFor(model => model.bufferRepId, new MultiSelectList(Model.drpBufferRep, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "rep_dropdown" })
                                    @*<select asp-for="RepresentativeId" asp-items="ViewBag.RepresentativeId" multiple>

                 </select>*@

                                    @*@Html.DropDownList("RepresentativeId", ViewBag.RepresentativeId, "--Please Select--", htmlAttributes: new { @class = "form-control" })*@
                                    @*@Html.ValidationMessageFor(model => model.RepresentativeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>


                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.districtId, "District")
                                            @*@Html.LabelFor(model => model.DistId, "District Name")*@
                                        </span>
                                    </div>
                                    @Html.ListBoxFor(model => model.districtId, new MultiSelectList(Model.drpDistricts, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "dist_dropdown" })
                                    @*<select asp-for="DistId" asp-items="ViewBag.DistrictId" multiple>

        </select>*@
                                    @*@Html.DropDownList("DistId", ViewBag.DistrictId, "--Please Select--", htmlAttributes: new { @class = "form-control" })*@
                                    @*@Html.ValidationMessageFor(model => model.DistId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>





                        </div>

                       



                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Buffer_delete()">Delete</button>
                                }


                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "Index", "BufferList", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section Styles{ 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css" integrity="sha512-Lif7u83tKvHWTPxL0amT2QbJoyvma0s9ubOlHpcodxRxpZo4iIGFw/lDWbPwSjNlnas2PsTrVTTcOoaVfb4kwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js" integrity="sha512-fp+kGodOXYBIPyIXInWgdH2vTMiOfbLC9YqwEHslkUxc8JLI7eBL2UQ8/HbB5YehvynU3gA3klc84rAQcTQvXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        $().ready(() => {
            $("rep_dropdown").multiselect();
            $("dist_dropdown").multiselect();
        })

   // $("#Sectid").select2();

    function Buffer_delete() {

        var BufferId = $("#BufferId").val();
           // alert(DesigId);
            $.ajax({

                url: '@Url.Action("Delete", "BufferList")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: BufferId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    debugger;
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "BufferList")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


