@model GTERP.ViewModels.EmployeeDetails

@{
    ViewBag.Title = "DASHBOARD";
}
<div class="card mb-4 p-3">
    <div class="box-header card card-header-style purple-gradient">
        <div class="row">
            <div class="col-md-6 col-12">
                <h3 class="box-title">Employee Details Information</h3>
            </div>
            <div class="col-md-6 col-12">
                @*<h5 class="text-right box-title">From @Model.FirstDayOfMonth.ToString("dd-MMM-yyyy") To : @Model.LastProcessDate </h5>*@
            </div>
        </div>
    </div>
    <div class="card-body pt-3">
        <div class="row">
            <div class="col-md-3 col-12" style="width:100%">
                <div id="piechart"></div>
            </div>
            <div class="col-md-3 col-12" style="width:100%">
                <div id="piechart1"></div>
            </div>

            <div class="col-md-6 col-12">
                <div class="row">

                    <div class="col-md-4 col-12 mb-4">
                        <a asp-action="ActiveEmp" asp-route-Date="@ViewBag.DtLoad" asp-controller="ActiveUsers" class="text-white" target="_blank">
                            <div class="metroblockEmp bg-blue-active p-3">
                                <p class="text-center"><span class="fas fa-briefcase fa-3x"></span></p>
                                <h4 class="text-center box-title">@Model.ActiveEmployee</h4>
                                <div class="clear"></div>
                                <h4 class="text-center box-title">Active</h4>

                            </div>
                        </a>

                    </div>
                    <div class="col-md-4 col-12 mb-4">
                        <a asp-route-Date="@ViewBag.DtLoad" asp-action="ActiveEmpRelease" asp-controller="ActiveUsers" class="text-white" target="_blank">
                            <div class="metroblockEmp deepGreen-color p-3">
                                <p class="text-center"><span class="fas fa-list-alt fa-3x"></span></p>
                                <h4 class="text-center box-title">@Model.ReleasedEmployee</h4>
                                <div class="clear"></div>
                                <h4 class="text-center box-title">Released</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-12 mb-4">
                        <a asp-route-Date="@ViewBag.DtLoad" asp-action="TotalEmployees" asp-controller="ActiveUsers" class="text-white" target="_blank">
                            <div class="metroblockEmp denger-color p-3">
                                <p class="text-center"><span class="fas fa-cart-plus fa-3x"></span></p>
                                <h4 class="text-center box-title">@Model.TotalEmployee</h4>
                                <div class="clear"></div>
                                <h4 class="text-center box-title">Total</h4>
                            </div>
                        </a>
                    </div>

                    <div  class="col-md-4 col-12 mb-4">
                        <a asp-route-Date="@ViewBag.DtLoad" asp-action="ActiveEmpMale" asp-controller="ActiveUsers" class="text-white" target="_blank">
                            <div class="metroblockEmp bg-green p-3">
                                <p class="text-center"><span class="fas fa-male fa-3x"></span></p>
                                <h4 class="text-center box-title">@Model.MaleEmployee</h4>
                                <div class="clear"></div>
                                <h4 class="text-center box-title">Male</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-12 mb-4">
                        <a asp-route-Date="@ViewBag.DtLoad" asp-action="ActiveEmpFemale" asp-controller="ActiveUsers" class="text-white" target="_blank">
                            <div class="metroblockEmp bg-red p-3">
                                <p class="text-center"><span class="fas fa-female fa-3x"></span></p>
                                <h4 class="text-center box-title">@Model.FemaleEmployee</h4>
                                <div class="clear"></div>
                                <h4 class="text-center box-title">Female</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-12 mb-4">
                        <a asp-route-Date="@ViewBag.DtLoad" asp-action="ActiveEmpOTYes" asp-controller="ActiveUsers" class="text-white" target="_blank">
                            <div class="metroblockEmp bg-yellow-active p-3">
                                <p class="text-center"><span class="fas fa-calendar-alt fa-3x"></span></p>
                                <h4 class="text-center box-title">@Model.OtYesEmployee</h4>
                                <div class="clear"></div>
                                <h4 class="text-center box-title">OT Yes</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
