@model GTERP.ViewModels.MonthlyAttendance

<style>
    .table thead th {
        border: none;
    }

    .table td, .table th {
        border-top: none;
        background: inherit;
    }
</style>

<div class="card mb-4 p-3">
    <div class="box-header card card-header-style purple-gradient">
        <div class="row">
            <div class="col-md-6 col-12">
                <h3 class="box-title">Total Overtime (Daily & Monthly)</h3>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="text-left"></h5>
            </div>
        </div>
    </div>
    <div class="card-body pt-3">
        <div class="row">

            <div class="col-md-6 col-12">
                <div class="bg-blue-active card table-responsive mb-2">
                    <h3 class="customeFont text-center">Total Overtime (Daily)</h3>
                    <hr class="MAhr" />
                    <table class="table text-center text-white">
                        <thead class="border-bottom-0">
                            <tr>
                                <th>
                                    Daily Total OT & Amount
                                </th>
                                <th>
                                    Daily Reg. OT & Amount
                                </th>
                                <th>
                                    Daily Extra OT & Amount
                                </th>
                                @*<th>
                                        SL
                                    </th>
                                    <th>
                                       L
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Model.TotalOtHour Hr <br>
                                    @Model.TotalOtHourAmt TK.
                                </td>
                                <td>
                                    @Model.RegOThour Hr <br>
                                    @Model.RegOThourAmt TK.
                                </td>
                                <td>
                                    @Model.ExtraOtHour Hr <br>
                                    @Model.ExtraOtHourAmt TK.
                                </td>
                            </tr>
                            @*<tr>
                                    <td colspan="5">
                                        @Model.LastProcessDate
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-2">
                <div class="bg-green card table-responsive">
                    <h3 class="customeFont text-center">Total Overtime (Monthly)</h3>
                    <hr class="MAhr" />
                    <table class="table text-center text-white">
                        <thead>
                            <tr>
                                <th>
                                    Monthly Total OT & Amount
                                </th>
                                <th>
                                    Monthly Regular OT & Amount
                                </th>
                                <th>
                                    Monthly Extra OT & Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Model.MonthlyTotalOtHour Hr <br>
                                    @Model.MonthlyTotalOtHourAmt TK.
                                </td>
                                <td>
                                    @Model.MonthlyRegOThour Hr <br>
                                    @Model.MonthlyRegOThourAmt TK.
                                </td>
                                <td>
                                    @Model.MonthlyExtraOtHour Hr <br>
                                    @Model.MonthlyExtraOtHourAmt TK.
                                </td>
                            </tr>
                            @*<tr>
                                    <td colspan="3">
                                        @Model.LastProcessDate
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

