@model GTERP.ViewModels.SalaryDetails
    <div class="card mb-4 p-3">
        <div class="box-header card card-header-style pal-kyoo-gradient">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h3 class="box-title">Last Salary Details</h3>
                </div>
                <div class="col-md-6 col-12">
                    <h5 class="text-right box-title">Last Salary Month  : @Model.ProssType</h5>
                </div>
            </div>
        </div>
        <div class="card-body pt-3">
            <div class="row">

                <table class="text-center table-responsive table table-hover table-striped border p-3">
                    @{IEnumerable<GTERP.ViewModels.SalarySummeryDetails> salarysum = ViewBag.SalarySum; }
                    <thead>
                        <tr>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <th>EmpTypeName</th>
                            <th>Employees</th>
                            <th>Gross Salary</th>
                            <th>Total OT Amt</th>
                            <th>OT Hour</th>
                            <th>AttBonus</th>
                            <th>Conv Allow</th>
                            <th>Food Allow</th>
                            <th>Other Allow</th>
                            <th>Net Amount</th>
                            <th>Absent</th>
                            <th>PF</th>
                            <th>Adv</th>
                            <th>Other Deduct</th>
                            <th>Stamp</th>
                            <th>Lunch Deduct</th>
                            <th>Total Deduct</th>
                            <th>Net Payable</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GTERP.ViewModels.SalarySummeryDetails s in salarysum)
                        {
                            <tr>
                                <td>
                                    <a target="_blank" asp-action="SalarySummaryData" asp-controller="Dashboard"
                                       asp-route-Date="@ViewBag.DtLoad" asp-route-sectName="@s.Section">@s.Section</a>
                                </td>
                                <td>@s.EmpTypeName</td>
                                <td>@s.TotalEmployee</td>
                                <td>@s.GS</td>
                                <td>@s.TotalOTAmount</td>
                                <td>@s.OTHour</td>
                                <td>@s.AttBonus</td>

                                <td>@s.ConveyanceAllowance</td>
                                <td>@s.FoodAllowance</td>
                                <td>@s.OtherAllow</td>
                                <td>@s.NetAmount</td>
                                <td>@s.Absent</td>
                                <td>@s.PF</td>
                                <td>@s.Adv</td>
                                <td>@s.OtherDeduct</td>
                                <td>@s.Stamp</td>
                                <td>@s.LunchDeduct</td>
                                <td>@s.TotalDeduct</td>
                                <td>@s.NetPayable</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr style="font-weight:bold">
                            
                            <td>Grand Total:</td>
                        <td></td>
                            <td>Total Employees: @salarysum.Sum(a => a.TotalEmployee)</td>
                            <td>Total GS: @salarysum.Sum(a => a.GS)</td>
                            <td>Total OT Amount: @salarysum.Sum(a => a.TotalOTAmount)</td>
                            <td>Total OT Hour: @salarysum.Sum(a => a.OTHour)</td>
                            <td>Total AttBonus: @salarysum.Sum(a => a.AttBonus)</td>
                            <td>Total CA: @salarysum.Sum(a => a.ConveyanceAllowance)</td>
                            <td>Total FA: @salarysum.Sum(a => a.FoodAllowance)</td>
                            <td>Total Other Allowance: @salarysum.Sum(a => a.OtherAllow)</td>
                            <td>Total Net Amount: @salarysum.Sum(a => a.NetAmount)</td>
                            <td>Total Absent: @salarysum.Sum(a => a.Absent)</td>
                            <td>Total PF: @salarysum.Sum(a => a.PF)</td>
                            <td>Total Adv: @salarysum.Sum(a => a.Adv)</td>
                            <td>Total Other Deduct: @salarysum.Sum(a => a.OtherDeduct)</td>
                            <td>Total Stamp: @salarysum.Sum(a => a.Stamp)</td>
                            <td>Total Lunch Deduct: @salarysum.Sum(a => a.LunchDeduct)</td>
                            <td>Total Deduct: @salarysum.Sum(a => a.TotalDeduct)</td>
                            <td>Total Net Payable: @salarysum.Sum(a => a.NetPayable)</td>
                        </tr>
                    </tfoot>
                </table>

            </div>

            <div class="row mt-3">
                <div class="col-md-3 col-12 mb-2">
                    <div class="card metroblockDA cardPresent bg-green">
                        <!-- <span class="icon fontawesome-briefcase left"></span> -->
                        <h4 class="text-right">Per Employee</h4>
                        <hr class="DAhr">
                        <h3 class="text-center">
                            @Model.AvgSalary
                        </h3>
                        <div class="clear"></div>
                        <h4 class="text-center">Avg Salary</h4>
                    </div>
                </div>
                <div class="col-md-3 col-12 mb-2">
                    <div class="card metroblockDA cardPresent bg-yellow-active">
                        <a target="_blank" asp-action="DailyCostSummary" asp-controller="Dashboard"
                        asp-route-Date="@ViewBag.DtLoad">
                        <!-- <span class="icon fontawesome-briefcase left"></span> -->
                        <h4 class="text-right">Per Day</h4>
                        <hr class="DAhr">
                        <h3 class="text-center">
                            @Model.PerDaySalary
                        </h3>
                        <div class="clear"></div>
                        <h4 class="text-center">Salary</h4> 
                    </a>
                    </div>
                </div>
                <div class="col-md-3 col-12 mb-2">
                    <div class="card metroblockDA cardPresent bg-red">
                        <!-- <span class="icon fontawesome-briefcase left"></span> -->
                        <h4 class="text-right">@Model.ProssType</h4>
                        <hr class="DAhr">
                        <h3 class="text-center">
                            @Model.NetPayableSalary

                        </h3>
                        <div class="clear"></div>
                        <h4 class="text-center">Net Payable</h4>
                    </div>
                </div>
                <div class="col-md-3 col-12 mb-2">
                    <div class=" card metroblockDA cardPresent small-card bg-blue-active">
                        <!-- <span class="icon fontawesome-briefcase left"></span> -->
                        <h4 class="text-right">@Model.LastProssType</h4>
                        <hr class="DAhr">
                        <h3 class="text-center">
                            @Model.TotalOtCost

                        </h3>
                        <div class="clear"></div>
                        <h4 class="text-center">Total OT Cost</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
