@model IEnumerable<GTERP.ViewModels.DailyCostDetails>

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
{

<div class="card mb-4 p-3">
    <div class="box-header card card-header-style pal-kyoo-gradient">
        <div class="row">
            <div class="col-md-8 col-12">
                <h3 class="box-title">Daily Costing Details</h3>
            </div>
           
        </div>
    </div>
    <div>
        <br/>
        
            
                <table class="table table-bordered table-hover table-striped text-nowrap" id="tbllist" style="width:100% !important">
                 @*   @{IEnumerable<GTERP.ViewModels.SalarySummeryDetails> salarysum = ViewBag.SalarySum; }*@
                    <thead>
                        <tr>
                            
                            <th>Emp Code</th>
                            <th>Emp Name</th>
                           <th>DeptName</th>
                           <th>SectName</th>
                            <th>Desigation</th>
                            <th>FloorName</th>
                            <th>LineName</th>
                            <th>Grade</th>

                            <th>Shift</th>
                            <th>Status</th>
                            
                            <th>TimeIn</th>
                            <th>TimeOut</th>
                            <th>GS</th>
                            
                            <th>PerDaySalary</th>
                            <th>Rate</th>
                            <th>OTHr</th>
                            <th>OTAmt</th>
                            <th>NetAmount</th>
                            <th>Remarks</th>
                           
                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model)
                        {
                        <tr>
                           
                            <td>@s.EmpCode</td>
                            <td>@s.EmpName</td>
                            <td>@s.DeptName</td>
                            <td>@s.SectName</td>
                            <td>@s.DesigName</td>
                            <td>@s.FloorName</td>
                            <td>@s.LineName</td>
                            <td>@s.Grade</td>
                            
                            <td>@s.ShiftName</td>
                            <td>@s.Status</td>
                            <td>@s.TimeIn</td>
                            <td>@s.TimeOut</td>
                            <td>@s.Gs</td>
                            <td>@s.PerDaySalary</td>
                            <td>@s.OTRate</td>
                           
                            
                            <td>@s.OTHr</td>
                            <td>@s.OTAmt</td>
                            
                            <td>@s.NetAmt</td>
                            <td>@s.Remarks</td>
                            
                        </tr>
                        }
                    </tbody>
                                     @*   <tfoot>
                        <tr style="font-weight:bold">
                            <td>Grand Total:</td>
                            <td>Total Employees: @Model.Sum(a => a.TotalEmployee)</td>
                            <td>Total GS: @salarysum.Sum(a => a.GS)</td>
                            <td>Total OT Amount: @salarysum.Sum(a => a.TotalOTAmount)</td>
                            <td>Total OT Hour: @salarysum.Sum(a => a.OTHour)</td>
                            <td>Total AttBonus: @salarysum.Sum(a => a.AttBonus)</td>

                            <td>Total CA: @salarysum.Sum(a => a.ConveyanceAllowance)</td>
                            <td>Total FA: @salarysum.Sum(a => a.FoodAllowance)</td>
                            <td>Total Other Allowance: @salarysum.Sum(a => a.OtherAllow)</td>
                            <td>Total Net Amount: @salarysum.Sum(a => a.NetAmount)</td>
                            <td>Total Absent: @salarysum.Sum(a => a.Absent)</td>
                            <td>Total PF: @salarysum.Sum(a => a.PF)</td>
                            <td>Total Adv: @salarysum.Sum(a => a.Adv)</td>
                            <td>Total Other Deduct: @salarysum.Sum(a => a.OtherDeduct)</td>
                            <td>Total Stamp: @salarysum.Sum(a => a.Stamp)</td>
                            <td>Total Lunch Deduct: @salarysum.Sum(a => a.LunchDeduct)</td>
                            <td>Total Deduct: @salarysum.Sum(a => a.TotalDeduct)</td>
                            <td>Total Net Payable: @salarysum.Sum(a => a.NetPayable)</td>
                        </tr>
                    </tfoot>*@
                    
                </table>
            
        
    </div>
    

</div>
    

    

}
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#tbllist thead tr').clone(true).appendTo('#tbllist thead');
                $('#tbllist thead:last tr:eq(0) th').each(function (i) {
                    var title = $(this).text().trim();
                    $(this).html('<input type="text" class="form-control"  placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                });
          var table = $('#tbllist').DataTable({

                 dom: '<"dom_wrapper fh-fixedHeader"flB>tip',
                    "searching": true,
                   
                    paging: false,
                    scrollY: true,
                    scrollX: true,
                    scrollY: '300px',
                    scrollCollapse: true,
                "language": {
                    sLengthMenu: " _MENU_",
                    search: "",
                    searchPlaceholder: "Search..."
                }
                //dom: '<"dom_wrapper fh-fixedHeader"flB>tip',
                //buttons: {
                //    dom: {
                //        button: {
                //            className: 'btn rounded-0'
                //        }
                //    },
                //    buttons: [
                //        //'copy', 'csv', 'excel', 'pdf'
                //        //$(this).addClass("btn-group dt-buttons justify-content-center mb-3")
                //        {
                //            extend: 'colvis',
                //            "columns": ':not(:last-child)',
                //            text: '<i class="mdi mdi-view-column"></i>',
                //            className: 'btn-info',
                //            titleAttr: 'Show / hide columns',
                //            //collectionLayout: 'fixed two-column'

                //        },
                //        //{
                //        //    extend: 'copy',
                //        //    text: '<i class="mdi mdi-content-copy"></i>',
                //        //    className: 'btn-primary',
                //        //    titleAttr: 'Copy to Clipboard'
                //        //},
                //        //{
                //        //    extend: 'csv',
                //        //    text: '<i class="mdi mdi-note-outline"></i>',
                //        //    className: 'btn-secondary',
                //        //    titleAttr: 'Export to csv'

                //        //},
                //        {
                //            extend: 'excel',
                //            text: '<i class="mdi mdi-file-excel"></i>',
                //            className: 'btn-success',
                //            titleAttr: 'Export to excel'
                //        },
                //        {
                //            extend: 'pdfHtml5',
                //            orientation: 'landscape',
                //            pageSize: 'LEGAL',
                //            text: '<i class="mdi mdi-file-pdf"></i>',
                //            className: 'btn-danger',
                //            titleAttr: 'Export to PDF',
                //            //exportOptions: {
                //            //    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                //            //}

                //        },
                //        {
                //            extend: 'print',
                //            text: '<i class="mdi mdi-printer"></i>',
                //            className: 'btn-info',
                //            titleAttr: 'Print Table'
                //        }

                //    ]
                //},
                //"searching": true,
                //"paging": false,
                //"ordering": true,
                //"info": true,
                //"orderCellsTop": true,
                //"iDisplayLength": 20,
                ////"lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                ////"scrollX": true,
                ////"scrollY": "60vh",
                ////"scrollCollapse": true,
                //language: {
                //    sLengthMenu: "_MENU_",
                //    search: "",
                //    searchPlaceholder: "Search..."
                //}
                //////"fixedColumns": {
                //////    "leftColumns": 2,

                //////},
                ////"sScrollXInner": "100%",
                ////dom: 'Blfrtip',
                //////,"fixedHeader": true
            });
        });

            //$(".search_input").addClass('form-control input-lg col-xs-12');

    </script>
    }

