@model IEnumerable<GTERP.ViewModels.DailyCostSummary>

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
{

<div class="card mb-4 p-3">
    <div class="box-header card card-header-style pal-kyoo-gradient">
        <div class="row">
            <div class="col-md-8 col-12">
                <h3 class="box-title">Daily Cost Summary</h3>
            </div>
         
        </div>
    </div>
    <div  class="card-body pt-3">
        <div class="row">
            
                <table class="text-center table table-hover table-striped border p-3">
                 @*   @{IEnumerable<GTERP.ViewModels.SalarySummeryDetails> salarysum = ViewBag.SalarySum; }*@
                    <thead>
                       
                        <tr>
                            <th>Department</th>
                            <th> Total Employees</th>
                            <th>Gross Salary</th>
                            <th>Basic Salary</th>
                            <th>OT Hour</th>
                            <th>OT Amount</th>
                            <th>Net Amount</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model)
                        {
                        <tr>
                            <td>
                                <a target="_blank" asp-action="DailyCostDetails" asp-controller="Dashboard" 
                                asp-route-Date="@ViewBag.Dt" asp-route-sectname="@s.DeptName">@s.DeptName</a>
                            </td>
                            
                            <td>@s.ttlEmp</td>
                            <td>@s.Gs</td>
                            <td>@s.BasicSalary</td>
                            <td>@s.OTHour</td>
                            <td>@s.OTAmt</td>

                            <td>@s.NetAmt</td>
                            
                        </tr>
                        }
                    </tbody>
                        <tfoot>
                        <tr style="font-weight:bold">
                            <td>Grand Total:</td>
                            <td>Total Employees: @Model.Sum(s=>s.ttlEmp)</td>
                            <td>Total Gs: @Model.Sum(s=>s.Gs)</td>
                            <td>Total Basic Salary: @Model.Sum(s=>s.BasicSalary)</td>
                            <td>Total OTHr: @Model.Sum(s=>s.OTHour)</td>
                            <td>Total OT Amount: @Model.Sum(s=>s.OTAmt)</td>
                            <td>Total Net Amount: @Model.Sum(a => a.NetAmt)</td>
                          
                        </tr>
                    </tfoot>
                    
                </table>
            
        </div>
    </div>
    

</div>
    

    

}

