@model IEnumerable<GTERP.ViewModels.SalarySummeryDetails>

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
{

<div class="card mb-4 p-3">
    <div class="box-header card card-header-style pal-kyoo-gradient">
        <div class="row">
            <div class="col-md-8 col-12">
                <h3 class="box-title">Salary Summary</h3>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div  class="card-body pt-3">
        <div class="row">
            
                <table class="text-center table table-hover table-striped border p-3">
                    @{IEnumerable<GTERP.ViewModels.SalarySummeryDetails> salarysum = ViewBag.SalarySum; }
                    <thead>
                        <tr>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <th>Employees</th>
                            <th>Gross Salary</th>
                            <th>Total OT Amt</th>
                            <th>OT Hour</th>
                            <th>AttBonus</th>
                            <th>Conv Allow</th>
                            <th>Food Allow</th>
                            <th>Other Allow</th>
                            <th>Net Amount</th>
                            <th>Absent</th>
                            <th>PF</th>
                            <th>Adv</th>
                            <th>Other Deduct</th>
                            <th>Stamp</th>
                            <th>Lunch Deduct</th>
                            <th>Total Deduct</th>
                            <th>Net Payable</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GTERP.ViewModels.SalarySummeryDetails s in salarysum)
                        {
                        <tr>
                            <td>
                                <a target="_blank" asp-action="SalarySummaryData" asp-controller="Dashboard"
                                    asp-route-sectName="@s.Section">@s.Section</a>
                            </td>
                            
                            <td>@s.TotalEmployee</td>
                            <td>@s.GS</td>
                            <td>@s.TotalOTAmount</td>
                            <td>@s.OTHour</td>
                            <td>@s.AttBonus</td>

                            <td>@s.ConveyanceAllowance</td>
                            <td>@s.FoodAllowance</td>
                            <td>@s.OtherAllow</td>
                            <td>@s.NetAmount</td>
                            <td>@s.Absent</td>
                            <td>@s.PF</td>
                            <td>@s.Adv</td>
                            <td>@s.OtherDeduct</td>
                            <td>@s.Stamp</td>
                            <td>@s.LunchDeduct</td>
                            <td>@s.TotalDeduct</td>
                            <td>@s.NetPayable</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr style="font-weight:bold">
                            <td>Grand Total:</td>
                            <td>Total Employees: @salarysum.Sum(a => a.TotalEmployee)</td>
                            <td>Total GS: @salarysum.Sum(a => a.GS)</td>
                            <td>Total OT Amount: @salarysum.Sum(a => a.TotalOTAmount)</td>
                            <td>Total OT Hour: @salarysum.Sum(a => a.OTHour)</td>
                            <td>Total AttBonus: @salarysum.Sum(a => a.AttBonus)</td>

                            <td>Total CA: @salarysum.Sum(a => a.ConveyanceAllowance)</td>
                            <td>Total FA: @salarysum.Sum(a => a.FoodAllowance)</td>
                            <td>Total Other Allowance: @salarysum.Sum(a => a.OtherAllow)</td>
                            <td>Total Net Amount: @salarysum.Sum(a => a.NetAmount)</td>
                            <td>Total Absent: @salarysum.Sum(a => a.Absent)</td>
                            <td>Total PF: @salarysum.Sum(a => a.PF)</td>
                            <td>Total Adv: @salarysum.Sum(a => a.Adv)</td>
                            <td>Total Other Deduct: @salarysum.Sum(a => a.OtherDeduct)</td>
                            <td>Total Stamp: @salarysum.Sum(a => a.Stamp)</td>
                            <td>Total Lunch Deduct: @salarysum.Sum(a => a.LunchDeduct)</td>
                            <td>Total Deduct: @salarysum.Sum(a => a.TotalDeduct)</td>
                            <td>Total Net Payable: @salarysum.Sum(a => a.NetPayable)</td>
                        </tr>
                    </tfoot>
                </table>
            
        </div>
    </div>
    

</div>
    

    

}
