@model GTERP.Models.Production


<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "Productions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 1000px;">
        <div class="py-7 text-center">

            <h1 id="styletext">Production Data Entry</h1>
            <p class="lead"></p>
        </div>
        @*@if (Model != null)
            {
                <input type="hidden" id="DistId" name="DistId" value="@Model.PrdUnitId" />
            }
            else
            {
                <input type="hidden" asp-for="PrdUnitId" value="0" />
            }*@
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Production Data @ViewBag.Title</h4>

                <div class="container">
                    <div class="row">
                        <input type="hidden" asp-for="ProductionId" />
                        <div class="col mb-3">
                            <label asp-for="PrdUnitId" class="control-label">Unit</label>
                            <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId">
                                <option value="">--Select Unit--</option>
                            </select>
                        </div>
                        @*<div class="col mb-3">
                <label asp-for="ProductId" class="control-label">Product</label>
                <select id="ItemDescId" asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            </div>*@
                        <div class="col mb-3">
                            <label asp-for="FiscalYearId" class="control-label"></label>
                            <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="FiscalMonthId" class="control-label"></label>
                            <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                        </div>

                        <div class="col mb-3">
                            <label asp-for="ProductionDate" class="control-label">Production Date</label>
                            <input asp-for="ProductionDate" type="date" class="form-control" />
                            <span asp-validation-for="ProductionDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label asp-for="DailySeedQty" class="control-label"></label>
                            <input asp-for="DailySeedQty" class="form-control" />
                            <span asp-validation-for="DailySeedQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="MonthlySeedQty" class="control-label"></label>
                            <input asp-for="MonthlySeedQty" class="form-control" readonly />
                            <span asp-validation-for="MonthlySeedQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="YearlySeedQty" class="control-label"></label>
                            <input asp-for="YearlySeedQty" class="form-control" readonly />
                            <span asp-validation-for="YearlySeedQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="ClosingSeedStock" class="control-label"></label>
                            <input asp-for="ClosingSeedStock" class="form-control" readonly />
                            <span asp-validation-for="ClosingSeedStock" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col mb-3">
                            <label asp-for="DailyBagQty" class="control-label"></label>
                            <input asp-for="DailyBagQty" class="form-control" />
                            <span asp-validation-for="DailyBagQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="MonthlyBagQty" class="control-label"></label>
                            <input asp-for="MonthlyBagQty" class="form-control" readonly />
                            <span asp-validation-for="MonthlyBagQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="YearlyBagQty" class="control-label"></label>
                            <input asp-for="YearlyBagQty" class="form-control" readonly />
                            <span asp-validation-for="YearlyBagQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="ClosingBagStock" class="control-label"></label>
                            <input asp-for="ClosingBagStock" class="form-control" readonly />
                            <span asp-validation-for="ClosingBagStock" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label asp-for="DailySalesSeedQty" class="control-label"></label>
                            <input asp-for="DailySalesSeedQty" class="form-control" />
                            <span asp-validation-for="DailySalesSeedQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="MonthlySalesSeedQty" class="control-label"></label>
                            <input asp-for="MonthlySalesSeedQty" class="form-control" readonly />
                            <span asp-validation-for="MonthlySalesSeedQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="YearlySalesSeedQty" class="control-label"></label>
                            <input asp-for="YearlySalesSeedQty" class="form-control" readonly />
                            <span asp-validation-for="YearlySalesSeedQty" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col mb-3">
                            <label asp-for="DailySalesBagQty" class="control-label"></label>
                            <input asp-for="DailySalesBagQty" class="form-control" />
                            <span asp-validation-for="DailySalesBagQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="MonthlySalesBagQty" class="control-label"></label>
                            <input asp-for="MonthlySalesBagQty" class="form-control" readonly />
                            <span asp-validation-for="MonthlySalesBagQty" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="YearlySalesBagQty" class="control-label"></label>
                            <input asp-for="YearlySalesBagQty" class="form-control" readonly />
                            <span asp-validation-for="YearlySalesBagQty" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col mb-3">
                            <label asp-for="PhosphoricPerTon" class="control-label">Phosphoric Acid</label>
                            <input asp-for="PhosphoricPerTon" class="form-control" />
                            <span asp-validation-for="PhosphoricPerTon" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="AmmoniaPerTon" class="control-label">Ammonia</label>
                            <input asp-for="AmmoniaPerTon" class="form-control" />
                            <span asp-validation-for="AmmoniaPerTon" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="SulfuricPerTon" class="control-label">Sulfuric Acid</label>
                            <input asp-for="SulfuricPerTon" class="form-control" />
                            <span asp-validation-for="SulfuricPerTon" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="SandPerTon" class="control-label">Sand</label>
                            <input asp-for="SandPerTon" class="form-control" />
                            <span asp-validation-for="SandPerTon" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col mb-6">
                            <label asp-for="PhosphoricReceive" class="control-label"></label>
                            
                            <textarea asp-for="PhosphoricReceive" class="form-control"></textarea>
                            <span asp-validation-for="PhosphoricReceive" class="text-danger"></span>
                        </div>
                        <div class="col mb-6">
                            <label asp-for="AmmoniaReceive" class="control-label"></label>
                            <textarea asp-for="AmmoniaReceive" class="form-control"></textarea>                            
                            <span asp-validation-for="AmmoniaReceive" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col mb-6">
                            <label asp-for="SulfuricReceive" class="control-label"></label>
                            
                            <textarea asp-for="AmmoniaReceive" class="form-control"></textarea>
                            <span asp-validation-for="SulfuricReceive" class="text-danger"></span>
                        </div>
                        <div class="col mb-6">
                            <label asp-for="SandReceive" class="control-label"></label>
                            
                            <textarea asp-for="SandReceive" class="form-control"></textarea>
                            <span asp-validation-for="SandReceive" class="text-danger"></span>
                        </div>

                    </div>



                    <div class="row text-center m-2">
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12 d-block mx-auto">
                            @if (ViewBag.Title == "Create")
                            {
                                <input type="submit" value="Save" class="btn btn-primary btn-md btn-block" />
                            }
                            else if (ViewBag.Title == "Edit")
                            {
                                <input type="submit" value="Update" class="btn btn-warning btn-block" />

                                @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                            }
                            else if (ViewBag.Title == "Delete")
                            {
                                <button class="btn btn-danger btn-md btn-block" type="button" onclick="Product_delete()">Delete</button>
                            }


                        </div>
                        <div class="col-md-4 col-xs-12 d-block mx-auto">
                            @Html.ActionLink("Back", "Index", "Productions", null, new { @class = "btn btn-info btn-block", @id = "btnBack" })

                        </div>
                        <div class="col-md-2"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        $("#UnitId").select2();
        
        //$("#MonthlySeedQty").val("0");
        //$("#YearlySeedQty").val("0");
        //$("#MonthlyBagQty").val("0");
        //$("#YearlyBagQty").val("0");

        var monthlySeed = 0;
        var yearlySeed = 0;
        var monthlyBag = 0;
        var yearlyBag = 0;

        var monthlySalesSeed = 0;
        var yearlySalesSeed = 0;
        var monthlySalesBag = 0;
        var yearlySalesBag = 0;

        var ClosingSeedStock = 0;
        var ClosingBagStock = 0;


        function CurrentDate() {
            var date = new Date();
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct", "Nov", "Dec"];
            var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();
            return val;

        }

        $("#DailySeedQty, #DailyBagQty, #DailySalesSeedQty, #DailySalesBagQty").keyup(function () {
            calculate();
           
        });

        

        function calculate() {
            let seed = parseFloat($("#DailySeedQty").val() || 0);
            $("#MonthlySeedQty").val(seed + monthlySeed);
            $("#YearlySeedQty").val(seed + yearlySeed);

            let salesSeed = parseFloat($("#DailySalesSeedQty").val() || 0);
            $("#MonthlySalesSeedQty").val(salesSeed + monthlySalesSeed);
            $("#YearlySalesSeedQty").val(salesSeed + yearlySalesSeed);


            let bag = parseFloat($("#DailyBagQty").val() || 0);
            $("#MonthlyBagQty").val(bag + monthlyBag);
            $("#YearlyBagQty").val(bag + yearlyBag);

            let salesBag = parseFloat($("#DailySalesBagQty").val() || 0);
            $("#MonthlySalesBagQty").val(salesBag + monthlySalesBag);
            $("#YearlySalesBagQty").val(salesBag + yearlySalesBag);

            //let saleSeed = parseFloat($("#DailySalesSeedQty").val() || 0);
            bag = parseFloat($("#DailyBagQty").val() || 0);
            seed = parseFloat($("#DailySeedQty").val() || 0);
             $("#ClosingSeedStock").val(seed + ClosingSeedStock-bag);  

           
            bag = parseFloat($("#DailyBagQty").val() || 0);
             let saleBag = parseFloat($("#DailySalesBagQty").val() || 0);
            $("#ClosingBagStock").val(bag + ClosingBagStock-saleBag);            



        }

        $("#PrdUnitId, #FiscalMonthId, #FiscalYearId").change(function () {
            let unitId = $("#PrdUnitId").val();
            let monthId = $("#FiscalMonthId").val();
            let yearId = $("#FiscalYearId").val();
            if (unitId == "") {
                $("#MonthlySeedQty").val("0");
                $("#YearlySeedQty").val("0");
                $("#MonthlyBagQty").val("0");
                $("#YearlyBagQty").val("0");
                toastr.warning("Select Unit");
                return false;
            }

            monthlySeed = 0;
            yearlySeed = 0;
            monthlyBag = 0;
            yearlyBag = 0;
           
            monthlySalesSeed = 0;
            yearlySalesSeed = 0;
            monthlySalesBag = 0;
            yearlySalesBag = 0;
            
            ClosingSeedStock = 0;
            ClosingBagStock = 0;

            $.ajax({
                url: '@Url.Action("GetPreviousInfo", "Productions")',
                data: { unitId: unitId, monthId: monthId, yearId: yearId }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    if (result != null) {
                        $("#MonthlySeedQty").val(result.MonthlySeedQty);
                        $("#YearlySeedQty").val(result.YearlySeedQty);
                        $("#MonthlyBagQty").val(result.MonthlyBagQty);
                        $("#YearlyBagQty").val(result.YearlyBagQty);

                        $("#MonthlySalesSeedQty").val(result.MonthlySalesSeedQty);
                        $("#YearlySalesSeedQty").val(result.YearlySalesSeedQty);
                        $("#MonthlySalesBagQty").val(result.MonthlySalesBagQty);
                        $("#YearlySalesBagQty").val(result.YearlySalesBagQty);

                        $("#ClosingSeedStock").val(result.ClosingSeedStock);
                        $("#ClosingBagStock").val(result.ClosingBagStock);

                      

                        monthlySeed = result.MonthlySeedQty;
                        yearlySeed = result.YearlySeedQty;
                        monthlyBag = result.MonthlyBagQty;
                        yearlyBag = result.YearlyBagQty;
                        
                        monthlySalesSeed = result.MonthlySalesSeedQty;
                        yearlySalesSeed = result.YearlySalesSeedQty;
                        monthlySalesBag = result.MonthlySalesBagQty;
                        yearlySalesBag = result.YearlySalesBagQty;
            
                        ClosingSeedStock = result.ClosingSeedStock;
                        ClosingBagStock = result.ClosingBagStock;

                       
                    } 
                        calculate();
                },
                error: function (err) {
                    toastr.warning("Some thing wrong");
                }
            });
        });

        function Product_delete() {

            var productionid = $("#ProductionId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "Productions")',
                data: JSON.stringify({ id: productionid }), //use id here
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "Productions")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

