
@model IEnumerable<GTERP.Models.PurchaseReturnMain>
<style>

    .tblPurchaseReturnList th:first-child, .tblPurchaseReturnList tbody td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }

    .tblPurchaseReturnList tfoot td:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
    }


    .tblPurchaseReturnList th:last-child, .tblPurchaseReturnList tbody td:last-child {
        position: sticky !important;
        right: 0px;
        background-color: #f2f2f2e6;
        z-index: 1;
    }

    .tblPurchaseReturnList tfoot td:last-child {
        position: sticky;
        right: 0px;
        z-index: 1;
    }
</style>


<form action="" method="post">

    <div class="container-fluid">

        <div class="row">
            <div></div>

            <div class="col-md-4  offset-md-1 col-12 d-block mx-auto">
                @Html.ActionLink("Purchase Return Creation", "Create", null, null, new { @class = "btn btn-outline-info btn-block", @id = "btnBack" })

            </div>

            <div class="col-md-6 col-12 d-block mx-auto flot-right">
                <h2 id="styletext">Purchase Return List</h2>
            </div>
        </div>



    </div>

    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <div class="card p-2 mt-2">
        <div class="row" style="padding: 12px;padding-bottom: 0px;">
            <div class="col-md-3 col-12">

                @Html.DropDownList("UserList", ViewBag.UserList as List<SelectListItem>, "--All User--", new { id = "UserList", @class = "form-control form-control-sm" })

            </div>
            <div class="col-md-3 col-12">

                @Html.DropDownList("SupplierList", ViewBag.SupplierList as List<SelectListItem>, "--All Supplier--", new { id = "SupplierList", @class = "form-control form-control-sm" })

            </div>

            <div class="col-md-3 col-12">
                <div class="form-group row">
                    <label for="FDate" class="col-sm-4 col-form-label">From Date : </label>
                    <div class="col-sm-7">

                        @Html.TextBox("FromDate", null, new { @class = "form-control text-center FromDate", @placeholder = "Select From Date ", @autocomplete = "off", name = "FromDate" })

                    </div>

                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="form-group row">
                    <label for="TDate" class="col-sm-4 col-form-label">To Date : </label>
                    <div class="col-sm-7">
                        @Html.TextBox("ToDate", null, new { @class = "form-control text-center ToDate", @placeholder = "Select To Date ", @autocomplete = "off", name = "ToDate" })

                    </div>

                </div>
            </div>

            @*<div class="col-md-1 col-12">
            <div class="form-group row">
                <input id="btnload" type="submit" value="Load" class="btn btn-success btn-block" />
            </div>

        </div>*@


            <div class="col-md-2 col-12 text-left">
                @*<div class="panel-body">*@

                @*<fieldset>*@
                <fieldset class="pull-right" style="height: auto;margin-bottom: 0px">

                    <label class="pr-2"><input type="radio" name="RptType" value="PDF" checked="checked" /> PDF  </label>
                    <label class="pr-2"><input type="radio" name="RptType" value="EXCEL" /> EXCEL  </label>
                    <label class="pr-2"><input type="radio" name="RptType" value="WORD" /> WORD  </label>

                </fieldset>
                @*</div>*@

                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#">
                View Data
            </button>*@

            </div>

        </div>



    </div>



    <div id="finalpanel" class="card p-2">

        <div class="table-responsive text-nowrap">
            <table id="tblPurchaseReturnList" class="table tblPurchaseReturnList table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr></tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>

        </div>
    </div>

</form>


@*<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>*@
<script>


    $(document).ready(function () {

        $("#UserList").select2();
        $("#SupplierList").select2();


        CurrentDate();

        $(".FromDate").datepicker({

            dateFormat: "dd-M-y",
            changeMonth: true,
            changeYear: true

        });
        $(".ToDate").datepicker({

            dateFormat: "dd-M-y",
            changeMonth: true,
            changeYear: true

        });

        function CurrentDate() {
            var date = new Date();
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct", "Nov", "Dec"];
            var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();


            if ($(".FromDate").val() == '') {
                $(".FromDate").val(val);
            }
            if ($(".ToDate").val() == '') {
                $(".ToDate").val(val);
            }


        }


    });
    


    $('input[name=RptType]').click(function () {
        var reporttype = $("input[name=RptType]:checked").val();
        //alert(reporttype);

        $.ajax({
        type: 'POST',
        url: '@Url.Action("SetSessionInd", "ExportInvoiceMasters")',
        dataType: 'json',
        async: true,
            data: { reporttype: reporttype},
            success: function (response) {
              //  window.location.href = response.Url;

                //window.open(response.Url, '_blank')
            },
            error: function (ex) {
                alert('Failed.' + ex);
            }

        });

    });


</script>

@section Scripts
{

    <script type="text/javascript">

        var table;


        $(document).ready(function () {

            //var x = $("#ToDate").val();
            //alert(x);

            var userlist = $("#UserList").val();
            var SupplierList = $("#SupplierList").val();
            var fromdate = $("#FromDate").val();
            var todate = $("#ToDate").val();

            loaddata(userlist, fromdate, todate  , SupplierList ,1);



            function getDateString(dateObj) {

                if (dateObj == null) { return ''; };

                var date = new Date(parseInt(dateObj.substr(6)));
                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                    "Aug", "Sep", "Oct", "Nov", "Dec"];


                var formatdate = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();

                //alert(val);


                return formatdate;

                //return dateObj.toDateString();
            }

            function loaddata(UserId = "", FromDate = "", ToDate = "", SupplierList = "", isAll = 1) {



                //alert(UserId, FromDate, ToDate);

                table = $('#tblPurchaseReturnList').DataTable({
                    initComplete: function () {

                        var input = $('.dataTables_filter input').unbind(),
                            self = this.api(),

                            $searchButton = $('<button class="btn rounded-0 btn-success" tabindex="0" aria-controls="tblPurchaseReturnList" type="button" title="Export to excel"><span><i class="mdi mdi-file-excel"></i></span></button>')
                                .text('Search')
                                .click(function () {
                                    if (input.val().length > 0) {
                                        self.search(input.val()).draw();

                                    }
                                    else {
                                        loaddata(userlist, fromdate, todate, SupplierList, 1);

                                    }




                                }),
                            $clearButton = $('<button class="btn rounded-0 btn-warning" tabindex="0" aria-controls="tblPurchaseReturnList" type="button" title="Export to PDF"><span><i class="mdi mdi-file-pdf"></i></span></button>')
                                .text('Clear')
                                .click(function () {
                                    input.val('');
                                    $searchButton.click();
                                }),
                            $allButton = $('<button class="btn rounded-0 btn-primary" tabindex="0" aria-controls="tblPurchaseReturnList" type="button" title="Export to excel"><span><i class="mdi mdi-file-excel"></i></span></button>')
                                .text('Load')
                                .click(function () {
                                    input.val('');
                                    //alert(FromDate);
                                    loaddata(userlist, fromdate, todate, SupplierList, 1);
                                    //table.ajax.reload();


                                })
                        $('.dataTables_filter').append($allButton, $searchButton, $clearButton);
                    },

                    "serverSide": true,
                    "orderCellsTop": true,
                    "scrollX": true,
                    "scrollY": "60vh",
                    "scrollCollapse": true,
                    "info": true,
                    "iDisplayLength": 10,
                    "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],

                    "columnDefs": [
                        // Hide second, third and fourth columns
                        { "visible": false, "targets": [] }
                    ],
                    dom: '<"dom_wrapper fh-fixedHeader"lBf>tip',
                    //buttons: [
                    //    'copy', 'csv', 'excel', 'pdf'
                    //],
                    buttons: {
                        dom: {
                            button: {
                                className: 'btn rounded-0'
                            }
                        },
                        buttons: [
                            //'copy', 'csv', 'excel', 'pdf'
                            //$(this).addClass("btn-group dt-buttons justify-content-center mb-3")
                            {
                                extend: 'colvis',
                                "columns": ':not(:last-child)',
                                text: '<i class="mdi mdi-view-column"></i>',
                                className: 'btn-info',
                                titleAttr: 'Show / hide columns',
                                //collectionLayout: 'fixed two-column'

                            },
                            {
                                extend: 'copy',
                                text: '<i class="mdi mdi-content-copy"></i>',
                                className: 'btn-primary',
                                titleAttr: 'Copy to Clipboard'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="mdi mdi-note-outline"></i>',
                                className: 'btn-secondary',
                                titleAttr: 'Export to csv'

                            },
                            {
                                extend: 'excel',
                                text: '<i class="mdi mdi-file-excel"></i>',
                                className: 'btn-success',
                                titleAttr: 'Export to excel'
                            },
                            {
                                extend: 'pdfHtml5',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                text: '<i class="mdi mdi-file-pdf"></i>',
                                className: 'btn-danger',
                                titleAttr: 'Export to PDF'
                                //,exportOptions: {
                                //    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                                //}

                            }

                        ]
                    },
                    //"datatest": function (d) {
                    //    d.FromDate = $('#FromDate').val();
                    //    d.ToDate = $('#ToDate').val();
                    //    alert(d);
                    //},
                    //"fixedHeader": true,
                    //"responsive": true,
                    "ajax": {
                        "url": "@Url.Action("Get", "PurchaseReturn")",
                        "data": { UserList: $("#UserList").val(), FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), SupplierList: $("#SupplierList").val(), isAll: isAll },

                        //"url": "/Cities/GetListViewModel",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        { "title": "PurchaseReturn Id", "data": "PurchaseReturnId", "visible": false },
                        { "title": "PurchaseReturn No", "data": "PurchaseReturnNo", "searchable": true },
                        { "title": "Supplier Name", "data": "SupplierName", "searchable": true },
                        { "title": "PurchaseReturn Person", "data": "PurchaseReturnPerson", "searchable": true },
                        { "title": "PurchaseReturn Date", "data": "PurchaseReturnDate", "render": function (data) { return getDateString(data); } },
                        { "title": "Reference No", "data": "ReferenceNo", "searchable": true },
                        { "title": "Net Amount", "data": "NetAmount" },
                        { "title": "Paid Amount", "data": "PaidAmt" },
                        { "title": "Due", "data": "DueAmt" },
                        {
                            "data": { PurchaseReturnId: "PurchaseReturnId" },
                            "render": function (data, type, row) {

                                var myUrledit = '@Url.Action("Edit", "PurchaseReturn")/' + data.PurchaseReturnId;
                                var myUrldelete = '@Url.Action("Delete", "PurchaseReturn")/' + data.PurchaseReturnId;
                                var myUrlprint = '@Url.Action("Print", "PurchaseReturn")/' + data.PurchaseReturnId + '?type=pdf';


                                return '<span data-toggle="tooltip" title="Edit"> <a href=\"' + myUrledit + '\" class=\"fas fa-edit btn btn-warning btn-xs\" target=\"_blank\"></a></span>' +
                                    '<span data-toggle="tooltip" title="Delete"> <a href=\"' + myUrldelete + '\" class=\"far fa-trash-alt btn btn-danger btn-xs\" target=\"_blank\"></a></span>' +
                                    '<span data-toggle="tooltip" title="PurchaseReturn Report"> <a href=\"' + myUrlprint + '\" class=\"fas fa-file-pdf btn btn-success btn-xs\" target=\"_blank\"></a></span>';

                            }

                        }


                    ],
                    "order": [0, "desc"],
                    "processing": true,
                    "language": {
                        "processing": "processing... please wait"
                    },


                    "destroy": true
                });


                //$('#tblPurchaseReturnList_filter input').unbind();
//                alert('Load Successfully');
                $('.dataTables_filter input').bind('keyup', function (e) {

                    if (e.keyCode == 13) {
                        //alert('enter');
                        table.search(this.value).draw();
                    }

                });
            }





        });


    </script>
}
