@Html.AntiForgeryToken()
@model GTERP.Models.GatePass

@*<h2>Create</h2>*@


<style>
    .input-validation-error {
        border: 2px solid #f00;
        background: #fee;
    }

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }


    th {
        font-size: 14px;
    }

    td {
        font-size: 13px;
    }


    div.dataTables_length {
        float: right;
    }
    /*.dt-buttons {

        }*/
    /*div.dataTables_length select {
            font-size:17px;

        }*/
    /*div.dataTables_length> label {
            display: none;
        }*/
    div.dataTables_filter {
        float: left;
        /*font-size: 17px;*/
    }


    /*div.dataTables_info {
            float: left;
        }*/

    div.dataTables_paginate {
        float: right;
    }

    div.DTTT {
        float: left;
        margin-right: 50px;
    }

    div.buttons {
        clear: both;
    }

    .fas, .far {
        font-size: 10px !important;
    }


    table.dataTable tbody td, .sorting {
        vertical-align: middle;
        text-align: center;
    }

    .sorting_asc {
        color: green;
        vertical-align: middle;
        text-align: center;
        font-style: oblique;
    }

    .sorting_desc {
        color: #0932d1;
        vertical-align: middle;
        text-align: center;
        font-style: oblique;
    }

    .table-sm th {
        padding: .8em;
        background: rgb(192,196,196);
        background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 15px;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
    }

    table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
        color: green;
    }

    /*.txtMultExportInvoice.selected {
        background: linear-gradient(0deg, rgba(58, 140, 41, 0.57) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(83, 196, 78, 0.55) 100%);
        font-weight: bolder;
        color: #006100;
        background: rgb(18,180,77);
        background: linear-gradient(0deg, rgba(18,180,77,0.2246965680803571) 1%, rgba(255,255,255,0.6224556717218137) 66%, rgba(6,139,2,0.07343606387867652) 100%);
        font-weight: bolder;
    }

    .txtMultmasterlcdetails.selected {
        background: linear-gradient(0deg, rgba(86, 230, 56, 0.38) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(160, 235, 157, 0.55) 100%);
        font-weight: bolder;
        color: orangered;
        background: rgb(18,180,77);
        background: linear-gradient(0deg, rgba(18,180,77,0.2246965680803571) 1%, rgba(255,255,255,0.6224556717218137) 66%, rgba(6,139,2,0.07343606387867652) 100%);
        font-weight: bolder;
    }*/


    .select-box {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
        font-size: 18px;
        color: #60666d;
    }

    #myInputSearch {
        background-image: url('../../Content/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 22px;
        margin-bottom: 12px;
    }


    div#DataTables_Table_0_wrapper {
        width: 100% !important;
    }

    .tblExportInvoice th:first-child, .tblExportInvoice tbody td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6 !important;
        z-index: 1;
    }

    .tblExportInvoice tfoot td:first-child {
        position: sticky !important;
        left: 0px;
        background-color: #f2f2f2e6 !important;
        z-index: 1;
    }

    .tblExportInvoice th:nth-child(2) {
        position: sticky !important;
        left: 70px;
        background-color: #f2f2f2e6 !important;
        z-index: 1;
    }

    .tblExportInvoice tbody td:nth-child(2) {
        position: sticky !important;
        left: 70px;
        background-color: #f2f2f2e6 !important;
        z-index: 1;
    }

    /*.tblExportInvoice th:nth-child(3) {
        position: sticky !important;
        left: 130px;
                background-color: #f2f2f2e6!important;
        z-index: 1;
    }*/

    .tblExportInvoice tbody td:nth-child(3), th:nth-child(3) {
        position: sticky !important;
        left: 140px;
        background-color: #f2f2f2e6 !important;
        z-index: 1;
    }

    table.dataTable.display tbody > tr.selected:hover, table.dataTable.display tbody > tr > .selected:hover {
        background-color: transparent;
    }
</style>


<body>



    @*@using (Html.BeginForm("Create", "Gatepasses", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
    @using (Html.BeginForm("Create", "Gatepasses", FormMethod.Post, new { id = "myform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="container" style="max-width: 960px;">
            <div class="py-7 text-center">
                <h2 id="styletext" class="text-center">Product @ViewBag.Title</h2>
                @*<p class="lead"></p>*@
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (Model != null)
            {

                <input type="hidden" id="GatePassId" name="GatePassId" value="@Model.GatePassId" />
                <input type="hidden" id="userid" name="userid" value="@Model.UserId" />
                <input type="hidden" id="comid" name="comid" value="@Model.ComId" />
                <input type="hidden" id="useridUpdate" name="useridUpdate" value="@Model.UpdateByUserId" />
                <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />
                <input type="hidden" id="DateUpdated" name="DateUpdated" value="@Model.DateUpdated" />



                @*@Html.HiddenFor(model => model.userid)
                    @Html.HiddenFor(model => model.comid)
                    @Html.HiddenFor(model => model.useridUpdate)
                    @Html.HiddenFor(model => model.DateAdded)
                    @Html.HiddenFor(model => model.DateUpdated)*@
            }
            else
            {
                <input type="hidden" id="comid" name="comid" value="0" />
                <input type="hidden" id="GatePassId" name="GatePassId" value="" />
                <input type="hidden" id="DateAdded" name="DateAdded" value="" />
                <input type="hidden" id="DateUpdated" name="DateUpdated" value="" />


            }


            <div id="modalbodyfahad" class="row card p-4">
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">Product Information</h4>
                    <form class="needs-validation card p-4" novalidate>
                        <div class="row">

                            <br>
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.GatePassFrom)
                                @Html.EditorFor(model => model.GatePassFrom, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GatePassFrom, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 mb-3">

                                @Html.LabelFor(model => model.TruckNumber)

                                @Html.EditorFor(model => model.TruckNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TruckNumber, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.DriverName, "Product Main Group")

                                @Html.DropDownList("DriverName", null, "--Select From List--", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.DriverMobile, "Category")

                                @Html.DropDownList("DriverMobile", null, "--Select From List--", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DriverMobile, "", new { @class = "text-danger" })

                            </div>



                        </div>



                        <div class="row">
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.FiscalYearId, "Currency")

                                @Html.DropDownList("FiscalYearId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FiscalYearId, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.FiscalMonthId, "Unit")

                                @Html.DropDownList("FiscalMonthId", null, "--Select From List--", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FiscalMonthId, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(model => model.DistrictId)

                                @Html.EditorFor(model => model.DistrictId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })

                            </div>
                        </div>



                        <div class="row">

                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.PoliceStationId)

                                @Html.EditorFor(model => model.PoliceStationId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PoliceStationId, "", new { @class = "text-danger" })

                            </div>

                        </div>




                        <br />



                        <div class="col-md-12 order-md-2 mb-2">
                            <div class="card p-1">


                                <div class="table-responsive text-nowrap">


                                    <table id="tblInventorySub" class="tblInventorySub display nowrap table-bordered table-sm table-striped table-hover" width="100%">
                                        <thead>
                                            <tr>

                                                <th>GatePassSubId</th>
                                                <th>DeliveryChallanId</th>
                                                <th>TruckLoadQty</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                @if (Model.Challans != null)
                                                {
                                                    foreach (var item in Model.Challans)
                                                    {
                                                        <tr class="txtMultInventorySub">
                                                            <td>
                                                                <input type="checkbox" class="clickchk" onchange="cbChange(this)">
                                                            </td>
                                                            <td>
                                                                @Html.DisplayTextFor(i => item.GatePassSubId)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayTextFor(i => item.DeliveryChallanId)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayTextFor(i => item.TruckLoadQty)
                                                            </td>

                                                            <td>
                                                                <a data-itemid="0" href="#" class="dlttrash deleteItem"> <i class="fa fa-trash fa-2x"></i></a>
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <div type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus fa-lg"></i></div>

                                                </td>

                                                <td class="text-right" colspan="1">

                                                    <h6>Total Stock Qty</h6>
                                                </td>
                                                <td colspan="1">
                                                    <h6 class="ttlorderqtyProduct">0.00</h6>
                                                </td>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>






                        <table>

                            <tr>

                                <td>
                                    @if (ViewBag.Title == "Create")
                                    {
                                        @*<input type="submit" value="Create" class="btn btn-primary btn-block" />*@

                                        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="Gatepasses_save()">Save</button>
                                    }
                                    else if (ViewBag.Title == "Edit")
                                    {
                                        @*<input type="submit" value="Update" class="btn btn-warning btn-block" />*@

                                        <button class="btn btn-warning btn-lg btn-block" type="button" onclick="Gatepasses_save()">Update</button>
                                    }
                                    else if (ViewBag.Title == "Delete")
                                    {
                                        <button class="btn btn-danger btn-lg btn-block" type="button" onclick="Gatepasses_delete()">Delete</button>
                                    }

                                </td>
                                <td>
                                    @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-info btn-block" })

                                </td>

                            </tr>

                        </table>


                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    @*<div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">SEARCH</h5>

                                                           <button id="btnclose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                        </div>*@
                    <div class="modal-body">
                        <div id="SubSectionList" class="row">
                            <div class="col order-md-1">
                                <form class="card p-2">

                                    <br />
                                    @*<div>
                                            <input type="text" id="myInputSearch" class="form-control" onmouseover="this.focus();" placeholder="Search for PONO." title="Type in a name">

                                        </div>*@
                                    <div class="table-responsive">
                                        <table id="tblwarehouse" class="nowrap table-striped table-sm table-hover text-center" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Check</th>
                                                    <th>InventoryId</th>
                                                    <th>GatePassId</th>
                                                    <th>WarehouseId</th>
                                                    <th>Warehouse</th>
                                                    <th>Opening Stock Date</th>
                                                    <th>Opening Stock</th>
                                                    <th>Purchase Qty</th>
                                                    <th>Purchase Ret Qty</th>
                                                    <th>Purchase Exc Qty</th>
                                                    <th>Sales Qty</th>
                                                    <th>Sales Ret Qty</th>
                                                    <th>Sales Exc Qty</th>
                                                    <th>Challan Qty</th>
                                                    <th>Ending Stock</th>
                                                    <th>Current Stock</th>
                                                    <th>Date Added</th>
                                                    <th>User Id</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.Warehouses != null)
                                                {
                                                    foreach (var item in ViewBag.Warehouses)
                                                    {
                                                        <tr class="txtMultmasterlcdetails">
                                                            <td>
                                                                <input type="checkbox" class="clickchk" onchange="cbChange(this)">
                                                            </td>
                                                            <td>
                                                                0
                                                            </td>
                                                            <td>
                                                                0
                                                            </td>
                                                            <td>
                                                                @item.WarehouseId
                                                            </td>
                                                            <td>
                                                                @item.WhName
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>

                                                            <td></td>
                                                            <td></td>

                                                            <td>
                                                                <a data-itemid="0" href="#" class="dlttrash deleteItem"> <i class="fa fa-trash fa-2x"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>

                                        </table>
                                    </div>
                                    <br />

                                </form>

                            </div>
                        </div>  @*Datatable Initializer tblGatepasseserialsearch*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts{

        <script type="text/javascript">



        var files = [];

        //$("input[type=file]").change(function (event) {
        //    $.each(event.target.files, function (index, file) {
        //        var reader = new FileReader();
        //        reader.onload = function (event) {
        //            object = {};
        //            object.filename = file.name;
        //            object.data = event.target.result;
        //            files.push(object);
        //        };
        //        reader.readAsDataURL(file);
        //    });
        //});

     function Gatepasses_delete() {

            var GatePassId = $("#GatePassId").val();
            //alert(SalesId);

         $.ajax({

                url: '@Url.Action("Delete", "Gatepasses")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: GatePassId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("Index", "Gatepasses")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
    }


    $(document).ready(function () {








        $('#myFile').bind('change', function () {

            //this.files[0].size gets the size of your file.

            //  alert(this.files[0].size);

            var a = this.files[0].size;

            if (a >= 6000000) {
                alert('File size is too large!! \n 50 KB maximum');
                $('#myFile').val('');
                document.getElementById('image_X').src = ''

            }
            else {
                //alert('its ok');
                previewFile();

            }
        });

        function previewFile() {
            var preview = document.querySelector('#image_X'); //selects the query named img
            var file = document.querySelector('input[type=file]').files[0]; //sames as here

            var reader = new FileReader();


            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }

        })


            $('#FiscalYearId').select2();
            $('#FiscalMonthId').select2();
            $('#DeliveryChallanId').select2();


            $('#DriverName').select2();





        $('#AccIdInventory').select2();
        $('#AccIdConsumption').select2();



            $('#DriverMobile').select2({})
                .on("select2:select", function (e) {
                if ($('#DriverMobile').val() > 0) {

                    //alert('enter');
                    CascadeSubCategory();
                }
                else {
                    alert('Please Select Category Information First.')
                }

                console.log("select2:select")
            });




        function CascadeSubCategory() {

        //alert('prdsearch');
            $("#DeliveryChallanId").empty();
        //$("#ProductDescription").val("=N/A=");
        //$("#Qty").val(1);


            $.ajax({
                type: 'POST',
                url: '@Url.Action("getSubCategory", "Gatepasses")',
                dataType: 'json',
                async: false,
                data: { id: $("#DriverMobile").val() },
                success: function (data) {
                    var s ='<option value="-1">Please Select Sub Category</option>';
                    //$.each(data, function (i, data) {
                    //    $("#Product").append('<option value="'+ data.Value + '">'
                    //        + data.Text + '</option>');
                    //});
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $("#DeliveryChallanId").html(s);
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }

            });
            return false;
        };







        var tblInventorySub = $('#tblInventorySub').dataTable({


            "aoColumns": [
                {
                    "sClass": "checkbox",
                    "visible": false,
                    "render": function () {
                        return '<input type="checkbox" class="clickchk"  onchange ="cbChange(this)"  data-toggle="modal" data-target="#checkModal" >';
                    }
                },
                { "sClass": "InventoryId", "visible": false },
                { "sClass": "GatePassId", "visible": false },
                { "sClass": "WarehouseId", "visible": false },
                { "sClass": "WarehouseName", "visible": true },
                { "sClass": "OpeningStockDate", "visible": true },
                { "sClass": "OpStock", "visible": true },
                { "sClass": "PurQty", "visible": false },
                { "sClass": "PurRetQty", "visible": false },
                { "sClass": "PurExcQty", "visible": false },
                { "sClass": "SalesQty", "visible": false },
                { "sClass": "SalesRetQty", "visible": false },
                { "sClass": "SalesExcQty", "visible": false },
                { "sClass": "Challanqty", "visible": false },
                { "sClass": "EnStock", "visible": false },
                { "sClass": "CurrStock", "visible": true },
                { "sClass": "DateAdded", "visible": false },
                { "sClass": "UserId", "visible": false },
                { "sClass": "action", "visible": false }

            ],


            "tableTools": {
                "sRowSelector": "td:not(:first-child)"
            },
            dom: 'litpfB',
            select: "single",
            columnDefs: [
                //{
                //    "render": function () {
                //        return "<button type='button' >=></button>"
                //    },
                //    "targets": -1
                //},
                {
                    "render": function (data, type, row) {
                        return '<input class="form-control form-control-sm" id="OpStock"  name="OpStock" type="text" data-val="true"  data-val-required="Please Fill OpStock Qty." value = ' + data + '  >';
                    },
                    "targets": 6

                },
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="PurQty" readonly="readonly" name="PurQty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 7

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="PurRetQty" readonly="readonly" name="PurRetQty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 8

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="PurExcQty" readonly="readonly" name=" PurExcQty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 9

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="SalesQty" readonly="readonly" name=" SalesQty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 10

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="SalesRetQty" readonly="readonly" name="SalesRetQty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 11

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="SalesExcQty" readonly="readonly" name="SalesExcQty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 12

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="Challanqty" readonly="readonly" name="Challanqty" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 13

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="EnStock" readonly="readonly" name="EnStock" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 13

                //},
                //{
                //    "render": function (data, type, row) {
                //        return '<input class="form-control form-control-sm" id="CurrStock" readonly="readonly" name="CurrStock" type="text"  value = ' + data + '  >';
                //    },
                //    "targets": 14

                //},
                {

                    render: function (date) {
                        return "<input type='text' class='form-control form-control-sm datecell' value='" + date + "'/>"
                    },
                    "targets": 5
                }
                //,                {

                //    render: function (data, type, full, meta) {
                //        //return "<input type='text' class='form-control form-control-sm' value='" + data + "'/>"
                //        return '<select><option>A</option><option>B</option>' ;
                //    },
                //    "targets": 3
                //}

                //}
            ],
            createdRow: function (row) {
                $(".datecell", row).datepicker(
                    { dateFormat: 'dd-M-yy' }
                    //$('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();

                ).val();
            },
            buttons: [{
                extend: "selectRows",

                text: 'Detach From Product Inventory',

                action: function (e, sourceTable, button, config) {

                    var selectedRows = sourceTable.rows(".selected");
                    var mData = selectedRows.data();
                    selectedRows.remove().draw();
                    targetTable = $("#tblwarehouse").DataTable();
                    $.each(mData, function (idx, item) {
                        targetTable.row.add(JSON.parse(JSON.stringify(item)));
                    })
                    targetTable.draw();
                    //multInputsProduct();
                }

            }],

            initComplete: function () {
                $("#tblInventorySub button").on("click", function (evt) {

                    var t1 = $("#tblInventorySub").DataTable();
                    var t2 = $("#tblwarehouse").DataTable();
                    var tr = $(this).closest("tr");
                    var row = t1.row(tr);
                    var data = JSON.parse(JSON.stringify(row.data()));



                    //alert(data[0]);
                    row.remove().draw();
                    t2.row.add(data).draw();

                    //multInputsProduct();
                });



            },


            "bFilter": true,
            //"bSort": true,
            "bInfo": true,
            "async": false,
            "paging": true,
            "retrieve": true,
            "iDisplayLength": 10,
            "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
            "scrollX": true,
            "scrollCollapse": true,
            rowCallback: function (row) {
                $(row).addClass('txtMultInventorySub');
            }
            //,select: "multi"
        });

        function AddInventory() {
            $('#tblInventorySub').dataTable().fnAddData([
                0,
                0,
                0,
                0,
                0,
                0,
                0.00,
                0.00,
                0.00,
                0, 0, 0,
                0, 0, 0, 0,
                0, 0,
                '<a data-itemId="0" href="#" class="dlttrash deleteItem"> <i class="fa fa-trash"></i></a >'

            ]);
        };




        tblwarehouse = $('#tblwarehouse').dataTable({


            "aoColumns": [

                { "sClass": "checkbox", "visible": false },
                { "sClass": "InventoryId", "visible": false },
                { "sClass": "GatePassId", "visible": false },
                { "sClass": "WarehouseId", "visible": false },
                { "sClass": "WarehouseName", "visible": true },
                { "sClass": "OpeningStockDate", "visible": true },
                { "sClass": "OpStock", "visible": true },
                { "sClass": "PurQty", "visible": false },
                { "sClass": "PurRetQty", "visible": false },
                { "sClass": "PurExcQty", "visible": false },
                { "sClass": "SalesQty", "visible": false, render: $.fn.dataTable.render.number(',', '.', 2, '')  },
                { "sClass": "SalesRetQty", "visible": false, render: $.fn.dataTable.render.number(',', '.', 2, '')  },
                { "sClass": "SalesExcQty", "visible": false, render: $.fn.dataTable.render.number(',', '.', 2, '')  },
                { "sClass": "Challanqty", "visible": false },
                { "sClass": "EnStock", "visible": false },
                { "sClass": "CurrStock", "visible": true },
                { "sClass": "DateAdded", "visible": false },
                { "sClass": "UserId", "visible": false },
                { "sClass": "action", "visible": false }

            ],
            //dom: '<"float-left">rt<"row"<"col-sm-4"l><"col-sm-4"><"col-sm-4"p>>',

            rowCallback: function (row) {
                $(row).addClass('txtMultmasterlcdetails');
            },
            select: "multi",
            columnDefs: [{
                targets: [-1],
                render: function () {
                    return "<button type='button'>=></button>"
                }
            }],
            buttons: [{
                extend: "selectRows",

                text: 'Attach To Product List',
                action: function (e, sourceTable, button, config) {

                    var selectedRows = sourceTable.rows(".selected");
                    var mData = selectedRows.data();

                    selectedRows.remove().draw();
                    targetTable = $("#tblInventorySub").DataTable(

                    );


                    var rowCount = targetTable
                        .column(0)
                        .data()
                        .length;

                    $.each(mData, function (idx, item) {

                        //alert(idx);
                        //alert(rowCount);
                        item[24] = idx + 1 + rowCount;
                        //alert(item[24]);
                        targetTable.row.add(JSON.parse(JSON.stringify(

                            item
                        )));
                        //alert('data added');

                    })

                    targetTable.draw();

                    //multInputsProduct();
                }
            }],
            initComplete: function () {
                $("#tblwarehouse button").on("click", function (evt) {

                    var t1 = $("#tblwarehouse").DataTable();
                    var t2 = $("#tblInventorySub").DataTable();
                    var tr = $(this).closest("tr");
                    var row = t1.row(tr);
                    var data = JSON.parse(JSON.stringify(row.data()));
                    //alert(data[0]);
                    row.remove().draw();
                    t2.row.add(data).draw();

                    //multInputsProduct();
                });
            },
            //"bFilter": true,
            "paging": true,
            //"retrieve": true,
            "iDisplayLength": 20,
            "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
            "scrollX": true,
            "order": [2, 'asc'],
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" },
            dom: 'tBlip'
        }); //

        //if (!$("#myform").valid()) {
        //    alert('Please Fill Up All Necessary Information Correctly.');
        //    $("html, body").animate({ scrollTop: 0 }, 500);
        //    return false;
        //}


        function Gatepasses_save() {

            // Step 1: Read View Data and Create JSON Object
            if (!$("#myform").valid()) {
                toastr.error('Please Fill Up All Necessary Information Correctly.');
                $("html, body").animate({ scrollTop: 0 }, 500);
                return false;
            }
            ///alert('save 1');


            // Creating Detail Json Object , "DeliveryTerm": ""
            var InventorySub = {
                "InventoryId": "", "GatePassId": "", "WareHouseId": "", "OpStock": "", "PurQty": "", "PurRetQty": "", "PurExcQty": "",
                "SalesQty": "", "SalesRetQty": "", "SalesExcQty": "", "ChallanQty": "", "EnStock": "", "CurrentStock": "",
                "Remarks": "", "OpeningStockDate": "",
                "userid": "", "useridUpdate": "", "DateAdded": "", "DateUpdated": "", "comid": ""
            };

            ///alert('save 2');

            var Product = {
                "userid": "", "useridUpdate": "", "DateAdded": "", "DateUpdated": "", "comid": "0",
                "GatePassId": "", "GatePassFrom": "", "DriverMobile": "","DriverName":"", "DistrictId": "", "CostPrice": "", "SalePrice": "", "RetailerPrice": "", "ReorderLevelOne": "", "MinimumOrderQty": "", "FiscalYearId": "", "TruckNumber": "", "vatPercentage": "",
                "vatAmount": "", "PoliceStationId": "", "ProductModel": "", "FiscalMonthId": "", "DeliveryChallanId": "", "ProductImage": "", "FileExtension": "", "ImagePath": "", "ProductCode": "", "AccIdInventory": "", "AccIdConsumption": "",
                "InventorySubs": []
            };



            Product.userid = $("#userid").val() || 0;
            Product.userid = $("#comid").val() || 0;


            Product.useridUpdate = $("#useridUpdate").val() || 0;
            Product.DateAdded = $("#DateAdded").val();
            Product.DateUpdated = $("#DateUpdated").val();

            Product.GatePassId = $("#GatePassId").val() || 0;
            Product.GatePassFrom = $("#GatePassFrom").val();
            Product.DriverMobile = $("#DriverMobile").val();
            Product.DriverName = $("#DriverName").val();



            Product.DistrictId = $("#DistrictId").val();
            Product.CostPrice = $("#CostPrice").val() || 0;

            Product.SalePrice = $("#SalePrice").val() || 0;
            Product.RetailerPrice = $("#RetailerPrice").val() || 0;
            Product.ReorderLevelOne = $("#ReorderLevelOne").val() || 0;
            Product.MinimumOrderQty = $("#MinimumOrderQty").val() || 0;


            Product.FiscalYearId = $("#FiscalYearId").val();
            Product.ProductImage = $("#ProductImage").val();

            Product.FileExtension = $("#FileExtension").val();
            Product.ImagePath = $("#ImagePath").val();



            Product.ProductCode = $("#ProductCode").val();
            Product.AccIdInventory = $("#AccIdInventory").val();
            Product.AccIdConsumption = $("#AccIdConsumption").val();




            //var fileInputtest = document.getElementById('myFile');
            //var filenametest = fileInputtest.files[0].data;

            //var files = document.getElementById("myFile").files;
            //alert(files[0].data);
            ////alert(filenametest);
            //Product.ProductImage = filenametest;




            Product.TruckNumber = $("#TruckNumber").val();
            Product.vatPercentage = $("#vatPercentage").val() || 0;


            Product.vatAmount = $("#vatAmount").val() || 0;
            Product.PoliceStationId = $("#PoliceStationId").val();
            Product.ProductModel = $("#ProductModel").val();
            Product.FiscalMonthId = $("#FiscalMonthId").val();
            Product.DeliveryChallanId = $("#DeliveryChallanId").val();




            ////Invoice subs data
            var oTable = $('#tblInventorySub').dataTable().fnGetData();

            var rows = $("#tblInventorySub").dataTable().fnGetNodes();
            for (var i = 0; i < oTable.length; i++) {
                //alert(oTable.length);

                //alert('save 3');


                if ($('h2').text() == "Product Edit") {
                    InventorySub.InventoryId = oTable[i][1];
                }
                else {

                    InventorySub.InventoryId = 0;

                }


                InventorySub.GatePassId = oTable[i][2];
                InventorySub.WareHouseId = oTable[i][3];

                InventorySub.OpeningStockDate = rows[i].cells[1].children[0].value;
                InventorySub.OpStock = rows[i].cells[2].children[0].value;
                //alert(rows[i].cells[2].children[0].value);


                InventorySub.PurQty = oTable[i][7];
                InventorySub.PurRetQty = oTable[i][8];
                InventorySub.PurExcQty = oTable[i][9];

                InventorySub.SalesQty = oTable[i][10];
                InventorySub.SalesRetQty = oTable[i][11];
                InventorySub.SalesExcQty = oTable[i][12];


                InventorySub.ChallanQty = oTable[i][13];
                InventorySub.EnStock = oTable[i][14];
                InventorySub.CurrentStock = oTable[i][15];

                InventorySub.DateAdded = oTable[i][16];
                InventorySub.userid = oTable[i][17];
                InventorySub.comid = 0;



                //alert('save 4');


                Product.InventorySubs.push(InventorySub);

                // Creating Detail Json Object , "DeliveryTerm": ""
                var InventorySub = {
                    "InventoryId": "", "GatePassId": "", "WareHouseId": "", "OpStock": "", "PurQty": "", "PurRetQty": "", "PurExcQty": "",
                    "SalesQty": "", "SalesRetQty": "", "SalesExcQty": "", "ChallanQty": "", "EnStock": "", "CurrentStock": "",
                    "Remarks": "", "OpeningStockDate": "",
                    "userid": "", "useridUpdate": "", "DateAdded": "", "DateUpdated": "", "comid": "0"
                };

            }

            var x = JSON.stringify({ Product });
            //alert(x);

            //var file = new FormData();
            ////var files = document.getElementById("UploadedFiles").files;
            //for (var i = 0; i < selectedFiles.length; i++) {
            //    if (!selectedFiles[i].type.match('image.*')) {
            //        alert('enter');
            //        continue;
            //    }
            //    file.append("uploadedFiles", selectedFiles[i]);
            //}



            // alert('4');
            //console.log(Product);
            //alert(files[0].data);


            //var $file = document.getElementById('myFile'),
            //    $formData = new FormData();

            //if ($file.files.length > 0) {
            //    for (var i = 0; i < $file.files.length; i++) {
            //        $formData.append('file-' + i, $file.files[i]);
            //        alert('added');
            //    }
            //}
            var formData = new FormData($('form').get(0));
            var filename = null;
            //var formData = new FormData();

            var myformdata = $("#myform").serialize();
            var fileInput = document.getElementById('myFile');
            if (fileInput.files.length > 0)
            {
                filename = fileInput.files[0].name;
            }


            //console.log(Product)
            formData.append("producta", x);
            formData.append("filename", filename);
            //formData.append("httpPostedFileBase", fileInput.files[0]);///IFormFile
            formData.append('file', fileInput.files[0]);


            //$formData.append("Product", Product);

            //alert('fully ok');
            //console.log($formData);
            //$formData.append("file", file);


            $.ajax({
                url: '@Url.Action("Create", "Gatepasses")',
                type: 'POST',
                data: formData,
                processData: false, // do not process data
                contentType: false, // do not force content type
             success: function (result) {
                    //alert('Proceed for Bulk Data Save');

                 if (result.Success == "1") {

                     //window.location.href = "/Invoice/index";
                     //window.location.href = '@Url.Action("Index", "Gatepasses")';
                     //window.location.href = "Create?BuyerID=0&Flag = 1";


                     if ($('h2').text() == "Product Edit") {

                         customFile('2', result.ex);

                     }
                     else {
                         customFile('1', result.ex);
                     }



                     window.setTimeout(function () {

                         // Move to a new location or you can do something else
                         window.location.href = '@Url.Action("Create", "Gatepasses")';

                            @*var buyerids = 0;
                            buyerids = $('#BuyerID').val();

                                window.location.href =@Url.Action("Index", "COM_MasterLC") "~/Create?BuyerID=" + buyerids;*@

                     }, 500);


                 }
                 else {
                     customFile('3', result.ex);

                     //alert(result.ex);
                     if (!result.success) {
                         for (var error in result.errors) {
                             //alert(result.errors);
                             //$('#errorMessages').append(error + '<br />');
                             customFile('3', result.errors);
                         }
                     }
                 }
                },
                error: function (ex) {

                    customFile('3', result.ex);
                    if (!result.success) {
                        for (var error in result.errors) {
                            //alert(result.errors);
                            //$('#errorMessages').append(error + '<br />');
                            customFile('3', result.errors);
                        }
                    }
                }
            });

            @*$.ajax({
                //url: '/COM_MasterLC/Create',
                url: '@Url.Action("Create", "Gatepasses")',
                //data: JSON.stringify({ product: formdata }),

                //data: JSON.stringify({ product: Product, filename: filename, fileabc: fileInput.files[0] }),
                //data: formData,

                data: JSON.stringify({ product: Product}),
                //data: JSON.stringify({ product: Product }, {filename:filename}, { httpPostedFileBase: fileInput.files[0] }) ,
                //dataType: 'json',
                //contentType: false,
                dataType: 'json',

                contentType: false,
                //contentType: 'multipart/form-data',

                processData: false,

                type: 'POST',
                contentType: "application/json;charset=utf-8",
                async: true,
                //dataType: 'json',

                success: function (result) {


                    if (result.Success == "1") {
                        toastr.success('Data Save Successfully');
                        //window.location.href = "/Invoice/index";

                        @*window.setTimeout(function () {



                            var masterlcids = 0;
                            masterlcids = $("#MasterLCId").val();
                            window.location.href = "@Url.Action("Create", "ProductMasters", new { id = UrlParameter.Optional })" + "?MasterLCId=" + masterlcids;

                        }, 500);

                    }
                    else {
                        //alert(result.ex);
                        toastr.error(result.ex)
                    }
                },
                error: function (result) {
                    //toastr.error(result.errors);

                    if (result.errors = "") {
                        toastr.error("Unable To Save");
                    } else {
                        toastr.error(result.errors);

                    }
                }


            });*@


        }


        $('#exampleModal').on('shown.bs.modal', function () {
            $(this).trigger('resize')
        })


        //$(document).ready(function () {
        //    window.print();
        //});

        </script>
    }
</body>


