@model GTERP.Models.ModuleCourses

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleting Module</h2>

<h3>Would you like to continue?</h3>
<div class="container p-3 my-3 border">
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ModuleMenuId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ModuleId)
        </dt>
       
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ModuleMenuId" />
        <input class="btn btn-primary" type="submit" value="Yes" />
        <a class="btn btn-danger" asp-action="ModuleRecordView">No</a>
    </form>

</div>
