<style>
    .formArea {
        width: 1280px;
    }
</style>

<div class="card mb-4 mt-3">
    <div class="box-header card card-header-style  pal-kyoo-gradient mb-3 mx-3" style="display:flex;flex-direction:row;">
        <div class="row">
            <div class="px-3">
                <h3 class="box-title">Quiz Entry</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="formArea">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Back To List", "quizList")
                </div>
                <br />
                <br />



                <div class="col-md-3">
                    <div class="row">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@

                        @* <label class="control-label"></label>*@
                        <span class="text-danger col-md-4">Module:</span>
                        <select id="ModuleMenu" class="form-control col-md-7 " asp-items="@(new SelectList(@ViewBag.moduleList, "Value", "Text"))"></select>
                    </div>
                </div>
                <div class="col-md-3"><span class="text-danger">Authorized By:</span> <input id="auth" type="text" /> </div>
                <div class="col-md-3"><span class="text-danger">Designation:</span> <input id="desig" type="text" /> </div>
                <div class="col-md-3"><span class="text-danger">Pass Mark:</span> <input id="pass" type="number" /></div>
                <div class="col-mb-3">
                    <div class="row">
                        <span class="text-danger" style="padding-left: 30px">Auther Sign:</span>
                        <input type="file" class="form-control" name="file" id="myFile" style="margin-left: 30px" />
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: 35px;"><span style="color:red;">(format: png)</span> </div>


                <table class="table table-bordered mt-5">
                    <tbody id="entity">
                        <tr id="tr_1">
                            <td id="qa">
                                <div class="mx-auto" justify-content-center">
                                    <div class="d-flex" id="ques">
                                        Question &nbsp <sapn id="qno" value='1'>1</sapn>: <input id="quiz_1" type="text" size="50" class="mx-2 w-100"><span>
                                            <select id="type_1" onchange="chageType('1')">
                                                <option>checkbox</option>
                                                <option>radio</option>
                                                <option>text</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div id="all_ans">
                                        <span>Answer:</span> <br />

                                        <div id="ans_1">
                                            <input class="CheckType" name="CheckType_1" id="Check_1" type="checkbox" value="1" /><input id='ansOption_1_1' type='text' /> <button id="first_button_1" type="button" class="btn btn-default" onclick="addAns('1','1')"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="">
                                <button type="button" id="add_row_1" class="btn btn-default" onclick="addRow('1')"><i class="fas fa-plus"></i></button>
                                <span> <button type="button" id="remove_row_1" class="btn btn-default" onclick="removeRow('1')"><i class="fas fa-minus"></i></button></span>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <button id="saveQuiz" class="btn btn-outline-success" type="button">Save</button>



            </div>
        </div>

    </div>

</div>
@section Scripts{

    <script>

        function addAns(row_id, ans_id) {

            var type = $(`#type_${row_id}`).val();

            let count = parseInt(ans_id) + 1;
            if (type == 'text') {
                var html = ` <div class="d-flex" id="ans_${count}">
                                                                <input class="CheckType" name="CheckType_${row_id}"  id='ansOption_${row_id}_${count}' type="${type}"/><span id="row${row_id}_ans${ans_id}"> <button type="button"  class="btn btn-default" onclick="addAns('${row_id}','${count}')"><i class="fas fa-plus"></i></button></span>
                                                        <button type="button" id="add_ans" class="btn btn-default" onclick="removeAns('${row_id}','${count}')"><i class="fas fa-minus"></i></button></span>
                                                          </div>`;
            }
            else {
                //let ansoptionval = $(`#ansOption_${count}`).val();
                var html = ` <div class="d-flex" id="ans_${count}">
                                                                    <input class="CheckType" name="CheckType_${row_id}" id="Check_${count}" type="${type}" value="${count}"/><input id='ansOption_${row_id}_${count}' type='text'/><span> <button type="button" id="row${row_id}_ans${ans_id}" class="btn btn-default" onclick="addAns('${row_id}','${count}')"><i class="fas fa-plus"></i></button></span>
                                                             <span> <button type="button" id="add_ans" class="btn btn-default" onclick="removeAns('${row_id}','${count}')"><i class="fas fa-minus"></i></button></span>
                                                             </div>`;
            }
            $(`#first_button_${ans_id}`).hide();
            $(`#row${row_id}_ans${ans_id}`).hide();
            $(`#tr_${row_id} td:first #ans_${ans_id}`).after(html);
        }


        function addRow(row_id) {

            var quesNo = parseInt($('#qno').html())



            let countRow = parseInt(row_id) + 1
            var html = `<tr id="tr_${countRow}">
                                                          <td  id="qa">
                                                       <div >
                                                           <div class="d-flex" id="ques">
                                                                          Question &nbsp <sapn id="qno" value='${countRow}'>${countRow}</sapn>: <input id="quiz_${countRow}" type="text" class="mx-2 w-100"><span >
                                                                                 <select id="type_${countRow}" onchange="chageType('${countRow}')">
                                                                                       <option>checkbox</option>
                                                                                                               <option>radio</option>
                                                                                                               <option>text</option>
                                                                                                             </select></span>
                                                                                                        </div>
                                                                                                       <span>Answer:</span> <br/>
                                                                                                       <div id="all_ans">
                                                                                                           <div id="ans_1">
                                                                               <input class='CheckType' name="CheckType_${countRow}" id="Check_1" type="checkbox"/><input id='ansOption_${countRow}_1' type='text'/> <button id="first_button_1" type="button" class="btn btn-default" onclick="addAns('${countRow}','1')"><i class="fas fa-plus"></i></button>
                                                                    </div>
                                                                                                        </div>
                                                                                                    </div></td>
                                                                                                    <td style="">
                                                                                                        <button type="button" id="add_row_${countRow}" class="btn btn-default" onclick="addRow('${countRow}')"><i class="fas fa-plus"></i></button>
                                                                                                         <span> <button type="button" id="remove_row_${countRow}" class="btn btn-default" onclick="removeRow('${countRow}')"><i class="fas fa-minus"></i></button></span>

                                                                                                    </td>
                                                                                                </tr>`;

            $(`#entity`).append(html);
            $(`#remove_row_${row_id}`).show();
            $(`#add_row_${row_id}`).hide();
        }

        function removeAns(row_id, ans_id) {

            $(`#tr_${row_id} td:first #ans_${ans_id}`).remove();
            if (ans_id == 2) { $(`#first_button_1`).show(); }

        }


        function removeRow(row_id) {
            let countRow = parseInt(row_id) - 1
            $(`#entity #tr_${row_id}`).remove();
            if (row_id == 2) { $(`#add_row_${countRow}`).show(); }

        }

        function chageType(row_id) {
            var ntype = $(`#type_${row_id}`).val();
            if (ntype == 'text') {
                $(`#tr_${row_id} td:first .CheckType`).hide()
            }
            $(`#tr_${row_id} td:first .CheckType`).attr("type", ntype)
        }

        let question = {
            id: 0,
            quiz: '',
            Answer: [],
            ModuleId: 0,
            passMark: 0,
            preparedBy: ''
        }

        let answer = {
            id: 0,
            optionType: '',
            quizid: 0,
            ans: '',
            isRight: false,

        }
        $('#saveQuiz').click(function () {
            $('#saveQuiz').off('click');

            let x = $('#entity');
            quesAns = [];
            $('#entity>tr').each(function (index, tr) {
                let count = index + 1;

                question.quiz = $(`#quiz_${count}`).val();
                question.ModuleId = $(`#ModuleMenu`).val();
                question.passMark = $(`#pass`).val();
                question.preparedBy = $(`#auth`).val();
                question.authDesig = $(`#desig`).val();

                $(`#tr_${count} #all_ans div`).each(function (key, div) {
                    let countAns = key + 1;
                    answer.optionType = $(`#type_${count}`).val();
                    answer.ans = $(`#ansOption_${count}_${countAns}`).val();
                    if ($(`#Check_${countAns}`).is(':checked')) {
                        answer.isRight = true;
                    }

                    question.Answer.push(answer);
                    answer = {
                        id: 0,
                        optionType: '',
                        quizid: 0,
                        ans: '',
                        isRight: false,
                    };
                });

                quesAns.push(question);
                question = {
                    id: 0,
                    quiz: '',
                    Answer: [],
                    ModuleId: 0,
                    passMark: 0,
                    preparedBy: '',
                    authDesig: '',
                    sign: null,
                };
            });

            // Serialize the quesAns array
            let serializedData = JSON.stringify(quesAns);

            // Create a FormData object
            let formData = new FormData();
            formData.append('ques', serializedData);
            formData.append('file', $('#myFile')[0].files[0]);

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveQuiz", "TutorialCertificate")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.res === true) {
                        alert("Quiz successfully saved");
                    }
                }
            });
        });



                //$('#saveQuiz').click(function() {
                // $('#saveQuiz').off('click')

                //    let x = $('#entity');
                //    quesAns = [];
                //    $('#entity>tr').each(function(index, tr) {

                //        let count = index + 1;

                //        question.quiz = $(`#quiz_${count}`).val();
                //        question.ModuleId = $(`#ModuleMenu`).val();
                //        question.passMark = $(`#pass`).val();
                //        question.preparedBy= $(`#auth`).val();
                //        question.authDesig = $(`#desig`).val();

                //        $(`#tr_${count} #all_ans div`).each(function(key, div) {

                //            let countAns = key + 1;
                //            answer.optionType = $(`#type_${count}`).val();
                //            answer.ans = $(`#ansOption_${count}_${countAns}`).val();
                //            if ($(`#Check_${countAns}`).is(':checked')) {
                //                answer.isRight = true;
                //            }

                //            question.Answer.push(answer);
                //            answer = {
                //                id: 0,
                //                optionType: '',
                //                quizid: 0,
                //                ans: '',
                //                isRight: false,

                //            }
                //        })
                //        quesAns.push(question);
                //        question = {
                //            id: 0,
                //            quiz: '',
                //            Answer: [],
                //            ModuleId: 0,
                //            passMark:0,
                //             preparedBy:'',
                //             authDesig: '',
                //             sign: null
                //        }
                //    })
                //    $.ajax({s
                //        type: "POST",
                //        url: '@Url.Action("SaveQuiz", "TutorialCertificate")',
                //        data: {
                //            ques: quesAns
                //            //ans: ansArry
                //        },
                //        dataType: "json",
                //        success: function(data) {
                //            if (data.res == true) {
                //                alert("Quiz successfully saved")
                //            }
                //        }
                //    })



                //})

    </script>
}