@model GTERP.Models.Tax_ClientInfo

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


@using (Html.BeginForm("CreateClientInfo", "Tax", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="card">
            <div class="card-header">
                <h4 id="styletext">Client Info - @ViewBag.Title</h4>
            </div>
            <div class="card-body">
                @*@if (Model != null)
                {
                    <input type="hidden" id="BehaveId" name="BehaveId" value="@Model.ClientId" />
                }*@
                @if (Model != null)
                {
                    <input type="hidden" asp-for="ClientId" name="ClientId" value="@Model.ClientId" />
                }
                else
                {
                    <input type="hidden" asp-for="ClientId" value="0" />
                }

                <div id="modalbodyfahad" class="row">
                    <div class="col-md-12 order-md-1">


                        <form class="needs-validation card p-4" novalidate>
                            <input type="hidden" asp-for="ComId" />
                            <input type="hidden" asp-for="UserId" />
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClientName)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClientCode)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ClientCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClientAddress)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ClientAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClientAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                 
                                    <div class="col-md-12 col-12 mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    <label asp-for="Desigid" class="control-label"></label>
                                                </span>
                                            </div>
                                            <select asp-for="Desigid" class="form-control custom-select" asp-items="ViewBag.Designation">
                                                <option value="" selected>--Please Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                 



                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClientEmail)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ClientEmail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClientEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.PhoneNumber)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12 mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClientCompId)
                                                </span>
                                            </div>
                                            <select asp-for="ClientCompId" class="form-control" asp-items="ViewBag.comName">
                                                <option value="0">--Please Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClinetTinNo)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ClinetTinNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClinetTinNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.ClinetTaxCircle)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.ClinetTaxCircle, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClinetTaxCircle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.dtContStar)
                                                </span>
                                            </div>

                                            <input type="text" asp-for="dtContStar" class="form-control" value="@DateTime.Now.ToShortDateString()" />
                                            @Html.ValidationMessageFor(model => model.dtContStar, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row text-center my-2">
                    <br />
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-xs-12 d-block mx-auto">

                        @if (ViewBag.Title == "Create")
                        {
                            <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                        }
                        else if (ViewBag.Title == "Edit")
                        {
                            <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                        }
                        else if (ViewBag.Title == "Delete")
                        {
                            <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Behavior_delete()">Delete</button>
                        }
                    </div>
                    <div>
                        @Html.ActionLink("Back", "ClientInfoList", "Tax", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                    </div>
                    <div class="col-md-2"></div>

                </div>
            </div>
        </div>


    </div>

}

@section Scripts{
    <script>

        
        $("#dtContStar").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (date) {
                // Your CSS changes, just in case you still need them
                $('a.ui-state-default').removeClass('ui-state-highlight');
                $(this).addClass('ui-state-highlight');
                var dateFormat = $("#dtContStar").datepicker("option", "dateFormat");
                //setter
                $("#dtContStar").datepicker("option", "dateFormat", 'dd-M-yy');
            }
        });


        function Behavior_delete() {

            var BehaveId = $("#BehaveId").val();
            // alert(DesigId);
            $.ajax({

                url: '@Url.Action("DeleteClientInfo", "Tax")',
                data: JSON.stringify({ id: BehaveId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    debugger;
                    if (result.Success == "1") {
                        customFile('3', result.ex);
                        window.setTimeout(function () {
                            // Move to a new location or you can do something else
                            window.location.href = '@Url.Action("ClientInfoList", "Tax")';
                        }, 500);
                    }
                    else {
                        toastr.error(result.ex);
                    }
                }
            });
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






















