@model IEnumerable<GTERP.Controllers.HR.FixedAttController.AttFixGrid>

@{
    ViewBag.Title = "Fix Attendance";
    var checkInc = 0;
    var timeOutInc = 0;
    var timeInInc = 0;
}
@if (Model.Count()>0)
{
    <div class="pane pane--table1" id="scrollDiv">
        <div class="pane-hScroll" id="scrollXDiv" onscroll="scrolled(this)">
            <table id="fixAttGridhd">
                <colgroup>
                    <col style="width: 30px;" />
                    <col style="width: 100px;" />
                    <col style="width: 120px;" />
                    <col style="width: 120px;" />
                    <col style="width: 100px;" />
                    <col style="width: 100px;" />
                    <col style="width: 150px;" />
                    <col style="width: 150px;" />
                    <col style="width: 100px;" />
                    <col style="width: 100px;" />
                    <col style="width: 100px;" />
                    <col style="width: 150px;" />
                </colgroup>
                <thead style="font-weight: bold; text-align: center;">
                    <tr>
                        <th>Chk</th>
                        <th class="d-none">Emp Id</th>
                        <th>Punch Date</th>
                        <th>Emp Code</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Status</th>
                        <th>OT Hour</th>
                        <th>Employee Name</th>
                        <th>Sect Name</th>
                        <th>Shift</th>
                        <th>Line</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
               <tbody>

               </tbody>
            </table>
            @*<p style="height: 4px;"></p>*@
            <div class="pane-vScroll" id="scrollYDiv" onscroll="scrolled(this)">
                <table id="fixAttGrid" class="fixAttGrid table table-striped table-hover trow" width="100%">
                    <colgroup>
                        <col style="width: 30px" />
                        <col style="width: 100px;" />
                        <col style="width: 120px;" />
                        <col style="width: 120px;" />
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                        <col style="width: 150px;" />
                        <col style="width: 150px;" />
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                        <col style="width: 150px;" />
                    </colgroup>
                    <tbody>
                        @foreach (var aLine in @Model)
                        {
                            <tr id="tr_@(aLine.EmpId)">
                                <td><input id="myCheckBox_@(checkInc++)" name="check_list" class="myCheckBox" type="checkbox" /></td>
                                <td id="tblEmpId" style="display: none;">
                                    @aLine.EmpId
                                </td>
                                <td id="tbldtPunch">
                                    @aLine.dtPunchDate
                                </td>
                                <td id="tblEmpCode">
                                    @aLine.EmpCode
                                </td>
                                <td id="tblTimeIn">
                                    <div class="input-group bootstrap-timepicker timepicker" style="width: 100%;">
                                        <input type="text" value="@aLine.TimeIn" class="editable inp timeIn" id="inpTimeIn_@(timeInInc++)" />
                                    </div>
                                </td>
                                <td id="tblTimeOut">
                                    <div class="input-group bootstrap-timepicker timepicker" style="width: 100%;">
                                        <input type="text" value="@aLine.TimeOut" class="editable inp timeOut" id="inpTimeOut_@(timeOutInc++)" />
                                    </div>
                                    @*<input type="text" value="@aLine.TimeOut" class="editable ="inpTimeOut" />*@
                                </td>
                                <td id="tblStatus">
                                    @*<select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>*@
                                </td>
                                <td id="tblOtHour">
                                    @aLine.OtHour
                                </td>

                                <td id="tblEmpName">
                                    @aLine.EmpName
                                </td>
                                @*<td id="tblSectName">
                                    @aLine.SectName
                                </td>*@
                                <td id="tblShiftId" style="display: none;">
                                    @aLine.ShiftId
                                </td>
                                <td id="tblShiftName">
                                    @aLine.ShiftName
                                </td>
                                @*<td id="tblLine">
                                    @aLine.Line
                                </td>*@

                                <td id="tblRemarks">
                                    <input type="text" value="@aLine.Remarks" class="editable inp remarks" id="inpRemarks_@(aLine.EmpId)" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr style="margin-bottom: 2px; margin-top: 5px; border-color: gray" />
        <p id="showMessage">Total number of rows: @Model.Count()</p>
    </div>
}
else
{
    <center>
        <h3>No data to show</h3>
    </center>
}
















@*@using GTRHRIS.Models.Attendance
                @model IEnumerable<GTRHRIS.Models.Attendance.FixAttendance.AttFixGrid>

                @if (@Model.Any())
                {
                    <table id="fixAttGrid" class="fixAttGrid table table-striped table-hover">

                        <thead style="font-weight: bold;">
                            <tr>
                                <th>&nbsp</th>
                                <th style="display: none;">Emp Id</th>
                                <th>Emp Code</th>
                                <th>Employee Name</th>
                                <th>Sect Name</th>
                                <th style="display: none;"></th>
                                <th>Shift</th>
                                <th>Punch Date</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>OT Hour</th>
                                <th>Status</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (FixAttendance.AttFixGrid aLine in @Model)
                            {
                                <tr id="tblLineRow">
                                    <td><input id="myCheckBox" type="checkbox" /></td>
                                    <td id="tblEmpId" style="display: none;">
                                        @aLine.EmpId
                                    </td>
                                    <td id="tblEmpCode">
                                        @aLine.EmpCode
                                    </td>
                                    <td id="tblEmpName">
                                        @aLine.EmpName
                                    </td>
                                    <td id="tblSectName">
                                        @aLine.SectName
                                    </td>
                                    <td id="tblShiftId" style="display: none;">
                                        @aLine.ShiftId
                                    </td>
                                    <td id="tblShiftName">
                                        @aLine.ShiftName
                                    </td>
                                    <td id="tbldtPunch">
                                        @aLine.dtPunch
                                    </td>
                                    <td id="tblTimeIn">
                                        <div class="input-group bootstrap-timepicker timepicker">
                                            <input type="text" value="@aLine.TimeIn" class="editable inp" id="inpTimeIn" />
                                        </div>


            </td>
            <td id="tblTimeOut">
                <div class="input-group bootstrap-timepicker timepicker">
                    <input type="text" value="@aLine.TimeOut" class="editable inp" id="inpTimeOut" />
                </div>

            </td>
            <td id="tblOtHour">
                @aLine.OtHour
            </td>
                        <td id="tblStatus">
                            <input type="text" value="@aLine.Status" class="editable inp" id="inpStatus" />
                        </td>
                        <td id="tblRemarks">
                            <input type="text" value="@aLine.Remarks" class="editable inp" id="inpRemarks" />
                        </td>
                    </tr>
    }
            </tbody>
        </table>
    }
    else
    {
    <center>
        <h3>No data to show</h3>
    </center>
    }*@
