@model GTERP.Models.HR_AttFixed

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@*@using (Html.BeginForm("VendorWiseEntryCreate", "FixedAtt", FormMethod.Post, new { enctype = "multipart/form-data" }))
{*@
<div class="container">
    <div class="row">
        <div class="col-md-6  offset-md-3 col-12">

            <div id="modalbodyfahad" class="card">
                <div>
                    <div class="card-header">
                        <h4 id="styletext">Employees Permission</h4>

                    </div>

                    <div class="card-body">
                        <form id="master-form" class="needs-validation" novalidate>



                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    ID
                                                </span>
                                            </div>

                                            <select id="empIdSelect" data-val="false" class="form-control" name="EmpId" asp-items="@ViewBag.EmpId"></select>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    Date
                                                </span>
                                            </div>
                                            <input class="form-control" id="Date" type="text" asp-for="DtPunchDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.TimeIn)
                                                </span>
                                            </div>

                                            <input id="timeIn" name="TimeIn" type="time" value="08:00:00" class="form-control bootstrap-timepicker timepicker">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>


                                        </div>


                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.TimeOut)
                                                </span>

                                            </div>
                                            <input id="timeOut" name="TimeOut" type="time" value="18:00:00" class="form-control bootstrap-timepicker timepicker">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>

                                        </div>


                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.Status)
                                                </span>
                                            </div>
                                            <select id="statusSelect" data-val="false" class="form-control" name="StatusId" asp-items="@ViewBag.StatusId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.Remarks)
                                                </span>
                                            </div>
                                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control",@id="Remarks" } })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input id="save" type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Unit_delete()">Delete</button>
                                }


                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                <button data-flag="refresh" id="refresh" class="btn btn-warning btn-md btn-block rounded-0" type="button" >
                                    <span id="btn">Refresh</span>
                                </button>
                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        $(document).ready(function() {

            $("#empIdSelect").val("----- Select Employee ----").change();;
             $('#empIdSelect').append(`<option value=" " selected>
                                       -----Please Select Employee ----
                                  </option>`);
            $("#Date").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function(date) {
                    // Your CSS changes, just in case you still need them
                    $('a.ui-state-default').removeClass('ui-state-highlight');
                    $(this).addClass('ui-state-highlight');
                    var dateFormat = $("#FromDate").datepicker("option", "dateFormat");
                    //setter
                    $("#Date").datepicker("option", "dateFormat", 'dd-M-yy');
                }
            });
            //

            // timepicker({defaultTime: '08:00 AM'})
            //$('#timeOut').timepicker({defaultTime: '06:00 PM'})
            //$("#timeIn").timepicker({
            //    timeFormat: 'h:mm p',
            //    interval: 60,
            //
            // minTime: '10',
            //    maxTime: '6:00pm',
            //    defaultTime: '11',
            //    startTime: '10:00',
            //    dynamic: false,
            //    dropdown: true,
            //    scrollbar: true});

            //$("#timeOut").timepicker({
            //    timeFormat: 'h:mm p',
            //    interval: 60,
            //    minTime: '10',
            //    maxTime: '6:00pm',
            //    defaultTime: '11',
            //    startTime: '10:00',
            //    dynamic: false,
            //    dropdown: true,
            //    scrollbar: true
            //});

        });

$("#empIdSelect").change(function() {
    let empId = $("#empIdSelect").val();
    let date = $("#Date").val();
    $.ajax({

        url: "@Url.Action("VendorWiseEntryCheck","FixedAtt")",
        method: "post",
        data: {
            id: empId,
            dateTime: date
        },
        dataType: 'Json',
        success: function(data) {

            if (data == 'No record Found') {
                alert(data)
            }
            else {
                var timeIn= displayTime(data.TimeIn)
                var timeOut= displayTime(data.TimeOut)
                $("#timeIn").val(timeIn);
                $("#timeOut").val(timeOut);
                $("#statusSelect").val(data.StatusId);
                $("#Remarks").val(data.Remarks);
                $("#save").val("Update").attr("class","btn btn-success btn-md btn-block rounded-0");;
                $("#refresh").attr("data-flag", "Delete").attr("class","btn btn-danger btn-md btn-block rounded-0");
                $("#btn").html("Delete");
            }

        },

        error: function(data) {
            alert(data)
        }
    });
});

function Delete() {
    let empId = $("#empIdSelect").val();
    let date = $("#Date").val();
    $.ajax({

        url: "@Url.Action("VendorWiseEntryDlt","FixedAtt")",
        method: "post",
        data: {
            id: empId,
            dateTime: date
        },
        dataType: 'Json',
        success: function(data) {

                 alert(data),
                        location.reload();

        },

        error: function(data) {
            alert(data)
        }
    });
};

function displayTime(ticksInSecs) {
    //var ticks = ticksInSecs.Ticks;
    //var hh = Math.floor(ticks / 3600);
    //var mm = Math.floor((ticks % 3600) / 60);
    //var ss = ticks % 60;
    var hr = (ticksInSecs.Hours < 10) ? `0${ticksInSecs.Hours}` : ticksInSecs.Hours;
    var Min=(ticksInSecs.Minutes < 10)?`0${ticksInSecs.Minutes}`:ticksInSecs.Minutes
  
    
    return `${hr}:${Min}:00`
}

        $("#save").click(function() {
            let formData = $('#master-form').serializeArray();

            //serialize data function
            var returnArray = {};
            for (var i = 0; i < formData.length; i++) {
                returnArray[formData[i]['name']] = formData[i]['value'];
            }

            $.ajax({

                url: "@Url.Action("VendorWiseEntryCreate","FixedAtt")",
                method: "post",
                data: { hrAttFixed: returnArray },
                dataType: 'Json',
                success: function(data) {
                    alert(data),
                        location.reload();
                },

                error: function(data) {
                    alert(data)
                }
            });

        })
        $("#refresh").click(function() {
            if ($(this).data("flag") == "Delete") {
                Delete();

            } else {    location.reload();}
         
        })


    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }




    @*@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Create</h1>

    <h4>Unit</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UnitName" class="control-label"></label>
                    <input asp-for="UnitName" class="form-control" />
                    <span asp-validation-for="UnitName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitShortName" class="control-label"></label>
                    <input asp-for="UnitShortName" class="form-control" />
                    <span asp-validation-for="UnitShortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


