@model GTERP.Models.DeliveryChallan

@{
    //ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="max-width:900px">
    <div class="card p-4">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <h1 class="text-center">Delivery Challan Create</h1>
                    <br />
                    <div class="form-row">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DeliveryChallanId" />
                        <input type="hidden" asp-for="ComId" />
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="DateAdded" />
                        <div class="form-group row col-md-12">
                            <label asp-for="DOId" class="col-2 control-label">DO Id: </label>
                            <div class="col-10">
                                @*<select asp-for="DOId" id="DOId" class="form-control" asp-items="ViewBag.DOId">
                    <option>--Select Delivery Number--</option>
                </select>*@
                                <input asp-for="DOId" class="form-control" />
                                <span asp-validation-for="DOId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="ChallanNo" class="col-2 col-form-label">Challan No:</label>
                            <div class="col-10">
                                <input asp-for="ChallanNo" class="form-control" />
                                <span asp-validation-for="ChallanNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryDate" asp-format="{0:dd-MMM-yy}" class="col-2 col-form-label">Delivery Date:</label>
                            <div class="col-10">

                                <input asp-for="DeliveryDate" asp-format="{0:dd}" class="form-control" />
                                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryQty" class="col-2 col-form-label">Delivery Qty:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryQty" class="form-control" />
                                <span asp-validation-for="DeliveryQty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.Booking.Customer.CustomerName" class="col-2 col-form-label">Dealer Name:</label>
                            <div class="col-10">
                                <textarea asp-for="DeliveryOrder.Booking.Customer.CustomerName" id="DealerName" class="form-control"></textarea>
                                <span asp-validation-for="DeliveryOrder.Booking.Customer.CustomerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.Booking.MonthName.MonthName" class="col-2 col-form-label">Month:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.Booking.MonthName.MonthName" id="MonthName" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.Booking.MonthName.MonthName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.Booking.Cat_District.DistName" class="col-2 col-form-label">District:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.Booking.Cat_District.DistName" id="DistName" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.Booking.Cat_District.DistName" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="row">
            <div class="form-group row col-md-6">
                <label asp-for="DeliveryOrder.Qty" class="col-5 control-label">Qty:</label>
                <div class="col-7">
                    <input asp-for="DeliveryOrder.Qty" id="OrderQty" class="form-control" />
                    <span asp-validation-for="DeliveryOrder.Qty" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="col-5 control-label">Over Qty:</label>
                <div class="col-7">
                    <input id="ExtraQty" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </div>

        </div>*@

                        <div class="row">
                            <div class="form-group row col-md-6">
                                <label class="col-6 control-label">Qty:</label>
                                <div class="col-6">
                                    <input asp-for="DeliveryOrder.Qty" id="OrderQty" class="form-control" />
                                    <span asp-validation-for="DeliveryOrder.Qty" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row col-md-6">
                                <label class="col-6 control-label">Remaining Qty:</label>
                                <div class="col-6">
                                    <input id="RemainingQty" class="form-control" value="@ViewBag.remainqty" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.DODate" class="col-2 col-form-label">DO Date:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.DODate" asp-format="{0:dd-MMM-yy}" id="DODate" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.DODate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.PayInSlipDate" class="col-2 col-form-label">Pay Slip Date:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.PayInSlipDate" asp-format="{0:dd-MMM-yy}" id="PayInSlipDate" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.PayInSlipDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.UnitPrice" class="col-2 col-form-label">Unit Price:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.UnitPrice" id="UnitPrice" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.UnitPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.Acc_ChartOfAccount.AccName" class="col-2 col-form-label">Bank Name:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.Acc_ChartOfAccount.AccName" id="BankName" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.Acc_ChartOfAccount.AccName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label asp-for="DeliveryOrder.PayInSlipNo" class="col-2 col-form-label">Pay Slip No:</label>
                            <div class="col-10">
                                <input asp-for="DeliveryOrder.PayInSlipNo" id="PayInSlipNo" class="form-control" />
                                <span asp-validation-for="DeliveryOrder.PayInSlipNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 col-xs-12 mx-auto">
                            @if (ViewBag.Title == "Create")
                            {
                                <div class="form-group text-center">
                                    <span>
                                        <input type="submit" id="create" value="Create" class="btn btn-primary" />
                                    </span>
                                    <span>
                                        <a asp-action="Index" class="btn btn-info">Back</a>
                                    </span>
                                </div>
                            }
                            else if (ViewBag.Title == "Edit")
                            {
                                <div class="form-group text-center">
                                    <span>
                                        <input type="submit" id="Edit" value="Edit" class="btn btn-warning" />
                                    </span>
                                    <span>
                                        <a asp-action="Index" class="btn btn-info">Back</a>
                                    </span>
                                </div>
                            }
                            else if (ViewBag.Title == "Delete")
                            {
                                <div class="form-group text-center">
                                    <span>
                                        <button class="btn btn-danger" type="button" onclick="DeliveryChallan_delete()">Delete</button>
                                    </span>
                                    <span>
                                        <a asp-action="Index" class="btn btn-info">Back</a>
                                    </span>
                                </div>
                            }

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        function DeliveryChallan_delete() {

            var DeliveryChallanId = $("#DeliveryChallanId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "DeliveryChallan")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: DeliveryChallanId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "DeliveryChallan")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }

        $('input').keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                var inputs = $(this).closest('form').find(':input:visible');
                inputs.eq(inputs.index(this) + 1).focus();
            }
        });

        //$('#Qty').keypress("13",function (e) {
        //    $("input type='submit'").trigger('click');
        //});

        //$('#DOId').select2();
        $('#CustomerName').attr('disabled', true);
        $('#MonthName').attr('disabled', true);
        $('#DistName').attr('disabled', true);
        $('#OrderQty').attr('disabled', true);
        $('#RemainingQty').attr('disabled', true);
        $('#DODate').attr('disabled', true);
        $('#PayInSlipDate').attr('disabled', true);
        $('#UnitPrice').attr('disabled', true);
        $('#BankName').attr('disabled', true);
        $('#PayInSlipNo').attr('disabled', true);
        $('#DealerName').attr('disabled', true);


        function CurrentDate() {
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var date = new Date();
            var today = `${date.getDate()}-${months[date.getMonth()]}-${date.getFullYear()}`;
            return today;
        };
        
        $('#DeliveryDate').datepicker({
            //onSelect: function (date) {
            //   // var dateFormat = $("#ReqDate").datepicker("option", "dateFormat");
            //   // $('#DoDate').datepicker('option', 'dateFormat', 'dd-MM-yy')
            //},
            dateFormat: 'dd-MM-yy',
            changeMonth: true,
            changeYear: true
        });


        $('#DOId').keyup(function (e) {
            if ($('#DOId').val() > 0) {
                DeliveryOrderData()
                $('#ChallanNo').focus();
            } else {

            }
        });

        function DeliveryOrderData() {
          var doid = $('#DOId').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDeliveryOrderData","DeliveryChallan")',
                dataType: 'json',
                data: { DOId: doid },
                success: function (data) {
                    console.log(data[0]);
                    $('#CustomerName').val(data[0].DealerName);
                    $('#MonthName').val(data[0].MonthName);
                    $('#DistName').val(data[0].DistName);
                    $('#OrderQty').val(data[0].OrderQty);
                    //$('#DODate').val(formatDate(data[0].DODate));
                    $('#DODate').val(data[0].DODate);
                    //$('#PayInSlipDate').val(formatDate(data[0].PayInSlipDate));
                    $('#PayInSlipDate').val(data[0].PayInSlipDate);
                    $('#UnitPrice').val(data[0].UnitPrice);
                    $('#BankName').val(data[0].BankName);
                    $('#PayInSlipNo').val(data[0].PayInSlipNo);
                    $('#DealerName').val(data[0].DealerName);
                }
            });
        }
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [day, month,year].join('-');
        }
        $('#DeliveryQty').keyup(function () {
            var orderqty =parseFloat( $('#OrderQty').val());
            var deliveryqty = parseFloat($('#DeliveryQty').val());
            
            deliveryqty = deliveryqty || 0;
            var remainingqty = orderqty - deliveryqty;
            
            $('#RemainingQty').val(remainingqty.toFixed(2));
            
            if (deliveryqty > orderqty ) {
                $("#RemainingQty").removeClass(" yellow");
                $("#RemainingQty").addClass("important red");
                $("#RemainingQty").css({ 'color': 'yellow', 'font-size': '150%' });
            }
           
            else {
                $("#RemainingQty").removeClass("important red");
                $("#RemainingQty").addClass(" yellow");
                $("#RemainingQty").css({ 'color': 'green', 'font-size': '100%' });
            }
           // alert('ok');
        })
    </script>
}

