
@model GTERP.Models.Acc_VoucherMain

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>
    <script type="text/javascript">
        function ClosePrint() {
            var print = document.getElementById("print");
            print.style.visibility = "hidden";
            //            print.display = false;

            window.print();
        }
    </script>

    <style media="print">
        .showHeader thead {
            display: table-header-group;
            border: 1px solid #000;
        }
 
    </style>

    <style type="text/css">
        .bg-offwhite {
            background-color: #D3D3D3;
        }
        .table-bordered td, .table-bordered th, .table-bordered {
            border: 1px solid black;
            color: black;
        }
        .table thead th {
            border-bottom: inherit;
        }
        .table th {
            background: inherit;
                   }
        .bg-asswhite {
            background-color: #F5F5F5 !important;
        }
        /*#main {
            width: 620px;*/
        /* to centre page on screen*/
        /*margin-left: auto;
            margin-right: auto;
        }

        @@font-face {
            font-family: "Dodgv2";
            src: url("../../../MenuCssJs/fonts/Dodgv2.ttf")format("truetype");
            font-weight: normal;
            font-style: normal;
        }*/

        /*        #btnPrint {
            font-weight: 700;
            font-style: italic;
        }*/

        .style8 {
            text-align: left;
            font-family: Calibri;
            font-size: 16px;
            width: 849px;
        }

        .style9 {
            font-size: 14px;
            text-align: left;
            width: 60%;
        }

        .style13 {
            width: 2px;
            font-weight: 700;
        }

        .style16 {
            width: 815px;
            font-weight: bold;
            font-family: Calibri;
            font-size: 16px;
        }

        .style18 {
            width: 151px;
            font-weight: bold;
        }

        .style19 {
            font-size: 10px;
            width: 148px;
        }

        .style1 {
            font-family: Calibri;
            font-size: 20px;
            width: 849px;
        }

        .style22 {
            font-family: Calibri;
            font-size: 16px;
        }

        .style23 {
            width: 182px;
        }

        .style24 {
            width: 189px;
        }

        .style25 {
            width: 6px;
        }

        .style26 {
            width: 4px;
        }

        .style27 {
            width: 425px;
        }

        .style28 {
            font-family: Calibri;
            font-size: 10px;
            width: 425px;
        }
    </style>
</head>
<body>
    <form method="post" action="http://www.unibuildltd.com/Accounts/Report/Report/ReportLedgerBook" id="form1">
        <h3>
            @{
                System.Globalization.CultureInfo BDFormat = new System.Globalization.CultureInfo("hi-IN");
            }

        </h3>
        <div id="main">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-md-12 col-10">
                        <h3 class="text-center">DAP FERTILIZER COMPANY LIMITED</h3>
                    </div>
                    @*<div class="col-md-2 col-2 text-right">
                <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()">
            </div>*@
                    <div class="col-md-12 col-12 text-center">
                        <span>
                            Rangadia,Chattogram-4000
                        </span>
                        <span class="float-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                        </span>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <h5><span class="border-bottom border-dark">BANK PAYMENT VOUCHER</span></h5>
                    </div>


                </div>
                <div class="col-md-10 offset-md-1 col-12 mb-3">
                    <div class="row text-center bg-offwhite">
                        <div class="col-md-6 col-12">
                            <h5><span class="border-bottom border-dark">Receipient</span></h5>
                        </div>
                        <div class="col-md-6 col-12">
                            <h5><span class="border-bottom border-dark">Amount</span></h5>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-12">
                            <h6>@Model.VoucherSubs.Where(x => x.VoucherSubChecnoes != null).Select(x => x.VoucherSubChecnoes.FirstOrDefault().ChkNo)</h6>
                        </div>
                        <div class="col-md-6 col-12">
                            <h6>@Model.VAmount</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 mb-2">
                    <div class="row font-weight-bold text-center">
                        <div class="col-md-3 col-12 border border-dark">
                            Currency
                        </div>
                        <div class="col-md-3 col-12 border border-dark">
                            Amount
                        </div>
                        <div class="col-md-3 col-12 border border-dark">
                            Fiscal Year
                        </div>
                        <div class="col-md-3 col-12 border border-dark">
                            Voucher No : @Model.VoucherNo
                        </div>
                    </div>
                    <div class="row font-weight-bold text-center">
                        <div class="col-md-3 col-12 border border-dark">
                            @Model.Acc_Currency.CurrencyShortName
                        </div>
                        <div class="col-md-3 col-12 border border-dark">
                            @Model.VAmount
                        </div>
                        <div class="col-md-3 col-12 border border-dark">
                            @Model.Acc_FiscalYears.FYName
                        </div>
                        <div class="col-md-3 col-12 border border-dark">
                            Voucher Date : @Model.VoucherDate.ToString("dd-MMM-yy")
                        </div>
                    </div>

                </div>
                <table class="table table-bordered border-dark text-dark">
                    <thead class="bg-asswhite font-weight-bold">
                        <tr class="text-nowrap text-center">
                            <th class="font-weight-bold">Accounts Code</th>
                            <th class="font-weight-bold">Accounts Code</th>
                            <th class="font-weight-bold">Debit</th>
                            <th class="font-weight-bold">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            double totalDebit = 0;
                            double totalCredit = 0;

                            foreach (var item in Model.VoucherSubs)
                            {
                                totalDebit += item.TKDebit;
                                totalCredit += item.TKCredit;

                                <tr style="font-family:Arial Narrow;font-size:7px;">
                                    <td>@Html.DisplayFor(modelItem => item.Acc_ChartOfAccount.AccCode) </td>
                                    <td>@Html.DisplayFor(modelItem => item.Acc_ChartOfAccount.AccName) </td>
                                    <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TKDebit))) </td>
                                    <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TKCredit))) </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr class="text-right">
                            <td colspan="2" class="bg-asswhite font-weight-bold"><h6>Total :</h6></td>
                            <td><h6>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(totalDebit)))</h6></td>
                            <td><h6>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(totalCredit)))</h6></td>
                        </tr>
                        <tr>
                            <td colspan="4"><h6>In Words (Net Payable) : @Model.vAmountInWords</h6></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>Narration : @Model.VoucherDesc</p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-md-12 col-12 mb-3">
                    <div class="row text-center bg-offwhite">
                        <div class="col-md-5 col-12">
                            <h5><span class="border-bottom border-dark">Bank Name</span></h5>
                        </div>
                        <div class="col-md-2 col-12">
                            <h5><span class="border-bottom border-dark">Cheque No</span></h5>
                        </div>
                        <div class="col-md-2 col-12">
                            <h5><span class="border-bottom border-dark">Date</span></h5>
                        </div>
                        <div class="col-md-3 col-12">
                            <h5><span class="border-bottom border-dark">Amount</span></h5>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-5 col-12">
                            <h6>Snd a/c-167, jbl,strand road br.ctg</h6>
                        </div>
                        <div class="col-md-2 col-12">
                            <h6>4759229</h6>
                        </div>
                        <div class="col-md-2 col-12">
                            <h6>22 Aug 2020 </h6>
                        </div>
                        <div class="col-md-3 col-12">
                            <h6>BDT. 473,410.00</h6>
                        </div>
                        <div class="col-12 col-md-12 text-right">
                            Posted
                        </div>
                    </div>
                </div>
                <div class="row mt-5 pt-4 text-center">
                    <div class="col-md-4 col-12">
                        <h4 class=" border-top border-dark">Prepared By</h4>
                    </div>
                    <div class="col-md-4 col-12">
                        <h4 class=" border-top border-dark">Checked By</h4>
                    </div>
                    <div class="col-md-4 col-12">
                        <h4 class=" border-top border-dark">Approved By</h4>
                    </div>

                </div>

                
                    <div class="row  my-5 pt-5 text-center">
                        <div class="col-md-4 col-12">
                            <h4 class="border-top border-dark"> Received By </h4>
                        </div>
                        <div class="col-md-8"></div>

                    </div>
               
                <div class="row">
                    <div class="col-md-8 col-12">
                        <h6>Software Generated Report ||Developed By : Genuine Technology & Research Ltd (gtr)</h6>
                    </div>
                    <div class="col-md-4 col-12">
                        <p class="text-right"> Page No : 1 of 1</p>
                    </div>

                </div>               

            </div>
        </div>
    </form>


</body>
</html>