@model GTERP.Models.MonthlySalesProduction

<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "MonthlySalesProduction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 1000px;">
        <div class="py-7 text-center">

            <h1 id="styletext">Monthly Sales & Production [Accounts Dept.]</h1>
            <p class="lead"></p>
        </div>

        @if (Model != null)
        {
            <input type="hidden" id="MonthlySalesProductionId" name="MonthlySalesProductionId" value="@Model.MonthlySalesProductionId" />
        }
        else
        {
            <input type="hidden" asp-for="MonthlySalesProductionId" value="0" />
        }
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Monthly Sales & Production @ViewBag.Title</h4>

                <form class="needs-validation card p-4" novalidate>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="PrdUnitId" class="control-label">Unit</label>
                                        </span>
                                    </div>
                                    <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="FiscalYearId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            <label asp-for="FiscalMonthId" class="control-label"></label>
                                        </span>
                                    </div>
                                    <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.ProductionQty)
                                        </span>
                                    </div>
                                    <input asp-for="ProductionQty" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.ProductionQty, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.ProductionRate)
                                        </span>
                                    </div>
                                    <input asp-for="ProductionRate" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.ProductionRate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.ProductionValue)
                                        </span>
                                    </div>
                                    <input asp-for="ProductionValue" class="form-control"></input>
                                    @Html.ValidationMessageFor(model => model.ProductionValue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.SalesQty)
                                        </span>
                                    </div>
                                    <input asp-for="SalesQty" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.SalesQty, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.SalesRate)
                                        </span>
                                    </div>
                                    <input asp-for="SalesRate" class="form-control"></input>
                                    @Html.ValidationMessageFor(model => model.SalesRate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.SalesValue)
                                        </span>
                                    </div>
                                    <input asp-for="SalesValue" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.SalesValue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text py-0">
                                            @Html.LabelFor(model => model.Remarks)
                                        </span>
                                    </div>
                                    <textarea asp-for="Remarks" class="form-control"></textarea>
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Strike_delete()">Delete</button>
                                }
                            </div>


                            <div class="col-md-4 col-xs-12">
                                @Html.ActionLink("Back", "Index", "MonthlySalesProduction", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>
                            <div>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

        $("#PrdUnitId").select2();
        $("#FiscalYearId").select2();

        $("#ProductionRate,#ProductionQty,#SalesRate,#SalesQty").keyup(function () {
            ValueCalc();
        });



        $("#FiscalYearId").change(function () {
            $("#FiscalMonthId").empty();
            $.ajax({
                url: '@Url.Action("GetFiscalMonth", "MonthlySalesProduction")',
                data: { id: $("#FiscalYearId").val() }, //use id here
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        $("#FiscalMonthId").append(`<option value="${result[i].FiscalMonthId}">${result[i].MonthName}</option>`);
                    }

                }
            });
        });



    function ValueCalc() {

        var ProductionQty = $("#ProductionQty").val();
        var ProductionRate = $("#ProductionRate").val();

        var SalesQty = $("#SalesQty").val();
        var SalesRate = $("#SalesRate").val();

        $("#ProductionValue").val((parseFloat(ProductionQty) * parseFloat(ProductionRate)).toFixed(2));
        $("#SalesValue").val((parseFloat(SalesQty) * parseFloat(SalesRate)).toFixed(2));


            //alert(SalesId);

    }


    function Strike_delete() {

        var MonthlySalesProductionId = $("#MonthlySalesProductionId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "MonthlySalesProduction")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: MonthlySalesProductionId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "MonthlySalesProduction")';
                    }, 500);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


