@model GTERP.Models.StoreRequisitionMain

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StoreRequisitionMain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SRNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SRNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrdUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrdUnit.PrdUnitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardMeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardMeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purpose.PurposeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommenedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommenedBy.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="StoreRequisitionEdit" asp-route-id="@Model.StoreReqId">Edit</a> |
    <a asp-action="StoreRequisitionList">Back to List</a>
</div>
