@model GTERP.Models.StoreRequisitionMain
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/customFormStyle.css" rel="stylesheet" />
<div class="container-fluid">

    <div class="card p-2">
        <div class=" card-header bg-primary text-white">
          Sub Store Requsition
        </div>      
        <div class="card-body">


            @if (Model != null)
            {
                <input type="hidden" id="StoreReqId" name="StoreReqId" value="@Model.StoreReqId" />
                <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
                <input type="hidden" id="ComId" name="ComId" value="@Model.ComId" />
                <input type="hidden" id="DateAdded" name="DateAdded" value="@Model.DateAdded" />
                <input type="hidden" id="Status" name="Status" value="@Model.Status" />




                //<input type="hidden" id="StoreReqSubId" name="StoreReqSubId" value="@Model.StoreRequisitionSub.FirstOrDefault().StoreReqSubId" />
                //<input type="hidden" asp-for="StoreReqId" id="StoreReqId" />
            }
            else
            {
                <input type="hidden" name="userid" value="" />
                <input type="hidden" id="mode" value="@ViewBag.Title" />
            }
            <input type="hidden" asp-for="IsSubStore" />
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <!--#region first Div-->
                            <div class="card col-md-8 p-3">
                                <div class="text-center">
                                    <h4>Requsition Details Entry</h4>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="PrdUnitId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                                        </div>
                                    </div>
                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="SRNo" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="SRNo" class="form-control" type="text" />
                                            <span id="SRNoSpan" asp-validation-for="SRNo" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="ReqRef" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="ReqRef" class="form-control" />
                                            <span asp-validation-for="ReqRef" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="ReqDate" class="control-label"></label>
                                                </span>
                                            </div>

                                            <input asp-for="ReqDate" class="form-control" />
                                            <span asp-validation-for="ReqDate" id="ReqDateSpan" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    @*<div class="  form-group col-md-6 col-12 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label asp-for="BoardMeetingDate" class="control-label"></label>
                                            </span>
                                        </div>

                                        <input asp-for="BoardMeetingDate" class="form-control" />
                                        <span asp-validation-for="BoardMeetingDate" class="text-danger"></span>
                                    </div>
                                </div>*@
                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="DepartmentId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                        </div>
                                    </div>

                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="PurposeId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="PurposeId" class="form-control" asp-items="ViewBag.PurposeId"></select>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">


                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="RecommenedByEmpId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="RecommenedByEmpId" class="form-control" asp-items="ViewBag.Employees">
                                                <option>--Select Approved Person--</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="  form-group col-md-6 col-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="ApprovedByEmpId" class="control-label"></label>
                                                </span>
                                            </div>

                                            <select asp-for="ApprovedByEmpId" class="form-control" asp-items="ViewBag.Employees">
                                                <option>--Select Approved Person--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">


                            <div class="form-group col-md-6">
                                 <div class="input-group">
                                     <div class="input-group-prepend">
                                         <span class="input-group-text">
                                             <label asp-for="RequiredDate" class="control-label"></label>
                                         </span>
                                     </div>

                                     <input asp-for="RequiredDate" class="form-control" />
                                     <span asp-validation-for="RequiredDate" class="text-danger"></span>
                                 </div>
                             </div>

                                                    <div class="form-group col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label asp-for="ReqStatus" class="control-label"></label>
                                        </span>
                                    </div>

                                    <input asp-for="ReqStatus" class="form-control" />
                                    <span asp-validation-for="ReqStatus" class="text-danger"></span>
                                </div>
                            </div>

                                                </div>
                                *@
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label asp-for="Remarks" class="control-label"></label>
                                                </span>
                                            </div>

                                            <textarea asp-for="Remarks" class="form-control"></textarea>
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- #endregion -->
                            <!--#region second Div-->
                            <div class="card p-3 col-md-4">
                                <div class="text-center">
                                    <h4>Create Requsition Item</h4>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Product Category</label>
                                                </span>
                                            </div>

                                            @*     @Html.HiddenFor(m => m.StoreRequisitionSub.FirstOrDefault().StoreReqSubId, new { id = "StoreReqSubId" })*@
                                            @Html.HiddenFor(m => m.PrdUnitId, new { id = "UnitId" })
                                            @Html.DropDownList("CategoryId", ViewBag.CategoryId as List<SelectListItem>, new { id = "CategoryId", @class = "form-control form-control" })
                                            @*<select class="form-control" id="CategoryId"></select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Product Name</label>
                                                </span>
                                            </div>
                                            <select class="form-control" id="ProductId"></select>
                                            @*@Html.DropDownList("ProductId", ViewBag.ProductId as List<SelectListItem>, new { id = "ProductId", @class = "form-control form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Brand Name</label>
                                                </span>
                                            </div>
                                            <input id="ProductBrand" disabled class="form-control" />

                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label>Unit Name</label>
                                            </span>
                                        </div>

                                        @Html.DropDownList("UnitId", ViewBag.UnitId as List<SelectListItem>, new { id = "UnitId", @class = "form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>*@
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Product Model</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("ProductModel", "", new { id = "ProductModel", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Requisition Qty</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("StoreReqQty", "", new { id = "StoreReqQty", @class = "form-control" })
                                            <span id="QtySpan" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" form-group col-md-12 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label>Remarks</label>
                                                </span>
                                            </div>

                                            @Html.TextBox("Note", "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span id="spn">
                                        <button type="button" id="addBtn" onclick="Add()" class="btn btn-success">Add</button>
                                        @*<button type="button" id="UpBtn"  class="btn btn-success">Update</button>*@
                                    </span>
                                </div>

                            </div>
                            <!-- #endregion -->

                        </div>

                        <br />
                        <!--#region Tbl div-->
                        <div id="tblDiv">

                            <div class="col-md-12 order-md-1 mb-2">
                                <div class="card p-4">
                                    <br />
                                    <div class="table-responsive text-nowrap">
                                        <table id="tblstorerequisition" class="table-sm  tbl display responsive table-striped table-hover text-center" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style="display:none">Req Sub Id</th>
                                                    <th style="display:none">Category Id</th>
                                                    <th style="display:none">Product Id</th>
                                                    <th style="display:none">Unit Id</th>
                                                    <th>Category Name</th>
                                                    <th>Item Name</th>
                                                    <th>Brand Name</th>
                                                    <th>Model</th>
                                                    <th>Req Qty</th>
                                                    <th>Remarks</th>
                                                    <th></th>
                                                    <th style="display:none">IsDelete</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.StoreRequisitionSub != null)
                                                    {
                                                        foreach (var item in Model.StoreRequisitionSub)
                                                        {
                                                            <tr class="txtProduct">
                                                                <td style="display:none">
                                                                    @Html.DisplayTextFor(i => item.StoreReqSubId)
                                                                </td>
                                                                <td style="display:none">
                                                                    @Html.DisplayTextFor(i => item.vProduct.CategoryId)
                                                                </td>
                                                                <td style="display:none">
                                                                    @Html.DisplayTextFor(i => item.ProductId)
                                                                </td>
                                                                <td style="display:none">
                                                                    @Html.DisplayTextFor(i => item.vProduct.UnitId)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.vPrimaryCategory.Name)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.ProductName) - [ @Html.DisplayTextFor(i => item.vProduct.ProductCode) ]
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.ProductBrand)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.vProduct.ProductModel)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.StoreReqQty)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.Note)
                                                                </td>
                                                                <td>
                                                                    <a class="dlttrash" data-itemId="@item.StoreReqSubId" data-html="@item.StoreReqSubId" href="#"><i class="fa fa-trash"></i></a>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayTextFor(i => item.IsDelete)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                }
                                            </tbody>
                                            <tfoot>

                                            </tfoot>

                                        </table>
                                    </div>
                                    <br />

                                </div>

                            </div>

                            <div>
                                @if (ViewBag.Title == "Create")
                                {
                                    <div class="text-center">

                                        <span>
                                            <button type="button" class="btn btn-primary" onclick="Requisition_Save()">Save</button>
                                        </span>
                                        <span>
                                            @Html.ActionLink("Back", "StoreRequisitionList", "Inventory", null, new { @class = "btn btn-info", @id = "btnBack" })
                                        </span>

                                    </div>
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <div class="text-center">
                                        @*<span>
                                        <button type="button" onclick="Add()" class="btn btn-success">Add</button>
                                    </span>*@
                                        <span>
                                            <button type="button" class="btn btn-warning" onclick="Requisition_Save()">Update</button>
                                        </span>
                                        <span>
                                            @Html.ActionLink("Back", "StoreRequisitionList", "Inventory", null, new { @class = "btn btn-info", @id = "btnBack" })
                                        </span>

                                    </div>
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <div class="text-center">
                                        @*<span>
                                        <button type="button" onclick="Add()" class="btn btn-success">Add</button>
                                    </span>*@
                                        <span>
                                            @*<button type="button" class="btn btn-danger" onclick="Requisition_delete()">Delete</button>*@
                                            <button class="btn btn-danger" type="button" onclick="ConfirmDialogDelete('Are you sure');">Delete</button>
                                        </span>
                                        <span>
                                            @Html.ActionLink("Back", "StoreRequisitionList", "Inventory", null, new { @class = "btn btn-info", @id = "btnBack" })
                                        </span>

                                    </div>
                                }
                            </div>
                        </div>
                        <!-- #endregion -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        var antiForgeryToken;


        function ConfirmDialogDelete(message) {
            $('<div></div>').appendTo('body')
                .html('<div><h6>' + message + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Delete message',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {

                            // $(obj).removeAttr('onclick');
                            // $(obj).parents('.Parent').remove();

                            //$('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');

                            $(this).dialog("close");
                            requisition_delete();

                        },
                        No: function () {
                            //$('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');

                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        };

        function requisition_delete() {
            var StoreReqId = $("#StoreReqId").val();
            //alert(VoucherId);

            antiForgeryToken = $("input[name='GTR_ANTIFORZERY']").val();

             $.ajax({
                 @*url: '@Url.Action("Delete", "Acc_Voucher")',
                 data: JSON.stringify({ id: id }),
                type: 'POST',
                contentType:false,
                dataType: false,*@


                 headers: { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },



                type: 'POST',
                url: '@Url.Action("StoreRequisitionDelete", "Inventory")',
                dataType: 'json',
                async: 'true',
                 data: { id: StoreReqId },


                 //async: 'true',
                @*url: '@Url.Action("Delete", "Acc_Voucher")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: VoucherId }), //use id here
                //data: JSON.stringify(Acc_VoucherMain),
                type: 'POST',
                async: false,

                dataType: 'json',*@
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("StoreRequisitionList", "Inventory")';
                    }
                    else {
                        alert(result.ex);
                    }
                }
            });
        }

        //$('#ReqDate').val(CurrentDate());
        //$('#BoardMeetingDate').val(CurrentDate());
        //$('#RequiredDate').val(CurrentDate());

        function CurrentDate() {
            var date = new Date();
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct", "Nov", "Dec"];
            var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();
            return val;

        }

        //$("#ReqDate,#RequiredDate").datepicker({//#BoardMeetingDate,
        //    onSelect: function (date) {
        //        // Your CSS changes, just in case you still need them
        //        $('a.ui-state-default').removeClass('ui-state-highlight');
        //        $(this).addClass('ui-state-highlight');
        //        var dateFormat = $("#ReqDate").datepicker("option", "dateFormat");
        //        //setter
        //        $("#ReqDate").datepicker("option", "dateFormat", 'dd-MM-yy');
        //    }
        //});

        var tblpurrequisition;
        var antiForgeryToken
        var selectedItem;
        var isdelete = false;

        $(document).ready(function () {

            $("#RecommenedByEmpId").select2();
            $("#ApprovedByEmpId").select2();
            $("#ProductId").select2();
            $("#CategoryId").select2();
            $("#PurposeId").select2();
            $("#DepartmentId").select2();
            $("#PrdUnitId").select2();
             antiForgeryToken = $("input[name='GTR_ANTIFORZERY']").val();
             $.ajax({
                url: '@Url.Action("GerProducts", "StoreRequisition")',

                 type: 'GET',
                 headers: { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },
               // contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    createSelectList(result.item);
                }
             });
            var mode = "@ViewBag.Title"; //$("#mode").val();
            //alert(mode);
            if (mode == "Edit" || mode == "Delete") {
                $("#tblDiv").show();
            }
            else {
                $("#tblDiv").hide();
                // $("#UpBtn").hide();
            }
            tblstorerequisition = $('#tblstorerequisition').DataTable({
                "aoColumns": [
                    { "sClass": "storereqsubid", "visible": false },
                    { "sClass": "categoryId", "visible": false },
                    { "sClass": "productid", "visible": false },
                    { "sClass": "unitid", "visible": false },
                    { "sClass": "categoryname", "visible": true },
                    { "sClass": "productname", "visible": true },
                    { "sClass": "productBrand", "visible": true },
                    { "sClass": "productmodel", "visible": true },
                    { "sClass": "storereqqty", "visible": true },
                    { "sClass": "note", "visible": true },
                    null,
                    { "sClass": "isDelete", "visible": false }


                ],
                rowCallback: function (row) {
                    $(row).addClass('txtProduct');
                },
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": false,
                "paging": false,
                select: true,
                select: 'single'
            }).draw();

            $('#ProductId').change(function () {
                var productid = $('#ProductId option:selected').val();
                $.ajax({
                    url: '@Url.Action("GetProductInfo", "StoreRequisition")',
                    type: 'GET',
                    dataType: 'json',
                    data: { id: productid },
                    success: function (data, status, xhr) {
                        if (status == 'success') {
                            //console.log(data);
                            $('#ProductBrand').val(data[0].ProductBrand);
                            $('#ProductModel').val(data[0].ProductModel);
                            $('#UnitId').val(data[0].UnitName);
                        };
                    },

                });
            });

            $('#CategoryId').change(function () {

                    var CategoryId = $('#CategoryId option:selected').val();
                    $.ajax({
                    url: '@Url.Action("GerProducts", "StoreRequisition")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: CategoryId },
                        success: function (data, status, xhr) {
                            $("#ProductId option").remove();

                            createSelectList(data.item)
                            if (selectedItem!=null) {
                                $("#ProductId").val(selectedItem).change();
                            }
                            //selectedItem = null;
                        }

                    });
            });

        });

        function createSelectList(selItem) {

            $('#ProductId').append(new Option("Select Product", "-1"));
            for (var i = 0; i < selItem.length; ++i) {
                optionValue = selItem[i].Value;
                optionText = selItem[i].Text;
                $('#ProductId').append(new Option(optionText, optionValue));

            }

        }
        function SelectEmployee(selItem) {
            for (var i = 0; i < selItem.length; ++i) {
                optionValue = selItem[i].EmpId;
                optionText = selItem[i].EmpCode+' '+ selItem[i].EmpName;
                $('#ProductId').append(new Option(optionText, optionValue));

            }

        }
        function ProductInfo() {

        };

        function Add() {

            
            var prdid = $('#ProductId').val();
            //alert(prdid);
            if (prdid < 1) {
                toastr.error('Please Select the Item');
                return true;
            }

            var qty = $('#StoreReqQty').val();
            var prdid = $('#ProductId').val();
            if (qty > 0) {
                $("#QtySpan").text('');
                $("#tblDiv").show();

                var oTablerequisitionSub = $('#tblstorerequisition').dataTable().fnGetData();


                if ($.fn.DataTable.isDataTable('#tblstorerequisition')) {
                    var ifExist = false;

                    if (tblstorerequisition.rows('.selected').any()) {

                            for (var i = 0; i < oTablerequisitionSub.length; i++) {
                                var item = oTablerequisitionSub[i][2];
                                //alert(item)
                                if (prdid == item) {
                                    var ind2 = tblstorerequisition.row('.selected').index();
                                    if (i!=ind2) {
                                        toastr.error('Multiple requisition of same product is not allowed');
                                        ifExist = true;
                                        return;
                                    }

                                }

                            }

                            if (ifExist == false) {

                                tblstorerequisition
                                    .rows({ selected: true })
                                    .every(function (rowIdx, tableLoop, rowLoop) {
                                        //tblpurrequisition.cell(rowIdx, 0).data("");
                                        tblstorerequisition.cell(rowIdx, 1).data($('#CategoryId').val());
                                        tblstorerequisition.cell(rowIdx, 2).data($('#ProductId').val());
                                        tblstorerequisition.cell(rowIdx, 3).data($('#UnitId').val());
                                        tblstorerequisition.cell(rowIdx, 4).data($('#CategoryId option:selected').text());
                                        tblstorerequisition.cell(rowIdx, 5).data($('#ProductId option:selected').text());
                                        tblstorerequisition.cell(rowIdx, 6).data($('#ProductBrand').val());
                                        tblstorerequisition.cell(rowIdx, 7).data($('#ProductModel').val());
                                        tblstorerequisition.cell(rowIdx, 8).data($('#StoreReqQty').val());
                                        tblstorerequisition.cell(rowIdx, 9).data($('#Note').val());
                                        tblstorerequisition.cell(rowIdx, 11).data(false);
                                        tblstorerequisition.cell(rowIdx, 10).data('<a data-itemId="0" href="#" class="dlttrash deleteItem" > <i class="fa fa-trash"></i></a > ');

                                    })
                                    .draw();
                                tblstorerequisition.$('tr.selected').removeClass('selected');


                                $("#addBtn").text("Add");
                                $("#Cancel").remove();

                            }



                    }
                        else {
                            for (var i = 0; i < oTablerequisitionSub.length; i++) {
                                var item = oTablerequisitionSub[i][2];
                                //alert(item)
                                if (prdid == item) {
                                    toastr.error('Multiple requisition of same product is not allowed');
                                    //ifExist = true;
                                    return;
                                }

                            }
                        tblstorerequisition.draw();
                        $('#tblstorerequisition').dataTable().fnAddData([
                                0,
                                $('#CategoryId').val(),
                                $('#ProductId').val(),
                                $('#UnitId').val(),
                                $('#CategoryId option:selected').text(),
                                $('#ProductId option:selected').text(),

                                $('#ProductBrand').val(),
                                $('#ProductModel').val(),
                                $('#StoreReqQty').val() || 0,
                                $('#Note').val(),
                                '<a data-itemId="0" href="#" class="dlttrash deleteItem" > <i class="fa fa-trash"></i></a > ',
                                false
                            ]);

                        }
                    tblstorerequisition = $('#tblstorerequisition').DataTable();

                    $('#ProductBrand').val("");
                        $('#ProductModel').val("");
                        $('#StoreReqQty').val("");
                        $('#Note').val("");
                }


            }
            else {
                $("#QtySpan").text('Add Requsition Qty');
                toastr.error('Add Requsition Qty');
            }
        };

        function Requisition_Save() {



            var srnotest = $("#SRNo").val();
            var reqdatetest = $('#ReqDate').val();

            if (srnotest.length < 3) {

                $("#SRNoSpan").text('Fill Requisition No.');
                toastr.error('Fill Requisition No.');
                return true;
            }

            if (reqdatetest.length < 3) {

                $("#ReqDateSpan").text('Fill Req. Date');
                toastr.error('Fill Req. Date');
                return true;

            }




            var StoreRequisitionSub = {
                "StoreReqId": 0, "StoreReqSubId": 0, "CategoryId": 0, "ProductId": 0, "BrandName": "","StoreReqQty": 0, "Note": "","IsDelete":false
            };

            var storeRequisitionMain = {
                "StoreReqId": 0, "PrdUnitId": 0, "PurposeId": 0, "ReqRef": "", "SRNo": "", "ReqDate": "", "DepartmentId": 0, "BoardMeetingDate": "", "RecommenedByEmpId": 0, "ApprovedByEmpId": 0, "RequiredDate": "", "Remarks": "", "IsSubStore":"true", "ComId": "", "UserId": "", "Status": "",
                "StoreRequisitionSub": []
            };

            storeRequisitionMain.StoreReqId = $('#StoreReqId').val();
            storeRequisitionMain.PrdUnitId = $('#PrdUnitId').val();
            storeRequisitionMain.PurposeId = $('#PurposeId').val();
            storeRequisitionMain.ReqRef = $('#ReqRef').val();
            storeRequisitionMain.SRNo = $('#SRNo').val();
            storeRequisitionMain.ReqDate = $('#ReqDate').val();
            storeRequisitionMain.DepartmentId = $('#DepartmentId').val();
            //storeRequisitionMain.BoardMeetingDate = $('#BoardMeetingDate').val();
            storeRequisitionMain.RecommenedByEmpId = $('#RecommenedByEmpId').val();
            storeRequisitionMain.ApprovedByEmpId = $('#ApprovedByEmpId').val();
            //storeRequisitionMain.RequiredDate = $('#RequiredDate').val();
            storeRequisitionMain.Remarks = $('#Remarks').val();
            storeRequisitionMain.IsSubStore = true;

            storeRequisitionMain.Status = $('#Status').val();

            storeRequisitionMain.UserId = $('#UserId').val();
            storeRequisitionMain.ComId = $('#ComId').val();



            var oTablerequisitionSub = $('#tblstorerequisition').dataTable().fnGetData();

            if (oTablerequisitionSub.length == 0) {
                alert('Please Fill Necessary Data.');
                return false;
            };
            for (var i = 0; i < oTablerequisitionSub.length; i++) {

                StoreRequisitionSub.StoreReqId = $('#StoreReqId').val();


                    StoreRequisitionSub.StoreReqSubId = oTablerequisitionSub[i][0];
                    StoreRequisitionSub.CategoryId = oTablerequisitionSub[i][1];
                    StoreRequisitionSub.ProductId = oTablerequisitionSub[i][2];
                    //StoreRequisitionSub.BrandName = oTablerequisitionSub[i][6];
                    StoreRequisitionSub.StoreReqQty = oTablerequisitionSub[i][8];
                    StoreRequisitionSub.Note = oTablerequisitionSub[i][9];
                    StoreRequisitionSub.IsDelete = oTablerequisitionSub[i][11];
                    storeRequisitionMain.StoreRequisitionSub.push(StoreRequisitionSub);

                    StoreRequisitionSub = {
                    "StoreReqSubId": "",
                    "SLNo": "",
                    "ProductId": "",
                    //"BrandName": "",
                    "StoreReqQty": "",
                    "Note": "",
                    "StoreReqId": "",
                    "IsDelete":false
                    };
            };


            $.ajax({
                url: '@Url.Action("CreateStoreRequisition", "Inventory")',
                data: { storeRequisitionMain: storeRequisitionMain},
                type: 'POST',
                headers: { "X-CSRF-TOKEN-GTR_ANTIFORZERY": antiForgeryToken },
               //contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    //alert('Data Save Successfully');
                    @*if (result.Success == "1") {
                        window.location.href = '@Url.Action("Index", "StoreRequisition")';
                    }*@

                    if (result.Success == "1") {

                        toastr.success("Data Save Successfully");
                        window.setTimeout(function () {
                            window.location.href = '@Url.Action("StoreRequisitionList", "Inventory")';
                        }, 500);

                    }
                    else if (result.Success == "2") {

                            toastr.success("Data Update Successfully");
                            window.setTimeout(function () {
                                window.location.href = '@Url.Action("StoreRequisitionList", "Inventory")';
                            }, 500);

                    }
                    else
                    {

                    }

                    if (result.error == "1") {
                        toastr.error(result.ex);
                    }



                    //if (result.error==1) {
                    //    alert(result.ex);
                    //}

                }
            });
        };

        $('#tblstorerequisition tbody').on('click', 'tr', function () {
            if ($.fn.DataTable.isDataTable('#tblstorerequisition')) {

                tblstorerequisition
                    .on('select', function (e, dt, type, indexes) {

                        $("#addBtn").text("Modify");
                        if ($("#spn").children('#Cancel')) {
                            $("#spn").children('#Cancel').remove();
                            $("#spn").append('<button type="button" id="Cancel" class="btn btn-success cancel">Cancel</button>');
                        }
                        else {
                            $("#spn").append('<button type="button" id="Cancel" class="btn btn-success cancel">Cancel</button>');
                        }


                        var f = tblstorerequisition.rows('.selected').data();
                        //console.log(f[0][2]);

                        selectedItem = `${f[0][2]}`;

                        $('#CategoryId').val(`${f[0][1]}`).change();

                        $('#ProductId').val(`${f[0][2]}`).change();

                        $('#ProductBrand').val(f[0][5]);
                        $('#ProductModel').val(f[0][6]);
                        $('#StoreReqQty').val(f[0][8]);
                        $('#Note').val(f[0][9]);
                    })
                    .on('deselect', function (e, dt, type, indexes) {
                        selectedItem = null;
                        $("#addBtn").text("Add");
                        $("#spn").children('#Cancel').remove();
                        $(".cancel").trigger("click");


                    });
            };


        });

        $('#tblstorerequisition tbody').on('click', '.dlttrash', function () {
            var d = $(this).data();
            var i = this.parentNode.parentNode;
            var mode = $("#mode").val();
            if (mode == "Edit") {

                var prsubid = d["html"];
                if (prsubid != null) {
                    var l = $(this).parent().parent().index();
                    tblstorerequisition.cell(l, 11).data(true);
                    $(this).parent().parent().hide();
                }
                else {
                    var table = $('#tblstorerequisition').DataTable();
                    table.row($(this).parents('tr')).remove().draw();
                    if ($("#spn").children('#Cancel')) {
                        $("#spn").children('#Cancel').remove();
                    }
                    $("#addBtn").text("Add");
                    var x = "500.00";
                    var y = $('#tblstorerequisition').height();
                    var z = parseFloat(x) + parseFloat(y);
                    $('html, body').animate({ scrollTop: z }, 500);
                }
            }
            else {
                var table = $('#tblstorerequisition').DataTable();
                table.row($(this).parents('tr')).remove().draw();
                if ($("#spn").children('#Cancel')) {
                    $("#spn").children('#Cancel').remove();
                }
                $("#addBtn").text("Add");
                var x = "500.00";
                var y = $('#tblstorerequisition').height();
                var z = parseFloat(x) + parseFloat(y);
                $('html, body').animate({ scrollTop: z }, 500);
            }

        });

        $(document).on('click','.cancel',function () {
            if ($.fn.DataTable.isDataTable('#tblstorerequisition')) {
                if (tblstorerequisition.rows('.selected').any()) {
                    $('#tblstorerequisition tr.selected').removeClass('selected');
                }
                $("#addBtn").text("Add");
                $(this).remove();
                 $('#CategoryId').val("0").change();
                        $('#ProductId').val("-1").change();
                        $('#ProductBrand').val("");
                        $('#ProductModel').val("");
                        $('#StoreReqQty').val("");
                        $('#Note').val("");
            }


        });

    </script>
}
